/* category styles */
.dashboard-category {
  position: relative;
}
.dashboard-category__header {
  background-color: #FFF;
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 4.5rem .9rem 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 10rem;
  width: calc(100% - 34rem);
  z-index: 999;
}
.dashboard-category__header:before {
  content: "";
  background-color: #94E0E0;
  position: absolute;
  bottom: -2px;
  right: 0;
  height: 4px;
  width: 35%;
}
.dashboard-category__content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12.5rem 14rem 12rem 7rem;
  position: relative;
  min-height: calc(100vh - 10rem);
}
.dashboard-category__slider {
  margin-bottom: 3rem;
  position: relative;
}
.dashboard-category__slider:before {
  content: "";
  background: linear-gradient(90deg, #FFFFFF 0, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0rem;
  height: 100%;
  width: 2rem;
  z-index: 888;
}
.dashboard-category__slide {
  margin-left: 2rem;
  width: 28rem;
}
.dashboard-category__slide-progress {
  background-color: #94E0E0;
  margin-bottom: 3rem;
  height: 2px;
  width: 100%;
}
.dashboard-category__slide-box {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  padding: 2rem 2rem 3rem 2.5rem;
}
.dashboard-category__slide-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.dashboard-category__slide-status {
  border: 1px solid #CCCFE3;
  border-radius: 50%;
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
}
.dashboard-category__slide-status.done {
  background: url(../img/category/category-icon-checkmark.svg) center / 1.6rem 1.3rem no-repeat, #94E0E0;
  border: none;
}
.dashboard-category__slide-title h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.dashboard-category__slide-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.dashboard-category__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-category__checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-right: 3.7rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 2.5rem;
}
.dashboard-category__checkbox.done {
  color: #80879F;
  text-decoration: line-through;
}
.dashboard-category__checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.dashboard-category__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
}
.dashboard-category__checkbox:hover input ~ .dashboard-category__checkmark {
  border: 1px solid #94E0E0;
}
.dashboard-category__checkbox.done .dashboard-category__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.dashboard-category__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.dashboard-category__checkbox.done .dashboard-category__checkmark:after {
  display: block;
}
.dashboard-category__checkbox .dashboard-category__checkmark:after {
  content: "";
  background: url(../img/category/category-icon-checkmark.svg) center / 1.6rem 1.3rem no-repeat;
  height: 100%;
  width: 100%;
}
.dashboard-category__slide-idea {
  cursor: pointer;
  margin-right: .5rem;
  position: relative;
}
.dashboard-category__slide-idea img {
  height: 2.1rem;
  width: 2.1rem;
}
.dashboard-category__slide-tip {
  display: none;
  padding-right: 1rem;
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16rem;
  min-height: 7rem;
  z-index: 777;
}
.dashboard-category__slide:last-child .dashboard-category__slide-tip {
  padding-left: 1rem;
  padding-right: 0;
  left: 100%;
  right: auto;
}
.dashboard-category__slide-tip > div {
  background-color: #FFF;
  border: 1.2px solid #31ABAB;
  border-radius: 5px;
  padding: .5rem 1rem;
}
.dashboard-category__slide-idea:hover .dashboard-category__slide-tip {
  display: block;
}
.dashboard-category__slide-tip h6 {
  color: rgba(0, 15, 62, .3);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.3rem;
}
.dashboard-category__slide-tip p {
  font-size: 1rem;
  line-height: 1.2rem;
}
.dashboard-category__slide-tip i {
  background-color: #31ABAB;
  -webkit-clip-path: polygon(0 0, 0 40%, 1rem 50%, 0 60%, 0 0);
  clip-path: polygon(0 0, 0 40%, 1rem 50%, 0 60%, 0 0);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1rem;
}
.dashboard-category__slide:last-child .dashboard-category__slide-tip i {
  left: 0;
  right: auto;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dashboard-category__slider .swiper-container {
  display: flex;
  flex-direction: column;
}
.dashboard-category__slider .swiper-wrapper {
  order: 2;
}
.dashboard-category__slider-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  order: 1;
  position: relative;
  height: 3.2rem;
}
.dashboard-category__slider-navbar h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.1rem;
  margin-left: 1rem;
}
.dashboard-category__slider-navbar > .swiper-pagination {
  color: #CCCFE3;
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding-top: .3rem;
  position: static;
  width: 5rem;
}
.dashboard-category__slider-nav .swiper-button-prev,
.dashboard-category__slider-nav .swiper-button-next {
  margin: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  width: 4.3rem;
}
.dashboard-category__slider-nav > .swiper-button-next:after,
.dashboard-category__slider-nav > .swiper-button-prev:after {
  content: none;
}
.dashboard-category__slider-nav .swiper-button-prev img,
.dashboard-category__slider-nav .swiper-button-next img {
  height: 1rem;
  width: 2.3rem;
}
.dashboard-category__slider-nav .swiper-button-prev {
  left: 5.3rem;
  right: auto;
}
.dashboard-category__slider-nav .swiper-button-next {
  left: 1rem;
}
.dashboard-category__help {
  margin-bottom: 5rem;
}
.dashboard-category__help h6 {
  color: rgba(128, 135, 159, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}
.dashboard-category__help h6 img {
  flex-shrink: 0;
  margin-left: 1rem;
  height: 1.8rem;
  width: 1.8rem;
}
.dashboard-category__help-row {
  display: flex;
  flex-direction: row;
}
.dashboard-category__help-row button {
  border: 1px solid #94E0E0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-left: 1rem;
  height: 5rem;
  width: 16rem;
}
.dashboard-category__help-row button:last-child {
  background-color: #94E0E0;
}
.dashboard-category__extra {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.4rem;
  height: 11.4rem;
}
.dashboard-category__extra-element {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  padding: 0 3rem;
  width: 34rem;
}
.dashboard-category__extra-img {
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 2rem;
  position: relative;
  height: 7rem;
  width: 7rem;
}
.dashboard-category__extra-img img {
  height: 100%;
  width: 100%;
}
.dashboard-category__extra-img.extra-video:before {
  content: "";
  background: url(../img/category/category-icon-video.svg) center / 2rem 2rem no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.dashboard-category__extra-data h4 {
  color: rgba(0, 15, 62, .3);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: .7rem;
  text-transform: uppercase;
}
.dashboard-category__extra-data p {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.dashboard-category__footer {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 14rem 4rem 7rem;
  position: fixed;
  right: 34rem;
  bottom: 0rem;
  left: 0rem;
  height: 12rem;
  z-index: 888;
}
.dashboard-category__footer-prev,
.dashboard-category__footer-next {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 100%;
}
.dashboard-category__footer-prev svg,
.dashboard-category__footer-next svg {
  height: 1rem;
  width: 2.3rem;
}
.dashboard-category__footer-prev {
  color: #80879F;
  padding: 0 4.1rem 0 5.2rem;
}
.dashboard-category__footer-prev svg {
  margin-left: 1rem;
}
.dashboard-category__footer-prev svg path {
  fill: #80879F;
}
.dashboard-category__footer-next {
  background-color: #94E0E0;
  color: #202020;
  padding: 0 5.2rem 0 4.1rem;
}
.dashboard-category__footer-next svg {
  margin-right: 1rem;
}
.dashboard-category__footer-next svg path {
  fill: #202020;
}
.dashboard-category__step {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 14rem;
}
.dashboard-category__step h3 {
  background-color: #fff;
  border: 2px solid #94E0E0;
  border-radius: 50%;
  color: #94E0E0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  position: absolute;
  top: 12rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 5rem;
  width: 5rem;
}
.dashboard-category__step:before,
.dashboard-category__step:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.dashboard-category__step:before {
  border-right: 1px solid #94E0E0;
  height: 12rem;
  z-index: -1;
}
.dashboard-category__step:after {
  border-right: 1px dashed #EAECF5;
  height: 100%;
  width: 1px;
  z-index: -2;
}
/* popup styles */
.dashboard-category__popup {
  background-color: rgba(0, 15, 62, .3);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1111;
}
.dashboard-category__popup.open {
  display: flex;
}
.dashboard-category__popup-container {
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 6rem,
    #fff 6rem,
    #fff 100%
    );
  margin-right: auto;
  padding-right: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  width: 70rem;
}
.dashboard-category__popup-close {
  padding: 1.5rem;
  position: absolute;
  top: 0;
  right: 0rem;
  height: 6rem;
  width: 6rem;
  z-index: 1112;
}
.dashboard-category__popup-close img {
  height: 3rem;
  width: 3rem;
}
.dashboard-category__popup-video {
  margin-bottom: 3rem;
  position: relative;
}
.dashboard-category__popup-video iframe {
  display: none;
  min-height: 52.5rem;
  width: 100%;
}
.dashboard-category__popup-video.video-play iframe {
  display: block;
}
.dashboard-category__popup-video .dashboard-category__popup-intro {
  cursor: pointer;
}
.dashboard-category__popup-video.video-play .dashboard-category__popup-intro {
  display: none;
}
.dashboard-category__popup-video .dashboard-category__popup-intro img {
  width: 100%;
}
.dashboard-category__popup-video .dashboard-category__popup-intro:before {
  content: "";
  background: url(../img/category/category-icon-video-big.svg) center / 10rem 7.4rem no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.dashboard-category__popup-article {
  margin-bottom: 3rem;
  width: 100%;
}
.dashboard-category__popup-article img {
  width: 100%;
}
.dashboard-category__popup-date {
  color: #80879F;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
  padding: 0 4rem;
}
.dashboard-category__popup-title {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 3rem;
  padding: 0 4rem;
}
.dashboard-category__popup-description {
  color: #80879F;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 0 4rem 4rem;
}
/* category sidebar styles */
.sidebar-category {
  display: flex;
  flex-direction: column;
  padding: 5rem 2.5rem 18.5vh;
  height: 100%;
}
.sidebar.category .sidebar-desktop {
  display: none;
}
.sidebar-category__title {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 3rem;
}
.sidebar-category__title img {
  background-color: #94E0E0;
  border-radius: 5px;
  margin-left: 1rem;
  padding: .8rem .8rem .8rem 1rem;
  height: 3.2rem;
  width: 3.2rem;
}
.sidebar-category__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 6.9vh;
  max-height: calc(100vh - 6.2rem - 5rem - 18.5vh - 6.9vh - 18.2rem);
}
.sidebar-category__steps {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.sidebar-category__step {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar-category__step:not(:last-child) {
  margin-bottom: 2rem;
}
.sidebar-category__step h5 {
  color: rgba(255, 255, 255, .3);
  font-weight: 700;
  line-height: 2.1rem;
  white-space: nowrap;
}
.sidebar-category__step.done h5,
.sidebar-category__step.active h5 {
  color: rgba(148, 224, 224, .5);
}
.sidebar-category__step:hover h5 {
  color: #94E0E0;
}
.sidebar-category__icon {
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 1.9rem;
  height: 3.2rem;
  width: 3.2rem;
}
.sidebar-category__icon span {
  color: rgba(255, 255, 255, .5);
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.sidebar-category__icon img {
  display: none;
  height: 1.3rem;
  width: 1.6rem;
}
.sidebar-category__step.done .sidebar-category__icon,
.sidebar-category__step.active .sidebar-category__icon {
  background: #94E0E0;
}
.sidebar-category__step.done .sidebar-category__icon img {
  display: block;
}
.sidebar-category__step.done .sidebar-category__icon span {
  display: none;
}
.sidebar-category__step.active .sidebar-category__icon span {
  color: #FFFFFF;
}
.sidebar-category .dashboard-actions {
  flex-grow: 0;
  margin-bottom: 0;
  padding: 0;
}
.sidebar-category__mobile {
  display: none;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {

}
@media (min-width: 1440px) and (max-width: 1599px) {

}
@media (min-width: 1200px) and (max-width: 1439px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* category styles */
  .dashboard-category__header {
    display: none;
  }
  .dashboard-category__content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15rem 11.6rem 14rem 3rem;
    position: relative;
    min-height: calc(100vh - 10rem);
  }
  .dashboard-category__slider {
    margin-bottom: 4rem;
  }
  .dashboard-category__slider:before {
    content: none;
  }
  .dashboard-category__slide {
    width: 46rem;
  }
  .dashboard-category__slide-progress {
    margin-bottom: 4.6rem;
  }
  .dashboard-category__slide-box {
    border: 1px solid #EAECF5;
    border-radius: 5px;
    padding: 3rem 3rem 4rem 3rem;
  }
  .dashboard-category__slide-title {
    margin-bottom: 3rem;
  }
  .dashboard-category__slide-status {
    margin-left: 2rem;
    height: 6rem;
    width: 6rem;
  }
  .dashboard-category__slide-status.done {
    background: url(../img/category/category-icon-checkmark.svg) center / 3.2rem 2.6rem no-repeat, #94E0E0;
  }
  .dashboard-category__slide-title h3 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .dashboard-category__slide-element {
    margin-bottom: 2rem;
  }
  .dashboard-category__checkbox {
    font-size: 2.8rem;
    line-height: 4.8rem;
    padding-right: 7.4rem;
    height: 5rem;
  }
  .dashboard-category__checkmark {
    height: 5rem;
    width: 5rem;
  }
  .dashboard-category__checkbox .dashboard-category__checkmark:after {
    background: url(../img/category/category-icon-checkmark.svg) center / 3.2rem 2.6rem no-repeat;
  }
  .dashboard-category__slide-idea {
    margin-right: 1rem;
  }
  .dashboard-category__slide-idea img {
    height: 4.2rem;
    width: 4.2rem;
  }
  .dashboard-category__slide-tip {
    padding-left: 2rem;
    padding-right: 0;
    left: 100%;
    right: auto;
    width: 32rem;
    min-height: 14rem;
  }
  .dashboard-category__slide:last-child .dashboard-category__slide-tip {
    padding-left: 2rem;
  }
  .dashboard-category__slide-tip > div {
    padding: 1rem 2rem;
  }
  .dashboard-category__slide-tip h6 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .dashboard-category__slide-tip p {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .dashboard-category__slide-tip i {
    -webkit-clip-path: polygon(0 0, 0 40%, 2rem 50%, 0 60%, 0 0);
    clip-path: polygon(0 0, 0 40%, 2rem 50%, 0 60%, 0 0);
    left: 0;
    right: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 2rem;
  }
  .dashboard-category__slider-navbar {
    height: 6.4rem;
  }
  .dashboard-category__slider-navbar h2 {
    font-size: 4.2rem;
    line-height: 5.2rem;
    margin-left: 2rem;
  }
  .dashboard-category__slider-navbar > .swiper-pagination {
    font-size: 2.8rem;
    line-height: 2.8rem;
    padding-top: .3rem;
    width: 6rem;
  }
  .dashboard-category__slider-nav .swiper-button-prev,
  .dashboard-category__slider-nav .swiper-button-next {
    width: 8.6rem;
  }
  .dashboard-category__slider-nav .swiper-button-prev img,
  .dashboard-category__slider-nav .swiper-button-next img {
    height: 2rem;
    width: 4.6rem;
  }
  .dashboard-category__slider-nav .swiper-button-prev {
    left: 8.6rem;
  }
  .dashboard-category__slider-nav .swiper-button-next {
    left: 0;
  }
  .dashboard-category__help {
    margin-bottom: 4rem;
  }
  .dashboard-category__help h6 {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 2.2rem;
  }
  .dashboard-category__help h6 img {
    margin-left: 2rem;
    height: 3.6rem;
    width: 3.6rem;
  }
  .dashboard-category__help-row {
    flex-direction: column;
  }
  .dashboard-category__help-row button {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    height: 10rem;
    width: 50rem;
  }
  .dashboard-category__extra {
    flex-direction: column;
    margin-bottom: 2.6em;
    height: auto;
  }
  .dashboard-category__extra-element {
    margin-left: 0rem;
    margin-bottom: 1rem;
    padding: 3rem;
    width: 50rem;
  }
  .dashboard-category__extra-img {
    height: 10rem;
    width: 10rem;
  }
  .dashboard-category__extra-img.extra-video:before {
    background: url(../img/category/category-icon-video.svg) center / 3.2rem 3.2rem no-repeat;
  }
  .dashboard-category__extra-data h4 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }
  .dashboard-category__extra-data p {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .dashboard-category__footer {
    box-shadow: 0px 0px 20px rgba(0, 15, 62, 0.1);
    padding: 1rem 3rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    height: 10rem;
  }
  .dashboard-category__footer-prev,
  .dashboard-category__footer-next {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding: 0;
    width: calc(50% - 1rem);
  }
  .dashboard-category__footer-prev svg,
  .dashboard-category__footer-next svg {
    height: 2rem;
    width: 4.6rem;
  }
  .dashboard-category__footer-prev svg {
    margin-left: 2rem;
  }
  .dashboard-category__footer-next svg {
    margin-right: 2rem;
  }
  .dashboard-category__step {
    width: 12rem;
  }
  .dashboard-category__step h3 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    top: 15rem;
    height: 6rem;
    width: 6rem;
  }
  .dashboard-category__step:before {
    height: 15rem;
  }
  /* popup styles */
  .dashboard-category__popup {
    background-color: rgba(0, 15, 62, .3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1111;
  }
  .dashboard-category__popup.open {
    display: flex;
  }
  .dashboard-category__popup-container {
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 8rem,
      #fff 8rem,
      #fff 100%
      );
    padding-right: 8rem;
    width: 64rem;
  }
  .dashboard-category__popup-close {
    padding: 2rem;
    right: 0rem;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-category__popup-close img {
    height: 4rem;
    width: 4rem;
  }
  .dashboard-category__popup-date {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
    padding: 0 3rem;
  }
  .dashboard-category__popup-title {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
  }
  .dashboard-category__popup-description {
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding: 0 3rem;
  }
  /* category sidebar styles */
  .sidebar-category {
    display: flex;
    padding: 0;
  }
  .sidebar.category {
    background-color: transparent;
  }
  .sidebar.category.open {
    background-color: #000F3E;
  }
  .sidebar-category__title {
    display: none;
  }
  .sidebar-category__container {
    background-color: #000F3E;
    display: none;
    margin: 0 auto 0 0;
    padding: 2rem 3rem;
    position: relative;
    height: 100%;
    min-height: calc(100vh - 24rem);
    width: calc(100% - 12rem);
  }
  .sidebar-category.open .sidebar-category__container {
    display: flex;
  }
  .sidebar-category__container:before {
    content: "";
    background-color: rgba(0, 15, 62, .3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + 12rem);
    z-index: -1;
  }
  .sidebar-category__step:not(:last-child) {
    margin-bottom: 3rem;
  }
  .sidebar-category__step h5 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .sidebar-category__icon {
    margin-left: 3.8rem;
    height: 6rem;
    width: 6rem;
  }
  .sidebar-category__icon span {
    font-size: 3rem;
    line-height: 4rem;
  }
  .sidebar-category__icon img {
    display: none;
    height: 2.6rem;
    width: 3.2rem;
  }
  .sidebar-category .dashboard-actions {
    display: none;
  }
  .sidebar-category__mobile {
    background-color: #000F3E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 12rem;
    width: 100%;
  }
  .sidebar.category.open .sidebar-category__mobile,
  .sidebar-category__mobile.hide {
    display: none;
  }
  .sidebar-category.open .sidebar-category__mobile.hide {
    display: flex;
  }
  .sidebar-category__mobile-title {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
  }
  .sidebar-category__mobile-toggler {
    background: url(../img/category/category-icon-open.svg) center / 4rem 4rem no-repeat;
    padding: 2rem;
    height: 8rem;
    width: 8rem;
  }
  .sidebar-category.open .sidebar-category__mobile-toggler {
    background: url(../img/category/category-icon-close.svg) center / 4rem 4rem no-repeat;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}