/* chat styles */
.dashboard-chat {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
.dashboard-chat__right {
  border-left: 1px solid #EAECF5;
  flex-shrink: 0;
  height: 100%;
  width: 32rem;
}
.dashboard-chat__title {
  border-bottom: 1px solid  rgba(234, 236, 245, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 0 2rem;
  height: 7.2rem;
}
.dashboard-chat__search {
  border-bottom: 1px solid  rgba(234, 236, 245, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7rem;
}
.dashboard-chat__search > .dashboard-search {
  padding: 0 2rem;
  width: 100%;
}
.dashboard-chat__search .dashboard-search__btn {
  right: 2rem;
}
.dashboard-chat__right > .dashboard-notifications__users-messages {
  margin-bottom: 0;
  min-height: calc(100vh - 10rem - 7.2rem);
  max-height: calc(100vh - 10rem - 7.2rem);
}
.dashboard-chat__left {
  background: url(../img/dashboard/chat-bg-img.svg) center / 27rem 18rem no-repeat;
  flex-grow: 1;
  max-width: calc(100% - 32rem - 1px);
}
.dashboard-chat__deployed {
  background-color: #fff;
  display: none;
  height: 100%;
  width: 100%;
}
.dashboard-chat.open .dashboard-chat__deployed {
  display: block;
}
.dashboard-chat__deployed-top {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3rem;
  height: 7.2rem;
}
.dashboard-chat__deployed-who {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.dashboard-chat__deployed.group-chat .dashboard-chat__deployed-who {
  flex-shrink: 0;
  width: 20rem;
}
.dashboard-chat__deployed-who > img {
  pointer-events: none;
  height: 5rem;
  width: 5rem;
}
.dashboard-chat__deployed-info {
  display: flex;
  flex-direction: column;
  margin-right: 1.1rem;
  height: 100%;
}
.dashboard-chat__deployed-info h5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
}
.dashboard-chat__deployed-info h4 {
  display: none;
}
.dashboard-chat__deployed.group-chat .dashboard-chat__deployed-info h4 {
  color: #80879F;
  display: block;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.dashboard-chat__deployed-menu,
.dashboard-chat__deployed-back {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dashboard-chat__deployed-exit {
  background: url(../img/dashboard/dashboard-icon-exit-grey.svg) right 2.3rem center / 2.1rem 2.1rem no-repeat;
  border-right: 1px solid #EAECF5;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  height: 100%;
  width: 19rem;
}
.dashboard-chat__deployed.group-chat .dashboard-chat__deployed-exit {
  display: flex;
}
.dashboard-chat__deployed-last {
  border-right: 1px solid #EAECF5;
  color: #80879F;
  display: none;
  direction: ltr;
  align-items: center;
  flex-grow: 1;
  padding: 0 1.8rem;
  text-align: right;
  height: 100%;
}
.dashboard-chat__deployed.group-chat .dashboard-chat__deployed-last {
  display: flex;
}
.dashboard-chat__deployed-mid {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3rem 3rem 3rem 8rem;
  height: calc(100vh - 10rem - 7.2rem - 7rem);
}
.dashboard-chat__message {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5rem;
}
.dashboard-chat__message.you {
  flex-direction: row-reverse;
}
.dashboard-chat__message-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 70%;
}
.dashboard-chat__message-avatar {
  border: 2px solid #83D1D1;
  border-radius: 50%;
  display: none;
  margin: 2rem 0 0 .7rem;
  position: relative;
  height: 4rem;
  width: 4rem;
}
.dashboard-chat__message.you .dashboard-chat__message-avatar {
  margin: 2rem .7rem 0 0;
}
.dashboard-chat__deployed.group-chat .dashboard-chat__message-avatar {
  display: block;
}
.dashboard-chat__message-avatar:hover:before {
  content: "";
  background: url(../img/dashboard/dashboard-icon-chat.svg) center / 2rem 2.4rem no-repeat, rgba(148, 224, 224, 0.7);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.dashboard-chat__message-avatar > img {
  height: 100%;
  width: 100%;
}
.dashboard-chat__message-avatar > span {
  background-color: #94E0E0;
  box-shadow: 0px 3px 6px rgba(148, 224, 224, 0.8);
  border-radius: 50%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -.7rem;
  height: 1.7rem;
  width: 1.7rem;
}
.dashboard-chat__message.expert .dashboard-chat__message-avatar > span {
  display: flex;
}
.dashboard-chat__message-avatar:hover > span {
  display: none;
}
.dashboard-chat__message-avatar > span > img {
  height: 100%;
  width: 100%;
}
.dashboard-chat__message-date {
  color: rgba(128, 135, 159, .5);
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 .7rem .3rem 0;
}
.dashboard-chat__message-text {
  background-color: #F4F7FC;
  border-radius: 10px 0 10px 10px;
  color: #80879F;
  /*direction: ltr;*/
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: .5rem;
  padding: 1.5rem 2rem;
  position: relative;
  word-wrap: break-word;
  /*text-align: right;*/
  max-width: 100%;
}
.dashboard-chat__message.expert .dashboard-chat__message-text {
  background-color: rgba(148, 224, 224, .2);
}
.dashboard-chat__message-name {
  color: #000F3E;
  display: none;
  flex-direction: row-reverse;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  margin-bottom: .6rem;
}
.dashboard-chat__message-position {
  color: #94E0E0;
  display: block;
  font-size: 1.4rem;
  margin-right: 1rem;
}
.dashboard-chat__message.expert .dashboard-chat__message-name {
  display: flex;
}
.dashboard-chat__message-text:first-of-type:before {
  content: "";
  background: url(../img/dashboard/dashboard-message-corner-left.svg) center / 100% 100% no-repeat;
  position: absolute;
  top: 0;
  right: -.9rem;
  height: 1rem;
  width: 1rem;
}
.dashboard-chat__message.expert .dashboard-chat__message-text:first-of-type:before {
  background: url(../img/dashboard/dashboard-message-corner-left-expert.svg) center / 100% 100% no-repeat;
}
.dashboard-chat__message-text:not(:first-of-type) {
  border-radius: 10px;
}
.dashboard-chat__message-sent,
.dashboard-chat__message-join {
  color: #80879F;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.dashboard-chat__message.you .dashboard-chat__message-data {
  align-items: flex-end;
}
.dashboard-chat__message.you .dashboard-chat__message-text {
  border-radius: 0 10px 10px 10px;
  text-align: left;
}
.dashboard-chat__message.you .dashboard-chat__message-text:not(:first-of-type) {
  border-radius: 10px;
}
.dashboard-chat__message.you .dashboard-chat__message-text:first-of-type:before {
  background: url(../img/dashboard/dashboard-message-corner-right.svg) center / 100% 100% no-repeat;
  left: -.9rem;
  right: auto;
}
.dashboard-chat__message.expert .dashboard-chat__message.you .dashboard-chat__message-text:first-of-type:before {
  background: url(../img/dashboard/dashboard-message-corner-right-expert.svg) center / 100% 100% no-repeat;
}
.dashboard-chat__popup,
.dashboard-chat__popup.open {
  display: none;
}
.dashboard-chat__deployed-bot {
  border-top: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  height: 7rem;
  width: 100%;
}
.dashboard-chat__deployed-bot input {
  border: none;
  color: #000F3E;
  flex-grow: 1;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0 3rem;
}
.dashboard-chat__deployed-bot input:focus {
  outline: none;
}
.dashboard-chat__deployed-bot input::-webkit-input-placeholder {
  color: rgba(128, 135, 159, .5);
}
.dashboard-chat__deployed-bot input:-ms-input-placeholder {
  color: rgba(128, 135, 159, .5);
}
.dashboard-chat__deployed-bot input::-ms-input-placeholder {
  color: rgba(128, 135, 159, .5);
}
.dashboard-chat__deployed-bot input::placeholder {
  color: rgba(128, 135, 159, .5);
}
.dashboard-chat__deployed-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-chat__deployed-smile,
.dashboard-chat__deployed-attach,
.dashboard-chat__deployed-send {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dashboard-chat__deployed-smile,
.dashboard-chat__deployed-attach {
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
}
.dashboard-chat__deployed-send {
  background-color: #94E0E0;
  border-radius: 10px;
  margin: 0 1rem 0 7rem;
  height: 5rem;
  width: 5rem;
}
.dashboard-chat__deployed-smile img,
.dashboard-chat__deployed-attach img,
.dashboard-chat__deployed-send img {
  height: 2.2rem;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* chat styles */
  .dashboard-chat__deployed-mid {
    padding: 3rem 3rem 3rem 6rem;
  }
  .dashboard-chat__deployed-send {
    margin: 0 1rem 0 5rem;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* chat styles */
  .dashboard-chat__deployed-mid {
    padding: 3rem 3rem 3rem 4rem;
  }
  .dashboard-chat__deployed-send {
    margin: 0 1rem 0 3rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* chat styles */
  .dashboard-chat__deployed-mid {
    padding: 3rem 3rem 3rem 4rem;
  }
  .dashboard-chat__deployed-send {
    margin: 0 1rem 0 3rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* chat styles */
  .dashboard-chat__right {
    border-left: none;
    height: 100%;
    width: 100%;
  }
  .dashboard-chat.open .dashboard-chat__right {
    display: none;
  }
  .dashboard-chat__title {
    display: none;
  }
  .dashboard-chat__search {
    height: 14rem;
  }
  .dashboard-chat__search > .dashboard-search {
    padding: 0 3rem;
  }
  .dashboard-chat__right > .dashboard-notifications__users-messages {
    margin-bottom: 0;
    max-height: calc(100vh - 12rem);
  }
  .dashboard-notifications__users-title {
    height: 12rem;
  }
  .dashboard-notifications__users-title h4 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
  .dashboard-notifications__users-messages {
    max-height: calc(100% - 12rem);
  }
  .dashboard-notifications__users-element {
    padding: 2rem 3rem;
  }
  .dashboard-notifications__users-left {
    padding: 1rem 0;
    width: 14rem;
  }
  .dashboard-notifications__users-left h6 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 1.8rem;
  }
  .dashboard-notifications__users-unread {
    font-size: 2.2rem;
    line-height: 2rem;
    height: 3.2rem;
    width: 3.2rem;
  }
  .dashboard-notifications__users-mid {
    margin-right: 2rem;
  }
  .dashboard-notifications__users-mid h5 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: .8rem;
  }
  .dashboard-notifications__users-mid p {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .dashboard-notifications__users-right {
    height: 10rem;
    width: 10rem;
  }
  .dashboard-chat__left {
    display: none;
  }
  .dashboard-chat.open .dashboard-chat__left {
    display: flex;
    max-width: 100%;
  }
  .dashboard-chat__deployed-top {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 15, 62, 0.1);
    padding: 0 3rem 0 0;
    position: fixed;
    top: 12rem;
    left: 0;
    height: 14rem;
    width: 100%;
    z-index: 1000;
  }
  .dashboard-chat__deployed-who {
    flex-grow: 1;
  }
  .dashboard-chat__popup {
    background-color: rgba(0, 15, 62, .3);
    display: none;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 1111;
  }
  .dashboard-chat__popup.open {
    display: flex;
  }
  .dashboard-chat__popup-container {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 6rem);
  }
  .dashboard-chat__popup-close {
    background: url(../img/dashboard/dashboard-icon-x.svg) center / 3rem 3rem no-repeat;
    align-self: flex-end;
    flex-shrink: 0;
    padding: 3rem;
    height: 9rem;
    width: 9rem;
  }
  .dashboard-chat__popup-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.8rem;
    padding: 0 3rem;
  }
  .dashboard-chat__popup-name img {
    height: 14rem;
    width: 14rem;
  }
  .dashboard-chat__popup-info {
    margin-right: 1.8rem;
  }
  .dashboard-chat__popup-info h5 {
    color: #000F3E;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
  }
  .dashboard-chat__popup-info h4 {
    color: #80879F;
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  .dashboard-chat__popup-exit {
    background: url(../img/dashboard/dashboard-icon-exit-grey.svg) right calc(50% - 10rem) center / 4.2rem 4.2rem no-repeat;
    border: 1px solid #EAECF5;
    border-radius: 5px;
    color: #80879F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 0 3rem 3.6rem;
    height: 10rem;
  }
  .dashboard-chat__popup-description {
    border-bottom: 1px solid #EAECF5;
    color: #80879F;
    direction: ltr;
    font-size: 2.8rem;
    line-height: 4.2rem;
    padding: 0 3rem 3.6rem;
    text-align: right;
  }
  .dashboard-chat__popup-title {
    color: #80879F;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
    padding: 3rem;
  }
  .dashboard-chat__popup-elements {
    display: flex;
    flex-direction: column;
  }
  .dashboard-chat__popup-element {
    border-bottom: 1px solid #EAECF5;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem 3rem;
    height: 10rem;
    width: 100%;
  }
  .dashboard-chat__popup-avatar {
    flex-shrink: 0;
    margin-left: 2rem;
    position: relative;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-chat__popup-avatar img {
    height: 100%;
    width: 100%;
  }
  .dashboard-chat__popup-avatar span {
    border-radius: 50%;
    position: absolute;
    right: 1px;
    bottom: 1px;
    height: 10px;
    width: 10px;
  }
  .dashboard-chat__popup-avatar span.in-place {
    background-color: #27AE60;
    border: 2px solid #FFFFFF;
  }
  .dashboard-chat__popup-avatar span.afk {
    background-color: #F2994A;
    border: 2px solid #FFFFFF;
  }
  .dashboard-chat__popup-element h2 {
    color: #000F3E;
    flex-grow: 1;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 4.2rem;
  }
  .dashboard-chat__popup-chat {
    flex-shrink: 0;
    height: 10rem;
    width: 10rem;
  }
  .dashboard-chat__popup-chat img {
    height: 4.8rem;
    width: 4rem;
  }
  .dashboard-chat__deployed-who > img {
    pointer-events: painted;
    height: 10rem;
    width: 10rem;
  }
  .dashboard-chat__deployed-info {
    margin-right: 2rem;
  }
  .dashboard-chat__deployed-info h5 {
    color: #000F3E;
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  .dashboard-chat__deployed.group-chat .dashboard-chat__deployed-info h4 {
    color: #80879F;
    display: block;
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
  .dashboard-chat__deployed-menu {
    display: flex;
    flex-shrink: 0;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-chat__deployed-menu img {
    height: 4rem;
    width: 1rem;
  }
  .dashboard-chat__deployed-back {
    border-right: 1px solid #EAECF5;
    display: flex;
    flex-shrink: 0;
    height: 14rem;
    width: 14rem;
  }
  .dashboard-chat__deployed-back img {
    height: 3.2rem;
    width: 3.2rem;
  }
  .dashboard-chat__deployed.group-chat .dashboard-chat__deployed-last,
  .dashboard-chat__deployed.group-chat .dashboard-chat__deployed-exit {
    display: none;
  }
  .dashboard-chat__deployed-mid {
    padding: 16rem 2.5rem 12rem;
    height: calc(100vh - 12rem);
  }
  .dashboard-chat__message {
    margin-bottom: 4rem;
  }
  .dashboard-chat__message-avatar {
    margin: 3.2rem 0 0 1.2rem;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-chat__message.you .dashboard-chat__message-avatar {
    margin: 3.2rem 1.2rem 0 0;
  }
  .dashboard-chat__message-avatar > span {
    right: -1rem;
    height: 3.4rem;
    width: 3.4rem;
  }
  .dashboard-chat__message-date {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0 0 .6rem;
  }
  .dashboard-chat__message-text {
    font-size: 3.1rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    padding: 3rem 2rem 2rem;
    max-width: 100%;
  }
  .dashboard-chat__message-name {
    flex-direction: column;
    font-size: 2.9rem;
    line-height: 3.5rem;
  }
  .dashboard-chat__message-position {
    font-size: 2.5rem;
    margin-right: 0rem;
  }
  .dashboard-chat__message-text:first-of-type:before {
    right: -1.9rem;
    height: 2rem;
    width: 2rem;
  }
  .dashboard-chat__message-sent,
  .dashboard-chat__message-join {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }
  .dashboard-chat__message.you .dashboard-chat__message-text:first-of-type:before {
    left: -1.9rem;
  }
  .dashboard-chat__deployed-bot {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 15, 62, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 12rem;
    z-index: 999;
  }
  .dashboard-chat__deployed-bot input {
    font-size: 2.8rem;
    line-height: 3.2rem;
    padding: 0 3rem;
  }
  .dashboard-chat__deployed-bot input:focus {
    outline: none;
  }
  .dashboard-chat__deployed-bot input::-webkit-input-placeholder {
    color: rgba(128, 135, 159, .5);
  }
  .dashboard-chat__deployed-bot input:-ms-input-placeholder {
    color: rgba(128, 135, 159, .5);
  }
  .dashboard-chat__deployed-bot input::-ms-input-placeholder {
    color: rgba(128, 135, 159, .5);
  }
  .dashboard-chat__deployed-bot input::placeholder {
    color: rgba(128, 135, 159, .5);
  }
  .dashboard-chat__deployed-attach,
  .dashboard-chat__deployed-smile {
    padding: 1rem;
    height: 6.4rem;
    width: 6.4rem;
  }
  .dashboard-chat__deployed-bot input:valid + .dashboard-chat__deployed-actions .dashboard-chat__deployed-attach {
    display: none;
  }
  .dashboard-chat__deployed-bot input:valid + .dashboard-chat__deployed-actions .dashboard-chat__deployed-send {
    display: flex;
  }
  .dashboard-chat__deployed-send {
    display: none;
    margin: 0 1.4rem 0 3rem;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-chat__deployed-smile img,
  .dashboard-chat__deployed-attach img,
  .dashboard-chat__deployed-send img {
    height: 3.4rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}