/* community styles */
.dashboard-community {
  padding: 1.4rem 7rem 5rem 5rem;
  height: 100%;
}
.dashboard-community__tabs {
  background-color: #FFF;
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  padding: 1.4rem 7rem 0;
  position: fixed;
  top: 10rem;
  left: 0rem;
  right: 34rem;
  height: 6.4rem;
  z-index: 999;
}
.dashboard-community__tab > h2 {
  color: rgba(0, 15, 62, .5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.1rem;
  line-height: 3.1rem;
  margin-left: 3rem;
  position: relative;
  height: 100%;
}
.dashboard-community__tab.active > h2 {
  color: #000F3E;
}
.dashboard-community__tab.active > h2:before {
  content: "";
  background-color: #94E0E0;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 100%;
}
.dashboard-community__content {
  padding-top: 9.4rem;
  min-height: 100%;
}
.dashboard-community__content-tab {
  display: none;
}
.dashboard-community__content-tab.active {
  display: flex;
}
.dashboard-community__groups {
  width: 100%;
}
.dashboard-community__groups-my {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.dashboard-community__groups-intersctions {
  display: flex;
  flex-direction: column;
}
.dashboard-community__groups-intersctions .dashboard-search {
  margin-bottom: 2rem;
}
.dashboard-community__groups-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* group style */
.dashboard-community__group {
  background-color: #FFFFFF;
  border: 1px solid #EAECF5;
  border-radius: 10px;
  margin: 0 0 2rem 2rem;
  padding: 3rem 3rem 2rem;
  position: relative;
  text-align: center;
  width: calc(100% / 4 - 2rem);
}
.dashboard-community__group-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
.dashboard-community__group-img img {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  height: 10rem;
  width: 10rem;
}
.dashboard-community__group-title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 1.5rem;
}
.dashboard-community__group-members {
  direction: ltr;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}
.dashboard-community__group-avatars {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
}
.dashboard-community__group-avatars h4 {
  color: #80879F;
  direction: ltr;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-right: 8.5rem;
}
.dashboard-community__group-avatars img {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  height: 4rem;
  width: 4rem;
}
.dashboard-community__group-avatars img:nth-of-type(1) {
  right: 4rem;
  z-index: 1;
}
.dashboard-community__group-avatars img:nth-of-type(2) {
  right: 2rem;
  z-index: 2;
}
.dashboard-community__group-avatars img:nth-of-type(3) {
  right: 0;
  z-index: 3;
}
.dashboard-community__group-actions {
  margin-top: 2rem;
}
.dashboard-community__groups-my .dashboard-community__group-actions {
  display: none;
}
.dashboard-community__group-actions button {
  background-color: #94E0E0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 0 auto;
  height: 5rem;
  width: 14.5rem;
}
.dashboard-community__group-menu {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  height: 3rem;
  width: 3rem;
}
.dashboard-community__group-menu:hover {
  background-color: #f7f7f7;
}
.dashboard-community__group-menu img {
  width: .5rem;
  height: 2rem;
}
.dashboard-community__group-load {
  text-align: center;
  height: 6rem;
  width: 100%;
}
.dashboard-community__group-load button {
  background-color: #FFF;
  border: 1px solid #EAECF5;
  border-radius: 5px;
  color: #80879F;
  font-size: 1.8rem;
  line-height: 2.4rem;
  height: 100%;
  width: 18rem;
}
.dashboard-community__groups-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.dashboard-community__groups-header h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.dashboard-community__groups-help {
  background-color: #94E0E0;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  height: 6rem;
  width: 18rem;
}
.dashboard-community__my {
  width: 100%;
}
.dashboard-community__all {
  width: 100%;
}
.dashboard-community__filter {
  position: relative;
}
.dashboard-community__filter-dropdowns {
  position: relative;
  height: 5rem;
  width: 100%;
}
.dashboard-community__filter-container > .dashboard-community__dropdown {
  margin-left: 1.5rem;
}
.dashboard-community__filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 222;
}
.dashboard-community__filter-title {
  display: none;    
}
/* dropdown styles */
.dashboard-community__dropdown {
  background: url(../img/community/community-arrow-down.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #F4F7FC;
  border-radius: 10px;
  overflow: hidden;
  width: 17rem;
}
.dashboard-community__dropdown > h4 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0 2rem 0 2.5rem;
  height: 5rem;
}
.dashboard-community__dropdown-menu {
  display: none;
  flex-direction: column;
}
.dashboard-community__dropdown.open {
  background: url(../img/community/community-arrow-up.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #F4F7FC;
  display: block;
}
.dashboard-community__dropdown.open .dashboard-community__dropdown-menu {
  display: flex;
}
.dashboard-community__dropdown-menu li {
  border-top: 1px solid #EAECF5;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}
.dashboard-community__dropdown-menu li:hover {
  background-color: #d9d9d9;
}
.dashboard-community__filter-sort {
  display: none;
}
.dashboard-community__filter-close {
  display: none;
}
.dashboard-community__filter-btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
}
.dashboard-community__filter-btns button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-left: 2rem;
  padding: 2rem 0;
}
.dashboard-community__filter-btns button img {
  margin-right: 1rem;
  height: 1.3rem;
  width: 1rem;
}
button.dashboard-community__filter-btn {
  display: none;
}
.dashboard-community__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
/* card styles */
.dashboard-community__card {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 2rem;
  padding: 3rem;
  width: calc(100% / 3 - 2rem);
}
.dashboard-community__card:hover {
  box-shadow: 0px 10px 30px rgba(215, 219, 238, 0.5);
}
.dashboard-community__card-who {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.dashboard-community__card-avatar {
  flex-shrink: 0;
  margin-left: 2rem;
  position: relative;
  height: 9rem;
  width: 9rem;
}
.dashboard-community__card-avatar img {
  height: 100%;
  width: 100%;
}
.dashboard-community__card-data h2 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 1.2rem;
}
.dashboard-community__card-data h3 {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
.dashboard-community__card-data h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.dashboard-community__card-description {
  flex-grow: 1;
}
.dashboard-community__card-description p {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}
.dashboard-community__card-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.dashboard-community__card-social a {
  background: #F4F7FC;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 .75rem;
  height: 4rem;
  width: 4rem;
}
.dashboard-community__card-social a svg {
  height: 1.6rem;
}
.dashboard-community__card-social a svg path {
  fill: #000F3E;
}
.dashboard-community__card-social a:hover {
  background-color: #94E0E0;
}
.dashboard-community__card-social a:hover svg path {
  fill: #FFFFFF;
}
.dashboard-community__card-action {
  display: none;
  flex-direction: row;
  height: 5rem;
}
.dashboard-community__all .dashboard-community__card-action.action-all,
.dashboard-community__my .dashboard-community__card-action.action-my {
  display: flex;
}
.dashboard-community__card-action button {
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 100%;
  width: 100%;
}
.dashboard-community__card-action.action-all button {
  background-color: #94E0E0;
}

.dashboard-community__card-action.action-my button:first-child {
  background-color: #94E0E0;
  margin-left: 1rem;
}
.dashboard-community__card-action.action-my button:last-child {
  border: 1px solid #EAECF5;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* community styles */
  .dashboard-community {
    padding: 0rem 5rem 6rem;
  }
  .dashboard-community__tabs {
    padding: 1.4rem 5rem 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* community styles */
  .dashboard-community {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-community__tabs {
    padding: 1.4rem 3rem 0;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* community styles */
  .dashboard-community {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-community__tabs {
    padding: 1.4rem 3rem 0;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* community styles */
  .dashboard-community {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-community__tabs {
    padding: 1.4rem 3rem 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* community styles */
  .dashboard-community {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-community__tabs {
    padding: 2.2rem 3rem 0;
    top: 12rem;
    left: 0rem;
    right: 0rem;
    height: 12.4rem;
    z-index: 999;
  }
  .dashboard-community__tab > h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    margin-left: 3rem;
  }
  .dashboard-community__tab:last-child > h2 {
    margin-left: 0;
  }
  .dashboard-community__content {
    padding-top: 16.4rem;
  }

  .dashboard-community__groups-my {
    margin-bottom: 4rem;
  }
  .dashboard-community__groups-intersctions .dashboard-search {
    margin-bottom: 2rem;
    order: unset;
  }
  .dashboard-community__groups-intersctions .dashboard-search__btn {
    right: 0;
  }
  .dashboard-community__groups-my,
  .dashboard-community__groups-row {
    justify-content: space-between;
  }
  /* group style */
  .dashboard-community__group {
    margin: 0 0 2rem;
    padding: 6rem;
    width: calc(100% / 2 - 1rem);
  }
  .dashboard-community__group-img {
    margin-bottom: 2.2rem;
  }
  .dashboard-community__group-img img {
    height: 16rem;
    width: 16rem;
  }
  .dashboard-community__group-title {
    font-size: 3.6rem;
    line-height: 3.6rem;
    margin-bottom: 2.8rem;
  }
  .dashboard-community__group-members {
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }
  .dashboard-community__group-avatars {
    height: 8rem;
  }
  .dashboard-community__group-avatars h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-right: 17rem;
  }
  .dashboard-community__group-avatars img {
    height: 8rem;
    width: 8rem;
  }
  .dashboard-community__group-avatars img:nth-of-type(1) {
    right: 8rem;
  }
  .dashboard-community__group-avatars img:nth-of-type(2) {
    right: 4rem;
  }
  .dashboard-community__group-avatars img:nth-of-type(3) {
    right: 0;
  }
  .dashboard-community__group-actions {
    margin-top: 4rem;
  }
  .dashboard-community__group-actions button {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 0 auto;
    height: 10rem;
    width: 100%;
  }
  .dashboard-community__group-menu {
    top: 2.4rem;
    left: 2.4rem;
    height: 6rem;
    width: 6rem;
  }
  .dashboard-community__group-menu img {
    width: 1rem;
    height: 4rem;
  }
  .dashboard-community__group-load {
    height: 10rem;
  }
  .dashboard-community__group-load button {
    font-size: 2.8rem;
    line-height: 3.6rem;
    width: 100%;
  }
  .dashboard-community__groups-header {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .dashboard-community__groups-header h2 {
    font-size: 4.2rem;
    line-height: 6.1rem;
    margin-bottom: 2rem;
  }
  .dashboard-community__groups-help {
    font-size: 2.8rem;
    line-height: 3.6rem;
    height: 10rem;
    width: 100%;
  }
  .dashboard-community__filter-dropdowns {
    background-color: rgba(0, 15, 62, .3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2222;
  }
  .dashboard-community__filter-dropdowns.open {
    display: flex;
  }
  .dashboard-community__filter-container > .dashboard-community__dropdown {
    margin-left: 0rem;
  }
  .dashboard-community__filter-container {
    background-color: #FFF;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem 3rem;
    left: 0;
    right: auto;
    height: 100%;
    width: calc(100% - 8rem);
  }
  .dashboard-community__filter-title {
    display: block;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    margin-bottom: 2.4rem;
  }
  /* dropdown styles */
  .dashboard-community__dropdown {
    background: url(../img/community/community-arrow-down.svg) left 3.6rem top 3.8rem / 2.4rem 2.4rem no-repeat, #F4F7FC;
    margin-bottom: 2rem;
    width: 100%;
  }
  .dashboard-community__dropdown > h4 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    padding: 0 4rem 0 6rem;
    height: 10rem;
  }
  .dashboard-community__dropdown.open {
    background: url(../img/community/community-arrow-up.svg) left 3.6rem top 3.8rem / 2.4rem 2.4rem no-repeat, #F4F7FC;
    display: block;
  }
  .dashboard-community__dropdown-menu li {
    font-size: 2.8rem;
    line-height: 3.2rem;
    padding: 3rem 3rem 3rem 6rem;
  }
  .dashboard-community__filter-sort {
    background-color: #94E0E0;
    border-radius: 5px;
    display: block;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin: auto 0 0;
    height: 10rem;
    width: 100%;
  }
  .dashboard-community__filter-close {
    display: block;
    position: absolute;
    top: 0;
    right: -8rem;
  }
  .dashboard-community__filter-close img {
    padding: 2rem;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-community__filter-btns {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 2rem;
    height: 10rem;
  }
  .dashboard-community__filter-btns button {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0;
    padding: 0;
    min-width: 7rem;
  }
  .dashboard-community__filter-btns button:not(:first-child) {
    margin-left: 2rem;
  }
  .dashboard-community__filter-btns button img {
    margin-right: 1rem;
    height: 2.6rem;
    width: 2rem;
  }
  button.dashboard-community__filter-btn {
    color: #80879F;
    border: 1px solid #EAECF5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
    height: 100%;
    width: 28rem;
  }
  button.dashboard-community__filter-btn img {
    margin-left: 2.2rem;
  }

  .dashboard-community__cards {
    justify-content: space-between;
  }
  /* card styles */
  .dashboard-community__card {
    margin: 0 0 2rem;
    width: calc(100% / 2 - 1rem);
  }
  .dashboard-community__card-who {
    margin-bottom: 3.4rem;
  }
  .dashboard-community__card-avatar {
    height: 14rem;
    width: 14rem;
  }
  .dashboard-community__card-data h2 {
    font-size: 3.6rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .dashboard-community__card-data h3 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }
  .dashboard-community__card-data h4 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .dashboard-community__card-description p {
    font-size: 2.6rem;
    line-height: 4.2rem;
  }
  .dashboard-community__card-social {
    margin-bottom: 4rem;
  }
  .dashboard-community__card-social a {
    margin: 0 1.5rem;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-community__card-social a svg {
    height: 3.2rem;
  }
  .dashboard-community__card-action {
    height: 10rem;
  }
  .dashboard-community__card-action button {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .dashboard-community__card-action.action-my button:first-child {
    margin-left: 2rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* community styles */
  .dashboard-community__tabs {
    padding: 2.2rem 1rem 0;
  }
  /* group style */
  .dashboard-community__group {
    margin: 0 0 2rem;
    padding: 6rem;
    width: 100%;
  }
  .dashboard-community__filter-btns button img {
    margin-right: 0rem;
  }
  .dashboard-community__filter-ceo span,
  .dashboard-community__filter-clear img {
    display: none;
  }
  .dashboard-community__card {
    margin: 0 0 2rem;
    width: 100%;
  }
  /* popup styles */
  .dashboard-community__popup-container {
    padding: 6rem 3rem 4rem;
    width: 100%;
    max-width: calc(100% - 6rem);
  }
}