/* dashboard styles */
.dashboard {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  min-height: 100vh;
}
.dashboard-main {
  margin-right: 34rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10rem 0 0;
  position: relative;
  min-height: 100%;
  width: 100%;
}
.dashboard-home,
.dashboard-home__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard-home {
  padding: 2.9rem 7rem 0;
}
.dashboard-home__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: .8rem;
  width: 100%;
}
.dashboard-home__element-container:nth-child(1),
.dashboard-home__element-container:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.dashboard-home__element-container:nth-child(1) {
  justify-content: flex-end;
}
.dashboard-home__element-container:nth-child(2) {
  justify-content: flex-start;
}
.dashboard-home__element-container:not(:nth-child(1)):not(:nth-child(2)) {
  position: relative;
  top: -16.1rem;
}
.dashboard-home__element {
  background: url(../img/dashboard/dashboard-element-stand.svg) bottom center / 100% auto no-repeat;
  margin: 0 4rem;
  height: 39rem;
  width: 29.4rem;
}
.dashboard-home__element-content {
  position: relative;
  height: 100%;
  width: 100%;
}
.dashboard-home__element-data {
  cursor: pointer;
  margin: 0 auto;
  height: 20rem;
  width: 20rem;
}
.dashboard-home__element-info {
  display: none;
}
.dashboard-home__element-name {
  color: #80879F;
  font-size: 2.4rem;
  line-height: 2.6rem;
}
.dashboard-home__element-progress {
  color: #80879F;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
}
.dashboard-home__element-progress span {
  color: #000F3E;
  font-weight: 700;
}
.circle-progress__element-percent {
  background: url(../img/dashboard/dashboard-arrow-triangle-down.svg) right center / 1.7rem 1.3rem no-repeat;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin-bottom: 1.7rem;
  padding-right: 2.5rem;
}
/* custom circle progress bar styles */
.circle-progress {
  background-color: #fff;
  border: 2px solid #94E0E0;
  border-radius: 50%;
  position: relative;
  height: 100%;
  width: 100%;
}
.circle-progress__content {
  background-color: #fff;
  border: 2px solid #94E0E0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  z-index: 3;
}
.dashboard-home__element-data.open+.dashboard-home__dropdown {
  display: block;
}
.dashboard-home__dropdown {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 30px #D7DBEE;
  border-radius: 10px;
  -webkit-clip-path: polygon(0 1.5rem, 11rem 1.5rem, 12.5rem 0, 14rem 1.5rem, 100% 1.5rem, 100% 100%, 0 100%);
  clip-path: polygon(0 1.5rem, 11rem 1.5rem, 12.5rem 0, 14rem 1.5rem, 100% 1.5rem, 100% 100%, 0 100%);
  display: none;
  position: absolute;
  top: 15rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 25rem;
  z-index: 888;
}
.dashboard-home__dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 3.7rem 2.5rem 2.5rem;
}
.dashboard-home__dropdown-content a {
  background: url(../img/dashboard/dashboard-arrow-triangle-left.svg) right center / 1.1rem .8rem no-repeat;
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding-right: 2.1rem;
  text-transform: uppercase;
}
.dashboard-home__dropdown-content a.done {
  background: url(../img/dashboard/dashboard-icon-check.svg) right center / 1.1rem .8rem no-repeat;
  color: #CCCFE3;
  text-decoration: line-through;
  pointer-events: none;
}
.dashboard-home__dropdown-content a:not(:last-child) {
  margin-bottom: 1.8rem;
}
.dashboard-home__dropdown-content a:hover,
.dashboard-home__dropdown-content a.active {
  color: #94E0E0;
}
.circle-progress__container {
  height: 100%;
  width: 100%;
  clip: rect(auto, auto, auto, auto);
  left: 0;
  position: absolute;
  top: 0;
}
.circle-progress__container.half {
  clip: rect(0, 20rem, 20rem, 10rem);
}
.circle-progress__half-circle {
  height: 100%;
  width: 100%;
  border: 5rem solid #94E0E0;
  border-radius: 50%;
  clip: rect(0, 10rem, 20rem, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.circle-progress__right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circle-progress__container.half .circle-progress__right-side {
  display: none;
}
.dashboard-home__achievements {
  background-color: #fff;
  box-shadow: 0px 7px 36px #EAECF5;
  border-radius: 10px;
  padding: 2rem 4rem;
  position: fixed;
  bottom: 2.8rem;
  left: 7rem;
  right: 41rem;
  height: 16rem;
  z-index: 970;
}
.dashboard-home__achievements-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  width: 100%;
}
.dashboard-home__achievements-titles h3 {
  color: #000F3E;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  text-align: right;
}
.dashboard-home__achievements-titles h3:nth-child(1) span {
  display: none;
}
.dashboard-home__achievements-titles h3:nth-child(1) {
  width: 25%;
}
.dashboard-home__achievements-titles h3:nth-child(2) {
  font-weight: 400;
  text-align: center;
  width: 50%;
}
.dashboard-home__achievements-titles h3:nth-child(3) {
  color: rgba(0, 15, 62, .5);
  text-align: left;
  width: 25%;
}
.dashboard-home__achievements.percent-100 .dashboard-home__achievements-titles h3:nth-child(2) span {
  display: none;
}
.dashboard-home__achievements.percent-100 .dashboard-home__achievements-titles h3:nth-child(1) span {
  display: block;
}
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-titles h3:nth-child(1) span,
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-titles h3:nth-child(2) span {
  display: none;
}
.dashboard-home__achievements-progress {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: calc(100% - 6rem);
}
.dashboard-home__achievements-progressbar {
  background-color: #EAECF5;
  margin-top: 2.5rem;
  position: relative;
  height: 5px;
  width: 100%;
}
.dashboard-home__achievements-progressbar > span {
  background-color: #94E0E0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  z-index: 1;
}
.dashboard-home__achievements-progressbar > span > i {
  background: url(../img/dashboard/dashboard-achievements-row.svg) right center / 2rem 2rem no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  right: -8rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2rem;
  width: 8rem;
  z-index: 2;
}
.dashboard-home__achievements-progressbar > span > i:before {
  content: "";
  background-color: #94E0E0;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 5px;
  width: 100%;
}
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-progressbar > span {
  display: none;
}
.dashboard-home__achievements.percent-100 .dashboard-home__achievements-progressbar > span > i {
  display: none;
}
.dashboard-home__achievements-progress > div:not(:first-child) {
  background-color: #fff;
  color: #94E0E0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 8.2rem;
  width: 6rem;
  z-index: 3;
}
.dashboard-home__achievements-progress img {
  height: 5.4rem;
}
.dashboard-home__achievements-progress h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.dashboard-home__achievements-progress > div.dashboard-home__achievements-0 {
  background: url(../img/dashboard/dashboard-achievements-flag.svg) top left -3px / 2.4rem auto no-repeat;
  background-color: transparent !important;
  justify-content: flex-end;
  left: 0;
}
.dashboard-home__achievements .dashboard-home__achievements-25 {
  background: url(../img/dashboard/dashboard-achievements-bronze.svg) top center / 5.4rem auto no-repeat;
  left: 25%;
}
.dashboard-home__achievements .dashboard-home__achievements-50 {
  background: url(../img/dashboard/dashboard-achievements-silver.svg) top center / 5.4rem auto no-repeat;
  left: 50%;
}
.dashboard-home__achievements .dashboard-home__achievements-75 {
  background: url(../img/dashboard/dashboard-achievements-gold.svg) top center / 5.4rem auto no-repeat;
  left: 75%;
}
.dashboard-home__achievements .dashboard-home__achievements-100 {
  background: url(../img/dashboard/dashboard-achievements-cup.svg) top center / 4.6rem auto no-repeat, #fff;
  left: 100%;
}
.dashboard-home__achievements-fireworks {
  display: none;
}
.dashboard-home__achievements.percent-100 .dashboard-home__achievements-fireworks {
  display: block;
  position: absolute;
  top: -.5rem;
  height: 6rem;
  width: 6rem;
}
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-25,
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-50,
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-75,
.dashboard-home__achievements.percent-25 .dashboard-home__achievements-50,
.dashboard-home__achievements.percent-25 .dashboard-home__achievements-75,
.dashboard-home__achievements.percent-50 .dashboard-home__achievements-75,
.dashboard-home__achievements.percent-75 .dashboard-home__achievements-100 {
  background: url(../img/dashboard/dashboard-achievements-star.svg) top center / 5.4rem auto no-repeat;
  color: #CCCFE3;
}
.dashboard-home__achievements.percent-0 .dashboard-home__achievements-100,
.dashboard-home__achievements.percent-25 .dashboard-home__achievements-100,
.dashboard-home__achievements.percent-50 .dashboard-home__achievements-100,
.dashboard-home__achievements.percent-75 .dashboard-home__achievements-100 {
  background: url(../img/dashboard/dashboard-achievements-cup-empty.svg) top center / 4.6rem auto no-repeat, #fff;
  color: #CCCFE3;
}
.sidebar {
  background-color: #000F3E;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  width: 34rem;
  z-index: 999;
}
.sidebar-mobile__menu {
  background-color: #000F3E;
  display: none;
}
.sidebar-desktop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem 0 3rem;
  height: 100%;
}
.dashboard-search {
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 5rem;
  width: 33rem;
}
.dashboard-search input {
  background-color: #F4F7FC;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  line-height: 2.3rem;
  padding: 1.5rem 6rem 1.5rem 2.5rem;
  height: 100%;
  width: 100%;
}
.dashboard-search input::-webkit-input-placeholder {
  color: rgba(0, 15, 62, .3);
}
.dashboard-search input:-ms-input-placeholder {
  color: rgba(0, 15, 62, .3);
}
.dashboard-search input::-ms-input-placeholder {
  color: rgba(0, 15, 62, .3);
}
.dashboard-search input::placeholder {
  color: rgba(0, 15, 62, .3);
}
.dashboard-search__btn {
  background-color: transparent;
  border: none;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6rem;
  z-index: 2;
}
.dashboard-search__btn:hover {
  background-color: rgba(0, 15, 62, .1);
}
.dashboard-search__btn img {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
}
.dashboard-search__mobile {
  display: none;
}
.dashboard-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.6rem;
  padding: 0 3rem;
}
.dashboard-avatar__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-avatar__content > a {
  display: block;
  line-height: 1;
}
.dashboard-avatar__content > a > img {
  margin-left: 2.3rem;
  height: 7rem;
  width: 7rem;
}
.dashboard-avatar__group h5 {
  color: rgba(255, 255, 255, .5);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.3rem;
}
.dashboard-avatar__group a {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
}
.dashboard-avatar__group a:hover {
  color: #94E0E0;
}
.dashboard-notifications {
  border-bottom: 1px solid  rgba(234, 236, 245, .5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 3rem;
  position: relative;
}
.dashboard-notifications__group {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 6rem;
  width: 6rem;
}
.dashboard-notifications__group .no-notifications {
  display: none;
}
.dashboard-notifications__group.active {
  background-color: #94E0E0;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 15, 62, 0.3);
}
.dashboard-notifications__group.active svg path {
  stroke: #000F3E;
}
.dashboard-notifications__group.active > .dashboard-notifications__group-img > span {
  border-color: #F22727;
}
.dashboard-notifications__group:hover {
  background-color: #192751;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 15, 62, 0.3);
}
.dashboard-notifications__group:hover .dashboard-notifications__group-img svg path {
  stroke: #94E0E0;
}
.dashboard-notifications__group:hover > .dashboard-notifications__group-img > span {
  border-color: #192751;
}
.dashboard-notifications__group-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.dashboard-notifications__group:first-child .dashboard-notifications__group-img {
  width: 2.5rem;
  height: 3rem;
}
.dashboard-notifications__group:last-child .dashboard-notifications__group-img {
  width: 3rem;
  height: 3rem;
}
.dashboard-notifications__group-img svg {
  height: 100%;
  width: 100%;
}
.dashboard-notifications__group > .dashboard-notifications__group-img > span {
  background-color: #F22727;
  border: .3rem solid #000F3E;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  position: absolute;
  top: -.3rem;
  right: -.5rem;
  height: 1.7rem;
  width: 1.7rem;
}
.dashboard-notifications__dropdown {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 2rem,
    #fff 2rem,
    #fff 100%
    );
  box-shadow: 0px 10px 30px rgba(0, 15, 62, 0.2);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 1rem;
  right: 1rem;
  max-height: 60vh;
  z-index: 1000;
}
.dashboard-notifications__group-messages:hover .dashboard-notifications__dropdown {
  display: flex;
}
.sidebar.sidebar-chat .dashboard-notifications__group .dashboard-notifications__dropdown {
  display: none;
}
.dashboard-notifications__dropdown-arrow {
  background-color: #fff;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  flex-shrink: 0;
  margin: 0 auto 0 8rem;
  height: .7rem;
  width: 2rem;
  z-index: 1001;
}
.dashboard-notifications__dropdown-title {
  background-color: #fff;
  border-bottom: 1px solid #EAECF5;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem;
  height: 6rem;
}
.dashboard-notifications__dropdown-title h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
}
.dashboard-notifications__users-messages {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
  max-height: calc(100% - 6rem);
}
.dashboard-notifications__users-element {
  border-bottom: 1px solid #EAECF5;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem 2rem;
}
.dashboard-notifications__users-element.active,
.dashboard-notifications__users-element:hover {
  background-color: #F4F7FC;
}
.dashboard-notifications__users-element:hover h5 {
  color: #94E0E0;
}
.dashboard-notifications__users-left {
  align-self: flex-start;
  flex-shrink: 0;
  text-align: left;
  padding: .5rem 0;
  width: 7.5rem;
}
.dashboard-notifications__users-left h6 {
  color: rgba(128, 135, 159, .5);
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: .9rem;
}
.dashboard-notifications__users-unread {
  background-color: #94E0E0;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1rem;
  margin-right: auto;
  height: 1.6rem;
  width: 1.6rem;
}
.dashboard-notifications__users-unread.hide {
  display: none;
}
.dashboard-notifications__users-mid {
  direction: ltr;
  flex-grow: 1;
  margin-right: 1rem;
  text-align: right;
}
.dashboard-notifications__users-mid h5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: .4rem;
}
.dashboard-notifications__users-mid p {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.dashboard-notifications__users-right {
  flex-shrink: 0;
  position: relative;
  height: 5rem;
  width: 5rem;
}
.dashboard-notifications__users-right img {
  height: 100%;
  width: 100%;
}
/* alerts popup */
.dashboard-alerts {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 2rem,
    #fff 2rem,
    #fff 100%
    );
  box-shadow: 0px 10px 30px rgba(0, 15, 62, 0.2);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 1rem;
  right: 1rem;
  max-height: 60vh;
  z-index: 1000;
  font-size: 5rem;
}
@media(min-width: 768px) {
  .dashboard-notifications__group-alerts:hover .dashboard-alerts {
    display: flex;
  }
}
.dashboard-alerts__arrow {
  background-color: #fff;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  flex-shrink: 0;
  margin: 0 8rem 0 auto;
  height: .7rem;
  width: 2rem;
  z-index: 1001;
}
.dashboard-alerts__title {
  background-color: #fff;
  border-bottom: 1px solid #EAECF5;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  padding: 0 2rem;
  height: 6rem;
}
.dashboard-alerts__title h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
}
.dashboard-alerts__elements {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - .7rem - 6rem - 5rem);
}
.dashboard-alerts__element {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
}
.dashboard-alerts__element-img {
  flex-shrink: 0;
  height: 5rem;
  width: 5rem;
}
.dashboard-alerts__element-img img {
  height: 100%;
  width: 100%;
}
.dashboard-alerts__element-data {
  flex-grow: 1;
  margin-right: 1rem;
}
.dashboard-alerts__element-data h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: .4rem;
}
.dashboard-alerts__element-data p {
  color: #80879F;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.dashboard-alerts__element-time {
  flex-shrink: 0;
  margin-right: 1rem;
  width: 4.5rem;
}
.dashboard-alerts__element-time h6 {
  color: rgba(128, 135, 159, .5);
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.dashboard-alerts__all {
  color: #94E0E0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 5rem;
}
.dashboard-slider {
  margin-bottom: 3rem;
  padding: 4rem 3rem 0;
}
.dashboard-slider__container > .swiper-container {
  background-color: #fff;
  border-radius: 10px;
  direction: ltr;
  padding-bottom: 7rem;
  min-height: 36rem;
  height: 36rem;
}
.dashboard-slider__container .swiper-slide {
  direction: rtl;
  padding: 2rem;
}
.dashboard-slider__navigation {
  position: absolute;
  bottom: 2rem;
  left: 0;
  height: 5rem;
  width: 100%;
}
.dashboard-slider__navigation .swiper-pagination {
  direction: rtl;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dashboard-slider__navigation .swiper-pagination {
  color: #CCCFE3;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.dashboard-slider__navigation .swiper-pagination-current {
  color: #94E0E0;
  font-weight: 700;
  margin-right: .5rem;
}
.dashboard-slider__navigation .swiper-pagination-total {
  margin-left: .5rem;
}
.dashboard-slider__navigation .swiper-button-next,
.dashboard-slider__navigation .swiper-button-prev {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  top: 0;
  height: 100%;
  width: 7rem;
}
.dashboard-slider__navigation .swiper-button-next {
  right: 2rem;
}
.dashboard-slider__navigation .swiper-button-prev {
  left: 2rem;
}
.dashboard-slider__navigation .swiper-button-next img,
.dashboard-slider__navigation .swiper-button-prev img {
  height: .9rem;
  width: 2rem;
}
.dashboard-slider__navigation .swiper-button-next:after,
.dashboard-slider__navigation .swiper-button-prev:after {
  content: "";
}
.dashboard-slider__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.dashboard-slider__title img {
  margin-left: 2rem;
  height: 3rem;
  width: 3rem;
}
.dashboard-slider__title h3 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.dashboard-slider__subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.dashboard-slider__description {
  color: #80879F;
  flex-grow: 1;
  font-size: 1.4rem;
  line-height: 2.1rem;
  padding-left: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 2rem - 5.5rem);
}
.dashboard-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 34rem;
  height: 10rem;
  z-index: 999;
}
.dashboard-header__logo {
  flex-shrink: 0;
  margin-left: 7rem;
  height: 5rem;
}
.dashboard-header__logo a {
  display: block;
  line-height: 1;
  height: 100%;
}
.dashboard-header__logo img {
  height: 100%;
}
.dashboard-nav {
  flex-grow: 1;
  height: 100%;
}
.dashboard-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.dashboard-nav ul li {
  flex-shrink: 0;
  height: 100%;
}
.dashboard-nav ul li:not(:last-child) {
  margin-left: 2rem;
}
.dashboard-nav ul li a,
.dashboard-nav ul li.dashboard-dropdown span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.1rem;
  line-height: 3.1rem;
  padding: 0 2rem;
  position: relative;
  height: 100%;
}
.dashboard-nav ul li a:hover:before,
.dashboard-nav ul li a.active:before,
.dashboard-nav ul li.dashboard-dropdown.open span:before {
  content: "";
  background-color: #94E0E0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}
.dashboard-nav ul li.dashboard-dropdown {
  position: relative;
}
.dashboard-nav ul li.dashboard-dropdown span {
  background: url(../img/dashboard/dashboard-arrow-triangle-down.svg) left 2rem center / 1.3rem .9rem no-repeat;
}
.dashboard-nav ul li.dashboard-dropdown.open span {
  background: url(../img/dashboard/dashboard-arrow-triangle-up.svg) left 2rem center / 1.3rem .9rem no-repeat;
}
.dashboard-nav ul li.dashboard-dropdown span {
  cursor: pointer;
  padding-left: 4.3rem;
}
.dashboard-nav ul li .dashboard-dropdown__content {
  background-color: #FFFFFF;
  border: 1px solid #EAECF5;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 20rem;
  z-index: 999;
}
.dashboard-nav ul li .dashboard-dropdown__content a:not(:last-child) {
  margin-bottom: 1.5rem;
}
.dashboard-nav ul li.dashboard-dropdown.open .dashboard-dropdown__content {
  display: flex;
}
.dashboard-actions {
  flex-grow: 1;
  margin-bottom: 3rem;
  padding: 0 3rem;
}
.dashboard-actions__element {
  background: url(../img/dashboard/dashboard-arrow-open.svg) left 2.1rem center / 1.2rem 1.2rem no-repeat,
  #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.4rem 1.9rem 1.4rem 4.3rem;
}
.dashboard-actions__element.active {
  background: url(../img/dashboard/dashboard-arrow-open-active.svg) left 2.1rem center / 1.2rem 1.2rem no-repeat,
  #192751;
  color: #fff;
}
.dashboard-actions__element:not(:last-of-type) {
  margin-bottom: 1rem;
}
.dashboard-actions__img {
  background-color: rgba(148, 224, 224, .2);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5.8rem;
  width: 5.8rem;
}
.dashboard-actions__element.active .dashboard-actions__img {
  background-color: #94E0E0;
}
.dashboard-actions svg {
  height: 2.5rem;
}
.dashboard-actions h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  margin-right: 2rem;
}
.dashboard-exit {
  display: flex;
  justify-content: center;
}
.dashboard-exit__mobile {
  display: none;
}
.dashboard-exit a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-exit a img {
  height: 2.3rem;
  width: 2.3rem;
}
.dashboard-exit a span {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-right: 1.6rem;
}
/* popup styles */
.dashboard-popup {
  background-color: rgba(0, 15, 62, .3);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2222;
}
.dashboard-popup.open {
  display: flex;
}
.dashboard-popup__container {
  background-color: #FFF;
  border-radius: 5px;
  padding: 5.5rem 6.5rem 3.5rem;
  position: relative;
  width: 56rem;
  max-width: 56rem;
}
.dashboard-popup__title {
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.dashboard-popup__subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-align: center;
  margin-bottom: 3.5rem;
}
.dashboard-popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard-popup__form input,
.dashboard-popup__form textarea {
  background-color: #FFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  padding: 1.4rem 2rem;
}
.dashboard-popup__form input::-webkit-input-placeholder, .dashboard-popup__form textarea::-webkit-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-popup__form input:-ms-input-placeholder, .dashboard-popup__form textarea:-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-popup__form input::-ms-input-placeholder, .dashboard-popup__form textarea::-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-popup__form input::placeholder,
.dashboard-popup__form textarea::placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-popup__form textarea {
  resize: none;
  min-height: 10rem;
}
.dashboard-popup__form input[type=submit] {
  border: none;
  background-color: #94E0E0;
  font-weight: 700;
  height: 5rem;
}
.dashboard-popup__close {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 3.9rem;
  width: 3.9rem;
  z-index: 2223;
}
.dashboard-popup__close img {
  padding: 1.2rem;
  height: 100%;
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* dashboard styles */
  .dashboard-home {
    padding: 1rem 5rem 5rem;
  }
  .dashboard-header {
    padding: 0 5rem;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* dashboard styles */
  .dashboard-home {
    padding: 1rem 3rem 5rem;
  }
  .dashboard-home__element {
    margin: 0 3rem;
    height: 35rem;
    width: 25rem;
  }
  .dashboard-home__element-data {
    height: 17rem;
    width: 17rem;
  }
  .dashboard-home__element-name {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .circle-progress__element-percent {
    margin-bottom: 0rem;
  }
  .dashboard-home__element-progress {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .dashboard-home__dropdown {
    top: 12.5rem;
  }
  /* custom circle progress bar styles */
  .circle-progress {
    height: 100%;
    width: 100%;
  }
  .circle-progress__content {
    height: 75%;
    width: 75%;
  }
  .dashboard-header {
    padding: 0 3rem;
  }
  .dashboard-nav ul li a {
    padding: 0 1rem;
  }
  .dashboard-nav ul li:not(:last-child) {
    margin-left: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* dashboard styles */
  .dashboard-home {
    padding: 1rem 3rem 5rem;
  }
  .dashboard-home__element {
    margin: 0 3rem;
    height: 35rem;
    width: 25rem;
  }
  .dashboard-home__element-data {
    height: 17rem;
    width: 17rem;
  }
  .dashboard-home__element-name {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .circle-progress__element-percent {
    margin-bottom: 0rem;
  }
  .dashboard-home__element-progress {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .dashboard-home__dropdown {
    top: 12.5rem;
  }
  /* custom circle progress bar styles */
  .circle-progress {
    height: 100%;
    width: 100%;
  }
  .circle-progress__content {
    height: 75%;
    width: 75%;
  }
  .dashboard-header {
    padding: 0 3rem;
  }
  .dashboard-nav ul li a {
    padding: 0 1rem;
  }
  .dashboard-nav ul li:not(:last-child) {
    margin-left: 1rem;
  }  
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* dashboard styles */
  .dashboard-home {
    padding: 1rem 3rem 5rem;
  }
  .dashboard-notifications__group > .dashboard-notifications__group-img > span {
    font-size: 1.1rem;
    line-height: 1.1rem;
    top: -.6rem;
    right: -.8rem;
    height: 2.2rem;
    width: 2.2rem;
  }
  .dashboard-header {
    padding: 0 3rem;
  }
  .dashboard-chat__deployed-mid {
    padding: 3rem 3rem 3rem 4rem;
  }
  .dashboard-chat__deployed-send {
    margin: 0 1rem 0 3rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* dashboard styles */
  .dashboard-main {
    margin-right: 0;
    padding: 12rem 0 0;
  }
  .dashboard-home {
    margin-bottom: 20rem;
    padding: 5rem 3rem 3rem;
  }
  .dashboard-home__title {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 3rem;
  }
  .dashboard-home__element-container,
  .dashboard-home__element-container:nth-child(1),
  .dashboard-home__element-container:nth-child(2) {
    width: 100%;
  }
  .dashboard-home__element-container:not(:nth-child(1)):not(:nth-child(2)) {
    top: 0rem;
  }
  .dashboard-home__element {
    background: none;
    margin: 0 0 1rem;
    height: auto;
    width: 100%;
  }
  .dashboard-home__element-content {
    height: auto;
  }
  .dashboard-home__element-data {
    background: url(../img/dashboard/dashboard-arrow-triangle-down.svg) left 3rem center / 2.9rem 2rem no-repeat;
    background-color: #fff;
    border: 1px solid #EAECF5;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 1.3rem 3rem;
    height: 14rem;
    width: 100%;
  }
  .dashboard-home__element-data.open {
    background: url(../img/dashboard/dashboard-arrow-triangle-up.svg) left 3rem center / 2.9rem 2rem no-repeat;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    height: 14rem;
  }
  .dashboard-home__element-info {
    display: block;
  }
  .dashboard-home__element-name {
    color: #000F3E;
    font-size: 3.2rem;
    line-height: 3rem;
    margin-bottom: 1.2rem;
  }
  .dashboard-home__element-progress {
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-align: right;
  }
  .circle-progress__element-percent {
    background: none;
    font-size: 3.2rem;
    line-height: 2.2rem;
    margin-bottom: 0rem;
    padding-right: 0rem;
  }
  /* custom circle progress bar styles */
  .circle-progress {
    background-color: #EAECF5;
    margin-left: 3rem;
    border: none;
    height: 11rem;
    width: 11rem;
  }
  .circle-progress__content {
    border: none;
    height: 85%;
    width: 85%;
  }
  .circle-progress__content .dashboard-home__element-name,
  .circle-progress__content .dashboard-home__element-progress {
    display: none;
  }
  .circle-progress__container.half {
    clip: rect(0, 11rem, 11rem, 5.5rem);
  }
  .circle-progress__half-circle {
    border: 5rem solid #94E0E0;
    clip: rect(0, 5.5rem, 11rem, 0);
  }
  .dashboard-home__dropdown {
    box-shadow: none;
    border: 1px solid #EAECF5;
    border-top: none;
    border-radius: 0 0 10px 10px;
    -webkit-clip-path: none;
    clip-path: none;
    display: none;
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
  }
  .dashboard-home__element-data.open+.dashboard-home__dropdown {
    display: block;
  }
  .dashboard-home__dropdown-content {
    padding: 0rem 3rem 1.3rem;
  }
  .dashboard-home__dropdown-content a {
    background: url(../img/dashboard/dashboard-arrow-triangle-left.svg) right center / 2.2rem 1.5rem no-repeat;
    font-size: 2.8rem;
    line-height: 3rem;
    padding-right: 4.4rem;
  }
  .dashboard-home__dropdown-content a.done {
    background: url(../img/dashboard/dashboard-icon-check.svg) right center / 2.2rem 1.5rem no-repeat;
  }
  .dashboard-home__dropdown-content a:not(:last-child) {
    margin-bottom: 3.6rem;
  }
  .dashboard-home__achievements {
    border-radius: 0;
    padding: 2rem 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20rem;
    z-index: 970;
  }
  .dashboard-home__achievements-titles h3 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .dashboard-home__achievements-progress h4 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
  .dashboard-home__achievements-progress > div.dashboard-home__achievements-0 {
    background: url(../img/dashboard/dashboard-achievements-flag.svg) top left -1px / 2.4rem auto no-repeat;
  }
  /* alert styles */
  .dashboard-alerts__elements {
    max-height: calc(100% - 1.4rem - 11.4rem - 10rem);
  }
  .dashboard-alerts__arrow {
    margin-right: 4.4rem;
    height: 1.4rem;
    width: 4rem;
    z-index: 1001;
  }
  .dashboard-alerts__title {
    padding: 3.6rem 3rem;
    height: 11.4rem;
  }
  .dashboard-alerts__title h4 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
  .dashboard-alerts__element {
    padding: 2rem 3rem;
  }
  .dashboard-alerts__element-img {
    height: 10rem;
    width: 10rem;
  }
  .dashboard-alerts__element-data {
    margin-right: 2rem;
  }
  .dashboard-alerts__element-data h4 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: .8rem;
  }
  .dashboard-alerts__element-data p {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .dashboard-alerts__element-time {
    margin-right: 2rem;
    width: 9rem;
  }
  .dashboard-alerts__element-time h6 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .dashboard-alerts__all {
    font-size: 2.8rem;
    line-height: 3.6rem;
    height: 10rem;
  }
  .sidebar.alerts {
    background-color: transparent;
  }
  .sidebar.alerts .dashboard-alerts {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 3rem, #fff 3rem, #fff 100% );
    display: flex;
    position: relative;
    top: 0;
    left: 0;  
    right: 0;
    max-height: 100%;
    width: 100%;
  }
  .sidebar.alerts .sidebar-desktop,
  .sidebar.category.alerts .sidebar-desktop {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 8.6rem;
  }
  .sidebar.alerts .sidebar-desktop .dashboard-notifications {
    display: block;
    height: 100%;
  }
  .sidebar.alerts .sidebar-desktop .dashboard-notifications__group-alerts {
    margin: 0;
    padding: 0; 
    height: 100%; 
    width: 100%;
  }
  .sidebar.alerts .sidebar-desktop > div,
  .sidebar.alerts .sidebar-desktop .dashboard-notifications__group-messages,
  .sidebar.alerts .sidebar-desktop .dashboard-notifications__group-alerts .dashboard-notifications__group-img {
    display: none;
  }
  .sidebar {
    min-height: 0;
    height: auto;
    width: 100%;
  }
  .sidebar-mobile__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 3rem;
    position: relative;
    z-index: 990;
    height: 12rem;
  }
  .sidebar-mobile__search-btn,
  .sidebar.open .sidebar-mobile__search-btn.close {
    display: none;
  }
  .sidebar.open .sidebar-mobile__search-btn {
    display: block;
    padding: 2rem;
    height: 8rem;
  }
  .sidebar.open .sidebar-mobile__search-btn img {
    height: 100%;
  }  
  .sidebar-mobile__menu .dashboard-notifications {
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
  }
  .sidebar.open .dashboard-notifications {
    display: none;
  }
  .dashboard-notifications__group {
    margin: 0 2rem;
    height: 8.8rem;
    width: 8.8rem;
  }
  .dashboard-notifications__group:first-child .dashboard-notifications__group-img {
    height: 5.8rem;
    width: 4.8rem;
  }
  .dashboard-notifications__group:last-child .dashboard-notifications__group-img {
    height: 5.8rem;
    width: 5.8rem;
  }
  .dashboard-notifications__group > .dashboard-notifications__group-img > span {
    font-size: 1.6rem;
    line-height: 1.5rem;
    padding-bottom: .1rem;
    top: -.6rem;
    right: -1rem;
    height: 3.4rem;
    width: 3.4rem;
  }  
  .sidebar-mobile__logo {
    margin-right: 3rem;
    height: 8rem;
  }
  .sidebar.open .sidebar-mobile__logo {
    display: none;
  }
  .sidebar-mobile__logo a {
    display: block;
    line-height: 1;
    height: 100%;
  }
  .sidebar-mobile__logo img {
    height: 100%;
  }  
  .sidebar-mobile__toggler {
    background: url(../img/dashboard/dashboard-menu-open.svg) center / 100% 100% no-repeat;
    height: 3.6rem;
    width: 6rem;
  }
  .sidebar.open .sidebar-mobile__toggler,
  .sidebar-mobile__toggler-search {
    background: url(../img/dashboard/dashboard-menu-close.svg) center / 100% 100% no-repeat;
    margin-right: auto;
    height: 4rem;
    width: 6rem;
  }
  .sidebar-mobile__toggler-search {
    display: none;
  }
  .sidebar-mobile__toggler-search.show {
    display: block;
  }
  .sidebar-mobile__toggler-search.show+.sidebar-mobile__toggler {
    display: none;
  }
  .sidebar-desktop {
    display: none;
    padding: 0;
    height: calc(100vh - 12rem);
  }
  .dashboard-search__mobile {
    margin-bottom: 3rem;
    padding: 0 3rem;
  }
  .dashboard-search {
    order: 1;
    height: 10rem;
    width: 100%;
  }
  .dashboard-search input {
    background-color: transparent;
    border: 1px solid #EAECF5;
    color: #fff;
    font-size: 3.5rem;
    line-height: 4.6rem;
    padding: 2.2rem 10rem 2.2rem 4rem;
  }
  .dashboard-search__btn {
    right: 3rem;
    width: 10rem;
  }
  .dashboard-search__btn img {
    right: 3rem;
    height: 4rem;
    width: 4rem;
  }
  .dashboard-search__mobile {
    display: none;
  }
  .dashboard-search__mobile.open {
    display: flex;
  }  
  .dashboard-avatar {
    border-top: 1px solid rgba(234, 236, 245, .15);
    margin-bottom: 0rem;
    order: 4;
    padding: 3rem;
    height: 14rem;
  }
  .dashboard-avatar__content img {
    margin-left: 4rem;
    height: 10rem;
    width: 10rem;
  }
  .dashboard-avatar__group h5 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .dashboard-avatar__group a {
    font-size: 3.6rem;
    line-height: 4.6rem;
  }
  .sidebar-desktop .dashboard-notifications {
    display: none;
  }
  .sidebar.open .sidebar-desktop,
  .sidebar.category.open .sidebar-desktop {
    display: flex;
  }
  .dashboard-slider {
    display: none;
  }
  .dashboard-header {
    order: 3;
    background-color: #000F3E;
    border: none;
    padding: 0;
    position: static;
    right: 0;
    height: 100%;
  }
  .dashboard-header__logo {
    display: none;
  }
  .dashboard-header .dashboard-search {
    display: none;
  }
  .dashboard-nav ul {
    flex-direction: column;
  }
  .dashboard-nav ul li {
    border-bottom: 1px solid rgba(234, 236, 245, .15);
    flex-shrink: 0;
    height: 10rem;
    width: 100%;
  }
  .dashboard-nav ul li:not(:last-child) {
    margin-left: 0rem;
  }
  .dashboard-nav ul li a,
  .dashboard-nav ul li.dashboard-dropdown span {
    color: #FFFFFF;
    font-size: 3.6rem;
    line-height: 4.2rem;
    padding: 0 3rem 0 0;
    width: 100%;
  }
  .dashboard-nav ul li a:hover,
  .dashboard-nav ul li a.active,
  .dashboard-nav ul li.dashboard-dropdown:hover span {
    color: #94E0E0;
  }
  .dashboard-nav ul li a:hover:before,
  .dashboard-nav ul li a.active:before,
  .dashboard-nav ul li.dashboard-dropdown:hover span:before {
    display: none;
  }
  .dashboard-nav ul li.dashboard-dropdown span {
    background: url(../img/dashboard/dashboard-arrow-triangle-down.svg) left 3rem center / 1.8rem 1.3rem no-repeat;
  }
  .dashboard-nav ul li.dashboard-dropdown.open span {
    background: url(../img/dashboard/dashboard-arrow-triangle-up.svg) left 3rem center / 1.8rem 1.3rem no-repeat;
  }
  .dashboard-nav ul li.dashboard-dropdown span {
    padding-left: 0rem;
  }
  .dashboard-dropdown.open {
    height: auto;
  }
  .dashboard-dropdown.open > span {
    padding: 3rem 3rem 3rem 10rem !important;
    height: auto !important;
  }
  .dashboard-dropdown.open .dashboard-dropdown__content {
    display: flex;
  }
  .dashboard-nav ul li .dashboard-dropdown__content {
    background-color: #000F3E;
    border: none;
    border-top: 1px solid rgba(234, 236, 245, .15);
    display: none;
    padding: 0;
    position: static;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .dashboard-nav ul li .dashboard-dropdown__content a {
    border-bottom: 1px solid rgba(234, 236, 245, .15);
    padding: 3rem 7.2rem 3rem 3rem;
    width: 100%;
  }
  .dashboard-nav ul li .dashboard-dropdown__content a:not(:last-child) {
    margin-bottom: 0rem;
  }
  .dashboard-actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 0rem;
    order: 2;
    padding: 0;
  }
  .dashboard-actions__element {
    background: #94E0E0;
    border-radius: 0;
    padding: 4rem 4.4rem 4rem 5.6rem;
    width: 50%;
  }
  .dashboard-actions__element.active {
    background: #192751;
  }
  .dashboard-actions__element.active svg path {
    stroke: #000F3E;
  }
  .dashboard-actions__element:not(:last-of-type) {
    border-left: 1px solid #000F3E;
    margin-bottom: 0rem;
  }
  .dashboard-actions__img {
    background-color: #000F3E;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-actions svg {
    height: 3.2rem;
  }
  .dashboard-actions svg path {
    stroke: #94E0E0;
  }
  .dashboard-actions h3 {
    font-size: 3.6rem;
    line-height: 6.2rem;
    margin-right: 2.6rem;
  }
  .dashboard-exit {
    display: none;
  }
  .dashboard-exit__mobile {
    display: block;
  }
  .dashboard-exit__mobile a {
    padding: 2rem;
  }
  .dashboard-exit a img {
    height: 4.6rem;
    width: 4.6rem;
  }
  /* popup styles */
  .dashboard-popup__container {
    padding: 6rem 3rem 4rem;
  }
  .dashboard-popup__title {
    font-size: 4.2rem;
    line-height: 5.4rem;
    margin-bottom: 3.6rem;
  }
  .dashboard-popup__subtitle {
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 1.8rem;
    padding: 0 5rem;
  }
  .dashboard-popup__form input,
  .dashboard-popup__form textarea {
    font-size: 3.2rem;
    line-height: 4.2rem;
    padding: 2.8rem 4rem;
  }
  .dashboard-popup__form input[type=submit] {
    font-weight: 700;
    margin-top: 2rem;
    height: 10rem;
  }
  .dashboard-popup__close {
    height: 7.8rem;
    width: 7.8rem;
  }  
  .dashboard-popup__close img {
    padding: 2.4rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}