/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* header styles */
  .header__container {
    padding: 14.4px 18px;
  }
  .header__toggler.close div:nth-child(1) {
    top: calc(9.6px + 2px );
  }
  .header__toggler.close div:nth-child(3) {
    top: calc(-9.6px - 2px );
  }
  .header__navbar {
    padding: 18px 0;
    top: 72px;
  }
  .header__navbar a,
  .header__btn .btn {
    font-size: 21.6px;
    line-height: 27.6px;
    margin: 0 0 12px;
  }

  /* intro styles */
  .intro__container {
    padding: 0 18px;
  }
  .intro__vector1 {
    top: 360px;
    right: 0px;
  }
  .intro__vector1 img {
    height: 96px;
  }
  .intro__vector2 {
    top: 72px;
    right: -103.2px;
  }
  .intro__vector2 img {
    height: 204px;
  }
  .intro__right {
    padding-top: 141.6px;
    padding-bottom: 288px;
  }
  .intro__right .btn {
    font-size: 19.2px;
    line-height: 25.2px;
    padding: 24px 0;
  }
  .intro__right h1 {
    font-size: 50.4px;
    line-height: 50.4px;
    margin-bottom: 18px;
  }
  .intro__right h4 {
    font-size: 19.2px;
    line-height: 28.8px;
    margin-bottom: 27.6px;
  }

  /* successful styles */
  .successful {
    padding: 75.6px 18px 0;
  }
  .successful__bg img {
    top: 30px;
    max-width: 348px;
  }
  .successful__container {
    top: 75.6px;
  }
  .successful__container h2 {
    right: 18px;
  }
  .successful__info1,
  .successful__info2,
  .successful__info3,
  .successful__info4 {
    font-size: 21.6px;
    line-height: 31.2px;
  }
  .successful__info1 {
    top: 144px;
  }
  .successful__info2 {
    top: 336px;
  }
  .successful__info3 {
    top: 528px;
  }
  .successful__info4 {
    top: 708px;
  }
  .how {  
    padding-bottom: 42px;
    top: -18px;
  }
  .how__img>img {
    right: 0px;
  }
  .how__vector1 {
    bottom: 18px;
    right: 0;
    height: 33px;
  }
  .how__vector1>img {
    height: 33px;
  }
  .how__vector2-1 {
    top: -72px;
    left: -90px;
    height: 108px;
  }
  .how__vector2-2 {
    display: none;
  }
  .how__vector2-1>img {
    height: 108px;
  }
  .how__info {
    margin-bottom: 48px;
  }
  .how__info h2 {
    font-size: 38.4px;
    line-height: 38.4px;
    margin-bottom: 19.8px;
  }
  .how__info h3 {
    font-size: 16.8px;
    line-height: 28.8px;
  }

  /* contact styles */
  .contact {
    padding:38.4px 18px 64.8px;
  }
  .contact__container {
  }
  .contact p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .contact__form input,
  .contact__form textarea {
    font-size: 19.2px;
    line-height: 36px;
    margin-bottom: 12px;
    padding: 12px 14.4px;
  }
  .contact__form textarea {
    margin-bottom: 24px;
    height: 108px;
  }
  .contact__btn,
  .contact__form input.contact__btn {
    font-size: 21.6px;
    line-height: 28.8px;
    padding: 21.6px 0;
  }

  /* footer styles */
  .footer {
    padding: 48px 0 45.6px;
  }
  .footer__soc {
    margin-bottom: 24px;
  }
  .footer__soc a {
    height: 48px;
    width: 48px;
  }
  .footer__soc a:first-child {
    margin-left: 48px;
  }
  .footer__soc a img {
    height: 48px;
    width: 48px;
  }
  .footer__company h5,
  .footer__company a {
    font-size: 19.2px;
    line-height: 38.4px;
  }
  .footer__rights {
    margin-bottom: 39.6px;
  }
  .footer__rights h5 {
    font-size: 19.2px;
    line-height: 38.4px;
  }

  /* popup styles */
  .popup__close {
    height: 24px;
    width: 24px;
  }
  .popup__close img {
    height: 24px;
    width: 24px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* header styles */
  .header__container {
    padding: 12px 15px;
  }
  .header__toggler.close div:nth-child(1) {
    top: calc(8px + 2px );
  }
  .header__toggler.close div:nth-child(3) {
    top: calc(-8px - 2px );
  }
  .header__navbar {
    padding: 15px 0;
    top: 60px;
  }
  .header__navbar a,
  .header__btn .btn {
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 10px;
  }

  /* intro styles */
  .intro__container {
    padding: 0 15px;
  }
  .intro__vector1 {
    top: 300px;
    right: 0px;
  }
  .intro__vector1 img {
    height: 80px;
  }
  .intro__vector2 {
    top: 60px;
    right: -86px;
  }
  .intro__vector2 img {
    height: 170px;
  }
  .intro__right {
    padding-top: 118px;
    padding-bottom: 240px;
  }
  .intro__right .btn {
    font-size: 16px;
    line-height: 21px;
    padding: 20px 0;
  }
  .intro__right h1 {
    font-size: 42.5px;
    line-height: 42.5px;
    margin-bottom: 15px;
  }
  .intro__right h4 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  /* successful styles */
  .successful {
    padding: 63px 15px 0;
  }
  .successful__bg img {
    top: 25px;
    max-width: 290px;
  }
  .successful__container {
    top: 63px;
  }
  .successful__container h2 {
    right: 15px;
  }
  .successful__info1,
  .successful__info2,
  .successful__info3,
  .successful__info4 {
    font-size: 18px;
    line-height: 26px;
  }
  .successful__info1 {
    top: 120px;
  }
  .successful__info2 {
    top: 280px;
  }
  .successful__info3 {
    top: 440px;
  }
  .successful__info4 {
    top: 590px;
  }
  .how {  
    padding-bottom: 35px;
    top: -15px;
  }
  .how__img>img {
    right: 0;
  }
  .how__vector1 {
    bottom: 15px;
    right: 0px;
    height: 27.5px;
  }
  .how__vector1>img {
    height: 27.5px;
  }
  .how__vector2-1 {
    top: -60px;
    left: -75px;
    height: 90px;
  }
  .how__vector2-1>img {
    height: 90px;
  }
  .how__info {
    margin-bottom: 40px;
  }
  .how__info h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 16.5px;
  }
  .how__info h3 {
    font-size: 14px;
    line-height: 24px;
  }

  /* contact styles */
  .contact {
    padding:32px 15px 54px;
  }
  .contact__container {
  }
  .contact p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .contact__form input,
  .contact__form textarea {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 10px 12px;
  }
  .contact__form textarea {
    margin-bottom: 20px;
    height: 90px;
  }
  .contact__btn,
  .contact__form input.contact__btn {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0;
  }

  /* footer styles */
  .footer {
    padding: 40px 0 38px;
  }
  .footer__soc {
    margin-bottom: 20px;
  }
  .footer__soc a {
    height: 40px;
    width: 40px;
  }
  .footer__soc a:first-child {
    margin-left: 40px;
  }
  .footer__soc a img {
    height: 40px;
    width: 40px;
  }
  .footer__company h5,
  .footer__company a {
    font-size: 16px;
    line-height: 32px;
  }
  .footer__rights {
    margin-bottom: 33px;
  }
  .footer__rights h5 {
    font-size: 16px;
    line-height: 32px;
  }  

  /* popup styles */
  .popup__close {
    height: 20px;
    width: 20px;
  }
  .popup__close img {
    height: 20px;
    width: 20px;
  }
}