/* faq styles */
.dashboard-faq {
  padding: 0 7rem 6rem;
  position: relative;
}
.dashboard-faq__header {
  background-color: #FFF;
  border-bottom: 1px solid #EAECF5;
  padding: 3rem 7rem 0;
  position: fixed;
  top: 10rem;
  left: 0;
  right: 34rem;
  height: 14rem;
}
.dashboard-faq__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
}
.dashboard-faq__tabs {
  display: flex;
  flex-direction: row;
}
.dashboard-faq__tab:first-of-type {
  margin-right: 4.5rem;
}
.dashboard-faq__tab > h2 {
  color: rgba(0, 15, 62, .5);
  cursor: pointer;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 1.6rem 1.8rem;
  position: relative;
}
.dashboard-faq__tab.active > h2 {
  color: #000F3E;
}
.dashboard-faq__tab.active > h2:before {
  content: "";
  background-color: #94E0E0;
  font-weight: 700;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 2px;
  width: 100%;
}
.dashboard-faq__content {
  padding: 18.5rem 0 0;
}
.dashboard-faq__content-tab {
  display: none;
}
.dashboard-faq__content-tab.active {
  display: block;
}
.dashboard-faq__subtitle h3 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 2rem;
  padding-right: 4.5rem;
}
.dashboard-faq__hamburger-title {
  background: url(../img/faq/faq-icon-open.svg) right center / 2rem 2rem no-repeat;
  border-bottom: 1px solid #EAECF5;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  padding: 2rem 4.5rem 2rem 0;
}
.dashboard-faq__hamburger-title:hover {
  color: #94E0E0;
}
.dashboard-faq__hamburger-title.open {
  background: url(../img/faq/faq-icon-close.svg) right center / 2rem 2rem no-repeat;
  border: none;
}
.dashboard-faq__hamburger-title.open + .dashboard-faq__hamburger-text {
  display: block;
}
.dashboard-faq__hamburger-text {
  border-bottom: 1px solid #EAECF5;
  display: none;
}
.dashboard-faq__hamburger-text p {
  color: #80879F;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0 4.5rem 2rem 0;
  max-width: 88rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* faq styles */
  .dashboard-faq {
    padding: 0rem 5rem 6rem;
  }
  .dashboard-faq__header {
    padding: 3rem 5rem 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* faq styles */
  .dashboard-faq {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-faq__header {
    padding: 3rem 3rem 0;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* faq styles */
  .dashboard-faq {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-faq__header {
    padding: 3rem 3rem 0;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* faq styles */
  .dashboard-faq {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-faq__header {
    padding: 3rem 3rem 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* faq styles */
  .dashboard-faq {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-faq__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 0;
    position: fixed;
    top: 12rem;
    left: 0;
    right: 0rem;
    height: 20rem;
  }
  .dashboard-faq__title {
    font-size: 4.8rem;
    line-height: 6.4rem;
    margin-bottom: 0rem;
    padding: 0 3rem;
  }
  .dashboard-faq__tabs {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 3rem;
  }
  .dashboard-faq__tab:first-of-type {
    margin-right: 0rem;
  }
  .dashboard-faq__tab:last-of-type {
    padding-left: 3rem;
  }
  .dashboard-faq__tab > h2 {
    font-size: 3.2rem;
    line-height: 6.4rem;
    padding: 1.8rem 2rem;
    white-space: nowrap;
    height: 100%;
  }
  .dashboard-faq__tab.active > h2:before {
    bottom: 0;
  }
  .dashboard-faq__content {
    padding: 24rem 0 0;
  }
  .dashboard-faq__subtitle h3 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 6.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0rem;
  }
  .dashboard-faq__hamburger-title {
    background: url(../img/faq/faq-icon-open.svg) right center / 4rem 4rem no-repeat;
    font-size: 3.6rem;
    line-height: 3.6rem;
    padding: 3rem 7rem 3rem 0;
  }
  .dashboard-faq__hamburger-title.open {
    background: url(../img/faq/faq-icon-close.svg) right center / 4rem 4rem no-repeat;
  }
  .dashboard-faq__hamburger-text p {
    font-size: 2.8rem;
    line-height: 4.2rem;
    padding: 0 7rem 3rem 0;
    max-width: 100%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}