/* login styles */
.login {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  min-height: 100vh;
}
.login a {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.login h5 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.login h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.login__left {
  display: flex;
  flex-direction: column;
  padding: 3rem 15rem 3.5rem 5rem;
  min-height: 100%;
  width: 100%;
}
.login__left-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.login__left-top img {
  display: none;
}
.login__left-mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}
.login__left-forgot {
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.login__left-subtitle {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-top: 2.5rem;
  margin-bottom: 3.7rem;
}
.login__left-subtitle + .login__form {
  margin-top: 0;
}
a.login__start {
  background: #94E0E0;
  border: none;
  border-radius: 5px;
  color: #000000;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-top: 4.5rem;
  padding: 2.2rem 6rem;
  text-transform: uppercase;
}
.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  margin-bottom: .7rem;
  width: 40rem;
}
.login__form-forgot {
  margin-bottom: 5rem;
}
.login__form.subscribe {
  width: 57rem;
}
.login__form input {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  padding: 1.5rem 2.7rem;
  width: 100%;
}
.login__form input:focus {
  border: 1px solid #202020;
  border-radius: 5px;
  outline: none;
}
.login__form input.valid {
  border: 1px solid #5FBDBD;
}
.login__form input.invalid {
  border: 1px solid #F22727;
}
.login__form input::-webkit-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.login__form input:-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.login__form input::-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.login__form input::placeholder {
  color: rgba(32, 32, 32, .4);
}
.login__error {
  color: #DF241F;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.login__form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .8rem;
  width: 100%;
}
.login__check {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login__check {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-right: 4rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
}
.login__check a {
  margin-right: .5rem;
  text-decoration: underline;
}
.login__check input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.login__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.login__check:hover input ~ .login__checkmark {
  background-color: #ccc;
}
.login__check input:checked ~ .login__checkmark {
  background: #94E0E0;
}
.login__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.login__check input:checked ~ .login__checkmark:after {
  display: block;
}
.login__check .login__checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  left: 1rem;
  top: .6rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .8rem;
  height: 1.3rem;
}
.login__form-group a {
  font-weight: 700;
}
.login__form input[type=submit] {
  background: #94E0E0;
  border: none;
  color: #000000;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-transform: uppercase;
}
.login__form input[type=submit]:hover {
  background: #AFF3F3;
  color: #091B52;
}
.login__form-subscribe {
  display: flex;
  flex-direction: row;
}
.login__form-subscribe input:first-child {
  border-radius: 0 5px 5px 0;
  border-left: 0;
  flex-grow: 1;
}
.login__form-subscribe input:last-child {
  border-radius: 5px 0 0 5px;
  width: 21rem;
}
.login__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}
.login__social h6 {
  color: #828282;
  margin-left: 2rem;
}
.login__social a {
  font-weight: 700;
}
.login__social a:not(:last-of-type) {
  margin-left: 2rem;
}
.login__redirect h5 {
  color: #828282;
}
.login__redirect h5 a {
  border-bottom: 1px solid #94E0E0;
  font-weight: 600;
}
.login__left-bot {
  text-align: left;
}
.login__left-bot a {
  color: #828282;
  font-size: 1.6rem;
  line-height: 2rem;
}
.login__right {
  background: url(../img/login/login-bg.jpg) top center / 100% 100% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 7rem 0;
  min-height: 100%;
  width: 44rem;
}
.login__logo {
  margin-bottom: 8rem;
  width: 20.7rem;
}
.login__logo img {
  width: 20.7rem;
}
.login__info {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 4rem;
  padding: 0 5rem;
  text-align: center;
  width: 100%;
}
.login__info span {
  color: #83D1D1;
}
.login__promo {  
  padding: 0 5rem;
  position: relative;
  width: 100%;
}
.login__promo:before,
.login__promo:after {
  content: "";
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: calc(100% - 2.4rem);
  width: 1.5rem;
}
.login__promo:before {
  border-radius: 0 1rem 1rem 0;
  left: 0;
}
.login__promo:after {
  border-radius: 1rem 0 0 1rem;
  right: 0;
}
.login__promo-container {
  position: relative;
}
.login__promo-container .swiper-container {
  padding-bottom: 2.2rem;
}
.login__promo-container .swiper-slide {
  background-image: url(../img/login/login-quote.svg);
  background-size: 3.8rem 3.1rem;
  background-position: left 3.1rem top 55%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 1rem;
  padding: 6.6rem 3rem 10.8rem .5rem;
}
.login__promo-container .swiper-pagination-bullets {
  bottom: 0rem;
}
.login__promo-container .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 1rem/1rem;
  height: 3px;
  width: 5.5rem;
}
.login__promo-container .swiper-pagination-bullet-active {
  background-color: #94E0E0;
}
.login__promo-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.login__promo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
}
.login__promo-group {
  margin-right: 1.9rem;
}
.login__promo-group h5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.login__promo-group h6 {
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.login__promo-avatar {
  height: 6rem;
  width: 6rem;
}
.login__promo-avatar img {
  height: 6rem;
  width: 6rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {

}
@media (min-width: 1440px) and (max-width: 1599px) {

}
@media (min-width: 1200px) and (max-width: 1439px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* login styles */
  .login {
    flex-direction: column;
  }
  .login a {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .login h5 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  .login h6 {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .login__left {
    padding: 2rem 3rem 8rem;
  }
  .login__left-top {
    margin-bottom: 8rem;
  }
  .login__left-top h6 span {
    display: none;
  }
  .login__left-top img {
    display: block;
    height: 8rem;
  }
  .login__left-title {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
  .login__left-forgot {
    font-size: 4rem;
    line-height: 6rem;
  }
  .login__left-subtitle {
    font-size: 2.8rem;
    line-height: 4.8rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .login__left-title br,
  .login__left-subtitle br {
    display: none;
  }
  a.login__start {
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-bottom: 13.4rem;
    text-align: center;
    width: 100%;
  }
  .login__form,
  .login__form.subscribe {
    width: 100%;
  }
  .login__form input {
    font-size: 3.2rem;
    line-height: 6rem;
  }
  .login__form-group {
    margin-bottom: 4rem;
  }
  .login__check {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .login__check {
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding-right: 8rem;
    height: 6rem;
  }
  .login__check .login__checkmark:after {
    left: 2rem;
    top: 1.2rem;
    width: 1.6rem;
    height: 2.6rem;
  }
  .login__checkmark {
    height: 6rem;
    width: 6rem;
  }
  .login__form input[type=submit] {
    font-size: 3.6rem;
    line-height: 4.8rem;
    padding: 3.6rem 0;
  }
  .login__form-subscribe {
    flex-wrap: wrap;
  }
  .login__form-subscribe input:first-child {
    border: 1px solid #CCCFE3;
  }
  .login__form-subscribe input:first-child,
  .login__form-subscribe input:last-child {
    border-radius: 5px;
    width: 100%;
  }
  .login__redirect h5 a {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .login__social h6,
  .login__social a:not(:last-of-type) {
    margin-left: 3rem;
  }
  .login__left-bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 9rem;
    width: 100%;
  }
  .login__right {
    background: url(../img/login/login-bg.jpg) top center / cover no-repeat;
    margin-bottom: 7.5rem;
    padding: 4.7rem 0 12.7rem;
    width: 100%;
  }
  .login__logo {
    display: none;
  }
  .login__info {
    font-size: 3.5rem;
    line-height: 5.3rem;
    padding: 0 3.3rem;
  }
  .login__promo {
    padding: 0 3.3rem;
  }
  .login__promo-container {
    background-size: 7.6rem 6.2rem;
    background-position: left 3.8rem top 60%;
  }
  .login__promo-title {
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .login__promo-avatar,
  .login__promo-avatar img {
    height: 10rem;
    width: 10rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}