/* services styles */
.dashboard-services {
  padding: 3rem 5rem 6rem;
}
.dashboard-services__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}
.dashboard-services__subtitle {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: .5rem;
}
.dashboard-services__elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard-services__element {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  padding: 2rem 4rem 3rem;
  width: calc(100% / 2 - 2rem);
}
.dashboard-services__element-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
}
.dashboard-services__element-icon {
  background-color: #94E0E0;
  border-radius: 50%;
  margin-left: 2rem;
  padding: 1.2rem;
  height: 6rem;
  width: 6rem;
}
.dashboard-services__element-icon img {
  height: 100%;
}
.dashboard-services__element-header h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.dashboard-services__element-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.dashboard-services__checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard-services__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: 49%;
}
.dashboard-services__checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  padding-right: 4rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
}
.dashboard-services__checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.dashboard-services__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.dashboard-services__checkbox:hover input ~ .dashboard-services__checkmark {
  border: 1px solid #94E0E0;
}
.dashboard-services__checkbox input:checked ~ .dashboard-services__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.dashboard-services__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.dashboard-services__checkbox input:checked ~ .dashboard-services__checkmark:after {
  display: block;
}
.dashboard-services__checkbox .dashboard-services__checkmark:after {
  content: "";
  background: url(../img/services/services-icon-checkmark.svg) center / 1.6rem 1.3rem no-repeat;
  height: 100%;
  width: 100%;
}
.dashboard-services__element-form input[type=submit] {
  background-color: #94E0E0;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-top: .7rem;
  height: 5rem;
  width: 100%;
}
.dashboard-services__more {
  margin-top: 3rem;
  height: 6rem;
  width: 100%;
}
.dashboard-services__more button {
  border: 1px solid #83D1D1;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  height: 100%;
  width: 26.5rem;
}
.dashboard-services__experts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dashboard-services__experts-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
  width: 100%;
}
.dashboard-services__card {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 2rem;
  padding: 3rem;
  width: calc(100% / 3 - 2rem);
}
.dashboard-services__card:hover {
  box-shadow: 0px 10px 30px rgba(215, 219, 238, 0.5);
}
.dashboard-services__card-who {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.dashboard-services__card-avatar {
  flex-shrink: 0;
  margin-left: 2rem;
  position: relative;
  height: 9rem;
  width: 9rem;
}
.dashboard-services__card-avatar img {
  height: 100%;
  width: 100%;
}
.dashboard-services__card-expert {
  background-color: #94E0E0;
  box-shadow: 0px 3px 6px rgba(148, 224, 224, 0.8);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.7rem;
  width: 1.7rem;
}
.dashboard-services__card-expert img {
  height: 100%;
  width: 100%;
}
.dashboard-services__card-data h2 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 1.2rem;
}
.dashboard-services__card-data h3 {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
.dashboard-services__card-data h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.dashboard-services__card-description {
  flex-grow: 1;
}
.dashboard-services__card-description p {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}
.dashboard-services__card-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.dashboard-services__card-social a {
  background: #F4F7FC;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 .75rem;
  height: 4rem;
  width: 4rem;
}
.dashboard-services__card-social a svg {
  height: 1.6rem;
}
.dashboard-services__card-social a svg path {
  fill: #000F3E;
}
.dashboard-services__card-social a:hover {
  background-color: #94E0E0;
}
.dashboard-services__card-social a:hover svg path {
  fill: #FFFFFF;
}
.dashboard-services__card-action {
  text-align: center;
  height: 5rem;
  width: 100%;
}
.dashboard-services__card-action button {
  background-color: #94E0E0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 100%;
  width: 14rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* services styles */
  .dashboard-services {
    padding: 3rem 5rem 6rem;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* services styles */
  .dashboard-services {
    padding: 3rem 3rem 6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* services styles */
  .dashboard-services {
    padding: 3rem 3rem 6rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* services styles */
  .dashboard-services {
    padding: 3rem 3rem 6rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* services styles */
  .dashboard-services {
    padding: 3rem 3rem 6rem;
  }
  .dashboard-services__title {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 4.4rem;
  }
  .dashboard-services__subtitle {
    font-size: 3.2rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }
  .dashboard-services__element {
    margin-bottom: 2rem;
    padding: 3rem 3rem 4rem;
    width: 100%;
  }
  .dashboard-services__element-header {
    margin-bottom: 4rem;
  }
  .dashboard-services__element-icon {
    padding: 2rem;
    height: 10rem;
    width: 10rem;
  }
  .dashboard-services__element-header h4 {
    font-size: 4.2rem;
    line-height: 4.8rem;
  }
  .dashboard-services__checkbox {
    width: 49%;
  }
  .dashboard-services__checkbox {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 2rem;
    padding-right: 6.8rem;
    height: 4.8rem;
  }
  .dashboard-services__checkmark {
    height: 4.8rem;
    width: 4.8rem;
  }
  .dashboard-services__checkbox .dashboard-services__checkmark:after {
    background: url(../img/services/services-icon-checkmark.svg) center / 3rem 2.4rem no-repeat;
  }
  .dashboard-services__element-form input[type=submit] {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-top: 1.8rem;
    height: 10rem;
  }
  .dashboard-services__more {
    margin-top: 4rem;
    height: 10rem;
  }
  .dashboard-services__more button {
    font-size: 2.8rem;
    line-height: 3.6rem;
    width: 100%;
  }
  .dashboard-services__experts {
    justify-content: space-between;
  }
  .dashboard-services__experts-title {
    font-size: 4.2rem;
    line-height: 5.2rem;
    margin-bottom: 4rem;
  }
  .dashboard-services__card {
    margin: 0 0 2rem;
    width: calc(100% / 2 - 2rem);
  }
  .dashboard-services__card-who {
    margin-bottom: 3.4rem;
  }
  .dashboard-services__card-avatar {
    height: 14rem;
    width: 14rem;
  }
  .dashboard-services__card-expert {
    height: 4.8rem;
    width: 4.8rem;
  }
  .dashboard-services__card-data h2 {
    font-size: 3.6rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .dashboard-services__card-data h3 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }
  .dashboard-services__card-data h4 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .dashboard-services__card-description p {
    font-size: 2.6rem;
    line-height: 4.2rem;
  }
  .dashboard-services__card-social {
    margin-bottom: 4rem;
  }
  .dashboard-services__card-social a {
    margin: 0 1.5rem;
    height: 8rem;
    width: 8rem;
  }
  .dashboard-services__card-social a svg {
    height: 3.2rem;
  }
  .dashboard-services__card-action {
    height: 10rem;
  }
  .dashboard-services__card-action button {
    font-size: 2.8rem;
    line-height: 3.6rem;
    width: 100%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* services styles */
  .dashboard-services__checkbox {
    width: 100%;
  }
  .dashboard-services__card {
    width: 100%;
  }
}