/* start styles */
.start {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  min-height: 100vh;
}
.start-left {
  background: url(../img/start/start-left-bg.jpg) bottom center / cover no-repeat,
  #F4F7FC;;
  flex-shrink: 0;
  min-height: 100%;
  width: 50rem;
}
.start-left__info {
  padding: calc(100vh / 5.7) 4.5rem 0 0;
}
.start-left__quote {
  margin-bottom: 1.45rem;
}
.start-left__quote img {
  height: 3.1rem;
  width: 3.8rem;
}
.start-left__title {
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin-bottom: 2.2rem;
}
.start-left__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.start-left__user-group {
  margin-right: 1.5rem;
  text-align: right;
}
.start-left__user-group h5 {
  font-weight: 700;
  line-height: 3.2rem;
}
.start-left__user-group h6 {
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.start-left__user img {
  height: 7rem;
  width: 7rem;
}
.start-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 9rem;
  padding: 3rem 7rem 3.5rem 5rem;
  min-height: 100%;
  max-width: calc(100% - 50rem - 9rem);
}
.start-right__logo {
  margin-bottom: 8.4rem;
}
.start-right__logo img {
  height: 6rem;
}
.start-right__content {
  flex-grow: 1;
}
.start-right__step-title {
  color: #94E0E0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 2.3rem;
}
.start-right__step-title span {
  background-color: #94E0E0;
  display: block;
  margin: 0 1rem;
  height: 2px;
  width: 3rem;
}
.start-right__title {
  font-size: 5.4rem;
  line-height: 7.1rem;
  margin-bottom: 3.1rem;
}
.start-right__title-small {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 1.6rem;
}
.start-right__subtitle {
  font-size: 2.1rem;
  line-height: 3.2rem;
  margin-bottom: 4.2rem;
}
.start-right__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 74rem;
  max-width: 100%;
}
.start-right__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: calc(50% - 3rem);
}
.start-right__form-group label {
  color: #80879F;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: .8rem;
}
.start-right__form-group label span {
  color: #DF241F;
}
.start-right__form-group input {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  padding: 1.5rem 2.1rem;
}
.start-right__form-group input#phone {
  direction: ltr;
  text-align: right;
}
.start-right__form-group input::-webkit-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.start-right__form-group input:-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.start-right__form-group input::-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.start-right__form-group input::placeholder {
  color: rgba(32, 32, 32, .4);
}
/* page 5 */
.start-right__radio {
  border: 2px solid #94E0E0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 2rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 7rem;
  width: calc((100% - 6rem) / 4);
}
.start-right__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.start-right__radio-el {
  border: 1px solid #CCCFE3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
}
.start-right__radio:hover input ~ .start-right__radio-el {
  background-color: #ccc;
}
.start-right__radio input:checked ~ .start-right__radio-el {
  background-color: #94E0E0;
  border: none;
}
.start-right__radio-el:after {
  content: "";
  display: none;
  position: absolute;
}
.start-right__radio input:checked ~ .start-right__radio-el:after {
  display: block;
}
.start-right__radio .start-right__radio-el:after {
  background: white;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
}
.start-right__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 1.6rem;
  height: 6rem;
  width: 100%;
}
.start-right__prev,
.start-right__next {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.start-right__prev button,
.start-right__next button {
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 100%;
  width: 100%;
}
.start-right__prev button .start-right__prev-mobile,
.start-right__next button .start-right__next-mobile {
  display: none;
}
.start-right__prev button img,
.start-right__next button img {
  height: 1rem;
  width: 2.3rem;
}
.start-right__prev {
  margin-left: 2.4rem;
  height: 100%;
  width: 8.5rem;
}
.start-right__prev button {
  background: #FFFFFF;
  border: 1px solid #EAECF5;
}
.start-right__next {
  margin-right: 2.4rem;
  height: 100%;
  width: 15.8rem;
}
.start-right__next button {
  background: #94E0E0;
  box-shadow: 0px 10px 30px rgba(148, 224, 224, 0.5);
}
.start-right__next button img {
  margin-right: 1rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.start-right__position {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  max-width: calc(100% - 15.8rem - 8.5rem - 4.8rem);
}
.start-right__position-first,
.start-right__position-mid,
.start-right__position-last {
  flex-shrink: 0;
  position: relative;
  height: 100%;
}
.start-right__position-first h6,
.start-right__position-mid h6,
.start-right__position-last h6,
.start-right__position-first img,
.start-right__position-mid img,
.start-right__position-last img {
  font-size: 1.6rem;
  line-height: 2.1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.start-right__position-first h6,
.start-right__position-first img {
  color: #FFFFFF;
  left: calc(50% + .5rem);
}
.start-right__position-mid h6,
.start-right__position-last h6 {
  color: #EAECF5;
}
.start-right__position-mid h6,
.start-right__position-mid img {
  left: calc(50%);
}
.start-right__position-last h6,
.start-right__position-last img {
  left: calc(50% - .5rem);
}
.start-right__position-first img,
.start-right__position-mid img,
.start-right__position-last img {
  display: none;
  height: 1.3rem;
  width: 1.5rem;
}
.start-right__position-first svg,
.start-right__position-mid svg,
.start-right__position-last svg {
  height: 100%;
  width: 100%;
}
.start-right__position-first.done svg path,
.start-right__position-mid.done svg path,
.start-right__position-last.done svg path {
  fill: #C9EFEF;
  stroke: #FFFFFF;
  stroke-dasharray: none;
  stroke-width: 2px;
}
.start-right__position-first.done h6,
.start-right__position-mid.done h6,
.start-right__position-last.done h6 {
  display: none;
}
.start-right__position-first.done img,
.start-right__position-mid.done img,
.start-right__position-last.done img {
  display: block;
}
.start-right__position-first.active svg path,
.start-right__position-mid.active svg path,
.start-right__position-last.active svg path {
  fill: #94E0E0;
  stroke: #FFFFFF;
  stroke-dasharray: none;
  stroke-width: 2px;
}
.start-right__position-first {
  width: 6.3rem;
}
.start-right__position-mid {
  position: relative;
  width: 7.7rem;
}
.start-right__position-last {
  position: relative;
  width: 7.7rem;
}
.start-right__footer {
  width: 100%;
}
.start-right__footer-link {
  text-align: left;
}
.start-right__footer-link a {
  border-bottom: 1px solid #83D1D1;
  color: #000000;
  font-size: 1.6rem;
  line-height: 2rem;
}
/* progress bar styles */
.start.next-step .start-right__form {
  margin-bottom: 2rem;
  overflow-y: auto; 
  height: 100%;
  max-height: calc(100vh - 48.5rem);
  width: 100%;
}
.start-right__checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2rem;
}
.start-right__checkbox {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1.4rem 2rem;
  width: calc(100% / 3 - 4rem);
}
.start-right__checkbox:hover {
  box-shadow: 0px 10px 15px rgba(148, 224, 224, 0.3);
}
.start-right__checkbox img {
  flex-shrink: 0;
  margin-left: 2rem;
  width: 4.2rem;
}
.start-right__checkbox h5 {
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-left: 1rem;
}
.start__check {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.start__check {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
  width: 3rem;
}
.start__check input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.start__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.start__check:hover input ~ .start__checkmark {
  background-color: #ccc;
}
.start__check input:checked ~ .start__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.start__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.start__check input:checked ~ .start__checkmark:after {
  display: block;
}
.start__check .start__checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  left: 1rem;
  top: .6rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .8rem;
  height: 1.3rem;
}
.start-sidebar {
  background: #000F3E;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 3.7rem 2.6rem 4.6rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: .3s all;
  min-height: 100%;
  width: 9rem;
  z-index: 999;
}
.start-sidebar.open {
  width: 25.7rem;
}
.start-sidebar__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15.4rem;
  height: 2.1rem;
  width: 100%;
}
.start-sidebar__top img {
  display: none;
}
.start-sidebar__toggler {
  background: url(../img/start/start-menu-open.svg) center / 3.7rem 2.1rem no-repeat;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}
.start-sidebar__toggler.open {
  background: url(../img/start/start-menu-close.svg) center right / 3.3rem 1.4rem no-repeat;
}
.start-sidebar__toggler span {
  color: #FFFFFF;
  display: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-right: 4.3rem;
  text-transform: uppercase;
}
.start-sidebar__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.start-sidebar.open .start-sidebar__toggler span {
  display: block;
}
.start-sidebar__steps {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 4rem;
  max-height: calc(100vh - 2.1rem - 15.4rem - 1.8rem - 3.7rem - 4.6rem - 4rem);
  width: 100%;
}
.start-sidebar__step {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.start-sidebar__step:not(:last-child) {
  margin-bottom: 2rem;
}
.start-sidebar__step h5 {
  color: rgba(255, 255, 255, .3);
  display: none;
  font-weight: 700;
  line-height: 2.1rem;
  white-space: nowrap;
}
.start-sidebar.open .start-sidebar__step h5 {
  display: block;
}
.start-sidebar__step.done h5,
.start-sidebar__step.active h5 {
  color: rgba(148, 224, 224, .5);
}
.start-sidebar__step:hover h5 {
  color: #94E0E0;
}
.start-sidebar__icon {
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 1.9rem;
  height: 3.2rem;
  width: 3.2rem;
}
.start-sidebar__icon span {
  color: rgba(255, 255, 255, .5);
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.start-sidebar__icon img {
  display: none;
  height: 1.3rem;
  width: 1.6rem;
}
.start-sidebar__step.done .start-sidebar__icon,
.start-sidebar__step.active .start-sidebar__icon {
  background: #94E0E0;
}
.start-sidebar__step.done .start-sidebar__icon img {
  display: block;
}
.start-sidebar__step.done .start-sidebar__icon span {
  display: none;
}
.start-sidebar__step.active .start-sidebar__icon span {
  color: #FFFFFF;
}
.start-sidebar__continue {
  text-align: center;
}
.start-sidebar__continue a {
  border-bottom: 1px solid #83D1D1;
  color: rgba(255, 255, 255, .5);
  display: none;
  font-size: 1.6rem;
  line-height: 1.8rem;
  white-space: nowrap;
}
.start-sidebar.open .start-sidebar__continue a {
  display: inline-block;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  
}
@media (min-width: 1440px) and (max-width: 1599px) {
  
}
@media (min-width: 1200px) and (max-width: 1439px) {
  
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* start styles */
  .start {
    flex-direction: column-reverse;
  }
  .start-left {
    background: url(../img/start/start-left-bg-mobile.jpg) bottom center no-repeat,
    #F4F7FC;
    margin-bottom: 19rem;
    width: 100%;
  }
  .start-left__info {
    padding: 4rem 3rem 36rem;
  }
  .start-left__quote img {
    height: 3.7rem;
    width: 4.5rem;
  }
  .start-left__title {
    font-size: 3.6rem;
    line-height: 4.2rem;
    margin-bottom: 1.8rem;
  }
  .start-left__user-group h5 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .start-left__user-group h6 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .start-left__user img {
    height: 8.3rem;
    width: 8.3rem;
  }
  .start-right {
    margin: 12rem 0 0;
    padding: 3rem 3rem 2rem;
    max-width: 100%;
  }
  .start-right__logo {
    display: none;
  }
  .start-right__step-title {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;
  }
  .start-right__step-title span {
    margin: 0 2rem;
    height: 2px;
    width: 6rem;
  }
  .start-right__title {
    font-size: 6.4rem;
    line-height: 6.4rem;
    margin-bottom: 2.2rem;
  }
  .start-right__subtitle {
    font-size: 2.8rem;
    line-height: 4.8rem;
    margin-bottom: 2.5rem;
  }
  .start-right__form {
    margin-bottom: 4rem;
    width: 100%;
  }
  .start-right__radio {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-bottom: 1.8rem;
    padding: 4rem;
    height: 14rem;
    width: calc((100% - 2rem) / 2);
  }
  .start-right__radio-el {
    left: 4rem;
    height: 6rem;
    width: 6rem;
  }
  .start-right__radio .start-right__radio-el:after {
    width: 2rem;
    height: 2rem;
  }  
  .start-right__nav {
    margin-bottom: 1.2rem;
    height: 10rem;
  }
  .start-right__prev,
  .start-right__next {
    margin: 0;
    width: calc(50% - .5rem);
  }
  .start-right__prev button,
  .start-right__next button {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .start-right__prev button {
    color: #80879F;
  }
  .start-right__prev button .start-right__prev-mobile,
  .start-right__next button .start-right__next-mobile {
    display: block;
  }
  .start-right__next button .start-right__next-desktop {
    display: none;
  }
  .start-right__prev button img,
  .start-right__next button img {
    height: 2rem;
    width: 4.6rem;
  }
  .start-right__prev button img {
    margin-left: 2rem;
  }
  .start-right__next button img {
    margin-right: 2rem;
  }
  .start-right__position {
    display: none;
  }
  .start-right__footer-link a {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }
  .start.next-step .start-right__footer {
    background-color: #FFF;
    box-shadow: 0px 0px 20px rgba(0, 15, 62, 0.1);
    padding: 2rem 3rem 1.4rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  /* progress bar styles */
  .start.next-step .start-right__form {
    max-height: 100%;
  }
  .start-right__checkbox-group {
    padding: 0;
  }
  .start-right__checkbox {
    padding: 1.4rem 4rem;
    width: 100%;
  }
  .start-right__checkbox img {
    margin-left: 4rem;
    width: 9.4rem;
  }
  .start-right__checkbox h5 {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-left: 2rem;
  }
  .start__check,
  .start__checkmark {
    height: 6rem;
    width: 6rem;
  }
  .start__check .start__checkmark:after {
    left: 2rem;
    top: 1.2rem;
    width: 1.6rem;
    height: 2.6rem;
  }
  .start-sidebar {
    background-color: transparent;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
    position: fixed;
    left: 0;
    right: auto;
    height: 12rem;
    min-height: 12rem;
    width: 100%;
  }
  .start-sidebar.open {    
    height: 100%;
    min-height: 100%;
    width: 100%;
  }
  .start-sidebar.open:before {
    content: "";
    background: rgba(0, 15, 62, .3);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .start-sidebar__top {
    background: #000F3E;
    margin-bottom: 0;
    padding: 2rem 3rem;
    height: 12rem;
  }
  .start-sidebar.open .start-sidebar__top {
    height: 12rem;
  }
  .start-sidebar__top img {
    display: block;
    height: 8rem;
  }
  .start-sidebar__toggler {
    background: url(../img/start/start-menu-open-mobile.svg) center / 4.4rem 4.4rem no-repeat;
    height: 4.4rem;
    width: 4.4rem;
  }
  .start-sidebar.open .start-sidebar__toggler {
    background: url(../img/start/start-menu-close-mobile.svg) center / 4.4rem 4.4rem no-repeat;
    height: 4.4rem;
    width: 4.4rem;
  }
  .start-sidebar.open .start-sidebar__toggler span {
    display: none;
  }
  .start-sidebar__container {
    background: #000F3E;
    display: none;
    padding: 5rem 3rem;
    position: relative;
  }
  .start-sidebar.open .start-sidebar__container {
    display: flex;
    width: 82.5%;
  }
  .start-sidebar__step:not(:last-child) {
    margin-bottom: 3rem;
  }
  .start-sidebar__icon {
    height: 6rem;
    width: 6rem;
  }
  .start-sidebar__icon img {
    height: 2.6rem;
    width: 3.2rem;
  }
  .start-sidebar__icon span,
  .start-sidebar__step h5 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  .start-sidebar__continue a {
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* start styles */
  .start-right__form-row {
    flex-wrap: wrap;
  }
  .start-right__form-row:first-child {
    margin-bottom: 0rem;
  }
  .start-right__form-group {
    margin-bottom: 3rem;
    width: 100%;
  }
  .start-right__form-group:first-child {
    margin-left: 0;
  }
  .start-right__form-group label {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1.6rem;
  }
  .start-right__form-group input {
    font-size: 3.2rem;
    line-height: 6rem;
    padding: 2rem 3rem;
  }
  .start-right__radio {
    width: 100%;
  }
}