/* pages */
@import 'login.css';
@import 'start.css';
@import 'dashboard.css';
@import 'chat.css';
@import 'category.css';
@import 'community.css';
@import 'services.css';
@import 'faq.css';
@import 'user-profile.css';
@import 'tasks.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap');
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #202020;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}
a,
button,
input[type=submit] {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a:focus,
button:focus,
input[type=submit]:focus {
  outline: none;
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
}
/* global styles */
h1 {
  font-size: 5.4rem;
  line-height: 7.1rem;
}
h2 {
  font-size: 4.8rem;
  line-height: 6.4rem;
}
h3 {
  font-size: 2.1rem;
  line-height: 3.2rem;
}
h4 {
  font-size: 1.8rem;
  line-height: 3.2rem;
}
h5 {
  font-size: 1.6rem;
  line-height: 3.2rem;
}
a {
  color: #202020;
  font-size: 1.7rem;
  line-height: 3.2rem;
  text-decoration: none;
}
p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.btn {
  background-color: #94E0E0;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 1rem 4rem;
}
button,
input,
label,
textarea {
  font-family: 'Assistant', sans-serif;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #94E0E0;
}
::-webkit-scrollbar-thumb:hover {
  background: #4ce0e0;
}

/* header styles */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 12rem;
  width: 142rem;
  max-width: 100%;
  z-index: 999;
}
.header__container {
  background-color: #fff;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.header__logo {
  margin-left: 6.5rem;
  height: 6rem;
}
.header__logo img {
  height: 100%;
}
.header__toggler {
  display: none;
  width: 6rem;
}
.header__toggler div {
  background-color: #000F3E;
  transition: .5s all;
  height: 2px;
  width: 100%;
}
.header__toggler div:nth-child(2) {
  margin-left: 0;
  margin-right: auto;
  width: 75%;
}
.header__toggler div:not(:last-child) {
  margin-bottom: 1.6rem;
}
.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__navbar.show {
  display: flex;
}
.header__navbar>a {
  display: inline-block;
  font-weight: 700;
  margin-left: 4rem;
  position: relative;
}
.header__navbar>a:before {
  content: "";
  background-color: #94E0E0;
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 1px;
}
.header__btn {
  margin-right: 4.5rem;
}

/* wrapper styles */
.wrapper {
  overflow: hidden;
}

/* intro styles */
.intro {
  position: relative;
}
.intro__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 64rem;
  width: 100%;
  max-width: 142rem;
}
.intro__vector1 {
  position: absolute;
  top: 42rem;
  right: 54rem;
}
.intro__vector2 {
  position: absolute;
  top: 45rem;
  right: -11.2rem;
}
.intro__left {
  background: url(../img/intro-bg.jpg) right center / auto 100% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}
.intro__right {
  padding: 22rem 0 0;
  position: relative;
  height: 100%;
  width: 50%;
}
.intro__right h1 {
  margin-bottom: 2.3rem;
}
.intro__right h4 {
  margin-bottom: 3.8rem;
}

/* successful styles */
.successful {
  padding-top: 10rem;
  position: relative;
  text-align: center;
}
.successful__bg img {
  margin: 0 auto;
  position: relative;
  top: 7rem;
  right: -4.3rem;
  width: 142rem;
  max-width: 100%;
}
.successful__container {
  margin: 0 auto;
  position: absolute;
  top: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 142rem;
}
.successful__container h2 {
  text-align: right;
}
.successful__container h2 br {
  display: none;
}
.successful__container h2 span {
  color: #5FBDBD;
  font-weight: 600;
}
.successful__description {
  position: relative;
}
.successful__description br {
  display: block;
}
br.successful__br-mobile {
  display: none;
}
.successful__info1,
.successful__info2,
.successful__info3,
.successful__info4 {
  position: absolute;
  top: 8.5rem;
  text-align: right;
}
.successful__info1 {
  right: 0;
}
.successful__info2 {
  right: 33rem;
}
.successful__info3 {
  right: 70rem;
}
.successful__info4 {
  right: 98rem;
}
.how {  
  position: relative;
  top: -12rem;
}
.how__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 142rem;
}
.how__img {
  position: relative;
  width: 88rem;
  max-width: 100%;
  z-index: 3;
}
.how__img>img {
  width: 88rem;
  max-width: 100%;
}
.how__vector1 {
  position: absolute;
  bottom: 7rem;
  right: -1rem;
  height: 5.8rem;
  width: 5.2rem;
  z-index: 1;
}
.how__vector1>img {
  height: 5.8rem;
  width: 5.2rem;
}
.how__vector2-1 {
  position: absolute;
  top: -2rem;
  left: -13rem;
  height: 27rem;
  z-index: -1;
}
.how__vector2-2 {
  position: absolute;
  top: 17rem;
  right:-4rem;
  height: 16rem;
  z-index: -1;
}
.how__vector2-1>img {
  height: 27rem;
}
.how__vector2-2>img {
  height: 16rem;
}
.how__info {
  padding-top: 8.7rem;
  padding-right: 6rem;
  text-align: right;
  width: 100%;
  max-width: 45rem;
}
.how__info h2 {
  margin-bottom: 3.3rem;
}

/* contact styles */
.contact {
  background: url(../img/contact-bg.jpg) center / 100% 100% no-repeat;
  padding: 6.2rem 0 9.9rem;
  width: 100%;
}
.contact__container {
  margin: 0 auto;
  width: 100%;
  max-width: 43rem;
}
.contact p {
  color: #FFFFFF;
  margin-bottom: 2rem;
  text-align: center;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form input,
.contact__form textarea {
  background: #FFFFFF;
  border: 1px solid #202020;
  border-radius: 5px;
  font-family: 'Assistant', sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1.8rem;
  width: 100%;
}
.contact__form textarea {
  margin-bottom: 2rem;
}
.contact__form input:placeholder,
.contact__form textarea:placeholder {
  color: rgba(32, 32, 32, .4);
}
.contact__form textarea {
  height: 14rem;
}
.contact__btn,
.contact__form input.contact__btn {
  background-color: #94E0E0;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 1.8rem 0;
  width: 100%;
}
.contact__btn:first-of-type {
  margin-bottom: 3rem;
}

/* footer styles */
.footer {
  padding: 5.5rem;
  width: 100%;
}
.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 138.5rem;
}
.footer__soc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__soc a {
  display: block;
  height: 4rem;
  width: 4rem;
}
.footer__soc a:first-child {
  margin-left: 4rem;
}
.footer__soc a img {
  height: 4rem;
  width: 4rem;
}
.footer__company h5 {
  direction: ltr;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__company a {  
  display: block;
  font-weight: 700;
  line-height: 2.3rem;
  margin-left: 1rem;
  position: relative;
}
.footer__company a:before {
  content: "";
  background-color: #94E0E0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}

/* popup styles */
.popup {
  background-color: rgba(0, 15, 62, .3);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.popup.show {
  display: flex;
}
.popup__container {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 6.5rem;
  width: 56rem;
  height: 33.5rem;
}
.popup__container h4 {
  margin-bottom: 3.7rem;
  text-align: center;
}
.popup__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.popup__container form input {
  background-color: #fff;
  border: 1px solid #202020;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 1.4rem 2rem;
  width: 100%;
}
.popup__container form input:not(:last-child) {
  margin-bottom: 2rem;
}
.popup__container form input[type=submit] {
  background: #94E0E0;
  border: none;
  font-weight: 700;
  padding: 1.8rem 0;
}
.popup__close {
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  height: 2rem;
  width: 2rem;
}
.popup__close img {
  height: 2rem;
  width: 2rem;
}












































































/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }

  /* header styles */
  .header {
    position: fixed;
  }
  .header__container {
    background: rgba(244, 247, 252, 0.9);
    justify-content: space-between;
    padding: 2.4rem 3rem;
    width: 100%;
  }
  .header__logo {
    z-index: 999;
  }
  .header__toggler {
    display: block;
    z-index: 999;
  }
  .header__toggler.close div {
    position: relative;
    transition: .5s all;
  }
  .header__toggler.close div:nth-child(1) {
    top: calc(1.6rem + 2px );
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__toggler.close div:nth-child(3) {
    top: calc(-1.6rem - 2px );
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header__toggler.close div:nth-child(2) {
    opacity: 0;
    transition: 0s all;
  }
  .header__navbar {
    background-color: #fff;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    padding: 3rem 0;
    position: absolute;
    top: 12rem;
    right: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: .5s all;
    visibility: hidden;
    width: 100%;
    z-index: 888;
  }
  .header__navbar.show {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }  
  .header__navbar a,
  .header__btn .btn {
    display: block;
    font-size: 3.6em;
    line-height: 4.6rem;
    margin: 0 0 2rem;
  }
  .header__btn {
    margin: 0;
  }

  /* intro styles */
  .intro {
    background: rgba(244, 247, 252, 0.9);
    overflow: hidden;
  }
  .intro__container {
    flex-direction: column;
    padding: 0 3rem;
    height: auto;
  }
  .intro__vector1 {
    top: 60rem;
    right: 0rem;
  }
  .intro__vector1 img {
    height: 16rem;
  }
  .intro__vector2 {
    top: 12rem;
    right: -17.2rem;
  }
  .intro__vector2 img {
    height: 34rem;
  }
  .intro__left {
    display: none;
  }
  .intro__right {
    background: url(../img/intro-bg-mobile.svg) bottom left no-repeat;
    padding-top: 23.6rem;
    padding-bottom: 48rem;
    text-align: center;
    width: 100%;
  }
  .intro__right .btn {
    display: block;
    font-size: 3.2rem;
    line-height: 4.2rem;
    padding: 4rem 0;
    width: 100%;
  }
  .intro__right h1 {
    font-size: 8.4rem;
    line-height: 8.4rem;
    margin-bottom: 3rem;
  }
  .intro__right h4 {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-bottom: 4.6rem;
  }

  /* successful styles */
  .successful {
    padding: 12.6rem 3rem 0;
  }
  .successful__bg img {
    top: -5rem;
    right: 0;
    max-width: 58rem;
  }
  .successful__container {
    top: 12.6rem;
  }
  .successful__container h2 {
    position: absolute;
    top: 0;
    right: 3rem;
  }
  .successful__container h2 br {
    display: none;
  }
  .successful__container h2 span {
    color: #5FBDBD;
    font-weight: 600;
  }
  .successful__description br {
    display: none;
  }
  br.successful__br-mobile {
    display: block;
  }
  .successful__info1,
  .successful__info2,
  .successful__info3,
  .successful__info4 {
    font-size: 3.6rem;
    line-height: 5.2rem;
  }
  .successful__info1 {
    top: 24rem;
    right: 15%;
  }
  .successful__info2 {
    top: 56rem;
    right: auto;
    left: 15%;
  }
  .successful__info3 {
    top: 88rem;
    right: 15%;
  }
  .successful__info4 {
    top: 118rem;
    right: auto;
    left: 15%;
  }
  .how {  
    padding-bottom: 7rem;
    top: -3rem;
  }
  .how__container {
    flex-direction: column;
  }
  .how__img>img {
    position: relative;
    right: 0rem;
  }
  .how__vector1 {
    bottom: 3rem;
    right: 0;
    height: 5.5rem;
  }
  .how__vector1>img {
    height: 5.5rem;
  }
  .how__vector2 {
    top: -12rem;
    left: -15rem;
    height: 18rem;
  }
  .how__vector2>img {
    height: 18rem;
  }
  .how__info {
    margin-bottom: 8rem;
    padding: 0;
    max-width: 100%;
  }
  .how__info h2 {
    font-size: 6.4rem;
    line-height: 6.4rem;
    margin-bottom: 3.3rem;
  }
  .how__info h3 {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }

  /* contact styles */
  .contact {
    background: url(../img/contact-bg-mobile.jpg) center / 100% 100% no-repeat;
    padding:6.4rem 3rem 10.8rem;
  }
  .contact__container {
    max-width: 100%;
  }
  .contact p {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 4rem;
  }
  .contact__form input,
  .contact__form textarea {
    font-size: 3.2rem;
    line-height: 6rem;
    margin-bottom: 2rem;
    padding: 2rem 2.4rem;
  }
  .contact__form textarea {
    margin-bottom: 4rem;
    height: 18rem;
  }
  .contact__btn,
  .contact__form input.contact__btn {
    font-size: 3.6rem;
    line-height: 4.8rem;
    padding: 3.6rem 0;
  }

  /* footer styles */
  .footer {
    padding: 8rem 0 7.6rem;
  }
  .footer__container {
    flex-direction: column-reverse;
  }
  .footer__soc {
    margin-bottom: 4rem;
    order: 3;
  }
  .footer__soc a {
    height: 8rem;
    width: 8rem;
  }
  .footer__soc a:first-child {
    margin-left: 8rem;
  }
  .footer__soc a img {
    height: 8rem;
    width: 8rem;
  }
  .footer__company {
    order: 1;
  }
  .footer__company h5,
  .footer__company a {
    font-size: 3.2rem;
    line-height: 6.4rem;
  }
  .footer__rights {
    margin-bottom: 6.6rem;
    order: 2;
  }
  .footer__rights h5 {
    font-size: 3.2rem;
    line-height: 6.4rem;
  }

  /* popup styles */
  .popup__close {
    height: 4rem;
    width: 4rem;
  }
  .popup__close img {
    height: 4rem;
    width: 4rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }

  .successful__info1 {
    right: 5%;
  }
  .successful__info2 {
    left: 5%;
  }
  .successful__info3 {
    right: 5%;
  }
  .successful__info4 {
    left: 5%;
  }
}