/* tasks styles */
.dashboard-tasks {
  padding: 3rem 7rem 6rem;
  position: relative;
}
.dashboard-tasks__title h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.5rem;
}
.dashboard-tasks__title p {
  color: #80879F;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 4rem;
}
.dashboard-tasks__subtitle {
  margin-bottom: 2.8rem;
}
.dashboard-tasks__subtitle h3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
.dashboard-tasks__elements {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.dashboard-tasks__element {
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  height: 7rem;
  width: calc(100% / 4 - 2rem);
}
.dashboard-tasks__element h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
/* custom circle progress bar styles */
.tasks-progress {
  background-color: #EAECF5;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  height: 5rem;
  width: 5rem;
}
.tasks-progress__content {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  z-index: 3;
}
.tasks-progress__element-percent {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.tasks-progress__container {
  height: 100%;
  width: 100%;
  clip: rect(auto, auto, auto, auto);
  left: 0;
  position: absolute;
  top: 0;
}
.tasks-progress__container.half {
  clip: rect(0, 5rem, 5rem, 2.5rem);
}
.tasks-progress__half-circle {
  height: 100%;
  width: 100%;
  border: 1rem solid #94E0E0;
  border-radius: 50%;
  clip: rect(0, 2.5rem, 5rem, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.tasks-progress__right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tasks-progress__container.half .tasks-progress__right-side {
  display: none;
}
.dashboard-tasks__help {
  margin-bottom: 5rem;
}
.dashboard-tasks__help h6 {
  color: rgba(128, 135, 159, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}
.dashboard-tasks__help h6 img {
  flex-shrink: 0;
  margin-left: 1rem;
  height: 1.8rem;
  width: 1.8rem;
}
.dashboard-tasks__help-row {
  display: flex;
  flex-direction: row;
}
.dashboard-tasks__help-row button {
  border: 1px solid #94E0E0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-left: 1rem;
  height: 5rem;
  width: 16rem;
}
.dashboard-tasks__help-row button:last-child {
  background-color: #94E0E0;
}
.dashboard-tasks__tip {
  -webkit-animation: 2s pulse infinite;
  animation: 2s pulse infinite;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 15, 62, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  z-index: 888;
}
.dashboard-tasks__tip img {
  height: 2.6rem;
  width: 2.6rem;
}
.dashboard-tasks__tip span {
  background-color: #f02020;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}
.dashboard-tasks__popup {
  background-color: rgba(0, 15, 62, .3);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}
.dashboard-tasks__popup.open {
  display: flex;
}
.dashboard-tasks__popup-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 4.5rem 1.5rem 2.5rem;
  position: relative;
  height: 50rem;
  width: 30rem;
}
.tasks-slider {
  height: 100%;
}
.tasks-slider .swiper-wrapper {
  flex-grow: 1;
}
.tasks-slider .swiper-slide {
  direction: rtl;
  padding-bottom: 6rem;
}
.tasks-slider .dashboard-slider__description {
  height: calc(100% - 3.5rem - 5rem);
}
.tasks-slider .dashboard-slider__navigation {
  bottom: 0;
}
.tasks-slider .dashboard-slider__navigation .swiper-button-prev {
  left: 0;
}
.tasks-slider .dashboard-slider__navigation .swiper-button-next {
  right: 0;
}
.dashboard-tasks__popup-close {
  cursor: pointer;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5rem;
  width: 4.5rem;
}
.dashboard-tasks__popup-close img {
  height: 100%;
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* tasks styles */
  .dashboard-tasks {
    padding: 3rem 5rem 6rem;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* tasks styles */
  .dashboard-tasks {
    padding: 3rem 3rem 6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* tasks styles */
  .dashboard-tasks {
    padding: 3rem 3rem 6rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* tasks styles */
  .dashboard-tasks {
    padding: 3rem 3rem 6rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* tasks styles */
  .dashboard-tasks {
    padding: 3rem 3rem 6rem;
  }
  .dashboard-tasks__title h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 1rem;
  }
  .dashboard-tasks__title p {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 3.4rem;
  }
  .dashboard-tasks__subtitle {
    margin-bottom: 2rem;
  }
  .dashboard-tasks__subtitle h3 {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  .dashboard-tasks__elements {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .dashboard-tasks__element {
    margin-left: 0rem;
    margin-bottom: 2rem;
    padding: 2rem 3rem;
    height: 14rem;
    width: 100%;
  }
  .dashboard-tasks__element h3 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  /* custom circle progress bar styles */
  .tasks-progress {
    height: 10rem;
    width: 10rem;
  }
  .tasks-progress__element-percent {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  .tasks-progress__container.half {
    clip: rect(0, 10rem, 10rem, 5rem);
  }
  .tasks-progress__half-circle {
    clip: rect(0, 5rem, 10rem, 0);
  }
  .dashboard-tasks__help {
    margin-bottom: 8rem;
  }
  .dashboard-tasks__help h6 {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 2.4rem;
  }
  .dashboard-tasks__help h6 img {
    margin-left: 2rem;
    height: 3.6rem;
    width: 3.6rem;
  }
  .dashboard-tasks__help-row {
    flex-direction: column;
  }
  .dashboard-tasks__help-row button {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
    height: 10rem;
    width: 100%;
  }
  .dashboard-tasks__tip {
    bottom: 3rem;
    left: 3rem;
    height: 10rem;
    width: 10rem;
  }
  .dashboard-tasks__tip img {
    height: 5.2rem;
    width: 5.2rem;
  }
  .dashboard-tasks__tip span {
    font-size: 2rem;
    line-height: 2rem;
    height: 3rem;
    width: 3rem;
  }
  .dashboard-tasks__popup-container {
    padding: 9rem 3rem 5rem;
    height: 80vh;
    width: 58rem;
  }
  .tasks-slider .swiper-slide {
    padding-bottom: 16rem;
  }
  .tasks-slider .dashboard-slider__description {
    font-size: 2.8rem;
    line-height: 4.2rem;
    height: calc(100% - 5rem - 5rem);
  }
  .dashboard-slider__title h3 {
    font-size: 4.2rem;
    line-height: 5rem;
  }
  .dashboard-slider__title img {
    margin-left: 4rem;
    height: 6rem;
    width: 6rem;
  }
  .dashboard-slider__subtitle {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  .dashboard-slider__navigation {
    height: 10rem;
  }
  .dashboard-slider__navigation .swiper-button-next,
  .dashboard-slider__navigation .swiper-button-prev {
    width: 14rem;
  }
  .dashboard-slider__navigation .swiper-pagination {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .dashboard-tasks__popup-close {
    padding: 3rem;
    height: 9rem;
    width: 9rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}