/* profile styles */
.dashboard-profile {
  padding: 1.5rem 7rem 6rem;
}
.dashboard-profile__tabs {
  background-color: #FFF;
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  padding: 1.8rem 7rem 0;
  position: fixed;
  top: 10rem;
  left: 0;
  right: 34rem;
  height: 8rem;
  z-index: 888;
}
.dashboard-profile__tab > h2 {
  color: rgba(0, 15, 62, .5);
  cursor: pointer;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 1.5rem 1.9rem;
  position: relative;
}
.dashboard-profile__tab.active > h2 {
  color: #000F3E;
}
.dashboard-profile__tab.active > h2:before {
  content: "";
  background-color: #94E0E0;
  font-weight: 700;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 100%;
}
.dashboard-profile__content-tab {
  display: none;
}
.dashboard-profile__content-tab.active {
  display: block;
}
/* user tab */
.dashboard-profile__user {
  padding-top: 12rem;
  width: 96rem;
}
.dashboard-profile__user input::-webkit-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-profile__user input:-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-profile__user input::-ms-input-placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-profile__user input::placeholder {
  color: rgba(32, 32, 32, .4);
}
.dashboard-profile__user-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 2rem;
}
.dashboard-profile__user-avatar {
  border: 1px dashed #CCCFE3;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  height: 13rem;
  width: 13rem;
}
.dashboard-profile__user-avatar input {
  display: none;
}
.dashboard-profile__user-avatar img {
  margin-bottom: 0.8rem;
  height: 4.2rem;
  width: 4.2rem;
}
.dashboard-profile__user-avatar h5 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-align: center;
}
.dashboard-profile__user-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4.5rem;
  width: 74rem;
  max-width: 100%;
}
.dashboard-profile__user-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: calc(50% - 3rem);
}
.dashboard-profile__user-group label {
  color: #80879F;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: .8rem;
}
.dashboard-profile__user-group label span {
  color: #DF241F;
}
.dashboard-profile__user-group input {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 1.5rem 2.1rem;
}
.dashboard-profile__user-group input#phone {
  direction: ltr;
  text-align: right;
}
.dashboard-profile__user-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
}
.dashboard-profile__user-title span {
  color: #DF241F;
}
.dashboard-profile__user-dropdown {
  background: url(../img/community/community-arrow-down.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #FFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  margin-bottom: 4.5rem;
  overflow: hidden;
  width: 74rem;
}
.dashboard-profile__user-dropdown > h4 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0 2rem 0 2.5rem;
  height: 5rem;
}
.dashboard-profile__user-dropdownMenu {
  display: none;
  flex-direction: column;
}
.dashboard-profile__user-dropdown.open {
  background: url(../img/community/community-arrow-up.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #FFF;
  display: block;
}
.dashboard-profile__user-dropdown.open .dashboard-profile__user-dropdownMenu {
  display: flex;
}
.dashboard-profile__user-dropdownMenu li {
  border-top: 1px solid #EAECF5;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}
.dashboard-profile__user-dropdownMenu li:hover {
  background-color: #d9d9d9;
}
.dashboard-profile__user-business,
.dashboard-profile__user-description {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 7rem;
  padding: 1.5rem 2.1rem;
  width: 74rem;
}
.dashboard-profile__radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4.5rem;
  width: 100%;
}
.dashboard-profile__radio {
  border: 2px solid #94E0E0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 2rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 7rem;
  width: calc((100% - 6rem) / 4);
}
.dashboard-profile__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.dashboard-profile__radio-el {
  border: 1px solid #CCCFE3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
}
.dashboard-profile__radio:hover input ~ .dashboard-profile__radio-el {
  background-color: #ccc;
}
.dashboard-profile__radio input:checked ~ .dashboard-profile__radio-el {
  background-color: #94E0E0;
  border: none;
}
.dashboard-profile__radio-el:after {
  content: "";
  display: none;
  position: absolute;
}
.dashboard-profile__radio input:checked ~ .dashboard-profile__radio-el:after {
  display: block;
}
.dashboard-profile__radio .dashboard-profile__radio-el:after {
  background: white;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
}
.dashboard-profile__socials {
  margin-bottom: 4.5rem;
}
.dashboard-profile__social {
  background: #F4F7FC;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 2rem 2.5rem;
}
.dashboard-profile__social-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-profile__social-right img {
  margin-left: 2.5rem;
  height: 2rem;
}
.dashboard-profile__social-right h3 {
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.dashboard-profile__social-left h4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
}
.dashboard-profile__user input[type=submit] {
  background-color: #90e0e0;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 6rem;
  width: 21rem;
}
/* settings tab */
.dashboard-profile__settings {
  padding-top: 12rem;
}
.dashboard-profile__settings {
  width: 35rem;
}
.dashboard-profile__settings-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 1rem;
}
.dashboard-profile__settings-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}
.dashboard-profile__settings-group label {
  color: #80879F;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: .8rem;
}
.dashboard-profile__settings-group label span {
  color: #DF241F;
}
.dashboard-profile__settings-group input {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  padding: 1.5rem 2.1rem;
}
.dashboard-profile__settings-info,
.dashboard-profile__settings-info a {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin: 1.7rem 0 6rem;
}
.dashboard-profile__settings-info a {
  text-decoration: underline;
  font-weight: 700;
}
.dashboard-profile__settings input[type=submit] {
  background-color: #90e0e0;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  height: 6rem;
  width: 21rem;
}
/* board tab */
.dashboard-profile__board {
  padding-top: 12rem;
}
.dashboard-profile__board-element {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 3rem 3rem 4rem;
  position: relative;
  height: 15.5rem;
}
.dashboard-profile__board-right {
  flex-shrink: 0;
  text-align: center;
  height: 8rem;
  width: 8rem;
}
.dashboard-profile__board-right img {
  height: 100%;
}
.dashboard-profile__board-mid {
  flex-grow: 1;
  padding: 0 3rem;
  position: relative;
}
.dashboard-profile__board-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  margin-bottom: 0.5rem;
}
.dashboard-profile__board-description {
  color: #80879F;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.dashboard-profile__board-left {
  border: 1px solid #94E0E0;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 1rem;
  height: 7rem;
  width: 7rem;
}
.dashboard-profile__board-left.complete {
  background-color: #90e0e0;
}
.dashboard-profile__board-left h4 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.dashboard-profile__board-left h6 {
  color: #80879F;
  font-size: 1.3rem;
  line-height: 2rem;
}
.dashboard-profile__board-progress {
  background-color: #e0e0f0;
  border-radius: 5px;
  position: absolute;
  bottom: 3rem;
  left: 14rem;
  right: 14rem;
  height: 6px;
}
.dashboard-profile__board-progress span {
  display: none;
}
.dashboard-profile__board-progressBar {
  background-color: #90e0e0;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* profile styles */
  .dashboard-profile {
    padding: 0rem 5rem 6rem;
  }
  .dashboard-profile__tabs {
    padding: 1.8rem 5rem 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  /* profile styles */
  .dashboard-profile {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-profile__tabs {
    padding: 1.8rem 3rem 0;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  /* profile styles */
  .dashboard-profile {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-profile__tabs {
    padding: 1.8rem 3rem 0;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* profile styles */
  .dashboard-profile {
    padding: 0rem 3rem 6rem;
  }
  .dashboard-profile__tabs {
    padding: 1.8rem 3rem 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* profile styles */
  .dashboard-profile {
    padding: 2rem 3rem 6rem;
  }
  .dashboard-profile__tabs {
    background-color: #FFF;
    border-bottom: 1px solid #EAECF5;
    display: flex;
    flex-direction: row;
    padding: 2.2rem 3rem 0;
    position: fixed;
    top: 12rem;
    left: 0;
    right: 0rem;
    height: 12rem;
  }
  .dashboard-profile__tab > h2 {
    font-size: 3.2rem;
    line-height: 6.2rem;
    padding: 1.8rem 2rem;
  }
  .dashboard-profile__tab.active > h2:before {
    bottom: -1px;
  }
  /* user tab */
  .dashboard-profile__user {
    padding-top: 16rem;
    width: 100%;
  }
  .dashboard-profile__user-title {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 3rem;
  }
  .dashboard-profile__user-avatar {
    margin-bottom: 4rem;
    height: 20rem;
    width: 20rem;
  }
  .dashboard-profile__user-avatar img {
    margin-bottom: 1.2rem;
    height: 6.4rem;
    width: 6.4rem;
  }
  .dashboard-profile__user-avatar h5 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .dashboard-profile__user-row {
    margin-bottom: 8rem;
    width: 100%;
    max-width: 100%;
  }
  .dashboard-profile__user-group {
    margin-bottom: 3rem;
    width: 100%;
  }
  .dashboard-profile__user-group label {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1rem;
  }
  .dashboard-profile__user-group input {
    font-size: 3.2rem;
    line-height: 6rem;
    padding: 2rem 3rem;
  }
  .dashboard-profile__user-title {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
  .dashboard-profile__user-dropdown {
    background: url(../img/community/community-arrow-down.svg) left 2rem top 3.8rem / 2.4rem 2.4rem no-repeat, #FFF;
    margin-bottom: 8rem;
    width: 100%;
  }
  .dashboard-profile__user-dropdown > h4 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding: 0 4rem 0 5rem;
    height: 10rem;
  }
  .dashboard-profile__user-dropdown.open {
    background: url(../img/community/community-arrow-up.svg) left 2rem top 3.8rem / 2.4rem 2.4rem no-repeat, #FFF;
  }
  .dashboard-profile__user-dropdownMenu li {
    font-size: 3.2rem;
    line-height: 4.8rem;
    padding: 3rem 4rem 3rem 5rem;
  }
  .dashboard-profile__user-business,
  .dashboard-profile__user-description {
    font-size: 3.2rem;
    line-height: 6rem;
    margin-bottom: 8rem;
    padding: 2rem 3rem;
    width: 100%;
  }
  .dashboard-profile__radio-group {
    flex-wrap: wrap;
    margin-bottom: 7rem;
    width: 100%;
  }
  .dashboard-profile__radio {
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-bottom: 1rem;
    padding: 4rem;
    height: 10rem;
    width: 100%;
  }
  .dashboard-profile__radio-el {
    left: 4rem;
    height: 6rem;
    width: 6rem;
  }
  .dashboard-profile__radio .dashboard-profile__radio-el:after {
    width: 2rem;
    height: 2rem;
  }
  .dashboard-profile__socials {
    margin-bottom: 8rem;
  }
  .dashboard-profile__social {
    margin-bottom: 1rem;
    padding: 3rem 5rem;
  }
  .dashboard-profile__social-right img {
    margin-left: 5rem;
    height: 4rem;
  }
  .dashboard-profile__social-right h3 {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  .dashboard-profile__social-left h4 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  .dashboard-profile__user input[type=submit] {
    font-size: 2.8rem;
    line-height: 3.6rem;
    height: 10rem;
    width: 100%;
  }
  /* settings tab */
  .dashboard-profile__settings {
    padding-top: 16rem;
  }
  .dashboard-profile__settings {
    width: 100%;
  }
  .dashboard-profile__settings-title {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-bottom: 3.4rem;
  }
  .dashboard-profile__settings-group {
    margin-bottom: 3rem;
  }
  .dashboard-profile__settings-group label {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 1rem;
  }
  .dashboard-profile__settings-group input {
    font-size: 3.2rem;
    line-height: 6rem;
    padding: 2rem 3rem;
  }
  .dashboard-profile__settings-info,
  .dashboard-profile__settings-info a {
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin: 1rem 0 6rem;
  }
  .dashboard-profile__settings input[type=submit] {
    font-size: 2.8rem;
    line-height: 3.6rem;
    height: 10rem;
    width: 100%;
  }
  /* board tab */
  .dashboard-profile__board {
    padding-top: 16rem;
  }
  .dashboard-profile__board-element {
    align-items: flex-start;
    margin-bottom: 2rem;
    padding: 2rem 2rem 9rem;
    height: auto;
  }
  .dashboard-profile__board-right {
    height: 10rem;
    width: 10rem;
  }
  .dashboard-profile__board-mid {
    padding: 0 2rem 0 0;
  }
  .dashboard-profile__board-title {
    font-size: 3.6rem;
    line-height: 3.6rem;
    margin-bottom: 2rem;
  }
  .dashboard-profile__board-description {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .dashboard-profile__board-left {
    display: none;
  }
  .dashboard-profile__board-progress {
    bottom: 5rem;
    left: 12rem;
    right: 3rem;
    height: 6px;
  }
  .dashboard-profile__board-progress span {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    position: absolute;
    top: 50%;
    left: -9rem;
    text-align: left;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 6rem;
  }
  .dashboard-profile__board-progress span.complete {
    color: #90e0e0;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
}