/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 1;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* global styles */
h2 {
  font-size: 6.4rem;
  line-height: 7rem;
}
h3 {
  font-size: 5rem;
  line-height: 7.3rem;
}
h4 {
  font-size: 4.5rem;
  line-height: 6.6rem;
}
h5 {
  font-size: 2.4rem;
  line-height: 3.5rem;
}
h6 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
p, a {
  font-size: 1.8rem;
  line-height: 3.4rem;
}

/* header styles */
.header__nav {
  background: radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8rem;
}
.header__nav a {
  color: #33323e;
  font-weight: 500;
  letter-spacing: 0.04rem;
  position: relative;
  text-decoration: none;
  z-index: 999;
}
.header__nav a:not(:last-child) {
  margin-left: 5rem;
}

/* intro styles */
.intro {
  background-color: #33323e;
  display: flex;
  flex-direction: row;
}
.intro__right {
  color: #fff;
  /*flex-grow: 1;*/
  flex-shrink: 0;
  padding: 13.7rem 32rem 7.5rem 5.5rem;
  position: relative;
  text-align: right;
  width: 90rem;
}
.intro__right-logo {
  position: absolute;
  top: -5rem;
  right: 32rem;
  width: 44rem;
}
.intro__right-text {
  width: 52.5rem;
}
.intro__right h6 span {
  color: #FFA216;
  font-weight: 700;
}
.intro__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7rem;
}
.intro__btn a {
  display: block;
  width: 16rem;
}
.intro__btn a:not(:last-child) {
  margin-left: 3rem;
}
.intro__btn a img {
  width: 100%;
}
.intro__left {
  flex-grow: 1;
  position: relative;
}
.intro__left-bg {
  background: url(../img/intro-bg.jpg) center / cover no-repeat;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
.intro__left img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

/* formula styles */
.formula {
  border-top: 5px solid #393333;
  border-bottom: 5px solid #393333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.5rem;
}
.formula img {
  margin: 0 3rem;
}
.formula__logo {
  width: 31rem;
}
.formula__symbol {
  width: 4.6rem;
}
.formula__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 13rem;
}
.formula__icon img {
  margin-bottom: 1.5rem;
  width: 100%;
}
.formula__icon h5 {
  font-weight: 700;
}

/* info styles */
.info {
  background: radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  
  padding: 9.7rem 0 1.7rem;
}
.info__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 134rem;
}
.info__el {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 11rem 9.7rem;
  text-align: center;
  width: 45rem;
}
.info__el-text {
  flex-grow: 1;
}
.info__el-text h2 {
  font-weight: 700;
  margin-bottom: 1.8rem;
}
.info__el img {
  margin-top: 4rem;
  width: 25rem;
}

/* buy styles */
.buy {
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.buy__right {
  display: flex;
  flex-direction: row;
}
.buy__right a {
  display: block;
  width: 16rem;
}
.buy__right a:not(:last-child) {
  margin-left: 3rem;
}
.buy__right a img {
  width: 100%;
}
.buy__left {
  color: #fff;
  margin-right: 15rem;
}
.buy__left h4 {
  font-weight: 700;
}

/* detail styles */
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 7.5rem;
}
.detail__logo {
  margin-bottom: 5.8rem;
  width: 49rem;
}
.detail p {
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}
.detail__img {
  position: relative;
  bottom: -1rem;
  width: 86rem;
}

/* footer styles */
.footer {
  background-color: #33323e;
  padding: 4rem 0 5.5rem;
}
.footer__container {
  background: url(../img/footer-earth.svg) top right 3rem / 34rem auto no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 106rem;
}
.footer__right {
  color: #fff;
  margin-left: 17rem;
  padding-top: 2rem;
  min-height: 34rem;
  width: 38rem;
}
.footer__right h3 {
  font-weight: 700;
}
.footer__left {
  width: 51rem;
}
.footer__form {
  display: none;
  width: 100%;
}
.footer__form-group {
  margin-bottom: 4rem;
  position: relative;
}
.footer__form-group img {
  display: none;
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  height: 2.4rem;
  width: 2.4rem;
}
.footer__form input {
  border: none;
  font-family: 'Heebo', sans-serif;
  font-size: 1.8rem;
  line-height: 3.4rem;
  padding: 1.8rem;
  width: 100%;
}
.footer__form-group.error input {
  border: 2px solid #FE2315;
}
.footer__form input::-webkit-input-placeholder {
  color: rgba(51, 50, 62, .3);
}
.footer__form input:-ms-input-placeholder {
  color: rgba(51, 50, 62, .3);
}
.footer__form input::-ms-input-placeholder {
  color: rgba(51, 50, 62, .3);
}
.footer__form input::placeholder {
  color: rgba(51, 50, 62, .3);
}
.footer__form input[type=submit] {
  background-color: #5ec8ee;
  font-weight: 700;
  margin-bottom: 0;
}
.footer__form-group h6 {
  color: #FE2315;
  display: none;
  letter-spacing: 0.04rem;
  position: absolute;
  bottom: -3rem;
  right: 0;
}
.footer__form-group.error img,
.footer__form-group.error h6 {
  display: block;
}

.footer__loading {
  color: #fff;
  display: none;
  font-weight: 700;
  text-align: center;
}

.footer__done {
  color: #fff;
  display: none;
  text-align: center;
}
.footer__done img {
  width: 10rem;
}
.footer__done h4 {
  font-weight: 700;
}
.footer__form.show,
.footer__loading.show,
.footer__done.show {
  display: block;
}

/* popup styles */
.popup {
  background-color: rgba(14, 14, 15, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
.popup.show {
  display: block;
}
.popup-container {
  background: radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  position: absolute;
  top: 9.9vw;
  left: 50%;
  transform: translateX(-50%);
  width: 62rem;
}
.popup__form {
  background: url(../img/popup-earth.png) left -1rem center / 35rem auto no-repeat;
  padding: 3rem 5rem 5rem;
}
.popup__form h4 {
  color: #33323e;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.popup__form h5 {
  margin-bottom: 2rem;
  text-align: center;
}
.popup-close {
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 4.3rem;
}
.popup-close img {
  width: 100%;
}
.popup__form {
  display: none;
  width: 100%;
}
.popup__form-group {
  margin-bottom: 4rem;
  position: relative;
}
.popup__form-group img {
  display: none;
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
  height: 2.4rem;
  width: 2.4rem;
}
.popup__form input {
  border: none;
  font-family: 'Heebo', sans-serif;
  font-size: 1.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.04rem;
  padding: 1.8rem;
  width: 100%;
}
.popup__form-group.error input {
  border: 2px solid #FE2315;
}
.popup__form form input::-webkit-input-placeholder {
  color: rgba(51, 50, 62, .3);
}
.popup__form form input:-ms-input-placeholder {
  color: rgba(51, 50, 62, .3);
}
.popup__form form input::-ms-input-placeholder {
  color: rgba(51, 50, 62, .3);
}
.popup__form form input::placeholder {
  color: rgba(51, 50, 62, .3);
}
.popup__form input[type=submit] {
  background-color: #5ec8ee;
  font-weight: 700;
  margin-bottom: 0;
}
.popup__form-group h6 {
  color: #FE2315;
  display: none;
  letter-spacing: 0.04rem;
  position: absolute;
  bottom: -3rem;
  right: 0;
}
.popup__form-group.error h6 {
  display: block;
}
.popup__loading,
.popup__done {
  color: #33323E;
  display: none;
  font-weight: 700;
  padding: 3rem 5rem 5rem;
  text-align: center;
}
.popup__loading {
  padding: 8rem 5rem;
}
.popup__loading img,
.popup__done img {
  width: 10rem;
}
.popup__form.show,
.popup__loading.show,
.popup__done.show {
  display: block;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }

  .intro__right {
    padding-right: 20rem;
    width: 80rem;
  }
  .intro__right-logo {
    right: 20rem;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }

  .intro__right {
    padding-right: 10rem;
    width: 75rem;
  }
  .intro__right-logo {
    right: 10rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }

  .intro__right {
    padding-right: 5.5rem;
    width: 70rem;
  }
  .intro__right-logo {
    right: 5.5rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }

  .intro__right {
    padding-right: 5.5rem;
    width: 65rem;
  }
  .intro__right-logo {
    right: 5.5rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }

  h6 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  p, a {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }

  /* header styles */
  .header__nav {
    display: none;
  }

  /* intro styles */
  .intro {
    flex-direction: column;
  }
  .intro__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem 4rem;
    width: 100%;
  }
  .intro__right-logo {
    position: static;
  }
  .intro__right-text {
    max-width: 100%;
  }
  .intro__right h6 {
    margin-top: 2rem;
    text-align: center;
  }
  .intro__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7rem;
  }
  .intro__btn a {
    width: 20rem;
  }
  .intro__btn a:not(:last-child) {
    margin-left: 1rem;
  }
  .intro__left {
    height: 37rem;
  }

  /* formula styles */
  .formula {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  .formula img {
    margin: 3rem 0;
  }
  .formula__icon h5 {
    font-size: 3.4rem;
    line-height: 4.5rem;
  }

  /* info styles */
  .info {
    padding: 4rem 2rem 5rem;
  }
  .info__container {
    width: 100%;
  }
  .info__el {
    margin: 0 0 5.7rem;
    width: 100%;
  }
  .info__el-text h2 br,
  .info__el-text h6 br {
    display: none;
  }

  /* buy styles */
  .buy {
    flex-direction: column-reverse;
    padding: 5rem 0;
  }
  .buy__right a {
    width: 20rem;
  }
  .buy__right a:not(:last-child) {
    margin-left: 1rem;
  }
  .buy__left {
    margin-right: 0rem;
    margin-bottom: 4.3rem;
    text-align: center;
  }
  .buy__left h4 {
    font-size: 7.5rem;
    line-height: 8.6rem;
  }
  .buy__left h6 {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }

  /* detail styles */
  .detail {
    padding: 4rem 2rem 0;
  }
  .detail__logo {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 49rem;
  }
  .detail p {
    margin-bottom: 2rem;
  }
  .detail p br {
    display: none;
  }
  .detail__img {
    max-width: 40rem;
    width: 100%;
  }

  /* footer styles */
  .footer {
    background-color: #33323e;
    padding: 2rem 0 5rem;
  }
  .footer__container {
    background: url(../img/footer-earth.svg) top right -5rem / 38rem auto no-repeat;
    flex-direction: column;
    padding: 5rem 2rem 0;
    max-width: 106rem;
    width: 100%;
  }
  .footer__right {
    margin-left: 0rem;
    margin-bottom: 4.3rem;
    padding-top: 0rem;
    text-align: center;
    min-height: auto;
    width: 100%;
  }
  .footer__right h3 {
    font-size: 7rem;
    line-height: 9.3rem;
  }
  .footer__right h5 {
    font-size: 4.4rem;
    line-height: 5.5rem;
  }
  .footer__left {
    width: 100%;
  }
  .footer__form input {
    margin-bottom: 1.5rem;
    padding: 3rem 1.8rem;
  }

  .footer__loading {
    padding-bottom: 6rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 7px;
  }

  h6 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  p, a {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }

  /* header styles */
  .header__nav {
    display: none;
  }

  /* intro styles */
  .intro {
    flex-direction: column;
  }
  .intro__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem 4rem;
    width: 100%;
  }
  .intro__right-logo {
    position: static;
  }
  .intro__right-text {
    max-width: 100%;
  }
  .intro__right h6 {
    margin-top: 2rem;
    text-align: center;
  }
  .intro__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7rem;
  }
  .intro__btn a {
    width: 20rem;
  }
  .intro__btn a:not(:last-child) {
    margin-left: 1rem;
  }
  .intro__left {
    height: 37rem;
  }

  /* formula styles */
  .formula {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  .formula img {
    margin: 3rem 0;
  }
  .formula__icon h5 {
    font-size: 3.4rem;
    line-height: 4.5rem;
  }

  /* info styles */
  .info {
    padding: 4rem 2rem 5rem;
  }
  .info__container {
    width: 100%;
  }
  .info__el {
    margin: 0 0 5.7rem;
    width: 100%;
  }
  .info__el-text h2 br,
  .info__el-text h6 br {
    display: none;
  }

  /* buy styles */
  .buy {
    flex-direction: column-reverse;
    padding: 5rem 0;
  }
  .buy__right a {
    width: 20rem;
  }
  .buy__right a:not(:last-child) {
    margin-left: 1rem;
  }
  .buy__left {
    margin-right: 0rem;
    margin-bottom: 4.3rem;
    text-align: center;
  }
  .buy__left h4 {
    font-size: 7.5rem;
    line-height: 8.6rem;
  }
  .buy__left h6 {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }

  /* detail styles */
  .detail {
    padding: 4rem 2rem 0;
  }
  .detail__logo {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 49rem;
  }
  .detail p {
    margin-bottom: 2rem;
  }
  .detail p br {
    display: none;
  }
  .detail__img {
    max-width: 40rem;
    width: 100%;
  }

  /* footer styles */
  .footer {
    background-color: #33323e;
    padding: 2rem 0 5rem;
  }
  .footer__container {
    background: url(../img/footer-earth.svg) top right -5rem / 38rem auto no-repeat;
    flex-direction: column;
    padding: 5rem 2rem 0;
    max-width: 106rem;
    width: 100%;
  }
  .footer__right {
    margin-left: 0rem;
    margin-bottom: 4.3rem;
    padding-top: 0rem;
    text-align: center;
    min-height: auto;
    width: 100%;
  }
  .footer__right h3 {
    font-size: 7rem;
    line-height: 9.3rem;
  }
  .footer__right h5 {
    font-size: 4.4rem;
    line-height: 5.5rem;
  }
  .footer__left {
    width: 100%;
  }
  .footer__form input {
    margin-bottom: 1.5rem;
    padding: 3rem 1.8rem;
  }
  .footer__loading {
    padding-bottom: 6rem;
  }

  /* popup styles */
  .popup-container {
    top: 20vw;
    width: 100%;
    max-width: 48rem;
  }
  .popup-close {
    left: 1.5rem;
  }
  .popup__form {
    background: url(../img/popup-earth.png) left -1rem center / 25rem auto no-repeat;
    padding: 2rem 1rem 4rem;
  }
  .popup__form h4 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
  .popup__form h5 {
    font-size: 3.5rem;
    line-height: 4.7rem;
  }
  .popup__form input {
    font-size: 2.8rem;
    line-height: 4.4rem;
  }
  .popup__form-group img {
    height: 3.4rem;
    width: 3.4rem;
  }
  .popup__loading,
  .popup__done {
    padding: 3rem 5rem 5rem;
  }
  .popup__loading img,
  .popup__done img {
    width: 13rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 6px;
  }
}