/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }

  /* container styles */
  .container {
    max-width: 500px;
  }

  .header {
    padding: 0 10px;
    height: 72px;
  }

  .header__logo-exit,
  .header__logo-zero {
    height: 46px;
  }

  /* intro styles */
  .intro .container {
    padding: 15px 0 22px;
  }

  .intro h1 {
    font-size: 19px;  
    letter-spacing: -1px;
    line-height: 28px;
  }

  /* startup styles */
  .startup .container {
    background: url(../img/startap-bg.png) top center / 100% 100% no-repeat;
    padding: 30px 10px 10px;
  }

  .startup__border {
    border: 1px solid #f3abd1;
    padding: 10px 25px;
  }

  .startup h2 {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.4px;
    margin-bottom: 21px;
  }

  .startup h3 {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    margin-bottom: 21px;
  }

  .startup h3 span {
    font-size: 22px;
    letter-spacing: -.5px;
  }

  .startup p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-bottom: 12px;
  }

  .startup a {
    border: 1px solid rgba(243, 171, 209, .28);
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 30px;
  }

  /* footer styles */
  .footer .container {
    border-bottom: 12px solid #242d2e;
    padding: 15px 0;
  }

  .footer__images-wrap {
    height: 45px;
    max-width: calc(100% / 4 - 15px);
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* container styles */
  .container {
    max-width: 500px;
  }

  .header {
    padding: 0 10px;
    height: 72px;
  }

  .header__logo-exit,
  .header__logo-zero {
    height: 46px;
  }

  /* intro styles */
  .intro .container {
    padding: 15px 0 22px;
  }

  .intro h1 {
    font-size: 19px;  
    letter-spacing: -1px;
    line-height: 28px;
  }

  /* startup styles */
  .startup .container {
    background: url(../img/startap-bg.png) top center / 100% 100% no-repeat;
    padding: 30px 10px 10px;
  }

  .startup__border {
    border: 1px solid #f3abd1;
    padding: 10px 25px;
  }

  .startup h2 {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.4px;
    margin-bottom: 21px;
  }

  .startup h3 {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    margin-bottom: 21px;
  }

  .startup h3 span {
    font-size: 22px;
    letter-spacing: -.5px;
  }

  .startup p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-bottom: 12px;
  }

  .startup a {
    border: 1px solid rgba(243, 171, 209, .28);
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 30px;
  }

  /* footer styles */
  .footer .container {
    border-bottom: 12px solid #242d2e;
    padding: 15px 0;
  }

  .footer__images-wrap {
    height: 45px;
    max-width: calc(100% / 4 - 15px);
  }
}