/* Fonts */
@font-face {
  font-family: 'Assistant-Regular';
  src: url('../fonts/Assistant-Regular.eot');
  src: url('../fonts/Assistant-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Assistant-Regular.woff') format('woff'),
  url('../fonts/Assistant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Assistant-Bold';
  src: url('../fonts/Assistant-Bold.eot');
  src: url('../fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Assistant-Bold.woff') format('woff'),
  url('../fonts/Assistant-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Assistant-Regular';
  font-weight: 400;
}

/* container styles */
.container {
  margin: 0 auto;
  max-width: 100rem;
}

.header {
  height: 14.4rem;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo-exit,
.header__logo-zero {
  height: 9.2rem;
}

.header__logo-exit img,
.header__logo-zero img {
  height: 100%;
}

/* intro styles */
.intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0 4.4rem;
}

.intro h1 {
  color: #420350;
  font-size: 3.8rem;  
  letter-spacing: -.2rem;
  line-height: 5.6rem;
  text-align: center;
  text-transform: uppercase;
}

.intro h1 span {
  font-family: 'Assistant-Bold';
}

/* startup styles */
.startup {
  background: url(../img/startap-bg.png) top center / 100% 100% no-repeat;
}

.startup .container {  
  padding: 6rem 2rem 2rem;
}

.startup__border {
  border: 0.2rem solid #f3abd1;
  padding: 2rem 5rem;
  text-align: center;
}

.startup h2 {
  color: #b8568a;
  font-family: 'Assistant-Bold';
  font-size: 3.6rem;
  line-height: 4.6rem;
  letter-spacing: -0.08rem;
  margin-bottom: 4.2rem;
}

.startup h3 {
  color: #eaecf4;
  font-size: 3.4rem;
  line-height: 4.4rem;
  letter-spacing: -0.08rem;
  margin-bottom: 4.2rem;
}

.startup h3 span {
  color: #f3abd1;
  font-family: 'Assistant-Bold';
  font-size: 4.4rem;
  letter-spacing: -0.1rem;
}

.startup p {
  color: #eaecf4;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -0.06rem;
  margin-bottom: 2.4rem;
}

.startup a {
  border: 0.2rem solid rgba(243, 171, 209, .28);
  border-radius: 2rem;
  color: #eaecf4;
  display: inline-block;
  font-size: 3rem;
  padding: 2rem 6rem;
  text-decoration: none;
}

.startup a span {
  font-family: 'Assistant-Bold';
}

/* footer styles */
.footer {
  border-bottom: 2.3rem solid #242d2e;
}

.footer .container {  
  padding: 3rem 0;
}

.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9rem;
  max-width: calc(100% / 4 - 3rem);
}

.footer__images-wrap img {
  max-height: 100%;
  max-width: 100%;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* header styles */
  .header {
    padding: 0 1rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}