:root {
  --color-chic: #FB7B55;
  --color-bold: #E02750;
  --color-fresh: #BDD63A;
  --color-casual: #E4C65D;
  --color-cozy: #7DA1B4;
  --color-grey: #EEEEEE;
  --color-blue: #003751;
  --color-white: #FFFFFF;
  --color-red: #E02651;
}
/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  /* intro styles */
  .intro__info h2 {
    margin-bottom: 18px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {  
  /* intro styles */
  .intro__info h2 {
    margin-bottom: 16px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {  
  /* intro styles */
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    width: 140px;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 140px;
  }
  .intro__info h2 {
    margin-bottom: 11.2px;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {  
  /* intro styles */
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    width: 108px;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 108px;
  }
  .intro__info h2 {
    margin-bottom: 9.6px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /* container styles */
  .container {
    padding: 0 5px;
  }
  
  /* intro styles */
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    width: 90px;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 90px;
  }
  .intro__info h2 {
    margin-bottom: 8px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* global styles */
  h2 {
    font-size: 36px;
    line-height: 43px;
  }
  h3 {
    font-size: 32px;
    line-height: 36px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
  }
  h6 {
    font-size: 14px;
    line-height: 20px;
  }
  p {
    font-size: 18px;
    line-height: 25px;
  }
  .btn {
    font-size: 10px;
    line-height: 12px;
  }
  .load-more {
    margin-bottom: 39px;
  }
  .load-more button {
    font-size: 16px;
    line-height: 19px;
    padding: 14px 20px;
  }

  /* header styles */
  .header,
  .header.fixed {
    padding: 11px 20px;
  }
  .header__search { 
    transform: translateX(calc(-100% + 58px));
  }
  .header__search-search {
    padding: 0 20px;
    width: 61px;
  }
  .header__search-search svg {
    height: 21px;
    width: 21px;
  }
  .header__search input {
    font-size: 20px;
    padding: 0 70px 0 61px;
  }
  .header__search-close {
    background: url(../img/search-open.svg) center / 18px 18px no-repeat;
    width: 61px;
  }
  .header__search-close.open {
    background: url(../img/search-close.svg) center / 18px 18px no-repeat;
  }

  /* intro styles */
  .intro__bg {
    margin-top: 50px;
  }
  .intro.home .intro__info,
  .intro.contact-page .intro__info {
    padding-top: 24.5px;
  }
  .intro__info h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    margin: 0 auto 23px;
    width: 90px;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 90px;
  }
  .intro__info h2 {
    font-size: 60px;
    line-height: 71px;
    margin-bottom: 8px;
  }
  .intro__info h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .intro.home .intro__info h2,
  .intro.contact-page .intro__info h2 {
    font-size: 35px;
    line-height: 41.5px;
  }

  /* moods styles */
  .moods a {
    font-size: 32px;
    line-height: 36px;
    height: 62px;
  }

  /* brands top styles */
  .brands-top {
    margin: 19px 0;
  }

  /* x-vectors styles */
  .x-vectors__group {
    width: 170px;
  }
  .x-vectors img {
    height: 23px;
  }
  .x-vectors h3 {
    font-size: 24px;
    line-height: 29px;
  }

  /* video styles */
  .video {
    background: url(../img/Vector-1-mobile.png) top -20px center / 100% auto no-repeat;
    padding: 50px 0 65px;
  }

  /* recommended styles */
  .recommended {
    padding: 25px 0 60px;
  }
  .recommended .container {
    padding: 0 20px;
  }
  .recommended h2 {
    margin-bottom: 12px;
  }
  .recommended h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
  }

  /* card styles */
  .card {
    margin-bottom: 22px;
    padding: 0 6px;
  }  
  .card__title {
    font-size: 14px;
    line-height: 20px;
  }
  .card__date {
    margin-bottom: 12px;
  }
  .card__date svg {
    margin-left: 8px;
    height: 14px;
    width: 14px;
  }
  .card__location svg {
    margin-left: 8px;
    height: 14px;
    width: 12px;
  }
  .card__link {
    height: 35px;
  }

  /* tabs styles */
  .tabs {
    margin-bottom: 30px;
    padding: 17px 0;
  }
  .tabs .container {
    padding: 0 20px;
  }

  /* tab styles */
  .tab__title {
    padding: 12px;
  }
  .tab__title.open {
    margin-bottom: 36px;
  }
  .tab__arrow img {
    height: 15px;
    width: 23.5px;
  }
  .tab__cards {
    margin-bottom: 14px;
  }

  /* brands bot styles */
  .brands-bot {
    height: 70px;
  }

  /* event styles */
  .event {
    padding: 36px 20px 0;
  }
  .event__category {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }
  .event__title {
    margin-bottom: 20px;
  }
  .event__info {
    margin: 0 auto 8px;
  }
  .event__date,
  .event__location {
    margin-bottom: 20px;
  }
  .event__date h6,
  .event__location h6 {
    font-size: 20px;
    line-height: 28px;
  }
  .event__date svg {
    margin-left: 16px;
    height: 20px;
    width: 20px;
  }
  .event__location svg {
    margin-left: 16px;
    height: 20px;
    width: 17px;
  }
  .event__description {
    margin-bottom: 26px;
  }
  .event__actions {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 28px;
  }
  .event__iframe {
    margin: 0 auto 50px;
    width: 400px;
  }
  .event__social {
    margin-bottom: 45px;
  }
  .event__social a {
    margin: 0 12.5px 30px;
    padding: 15px;
    height: 70px;
    width: 70px;
  }

  /* category styles */
  .category {
    padding-top: 24px;
  }
  .category__description {
    margin-bottom: 45px;
  }
  .category__title {
    margin-bottom: 34px;
  }
  .category__tabs {
    margin-bottom: 24px;
    padding: 0 7.5px;
  }
  .category__tabs .card {
    margin-bottom: 24px;
    padding: 0 7.5px;
  }
  .category__more {
    margin-bottom: 47px;
  }
  .category__more button {
    font-size: 18px;
    line-height: 19px;
    padding: 14px 21px;
  }

  /* contact styles */
  .contact {
    padding-top: 32px;
  }
  .contact .container {
    padding: 0 20px;
  }
  .contact__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 19px;
  }
  .contact__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .contact__group {
    margin-bottom: 15px;
  }
  .contact__group label {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }
  .contact__group input,
  .contact__group textarea {
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
  }
  .contact__group textarea {
    height: 175px;
  }
  .contact__row input[type=submit] {
    font-size: 18px;
    line-height: 25px;
    padding: 15px 0;
  }

  /* search styles */
  .search {
    padding: 30px 0 0;
  }
  .search .container {
    padding: 0 20px;
  }
  .search__not-found svg {
    margin-bottom: 45px;
    height: 85px;
    width: 85px;
  }
  .search__not-found h3 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
  }
  .search__found {
    padding: 35px 0 0;
  }
  .search__found h3 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 36px;
  }
  .search__tabs .card {
    margin-bottom: 24px;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* video styles */
  .video .container {
    height: 250px;
  }
}

@media (max-width: 374px) {
  h2 {
    font-size: 28.8px;
    line-height: 34.4px;
  }
  h3 {
    font-size: 25.6px;
    line-height: 28.8px;
  }
  h4 {
    font-size: 16px;
    line-height: 19.2px;
  }
  h5 {
    font-size: 11.2px;
    line-height: 16px;
  }
  h6 {
    font-size: 11.2px;
    line-height: 16px;
  }
  p {
    font-size: 14.4px;
    line-height: 20px;
  }
  .btn {
    font-size: 8px;
    line-height: 9.6px;
  }
  .load-more {
    margin-bottom: 31.2px;
  }
  .load-more button {
    font-size: 12.8px;
    line-height: 15.2px;
    padding: 11.2px 16px;
  }

  /* header styles */
  .header,
  .header.fixed {
    padding: 8.8px 16px;
  }
  .header__search { 
    transform: translateX(calc(-100% + 46.4px));
  }
  .header__search-search {
    padding: 0 16px;
    width: 48.8px;
  }
  .header__search-search svg {
    height: 16.8px;
    width: 16.8px;
  }
  .header__search input {
    font-size: 16px;
    padding: 0 56px 0 48.8px;
  }
  .header__search-close {
    background: url(../img/search-open.svg) center / 14.4px 14.4px no-repeat;
    width: 48.8px;
  }
  .header__search-close.open {
    background: url(../img/search-close.svg) center / 14.4px 14.4px no-repeat;
  }

  /* intro styles */
  .intro__bg {
    margin-top: 40px;
  }
  .intro.home .intro__info,
  .intro.contact-page .intro__info {
    padding-top: 19.6px;
  }
  .intro__info h4 {
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 19.2px;
  }
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    margin: 0 auto 18.4px;
    width: 72px;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 72px;
  }
  .intro__info h2 {
    font-size: 48px;
    line-height: 116.8px;
    margin-bottom: 6.4px;
  }
  .intro__info h3 {
    font-size: 19.2px;
    line-height: 23.2px;
  }
  .intro.home .intro__info h2,
  .intro.contact-page .intro__info h2 {
    font-size: 28px;
    line-height: 33.2px;
  }

  /* moods styles */
  .moods a {
    font-size: 25.6px;
    line-height: 28.8px;
    height: 49.6px;
  }

  /* brands top styles */
  .brands-top {
    margin: 15.2px 0;
  }

  /* x-vectors styles */
  .x-vectors__group {
    width: 136px;
  }
  .x-vectors img {
    height: 18.4px;
  }
  .x-vectors h3 {
    font-size: 19.2px;
    line-height: 23.2px;
  }

  /* video styles */
  .video {
    background: url(../img/Vector-1-mobile.png) top -16px center / 100% auto no-repeat;
    padding: 40px 0 52px;
  }

  /* recommended styles */
  .recommended {
    padding: 20px 0 48px;
  }
  .recommended .container {
    padding: 0 16px;
  }
  .recommended h2 {
    margin-bottom: 9.6px;
  }
  .recommended h4 {
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 28px;
  }

  /* card styles */
  .card {
    margin-bottom: 17.6px;
    padding: 0 4.8px;
  }  
  .card__title {
    font-size: 11.2px;
    line-height: 16px;
  }
  .card__date {
    margin-bottom: 9.6px;
  }
  .card__date svg {
    margin-left: 6.4px;
    height: 11.2px;
    width: 11.2px;
  }
  .card__location svg {
    margin-left: 6.4px;
    height: 11.2px;
    width: 9.6px;
  }
  .card__link {
    height: 28px;
  }

  /* tabs styles */
  .tabs {
    margin-bottom: 24px;
    padding: 13.6px 0;
  }
  .tabs .container {
    padding: 0 16px;
  }

  /* tab styles */
  .tab__title {
    padding: 9.6px;
  }
  .tab__title.open {
    margin-bottom: 28.8px;
  }
  .tab__arrow img {
    height: 12px;
    width: 18.8px;
  }
  .tab__cards {
    margin-bottom: 11.2px;
  }

  /* brands bot styles */
  .brands-bot {
    height: 56px;
  }

  /* event styles */
  .event {
    padding: 28.8px 16px 0;
  }
  .event__category {
    font-size: 19.2px;
    line-height: 23.2px;
    margin-bottom: 12px;
  }
  .event__title {
    margin-bottom: 16px;
  }
  .event__info {
    margin: 0 auto 6.4px;
  }
  .event__date,
  .event__location {
    margin-bottom: 16px;
  }
  .event__date h6,
  .event__location h6 {
    font-size: 16px;
    line-height: 22.4px;
  }
  .event__date svg {
    margin-left: 12.8px;
    height: 16px;
    width: 16px;
  }
  .event__location svg {
    margin-left: 12.8px;
    height: 16px;
    width: 13.6px;
  }
  .event__description {
    margin-bottom: 20.8px;
  }
  .event__actions {
    font-size: 25.6px;
    line-height: 28.8px;
    margin-bottom: 22.4px;
  }
  .event__iframe {
    margin: 0 auto 40px;
    width: 320px;
  }
  .event__social {
    margin-bottom: 36px;
  }
  .event__social a {
    margin: 0 10px 24px;
    padding: 12px;
    height: 56px;
    width: 56px;
  }

  /* category styles */
  .category {
    padding-top: 19.2px;
  }
  .category__description {
    margin-bottom: 36px;
  }
  .category__title {
    margin-bottom: 27.2px;
  }
  .category__tabs {
    margin-bottom: 19.2px;
    padding: 0 6px;
  }
  .category__tabs .card {
    margin-bottom: 19.2px;
    padding: 0 6px;
  }
  .category__more {
    margin-bottom: 37.6px;
  }
  .category__more button {
    font-size: 14.4px;
    line-height: 15.2px;
    padding: 11.2px 16.8px;
  }

  /* contact styles */
  .contact {
    padding-top: 25.6px;
  }
  .contact .container {
    padding: 0 16px;
  }
  .contact__title {
    font-size: 28.8px;
    line-height: 34.4px;
    margin-bottom: 15.2px;
  }
  .contact__subtitle {
    font-size: 14.4px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .contact__group {
    margin-bottom: 12px;
  }
  .contact__group label {
    font-size: 14.4px;
    line-height: 20px;
    margin-bottom: 9.6px;
  }
  .contact__group input,
  .contact__group textarea {
    font-size: 11.2px;
    line-height: 16px;
    padding: 12px;
  }
  .contact__group textarea {
    height: 140px;
  }
  .contact__row input[type=submit] {
    font-size: 14.4px;
    line-height: 20px;
    padding: 12px 0;
  }

  /* search styles */
  .search {
    padding: 24px 0 0;
  }
  .search .container {
    padding: 0 16px;
  }
  .search__not-found svg {
    margin-bottom: 36px;
    height: 68px;
    width: 68px;
  }
  .search__not-found h3 {
    font-size: 19.2px;
    line-height: 23.2px;
    margin-bottom: 40px;
  }
  .search__found {
    padding: 28px 0 0;
  }
  .search__found h3 {
    font-size: 28.8px;
    line-height: 34.4px;
    margin-bottom: 28.8px;
  }
  .search__tabs .card {
    margin-bottom: 19.2px;
  }
}
