/* Fonts */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Light.woff') format('woff'),
  url('../fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Regular.woff') format('woff'),
  url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Medium.woff') format('woff'),
  url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Bold.woff') format('woff'),
  url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-chic: #FB7B55;
  --color-bold: #E02750;
  --color-fresh: #BDD63A;
  --color-casual: #E4C65D;
  --color-cozy: #7DA1B4;
  --color-grey: #EEEEEE;
  --color-blue: #003751;
  --color-white: #FFFFFF;
  --color-red: #E02651;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font-size: 10px;
  height: 100%;
}
body {
  color: var(--color-blue);
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Rubik';
  font-weight: 400;
  line-height: 1;
  min-height: 100%;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}
a:focus,
button:focus,
input:focus,
video:focus {
  outline: none;
}

/* global styles */
h2 {
  font-size: 6rem;
  line-height: 7.1rem;
}
h3 {
  font-size: 4.2rem;
  line-height: 5rem;
}
h4 {
  font-size: 3.6rem;
  line-height: 4.3rem;
}
h5 {
  font-size: 2rem;
  line-height: 2.8rem;
}
h6 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
p {
  font-size: 3.2rem;
  line-height: 4.5rem;
}
.btn {
  color: var(--color-white);
  display: block;
  font-size: 2rem;
  line-height: 2.44rem;
  text-decoration: none;
}
.bg-color-chic {
  background-color: var(--color-chic);
}
.bg-color-cozy {
  background-color: var(--color-cozy);
}
.bg-color-casual {
  background-color: var(--color-casual);
}
.bg-color-bold {
  background-color: var(--color-bold);
}
.bg-color-fresh {
  background-color: var(--color-fresh);
}
.color-chic {
  color: var(--color-chic);
}
.color-cozy {
  color: var(--color-cozy);
}
.color-casual {
  color: var(--color-casual);
}
.color-bold {
  color: var(--color-bold);
}
.color-fresh {
  color: var(--color-fresh);
}
.color-white {
  color: var(--color-white);
}
.load-more {
  text-align: center;
  width: 100%;
}
.load-more button {
  background-color: transparent;
  border: 1px solid #767676;
  border-radius: 8px;
  color: #767676;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 4.8rem;
  padding: 1.3rem 3.4rem;
}
.load-more button:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* container styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  width: 152rem;
  max-width: 100%;
}

/* header styles */
.header {
  background: -o-linear-gradient(top,
   rgba(0, 0, 0, .5) 0%,
   rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear,
   left top, left bottom,
   from(rgba(0, 0, 0, .5)),
   to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg,
   rgba(0, 0, 0, .5) 0%,
   rgba(0, 0, 0, 0) 100%);
  padding: 4rem 0 8.3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 100%;
  z-index: 888;
}
.header.fixed {
  background: var(--color-blue);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.32);
  padding: 2rem 0;
}
.header.fixed,
.header.open {
  z-index: 899;
}
.header .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__toggler {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 29px;
  width: 29px;
  z-index: 990;
}
.header__toggler.open {
  z-index: 999;
}
.header__toggler.open div:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}
.header__toggler.open div:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header__toggler.open div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header__toggler div {
  background-color: var(--color-white);
  border-radius: 5px;
  -webkit-transform-origin: 1px 1px;
  -ms-transform-origin: 1px 1px;
  transform-origin: 1px 1px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  width: 100%;
  height: 2px;
}
.header__logo-mobile {
  display: none;
}
.header__logo-mobile a {
  display: block;
}
.header__logo-mobile img {
  width: 7.4rem;
}
.header__menu {
  background: rgba(13, 13, 13, 0.94);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 998;
}
.header__menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-logo {
  margin-bottom: 4rem;
  width: 22rem;
}
.header__menu-logo a {
  display: block;
  width: 22rem;
}
.header__menu-logo img {
  width: 22rem;
}
.header__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
}
.header__menu-nav a {
  font-size: 5.5rem;
  line-height: 6.5rem;
  text-decoration: none;
  text-shadow: 0px 2px 40px rgba(0, 0, 0, 0.25);
}
.header__menu-nav a:not(:last-child) {
  margin-bottom: 1rem;
}
.header__search { 
  position: relative; 
  height: 4.3rem;
  width: 29.5rem;
}
.header__search-search {
  background-color: transparent;
  border: none;
  border-radius: 6.5rem 0 0 6.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4.3rem;
  z-index: 2;
}
.header__search-search svg {
  height: 2.5rem;
  width: 2.5rem;
}
.header__search-search svg path {
  fill: var(--color-white);
}
.header__search input {
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6.5rem;
  color: var(--color-white);
  font-size: 1.8rem;
  padding: 0 1.8rem;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.header__search input::-webkit-input-placeholder {
  color: var(--color-white);
}
.header__search input::-moz-placeholder {
  color: var(--color-white);
}
.header__search input:-ms-input-placeholder {
  color: var(--color-white);
}
.header__search input::-ms-input-placeholder {
  color: var(--color-white);
}
.header__search input::placeholder {
  color: var(--color-white);
}
.header__search-close {
  display: none;
}

/* wrapper styles */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* intro styles */
.intro__top {
  margin-bottom: 3px;
  position: relative;
}
.intro__bg {
  position: relative;
  width: 100%;
}
.intro__bg img {
  width: 100%;
}
.intro.home .intro__bg:before,
.intro.contact-page .intro__bg:before {
  content: "";
  background: -o-linear-gradient(
    left,
    var(--color-chic) 0%,
    var(--color-chic) 20%,
    var(--color-cozy) 20%,
    var(--color-cozy) 40%,
    var(--color-casual) 40%,
    var(--color-casual) 60%,
    var(--color-bold) 60%,
    var(--color-bold) 80%,
    var(--color-fresh) 80%,
    var(--color-fresh) 100%
    );
  background: -webkit-gradient(
    linear,
    left top, right top,
    from(var(--color-chic)),
    color-stop(20%, var(--color-chic)),
    color-stop(20%, var(--color-cozy)),
    color-stop(40%, var(--color-cozy)),
    color-stop(40%, var(--color-casual)),
    color-stop(60%, var(--color-casual)),
    color-stop(60%, var(--color-bold)),
    color-stop(80%, var(--color-bold)),
    color-stop(80%, var(--color-fresh)),
    to(var(--color-fresh))
    );
  background: linear-gradient(
    90deg,
    var(--color-chic) 0%,
    var(--color-chic) 20%,
    var(--color-cozy) 20%,
    var(--color-cozy) 40%,
    var(--color-casual) 40%,
    var(--color-casual) 60%,
    var(--color-bold) 60%,
    var(--color-bold) 80%,
    var(--color-fresh) 80%,
    var(--color-fresh) 100%
    );
  mix-blend-mode: multiply;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.intro__info {
  color: var(--color-white);
  padding-top: 4rem;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 890;
}
.intro.home .intro__info,
.intro.contact-page .intro__info {
  padding-top: 9.9rem;
}
.intro__info h4 {
  font-weight: 500;
  margin-bottom: 3.6rem;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.intro__info a {
  display: block;
  margin: 0 auto 8rem;
  width: 9.3rem;
}
.intro__info img {
  width: 9.3rem;
}
.intro.home .intro__info a,
.intro.contact-page .intro__info a {
  margin-bottom: .8rem;
  width: 28.5rem;
}
.intro.home .intro__info img,
.intro.contact-page .intro__info img {
  width: 28.5rem;
}
.intro__info h2 {
  font-size: 7rem;
  font-weight: 500;
  line-height: 8.3rem;
  margin-bottom: 6.6rem;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.intro__info h3 {
  font-weight: 500;
  text-transform: uppercase;
}
/*------------------------------------------------*/
.intro.bold .intro__info h2 {
  font-size: 12rem;
  line-height: 14.3rem;
  margin-bottom: .9rem;
  text-transform: uppercase;
}
.intro.bold .intro__info h3 {
  font-size: 4rem;
  line-height: 4.8rem;
}

/* moods styles */
.moods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 8rem;
}
.moods a {
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 4.2rem;
  line-height: 5rem;
  text-decoration: none;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.36);
  text-transform: uppercase;
  height: 100%;
  width: 20%;
}
.moods a:hover {
  background-color: var(--color-white);
}
.moods a.bg-color-chic:hover {
  color: var(--color-chic);
}
.moods a.bg-color-cozy:hover {
  color: var(--color-cozy);
}
.moods a.bg-color-casual:hover {
  color: var(--color-casual);
}
.moods a.bg-color-bold:hover {
  color: var(--color-bold);
}
.moods a.bg-color-fresh:hover {
  color: var(--color-fresh);
}

/* brands top styles */
.brands-top {
  height: 20rem;
}
.brands-top .swiper-container {
  height: 100%;
}
.brands-top .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 4.5rem;
}
.brands-top .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}

/* x-vectors styles */
.x-vectors {
  text-align: center;
  width: 100%;
}
.x-vectors__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem auto 4rem;
  width: 24rem;
}
.x-vectors img {
  height: 3.3rem;
}
.x-vectors h3 {
  font-weight: 500;
  margin-bottom: 3.9rem;
  text-transform: uppercase;
}

/* home carousel styles */
.home-carousel {
  position: relative;
  max-height: 55.7rem;
}
.home-carousel:before {
  content: "";
  background: -o-linear-gradient(left,
   #FFFFFF 0%,
   rgba(255, 255, 255, 0) 100%
   );
  background: -webkit-gradient(linear,
   left top, right top,
   from(#FFFFFF),
   to(rgba(255, 255, 255, 0))
   );
  background: linear-gradient(90deg,
   #FFFFFF 0%,
   rgba(255, 255, 255, 0) 100%
   );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  z-index: 2;
}
.home-carousel:after {
  content: "";
  background: -o-linear-gradient(right,
   #FFFFFF 0%,
   rgba(255, 255, 255, 0) 100%
   );
  background: -webkit-gradient(linear,
   right top, left top,
   from(#FFFFFF),
   to(rgba(255, 255, 255, 0))
   );
  background: linear-gradient(270deg,
   #FFFFFF 0%,
   rgba(255, 255, 255, 0) 100%
   );
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  z-index: 2;
}
.home-carousel .swiper-container {
  height: 100%;
}
.home-carousel .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1.7rem;
}
.home-carousel .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}

/* video styles */
.video {
  background: url(../img/Vector-1.png) top 11rem right no-repeat;
  padding: 11.5rem 0 9.5rem;
}
.video .container {
  height: 76rem;
}
.video iframe {
  height: 100%;
  width: 100%;
}

/* recommended styles */
.recommended {
  background: url(../img/recomended-bg.png) center / cover no-repeat;
  padding: 10.6rem 0 20rem;
  position: relative;
}
.recommended:before {
  content: "";
  background-color: #003047;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.recommended .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5rem;
}
.recommended h2 {
  color: var(--color-white);
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.3rem;
  margin-bottom: 1.3rem;
}
.recommended h4 {
  color: #E4C65D;
  font-weight: 300;
  margin-bottom: 10rem;
}
.recommended__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;  
}

/* card styles */
.card {
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 1.5rem;
  width: 25%;
  max-width: 100%;
}
.card__img {
  border-radius: 8px;
  margin-bottom: 1.2rem;
  overflow: hidden;
  width: 100%;
}
.card__img img {
  width: 100%;
}
.card__data {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.card__title {
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.card__date,
.card__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__date {
  margin-bottom: 1rem;
}
.card__date svg {
  margin-left: 1.2rem;
  height: 1.6rem;
  width: 1.6rem;
}
.card__location {
  margin-bottom: 1.6rem;
}
.card__location svg {
  margin-left: 1.2rem;
  height: 1.6rem;
  width: 1.35rem;
}
.card__link {
  background-color: var(--color-red);
  border-radius: 8px;
  height: 5rem;
}
.card__link:hover {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
}
.card__link a {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* tabs styles */
.tabs {
  background: url(../img/Vector-2.png) top -25rem left no-repeat,
  url(../img/Vector-3.png) bottom 15rem right no-repeat;
  padding: 9.5rem 0;
}
.tabs .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* tab styles */
.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.tab:not(:last-child) {
  margin-bottom: 10.5rem;
}
.tab__title {
  margin-bottom: 4.2rem;
}
.tab__title h2 {
  font-weight: 700;
}
.tab__arrow {
  display: none;
}
.tab__collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tab__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 3.6rem;
}
.tab.chic .tab__title {
  color: var(--color-chic);
}
.tab.bold .tab__title {
  color: var(--color-bold);
}
.tab.fresh .tab__title {
  color: var(--color-fresh);
}
.tab.casual .tab__title {
  color: var(--color-casual);
}
.tab.cozy .tab__title {
  color: var(--color-cozy);
}
.tab.chic .card__link {
  background-color: var(--color-chic);
}
.tab.bold .card__link {
  background-color: var(--color-bold);
}
.tab.fresh .card__link {
  background-color: var(--color-fresh);
}
.tab.casual .card__link {
  background-color: var(--color-casual);
}
.tab.cozy .card__link {
  background-color: var(--color-cozy);
}
.tab.chic .card__date svg path,
.tab.chic .card__location svg path {
  fill: var(--color-chic);
}
.tab.bold .card__date svg path,
.tab.bold .card__location svg path {
  fill: var(--color-bold);
}
.tab.fresh .card__date svg path,
.tab.fresh .card__location svg path {
  fill: var(--color-fresh);
}
.tab.casual .card__date svg path,
.tab.casual .card__location svg path {
  fill: var(--color-casual);
}
.tab.cozy .card__date svg path,
.tab.cozy .card__location svg path {
  fill: var(--color-cozy);
}
.tab .card__title {
  color: #003047;
}
.tab .card__date,
.tab .card__location {
  color: #1D1D1D;
}
.tab__x {
  position: absolute;
  top: .3rem;
  height: 3.25rem;
  width: 3.4rem;
}
.tab.chic .tab__x,
.tab.fresh .tab__x,
.tab.cozy .tab__x {
  left: -4.5rem;
}
.tab.bold .tab__x,
.tab.casual .tab__x {
  right: -4.5rem;
}
.tab__x img {
  height: 3.25rem;
  width: 3.4rem;
}

/* arrow vectors styles */
.arrow-vectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 2rem;
  width: 23.5rem;
}
.arrow-vectors img {
  height: 2.5rem;
  width: 3.9rem;
}

/* brands bot styles */
.brands-bot {
  height: 20rem;
}
.brands-bot .swiper-container {
  height: 100%;
}
.brands-bot .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10rem;
}
.brands-bot .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}

/* footer styles */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.footer>div {
  height: 1rem;
  width: 20%;
}

/* event styles */
.event {
  padding-top: 4.5rem;
  text-align: center;
}
.event .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.event__category {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin-bottom: .6rem;
  text-transform: uppercase;
}
.event__title {
  color: var(--color-blue);
  font-weight: 700;
  margin-bottom: 4.7rem;
}
.event__info {
  margin: 0 auto 4.7rem;
  width: 70rem;
  max-width: 100%;
}
.event__info,
.event__date,
.event__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.event__date,
.event__location {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1rem;
  width: 50%;
}
.event__date h6,
.event__location h6 {
  font-size: 2.8rem;
  line-height: 3.9rem;
}
.event__date svg {
  margin-left: 1.6rem;
  height: 3.9rem;
  width: 3.9rem;
}
.event__location svg {
  margin-left: 1.6rem;
  height: 3.9rem;
  width: 3.3rem;
}
.event__description {
  margin-bottom: 9rem;
}
.event__actions {
  color: var(--color-blue);
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.88rem;
  margin-bottom: 6rem;
}
.event__iframe {
  background: rgba(196, 196, 196, .2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 3.4rem;
  height: 62rem;
  width: 80rem;
}
.event__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 11rem;
}
.event__social a {
  background-color: #f4f4f4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 3.3rem;
  padding: 3rem;
  height: 11rem;
  width: 11rem;
}
.event__social a img {
  height: 100%;
}

/* category styles */
.category {
  margin-bottom: 4.8rem;
  padding-top: 9rem;
}
.category .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.category__description {
  color: #363636;
  margin-bottom: 7.2rem;
  text-align: center;
}
.category__title {
  font-weight: 700;
  margin-bottom: 9rem;
  text-align: center;
}
.category__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 3.5rem;
}
.category__tabs .card {
  margin-bottom: 5.7rem;
  padding: 0 1.5rem;
}
.category__tabs .card__title {
  color: #003047;
}
.category__tabs .card__date,
.category__tabs .card__location {
  color: #1D1D1D;
}
/*-----------------------------------*/
.category.bold .category__title {
  color: var(--color-bold);
}
.category.bold .card__link {
  background-color: var(--color-bold);
}
.category.bold .card__date svg path,
.category.bold .card__location svg path {
  fill: var(--color-bold);
}
.category.fresh .category__title {
  color: var(--color-fresh);
}
.category.fresh .card__link {
  background-color: var(--color-fresh);
}
.category.fresh .card__date svg path,
.category.fresh .card__location svg path {
  fill: var(--color-fresh);
}
.category.casual .category__title {
  color: var(--color-casual);
}
.category.casual .card__link {
  background-color: var(--color-casual);
}
.category.casual .card__date svg path,
.category.casual .card__location svg path {
  fill: var(--color-casual);
}
.category.cozy .category__title {
  color: var(--color-cozy);
}
.category.cozy .card__link {
  background-color: var(--color-cozy);
}
.category.cozy .card__date svg path,
.category.cozy .card__location svg path {
  fill: var(--color-cozy);
}
.category.chic .category__title {
  color: var(--color-chic);
}
.category.chic .card__link {
  background-color: var(--color-chic);
}
.category.chic .card__date svg path,
.category.chic .card__location svg path {
  fill: var(--color-chic);
}

/* contact styles */
.contact {
  padding-top: 7.5rem;
  padding-bottom: 15rem;
}
.contact .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 110rem;
  max-width: 100%;
}
.contact__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.7rem;
  margin-bottom: 4.6rem;
  text-align: center;
}
.contact__subtitle {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 6.8rem;
  text-align: center;
}
.contact__form {
  padding: 0 5rem;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.contact__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 3.2rem;
  width: 50%;
}
.contact__group:first-child {
  padding-left: 5.8rem;
}
.contact__group.textarea {
  padding-left: 0;
  width: 100%;
}
.contact__group label {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 1.7rem;
}
.contact__group input,
.contact__group textarea {
  border: 2px solid var(--color-grey);
  border-radius: 10px;
  font-family: 'Rubik';
  font-size: 2rem;
  line-height: 2.8rem;
  padding: 1.6rem 1.9rem;
  width: 100%;
}
.contact__group input::-webkit-input-placeholder, .contact__group textarea::-webkit-input-placeholder {
  color: #5B5B5B;
}
.contact__group input::-moz-placeholder, .contact__group textarea::-moz-placeholder {
  color: #5B5B5B;
}
.contact__group input:-ms-input-placeholder, .contact__group textarea:-ms-input-placeholder {
  color: #5B5B5B;
}
.contact__group input::-ms-input-placeholder, .contact__group textarea::-ms-input-placeholder {
  color: #5B5B5B;
}
.contact__group input::placeholder,
.contact__group textarea::placeholder {
  color: #5B5B5B;
}
.contact__group textarea {
  resize: none;
  height: 19rem;
}
.contact__row input[type=submit] {
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 10px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-left: 0;
  margin-right: auto;
  padding: 1.55rem 5rem;
}
.contact__star {
  color: var(--color-red);
}

/* search styles */
.search {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10.9rem 0 3.4rem;
}
.search .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.search__not-found {
  text-align: center;
}
.search__not-found svg {
  margin-bottom: 8.4rem;
  height: 11.3rem;
  width: 11.3rem;
}
.search h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}
.search__found {
  padding: 8.9rem 0 0;
}
.search__found h3 {
  margin-bottom: 11.5rem;
  text-align: center;
}
.search__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.search__tabs .card {
  margin-bottom: 5.2rem;
}
.search__tabs .card__title {
  color: #003047;
}
.search__tabs .card__date,
.search__tabs .card__location {
  color: #1D1D1D;
}
/*-----------------------------------*/
.search .card.bold .card__link {
  background-color: var(--color-bold);
}
.search .card.bold .card__date svg path,
.search .card.bold .card__location svg path {
  fill: var(--color-bold);
}
.search .card.fresh .card__link {
  background-color: var(--color-fresh);
}
.search .card.fresh .card__date svg path,
.search .card.fresh .card__location svg path {
  fill: var(--color-fresh);
}
.search .card.casual .card__link {
  background-color: var(--color-casual);
}
.search .card.casual .card__date svg path,
.search .card.casual .card__location svg path {
  fill: var(--color-casual);
}
.search .card.cozy .card__link {
  background-color: var(--color-cozy);
}
.search .card.cozy .card__date svg path,
.search .card.cozy .card__location svg path {
  fill: var(--color-cozy);
}
.search .card.chic .card__link {
  background-color: var(--color-chic);
}
.search .card.chic .card__date svg path,
.search .card.chic .card__location svg path {
  fill: var(--color-chic);
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 9px;
  }
  /* intro styles */
  .intro__info h2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 8px;
  }  
  /* intro styles */
  .intro__info h2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 7px;
  }  
  /* intro styles */
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    width: 20rem;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 20rem;
  }
  .intro__info h2 {
    margin-bottom: 1.6rem;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }  
  /* intro styles */
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    width: 18rem;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 18rem;
  }
  .intro__info h2 {
    margin-bottom: 1.6rem;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 5px;
  }
  /* container styles */
  .container {
    padding: 0 1rem;
  }
  
  /* intro styles */
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    width: 18rem;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    width: 18rem;
  }
  .intro__info h2 {
    margin-bottom: 1.6rem;
  }

  /* tab styles */
  .tab.chic .tab__x,
  .tab.fresh .tab__x,
  .tab.cozy .tab__x,
  .tab.bold .tab__x,
  .tab.casual .tab__x {
    display: none;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }
  /* global styles */
  h2 {
    font-size: 7.2rem;
    line-height: 8.6rem;
  }
  h3 {
    font-size: 6.4rem;
    line-height: 7.2rem;
  }
  h4 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  h5 {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  h6 {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  p {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  .btn {
    color: var(--color-white);
    display: block;
    font-size: 2rem;
    line-height: 2.44rem;
    text-decoration: none;
  }
  .load-more {
    margin-bottom: 7.8rem;
  }
  .load-more button {
    font-size: 3.2rem;
    line-height: 3.8rem;
    padding: 2.8rem 4rem;
  }

  /* container styles */
  .container {
    width: 100%;
  }

  /* header styles */
  .header,
  .header.fixed {
    background: var(--color-white);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.32);
    padding: 2.2rem 4rem;
  }
  .header__toggler div {
    background-color: var(--color-blue);
  }
  .header__toggler.open div {
    background-color: var(--color-white);
  }
  .header__logo-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .header__search { 
    background: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    -webkit-transform: translateX(calc(-100% + 11.6rem));
    -ms-transform: translateX(calc(-100% + 11.6rem));
    transform: translateX(calc(-100% + 11.6rem));
    height: 100%;
    width: 100%;
    z-index: 990;
  }
  .header__search.show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .header__search-search {
    border-radius: 0;
    padding: 0 4rem;
    width: 12.2rem;
    z-index: 992;
  }
  .header__search-search svg {
    height: 4.2rem;
    width: 4.2rem;
  }
  .header__search-search svg path {
    fill: var(--color-blue);
  }
  .header__search input {
    background-color: var(--color-white);
    color: var(--color-blue);
    font-size: 4rem;
    padding: 0 14rem 0 12.2rem;
    z-index: 991;
  }
  .header__search input::-webkit-input-placeholder {
    color: var(--color-blue);
  }
  .header__search input::-moz-placeholder {
    color: var(--color-blue);
  }
  .header__search input:-ms-input-placeholder {
    color: var(--color-blue);
  }
  .header__search input::-ms-input-placeholder {
    color: var(--color-blue);
  }
  .header__search input::placeholder {
    color: var(--color-blue);
  }
  .header__search-close {
    background: url(../img/search-open.svg) center / 3.6rem 3.6rem no-repeat;
    border: none;
    display: block;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 12.2rem;
    z-index: 992;
  }
  .header__search-close.open {
    background: url(../img/search-close.svg) center / 3.6rem 3.6rem no-repeat;
  }

  /* intro styles */
  .intro__bg {
    margin-top: 10rem;
  }
  .intro__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    height: 100%;
    width: 100%;
  }
  .intro.home .intro__info,
  .intro.contact-page .intro__info {
    padding-top: 4.9rem;
    display: block;
    width: 100%;
  }
  .intro__info h4 {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 4.8rem;
  }
  .intro__info a {
    display: none;
  }
  .intro.home .intro__info a,
  .intro.contact-page .intro__info a {
    display: block;
    margin: 0 auto 4.6rem;
    width: 18rem;
  }
  .intro.home .intro__info img,
  .intro.contact-page .intro__info img {
    display: block;
    width: 18rem;
  }
  .intro__info h2 {
    font-size: 12rem;
    line-height: 14.2rem;
    margin-bottom: 1.6rem;
  }
  .intro__info h3 {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
  .intro.home .intro__info h2,
  .intro.contact-page .intro__info h2 {
    font-size: 7rem;
    line-height: 8.3rem;
    margin-bottom: 0rem;
  }
  .intro.home .intro__info h3 {
    display: none;
  }

  /* moods styles */
  .moods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    height: 100%;
  }
  .moods a {
    font-size: 6.4rem;
    line-height: 7.2rem;
    height: 12.4rem;
    width: 100%;
  }

  /* brands top styles */
  .brands-top {
    margin: 3.8rem 0;
  }

  /* x-vectors styles */
  .x-vectors__group {
    width: 34rem;
  }
  .x-vectors img {
    height: 4.6rem;
  }
  .x-vectors h3 {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }

  /* video styles */
  .video {
    background: url(../img/Vector-1-mobile.png) top -4rem center / 100% auto no-repeat;
    padding: 10rem 0 13rem;
  }

  /* recommended styles */
  .recommended {
    padding: 5rem 0 12rem;
  }
  .recommended .container {
    padding: 0 4rem;
  }
  .recommended h2 {
    margin-bottom: 2.4rem;
  }
  .recommended h4 {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 7rem;
  }

  /* card styles */
  .card {
    margin-bottom: 4.4rem;
    padding: 0 1.2rem;
    width: 50%;
  }  
  .card__img {
    border-radius: 4px;
  }
  .card__title {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  .card__date {
    margin-bottom: 2.4rem;
  }
  .card__date svg {
    margin-left: 1.6rem;
    height: 2.8rem;
    width: 2.8rem;
  }
  .card__location svg {
    margin-left: 1.6rem;
    height: 2.8rem;
    width: 2.4rem;
  }
  .card__link {
    border-radius: 4px;
    height: 7rem;
  }

  /* tabs styles */
  .tabs {
    background: none;
    margin-bottom: 6rem;
    padding: 3.4rem 0;
  }
  .tabs .container {
    padding: 0 4rem;
  }

  /* tab styles */
  .tab {
    border-bottom: 1px solid #EEEEEE;
  }
  .tab:not(:last-child) {
    margin-bottom: 0rem;
  }
  .tab__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 2.4rem;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    width: 100%;
  }
  .tab__title.open {
    margin-bottom: 7.2rem;
  }
  .tab__arrow {
    display: block;
  }
  .tab__arrow img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 3rem;
    width: 4.7rem;
  }
  .tab__title.open .tab__arrow img {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .tab__collapse {
    overflow: hidden;
  }
  .tab__collapse:not(.open) {
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    height: 0;
  }
  .tab__cards {
    margin-bottom: 2.8rem;
  }

  /* brands bot styles */
  .brands-bot {
    height: 14rem;
  }

  /* tab styles */
  .tab.chic .tab__x,
  .tab.fresh .tab__x,
  .tab.cozy .tab__x,
  .tab.bold .tab__x,
  .tab.casual .tab__x {
    display: none;
  }

  /* event styles */
  .event {
    padding: 7.2rem 4rem 0;
  }
  .event__category {
    font-size: 4.8rem;
    line-height: 5.8rem;
    margin-bottom: 3rem;
  }
  .event__title {
    margin-bottom: 4rem;
  }
  .event__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto 1.6rem;
    width: 100%;
  }
  .event__date,
  .event__location {
    margin-bottom: 4rem;
    padding: 0;
    width: 100%;
  }
  .event__date h6,
  .event__location h6 {
    font-size: 4rem;
    line-height: 5.6rem;
  }
  .event__date svg {
    margin-left: 3.2rem;
    height: 4rem;
    width: 4rem;
  }
  .event__location svg {
    margin-left: 3.2rem;
    height: 4rem;
    width: 3.4rem;
  }
  .event__description {
    margin-bottom: 5.2rem;
  }
  .event__actions {
    font-size: 6.4rem;
    line-height: 7.2rem;
    margin-bottom: 5.6rem;
  }
  .event__iframe {
    margin: 0 auto 10rem;
    width: 80rem;
    max-width: 100%;
  }
  .event__social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 9rem;
  }
  .event__social a {
    margin: 0 2.5rem 6rem;
    padding: 3rem;
    height: 14rem;
    width: 14rem;
  }

  /* category styles */
  .category {
    padding-top: 4.8rem;
  }
  .category__description {
    margin-bottom: 9rem;
  }
  .category__title {
    margin-bottom: 6.8rem;
  }
  .category__tabs {
    margin-bottom: 4.8rem;
    padding: 0 1.5rem;
  }
  .category__tabs .card {
    margin-bottom: 4.8rem;
    padding: 0 1.5rem;
  }
  .category__more {
    margin-bottom: 9.4rem;
  }
  .category__more button {
    font-size: 3.6rem;
    line-height: 3.8rem;
    padding: 2.8rem 4.2rem;
  }

  /* contact styles */
  .contact {
    padding-top: 6.4rem;
  }
  .contact .container {
    padding: 0 4rem;
    width: 100%;
  }
  .contact__title {
    font-size: 7.2rem;
    line-height: 8.6rem;
    margin-bottom: 3.8rem;
  }
  .contact__subtitle {
    font-size: 3.6rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
  .contact__form {
    padding: 0;
  }
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact__group {
    margin-bottom: 3rem;
    width: 100%;
  }
  .contact__group:first-child {
    padding-left: 0;
  }
  .contact__group label {
    font-size: 3.6rem;
    line-height: 5rem;
    margin-bottom: 2.4rem;
  }
  .contact__group input,
  .contact__group textarea {
    font-size: 2.8rem;
    line-height: 4rem;
    padding: 3rem;
  }
  .contact__group textarea {
    height: 35rem;
  }
  .contact__row input[type=submit] {
    font-size: 3.6rem;
    line-height: 5rem;
    padding: 3rem 0;
    width: 100%;
  }

  /* search styles */
  .search {
    padding: 6rem 0 0;
  }
  .search .container {
    padding: 0 4rem;
  }
  .search__not-found svg {
    margin-bottom: 9rem;
    height: 17rem;
    width: 17rem;
  }
  .search__not-found h3 {
    font-size: 4.8rem;
    line-height: 5.8rem;
    margin-bottom: 10rem;
  }
  .search__found {
    padding: 7rem 0 0;
  }
  .search__found h3 {
    font-size: 7.2rem;
    line-height: 8.6rem;
    margin-bottom: 7.2rem;
  }
  .search__tabs .card {
    margin-bottom: 4.8rem;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
  /* video styles */
  .video .container {
    height: 50rem;
  }
}
@media (max-width: 374px) {
  html {
    font-size: 4px;
  }
}
