/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap');
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: #202020;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}
a,
button,
input[type=submit] {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a:focus,
button:focus,
input[type=submit]:focus {
  outline: none;
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
}
/* global styles */
h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
h4 {
  font-size: 2.1rem;
  line-height: 3.1rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
h6 {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
a {
  color: #000F3E;
  font-size: 2.1rem;
  line-height: 3.1rem;
  text-decoration: none;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.btn {
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
}
button,
input,
label,
textarea {
  font-family: 'Assistant', sans-serif;
}
input,
textarea {
  font-size: 2.4rem;
  line-height: 3.1rem;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #94E0E0;
}
::-webkit-scrollbar-thumb:hover {
  background: #4ce0e0;
}

/* header styles */
.header {
  background-color: #fff;
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  z-index: 999;
}
.header-left {
  border-right: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  height: 100%;
}
.header-left__logo {
  height: 5rem;
}
.header-left__logo img {
  height: 100%;
}
.header-left__nav {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.header-left__nav a {
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  padding: 0 1.7rem;
  height: 100%;
}
.header-left__nav a:hover,
.header-left__nav a.active {
  border-bottom: 2px solid #94E0E0;
}
.header-right {
  flex-shrink: 0;
  position: relative;
  height: 100%;
  width: 34rem;
}
.header-right__dropdown {
  background-color: #fff;
  border-bottom: 1px solid #EAECF5;
  padding: 0 3rem 0 2rem;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 100%;
}
.header-right__dropdown-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  height: calc(10rem - 1px);
}
.header-right__dropdown:hover {
  box-shadow: 0px 10px 30px rgba(215, 219, 238, 0.5);
}
.header-right__dropdown-title > h4 {
  font-weight: 700;
}
.header-right__dropdown:hover .header-right__dropdown-title > h4 {
  color: #90e0e0;
}
.header-right__dropdown-title > svg {
  height: 1.4rem;
  width: 1.4rem;
}
.header-right__dropdown:hover .header-right__dropdown-title > svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header-right__dropdown-content {
  border-top: 1px solid #EAECF5;
  display: none;
  padding: 2rem 0 0;
  width: 100%;
}
.header-right__dropdown:hover .header-right__dropdown-content {
  display: block;
}
.header-right__dropdown-content h5 {
  margin-bottom: 2rem;
}
.header-right__dropdown-content button:first-of-type {
  background-color: #94E0E0;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  height: 5rem;
  width: 100%;
}
.header-right__dropdown-content hr {
  background-color: #e0e0f0;
  border: none;
  height: 1px;
  width: 100%;
}
.header-right__dropdown-content h6 {
  color: rgba(0, 15, 62, .3);
  font-weight: 700;
  margin: 1.5rem 0 0;
  font-weight: 700;
}
.header-right__dropdown-user {
  display: block;
  font-weight: 700;
  margin: 1.9rem 0 2.3rem;
}
.header-right__dropdown-user.active {
  color: #94E0E0;
}
/* admin sidebar styles */
.admin-sidebar {
  background-color: #f0f0f0;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 11rem 0 1rem;
  height: 100vh;
  width: 34rem;
}
.admin-sidebar__title {
  background: url(../img/admin-icon-more-sidebar.svg) left 4rem center / 1.5rem 1.5rem no-repeat;
  cursor: pointer;
  margin-bottom: 1.5rem;
  padding: 0 3rem 0 6rem;
}
.admin-sidebar__title.open {
  background: url(../img/admin-icon-less-sidebar.svg) left 4rem center / 1.5rem 1.5rem no-repeat;
}
.admin-sidebar__title h3 {
  font-weight: 700;
}
.admin-sidebar__title:hover h3,
.admin-sidebar__title.open h3 {
  color: #94E0E0;
}
.admin-sidebar__content {
  background-color: rgba(255, 255, 255, .5);
  display: none;
  margin-bottom: 5rem;
  padding: 1rem 3rem 2rem 2rem;
}
.admin-sidebar__title.open+.admin-sidebar__content {
  display: block;
}
.admin-sidebar__content-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.admin-sidebar__content-element:not(:last-child) {
  margin-bottom: 1.5rem;
}
.admin-sidebar__content-element h4 {
  flex-grow: 1;
}
.admin-sidebar__content-element button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 1.5rem;
  width: 2.5rem;
}
.admin-sidebar__content-element button img {
  height: 2.3rem;
}
/* add button styles */
.admin-add {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.admin-add img {
  margin-left: 1rem;
  height: 2.3rem;
  width: 2.3rem;
}
.admin-add h5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
}
/* move icon style */
.admin-move {
  cursor: move;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: .5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
}
.admin-move__right {
  right: -3rem;
}
.admin-move img {
  height: 2rem;
}
/* global styles for the aside popup */
.admin-editor {
  background-color: rgba(0, 0, 48, .3);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100%;
}
.admin-editor.open {
  display: block;
}
.admin-editor__container {
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 6rem,
    #fff 6rem,
    #fff 100%
    );
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5rem 9.5rem 3.5rem 3.5rem;
  position: relative;
  height: 100%;
  width: 70rem;
}
.admin-editor__close {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 64rem;
  height: 6rem;
  width: 6rem;
}
.admin-editor__close img {
  height: 100%;
  width: 100%;
}
.admin-editor__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.admin-editor__content {
  flex-grow: 1;
}
.admin-editor__title {
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.admin-editor__title-uppercase {
  text-transform: uppercase;
}
.admin-editor__group {
  margin-bottom: 2rem;
  position: relative;
}
.admin-editor__group button {
  display: flex;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2.1rem;
  width: 2.1rem;
}
.admin-editor__group button img {
  height: 100%;
  width: 100%;
}
.admin-editor__content input,
.admin-editor__content select {
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 2.4rem;
  line-height: 3.1rem;
  padding: 1.5rem 2rem 1.5rem 4rem;
  width: 100%;
}
.admin-editor__content select {
  margin-bottom: 2rem;
}
.admin-editor__group-add {
  margin-bottom: 5rem;
  position: relative;
}
.admin-editor__group-add button {
  display: flex;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2.1rem;
  width: 2.1rem;
}
.admin-editor__group-add input {
  padding: 1.5rem 4rem 1.5rem 2rem;
}
.admin-editor__group-add button img {
  height: 100%;
  width: 100%;
}
.admin-editor__group-add h6 {
  color: rgba(128, 135, 159, .5);
  position: absolute;
  bottom: -2.5rem;
  right: 0;
}
.admin-editor__group-limit {
  margin-bottom: 2rem;
}
.admin-editor__group-limit .admin-editor__textEditor {
  margin-bottom: 0;
}
.admin-editor__group-limit h6 {
  color: rgba(128, 135, 159, .5);
}
.admin-editor__tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.admin-editor__tabs .admin-editor__radio-box {
  flex-shrink: 1;
  text-transform: uppercase;
}
.admin-editor__tab {
  display: none;
}
.admin-editor__tab.open {
  display: block;
}
.admin-editor__radio {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}
.admin-editor__radio-box {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-left: 4rem;
  padding-right: 4.5rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
}
.admin-editor__radio-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.admin-editor__radio-el {
  border: 1px solid #CCCFE3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
}
.admin-editor__radio-box:hover input ~ .admin-editor__radio-el {
  background-color: #ccc;
}
.admin-editor__radio-box input:checked ~ .admin-editor__radio-el {
  background-color: #94E0E0;
  border: none;
}
.admin-editor__radio-el:after {
  content: "";
  display: none;
  position: absolute;
}
.admin-editor__radio-box input:checked ~ .admin-editor__radio-el:after {
  display: block;
}
.admin-editor__radio-box .admin-editor__radio-el:after {
  background: white;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
}
.admin-editor__group-files {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.admin-editor__group-files .admin-editor__group-youtube,
.admin-editor__group-files .admin-editor__group-img {
  border: 1px dashed #CCCFE3;
  color: #80879F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 3rem;
  height: 6rem;
  width: calc(100% / 2 - 1rem);
}
.admin-editor__group-youtube img {
  margin-left: 0.5rem;
  height: 1.8rem;
  width: 1.8rem;
}
.admin-editor__group-img {
  border: 1px dashed #CCCFE3;
  color: #80879F;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 3rem;
  height: 6rem;
  width: 100%;
}
.admin-editor__group-img input {
  display: none;
}
.admin-editor__group-tipImg {
  color: #80879F;
  direction: ltr;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  text-align: right;
  width: 32rem;
}
.admin-editor__group-tipImg span {
  background-color: rgba(148, 224, 224, 0.1);
  border: 1px dashed #94E0E0;
  border-radius: 5px;
  color: #94E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-left: 1.8rem;
  height: 10rem;
  width: 10rem;
}
.admin-editor__group-tipImg span img {
  margin-bottom: 0.8rem;
  height: 2.1rem;
  width: 2.3rem;
}
.admin-editor__group-tipImg input {
  display: none;
}
.admin-editor__form input[type=submit] {
  background-color: #90e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 0 auto 4rem;
  padding: 0;
  height: 5rem;
  width: 30rem;
}
.admin-editor__dropdown {
  background: url(../img/admin-icon-arrow-down.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative;
  width: 26rem;
}
.admin-editor__dropdown:hover {
  background: url(../img/admin-icon-arrow-up.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat;
  border-radius: 5px 5px 0 0;
}
.admin-editor__dropdown-users,
.admin-editor__dropdown-users:hover {
  background: url(../img/admin-icon-search.svg) right 2rem center / 2rem 2rem no-repeat;
  width: 100%;
}
.admin-editor__dropdown > h5 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0 2rem 0 2.5rem;
  height: 5rem;
}
.admin-editor__dropdown-users h5 {
  padding: 1.5rem 6rem 1.5rem 1.5rem;
}
.admin-editor__dropdown-menu {
  background-color: #fff;
  box-shadow: 0px 10px 30px #D7DBEE;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
  position: absolute;
  top: 100%;
  height: 28rem;
  width: 100%;
  z-index: 2;
}
.admin-editor__dropdown:hover .admin-editor__dropdown-menu {
  border-radius: 0;
  display: block;
  margin-bottom: 5rem;
}
.admin-editor__dropdown-menu li {
  border-top: 1px solid #EAECF5;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}
.admin-editor__dropdown-users li {
  border: none;
  padding: 0.5rem 1.5rem .5rem 2.5rem;
}
.admin-editor__dropdown-users li > span {
  background-color: rgba(148, 224, 224, 0.6);
  padding: 0 1rem;
}
.admin-editor__dropdown-users li img {
  margin-left: 1rem;
  height: 4rem;
  width: 4rem;
}
.admin-editor__dropdown-menu li:hover {
  background-color: #d9d9d9;
}
.admin-editor__check {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  margin-left: 1rem;
}
.admin-editor__check {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
  width: 3rem;
}
.admin-editor__check input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.admin-editor__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.admin-editor__check:hover input ~ .admin-editor__checkmark {
  background-color: #ccc;
}
.admin-editor__check input:checked ~ .admin-editor__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.admin-editor__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-editor__check input:checked ~ .admin-editor__checkmark:after {
  display: block;
}
.admin-editor__check .admin-editor__checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  left: 1rem;
  top: .6rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .8rem;
  height: 1.3rem;
}
.admin-editor .ql-toolbar {
  text-align: left;
}
.admin-editor__textEditor {
  margin-bottom: 2rem;
  height: 30rem;
}
.admin-editor__textEditor .ql-editor {
  text-align: right;
}
.admin-editor__textEditor .ql-editor p {
  color: #000f3e;
  font-size: 2.4rem;
  font-style: normal;
  line-height: 3.1rem;
}
.ql-editor.ql-blank::before {
  color: rgba(0, 15, 62, .5);
  font-size: 2.4rem;
  font-style: normal;
  line-height: 3.1rem;
}
.admin-editor__content hr {
  background-color: #c0d0e0;
  border: none;
  margin-bottom: 2.5rem;
  height: 1px;
}
.admin-editor__q-img {
  background-color: rgba(148, 224, 224, 0.1);
  border: 1px dashed #94E0E0;
  border-radius: 5px;
  padding: 2rem;
}
.admin-editor__group-q {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  position: relative;
}
.admin-editor__group-q button {
  display: flex;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2.1rem;
  width: 2.1rem;
}
.admin-editor__q-img {
  cursor: pointer;
  margin-left: 1rem;
}
.admin-editor__q-img img {
  height: 2.1rem;
  width: 2.3rem;
}
.admin-editor__q-img input {
  display: none;
}
.admin-editor__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  height: 5rem;
}
.admin-editor__actions button {
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  height: 100%;
  width: calc(50% - 1rem);
}
.admin-editor__actions button:first-child {
  background-color: #90e0e0;
}
.admin-editor__actions button:last-child {
  border: 1px solid #EAECF5;
  color: #80879F;
}
/* admin popup window styles */
.admin-popup {
  background-color: rgba(0, 0, 48, .3);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.admin-popup.open {
  display: flex;
}
.admin-popup__container {
  background-color: #fff;
  padding: 3.7rem 2.6rem 10.7rem;
  position: relative;
  width: 34rem;
}
.admin-popup__close {
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 3.6rem;
  width: 3.6rem;
}
.admin-popup__close img {
  height: 100%;
  width: 100%;
}
.admin-popup__form {
  text-align: center;
}
.admin-popup__title {
  color: #94E0E0;
  font-weight: 700;
  margin-bottom: 2rem;
}
.admin-popup__subtitle {
  margin-bottom: 1.8rem;
}
.admin-popup__form input {
  border: none;
  border-bottom: 1px solid #EAECF5;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.admin-popup__form input::-webkit-input-placeholder {
  color: rgba(0, 15, 62, .3);
}
.admin-popup__form input:-ms-input-placeholder {
  color: rgba(0, 15, 62, .3);
}
.admin-popup__form input::-ms-input-placeholder {
  color: rgba(0, 15, 62, .3);
}
.admin-popup__form input::placeholder {
  color: rgba(0, 15, 62, .3);
}
.admin-popup__form input[type=submit] {
  background-color: #90e0e0;
  border: 1px solid #94E0E0;
  border-radius: 5px;
  height: 5rem;
  width: 100%;
}
/* wrapper styles */
.wrapper {
  display: flex;
  flex-direction: row-reverse;
}
/* admin main styles */
.admin-main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10rem;
  position: relative;
  height: 100vh;
}
/* admin home page styles */
.admin-home {
  padding: 1rem 7rem;
}
.admin-home__header {
  background-color: #FFF;
  border-bottom: 1px solid #EAECF5;
  padding: 3rem 7rem 0;
  position: fixed;
  top: 10rem;
  left: 0;
  right: 34rem;
  height: 14rem;
}
.admin-home__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
}
.admin-home__tabs {
  display: flex;
  flex-direction: row;
}
.admin-home__tab:first-of-type {
  margin-right: 4.5rem;
}
.admin-home__tab > h2 {
  color: rgba(0, 15, 62, .5);
  cursor: pointer;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 1.6rem 1.8rem;
  position: relative;
}
.admin-home__tab.active > h2 {
  color: #000F3E;
}
.admin-home__tab.active > h2:before {
  content: "";
  background-color: #94E0E0;
  font-weight: 700;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 2px;
  width: 100%;
}
.admin-home__content {
  padding: 18.5rem 0 0;
}
.admin-home__content-tab {
  display: none;
}
.admin-home__content-tab.active {
  display: block;
}
.admin-home__subtitle h3 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 2rem;
  padding-right: 4.5rem;
}
.admin-home__hamburger-title {
  background: url(../img/admin-icon-more.svg) right center / 2rem 2rem no-repeat;
  border-bottom: 1px solid #EAECF5;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  padding: 2rem 4.5rem 2rem 0;
}
.admin-home__hamburger-title:hover {
  color: #94E0E0;
}
.admin-home__hamburger-title.open {
  background: url(../img/admin-icon-less.svg) right center / 2rem 2rem no-repeat;
  border: none;
}
.admin-home__hamburger-title.open + .admin-home__hamburger-text {
  display: block;
}
.admin-home__hamburger-text {
  border-bottom: 1px solid #EAECF5;
  display: none;
}
.admin-home__hamburger-text p {
  color: #80879F;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0 4.5rem 2rem 0;
  max-width: 88rem;
}
/* data & reports styles */
.admin-reports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 7rem;
}
.admin-reports__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 11rem;
  width: 100%;
}
.admin-reports__header h2 {
  flex-grow: 1;
  font-weight: 700;
}
.admin-reports__header a {
  display: block;
  margin-right: 3rem;
  height: 3.3rem;
}
.admin-reports__header a img {
  height: 100%;
}
.admin-reports__chart {
  border: 1px solid #EAECF5;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 7.5rem 2rem 3rem;
  position: relative;
  height: 46rem;
}
.admin-reports__chart1 {
  padding: 7.5rem 2rem 3rem;
  width: 38%;
}
.admin-reports__chart2 {
  width: 60%;
}
.admin-reports__chart3 {
  padding: 13rem 2rem 3rem;
  width: 100%;
}
.admin-reports__chart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem 0;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  height: 3.2rem;
}
.admin-reports__chart-header h4 {
  flex-grow: 1;
  font-weight: 700;
}
.admin-reports__chart-header button {
  flex-shrink: 0;
  font-weight: 700;
  padding: 0.5rem;
}
.admin-reports__chart-header button.active {
  background-color: #90e0e0;
  border-radius: 5px;
}
.admin-reports__chart-subheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 2rem 0;
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
}
.admin-reports__chart-subheader select {
  background-color: #90e0e0;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 1rem;
}
.admin-reports__chart-subheader button {
  flex-shrink: 0;
  font-weight: 700;
  padding: 0.5rem;
  height: 100%;
}
.admin-reports__chart-subheader button.active {
  background-color: #90e0e0;
  border-radius: 5px;
}
.admin-reports__chart-center {
  color: #80879F;
  position: absolute;
  top: 19.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.admin-reports__chart-center span {
  color: #000F3E;
  display: block;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 3.6rem;
}
.admin-reports__chart-year {
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  bottom: 4rem;
  left: 3rem;
}
/* category page styles */
.admin-category {
  padding: 4rem 7rem;
}
.admin-category__title {
  font-weight: 700;
  margin-bottom: 4rem;
}
.admin-category__edit {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 1.5rem 2rem;
  margin-bottom: 1.5rem;
}
.admin-category__slider {
  border-bottom: 1px solid #EAECF5;
  margin-bottom: 3rem;
  padding-right: 5.5rem;
  position: relative;
}
.admin-category__slider:before {
  content: "";
  background: linear-gradient(90deg, #FFFFFF 0, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0rem;
  height: 100%;
  width: 2rem;
  z-index: 888;
}
.admin-category__slider .admin-move {
  top: 6.2rem;
}
.admin-category__slide {
  margin-left: 2rem;
  width: 28rem;
}
.admin-category__slide-progress {
  background-color: #94E0E0;
  margin-bottom: 3rem;
  height: 2px;
  width: 100%;
}
.admin-category__slide-box {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  padding: 2rem 2rem 3rem 2.5rem;
}
.admin-category__slide-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.admin-category__slide-status {
  border: 1px solid #CCCFE3;
  border-radius: 50%;
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
}
.admin-category__slide-status.done {
  background: url(../img/admin-icon-checkmark.svg) center / 1.6rem 1.3rem no-repeat, #94E0E0;
  border: none;
}
.admin-category__slide-title h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.admin-category__slide-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.admin-category__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.admin-category__checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding-right: 3.7rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 2.5rem;
}
.admin-category__checkbox.done {
  color: #80879F;
  text-decoration: line-through;
}
.admin-category__checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.admin-category__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
}
.admin-category__checkbox:hover input ~ .admin-category__checkmark {
  border: 1px solid #94E0E0;
}
.admin-category__checkbox input:checked ~ .admin-category__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.admin-category__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-category__checkbox input:checked ~ .admin-category__checkmark:after {
  display: block;
}
.admin-category__checkbox .admin-category__checkmark:after {
  content: "";
  background: url(../img/admin-icon-checkmark.svg) center / 1.6rem 1.3rem no-repeat;
  height: 100%;
  width: 100%;
}
.admin-category__slide-idea {
  cursor: pointer;
  margin-right: .5rem;
  position: relative;
}
.admin-category__slide-idea img {
  height: 2.1rem;
  width: 2.1rem;
}
.admin-category__slide-tip {
  display: none;
  padding-right: 1rem;
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16rem;
  min-height: 7rem;
  z-index: 777;
}
.admin-category__slide:last-child .admin-category__slide-tip {
  padding-left: 1rem;
  padding-right: 0;
  left: 100%;
  right: auto;
}
.admin-category__slide-tip > div {
  background-color: #FFF;
  border: 1.2px solid #31ABAB;
  border-radius: 5px;
  padding: .5rem 1rem;
}
.admin-category__slide-idea:hover .admin-category__slide-tip {
  display: block;
}
.admin-category__slide-tip h6 {
  color: rgba(0, 15, 62, .3);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.3rem;
}
.admin-category__slide-tip p {
  font-size: 1rem;
  line-height: 1.2rem;
}
.admin-category__slide-tip i {
  background-color: #31ABAB;
  -webkit-clip-path: polygon(0 0, 0 40%, 1rem 50%, 0 60%, 0 0);
  clip-path: polygon(0 0, 0 40%, 1rem 50%, 0 60%, 0 0);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1rem;
}
.admin-category__slide:last-child .admin-category__slide-tip i {
  left: 0;
  right: auto;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.admin-category__slider .swiper-container {
  display: flex;
  flex-direction: column;
}
.admin-category__slider .swiper-wrapper {
  order: 2;
}
.admin-category__slider-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  order: 1;
  padding-left: 2rem;
  position: relative;
  height: 3.2rem;
}
.admin-category__slider-navbar h5 {
  flex-grow: 1;
  margin-left: 1rem;
}
.admin-category__slider-navbar button {
  margin-right: 1rem;
  padding: 0.4rem 0;
  height: 3rem;
  width: 3rem;
}
.admin-category__slider-navbar button img {
  height: 100%;
}
.admin-category__slider-navbar > .swiper-pagination {
  color: #CCCFE3;
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding-top: .3rem;
  position: static;
  width: 5rem;
}
.admin-category__slider-nav .swiper-button-prev,
.admin-category__slider-nav .swiper-button-next {
  margin: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  width: 4.3rem;
}
.admin-category__slider-nav > .swiper-button-next:after,
.admin-category__slider-nav > .swiper-button-prev:after {
  content: none;
}
.admin-category__slider-nav .swiper-button-prev img,
.admin-category__slider-nav .swiper-button-next img {
  height: 1rem;
  width: 2.3rem;
}
.admin-category__slider-nav .swiper-button-prev {
  left: 16.3rem;
  right: auto;
}
.admin-category__slider-nav .swiper-button-next {
  left: 11rem;
}
.admin-category__extra {
  display: flex;
  flex-direction: row;
  margin: 3rem 0 2.2rem;
  height: 11.4rem;
}
.admin-category__extra-element {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  padding: 0 3rem;
  width: 34rem;
}
.admin-category__extra-img {
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 2rem;
  position: relative;
  height: 7rem;
  width: 7rem;
}
.admin-category__extra-img img {
  height: 100%;
  width: 100%;
}
.admin-category__extra-img.extra-video:before {
  content: "";
  background: url(../img/admin-icon-video.svg) center / 2rem 2rem no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.admin-category__extra-data h4 {
  color: rgba(0, 15, 62, .3);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: .7rem;
  text-transform: uppercase;
}
.admin-category__extra-data p {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
/* tips styles */
.admin-tips {
  padding: 0 7rem;
}
.admin-tips__header {
  background-color: #FFF;
  border-bottom: 1px solid #EAECF5;
  padding: 4rem 7rem 0;
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0rem;
  height: 15rem;
}
.admin-tips__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
}
.admin-tips__tabs {
  display: flex;
  flex-direction: row;
}
.admin-tips__tab > h2 {
  color: rgba(0, 15, 62, .5);
  cursor: pointer;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 1.6rem 1.8rem;
  position: relative;
}
.admin-tips__tab.active > h2 {
  color: #000F3E;
}
.admin-tips__tab.active > h2:before {
  content: "";
  background-color: #94E0E0;
  font-weight: 700;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 2px;
  width: 100%;
}
.admin-tips__content {
  padding: 18.5rem 0 0;
}
.admin-tips__content-tab {
  display: none;
}
.admin-tips__content-tab.active {
  display: block;
}
.admin-tips__row {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5.5rem 1rem 1rem;
  position: relative;
  width: 100%;
}
.admin-tips__row:first-child {
  padding-right: 0;
}
.admin-tips__right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: 9rem;
}
.admin-tips__right img {
  margin-left: 2rem;
  height: 2.4rem;
  width: 2.4rem;
}
.admin-tips__right h5 {
  margin-bottom: 1.3rem;
}
.admin-tips__right h6 {
  color: #80879F;
}
.admin-tips__mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: 33rem;
}
.admin-tips__mid img {
  margin-left: 1rem;
  height: 4rem;
  width: 4rem;
}
.admin-tips__mid h6 {
  color: #80879F;
  font-size: 1.2rem;
}
.admin-tips__mid p {
  font-weight: 700;
}
.admin-tips__left {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.admin-tips__left button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 6rem;
  width: 2rem;
}
.admin-tips__left button img {
  width: 100%;
}
/* q pages styles */
.admin-q {
  padding: 4rem 7rem;
}
.admin-q__title {
  font-weight: 700;
  margin-bottom: 3rem;
}
.admin-q__header {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
}
.admin-q__header .swiper-container:before {
  content: "";
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3rem;
  z-index: 2;
}
.admin-q__header-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2.4rem;
  padding-left: 3rem;
  white-space: nowrap;
}
.admin-q__header-link span {
  background-color: #94e0e0;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-left: 1rem;
  height: 4rem;
  width: 4rem;
}
.admin-q__header-add {
  background-color: #94e0e0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 5rem;
  height: 5rem;
  width: 15rem;
}
.admin-q__header-add svg {
  margin-left: 1rem;
  height: 1.3rem;
  width: 1.3rem;
}
.admin-q__header-add h5 {
  font-weight: 700;
}
.admin-q__page {
  padding-bottom: 4rem;
  width: 100%;
}
.admin-q__page > h5 {
  color: #80879F;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: .8rem;
  text-align: center;
  text-transform: uppercase;
  width: 11rem;
}
.admin-q__page-switch {
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  width: 11rem;
}
.admin-q__page-switch > h5 {
  flex-grow: 1;
  line-height: 3rem;
  text-align: center;
}
.admin-q__page-arrows {
  border-right: 1px solid #CCCFE3;
  flex-shrink: 0;
}
.admin-q__page-arrows button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 4rem;
}
.admin-q__page-arrows button:first-child {
  border-bottom: 1px solid #CCCFE3;
}
.admin-q__page-arrows button img {
  height: 1rem;
  width: 1rem;
}
.admin-q__fields {
  margin-bottom: 5rem;
}
.admin-q__field {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 0.5rem;
  position: relative;
}
.admin-q__field:first-of-type {
  border-top: 1px solid #EAECF5;
}
.admin-q__field-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.admin-q__field h5 {
  margin-left: 2rem;
}
.admin-q__field button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.admin-q__field button img {
  height: 2.3rem;
}
.admin-q__mandatory {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 7rem;
}
.admin-q__mandatory h6 {
  margin-left: 1rem;
}
.admin-q__check {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
  width: 3rem;
}
.admin-q__check input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.admin-q__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.admin-q__check:hover input ~ .admin-q__checkmark {
  background-color: #ccc;
}
.admin-q__check input:checked ~ .admin-q__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.admin-q__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-q__check input:checked ~ .admin-q__checkmark:after {
  display: block;
}
.admin-q__check .admin-q__checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  left: 1rem;
  top: .6rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .8rem;
  height: 1.3rem;
}
.admin-q__fields .admin-add {
  border: 1px dashed #94E0E0;
  border-radius: 5px;
  color: #94E0E0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}
.admin-q__form {
  width: 64rem;
}
.admin-q__form h3 {
  font-weight: 700;
  margin-bottom: 3rem;
}
.admin-q__group-img {
  color: #80879F;
  direction: ltr;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  text-align: right;
  width: 32rem;
}
.admin-q__group-img span {
  background-color: rgba(148, 224, 224, 0.1);
  border: 1px dashed #94E0E0;
  border-radius: 5px;
  color: #94E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-left: 1.8rem;
  height: 10rem;
  width: 10rem;
}
.admin-q__group-img span img {
  margin-bottom: 0.8rem;
  height: 2.1rem;
  width: 2.3rem;
}
.admin-q__group-img input {
  display: none;
}
.admin-q__form input {
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  width: 100%;
}
.admin-q__form input::-webkit-input-placeholder {
  color: rgba(0, 15, 62, .4);
}
.admin-q__form input:-ms-input-placeholder {
  color: rgba(0, 15, 62, .4);
}
.admin-q__form input::-ms-input-placeholder {
  color: rgba(0, 15, 62, .4);
}
.admin-q__form input::placeholder {
  color: rgba(0, 15, 62, .4);
}
.admin-q__group-limit {
  margin-bottom: 7.5rem;
  position: relative;
}
.admin-q__group-limit h6 {
  color: rgba(128, 135, 159, .5);
}
.admin-q .ql-toolbar {
  text-align: left;
}
.admin-q__textEditor {
  height: 15rem;
}
.admin-q__textEditor .ql-editor {
  text-align: right;
}
.admin-q__textEditor .ql-editor p {
  color: #000f3e;
  font-size: 2.4rem;
  font-style: normal;
  line-height: 3.1rem;
}
.admin-q__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.admin-q__actions button {
  border: 1px solid #EAECF5;
  border-radius: 5px;
  color: #80879F;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1rem;
  height: 5rem;
  width: calc(100% / 2 - 1rem);
}
.admin-q__actions button:first-child {
  background-color: #94e0e0;
  border: 1px solid #94E0E0;
  color: #000F3E;
}
/* groups page styles */
.admin-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem 7rem;
}
.admin-groups__title {
  font-weight: 700;
  margin-bottom: 3.5rem;
  width: 100%;
}
.admin-groups__element,
.admin-groups__element-add {
  background-color: #FFFFFF;
  border: 1px solid #EAECF5;
  border-radius: 10px;
  margin: 0 0 2rem 2rem;
  padding: 3rem 3rem 2rem;
  position: relative;
  text-align: center;
  width: calc(100% / 4 - 2rem);
}
.admin-groups__element-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}
.admin-groups__element-img img {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  height: 10rem;
  width: 10rem;
}
.admin-groups__element-title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 1.5rem;
}
.admin-groups__element-members {
  direction: ltr;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}
.admin-groups__element-avatars {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
}
.admin-groups__element-avatars h4 {
  color: #80879F;
  direction: ltr;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-right: 8.5rem;
}
.admin-groups__element-avatars img {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  height: 4rem;
  width: 4rem;
}
.admin-groups__element-avatars img:nth-of-type(1) {
  right: 4rem;
  z-index: 1;
}
.admin-groups__element-avatars img:nth-of-type(2) {
  right: 2rem;
  z-index: 2;
}
.admin-groups__element-avatars img:nth-of-type(3) {
  right: 0;
  z-index: 3;
}
.admin-groups__element-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  width: 3rem;
}
.admin-groups__element-menu button {
  display: flex;
  padding: 0 .5rem;
  height: 100%;
  width: 100%;
}
.admin-groups__element-menu button:first-child {
  margin-bottom: 1.7rem;
  padding: 0 .7rem;
}
.admin-groups__element-menu img {
  width: 100%;
}
.admin-groups__element-add {
  border: 1px dashed #EAECF5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-groups__element-add svg {
  margin-bottom: 1.5rem;
  width: 3rem;
}
.admin-groups__element-add h5 {
  color: #80879F;
}
/* services page styles */
.admin-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 7rem;
}
.admin-services__title {
  font-weight: 700;
  margin-bottom: 3.5rem;
  width: 100%;
}
.admin-services__element,
.admin-services__element-add {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  padding: 2rem 4rem 3rem;
  position: relative;
  width: calc(100% / 2 - 2rem);
}
.admin-services__element-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2.5rem;
}
.admin-services__element-icon {
  background-color: #94E0E0;
  border-radius: 50%;
  margin-left: 2rem;
  padding: 1.2rem;
  height: 6rem;
  width: 6rem;
}
.admin-services__element-icon img {
  height: 100%;
}
.admin-services__element-header h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.admin-services__element-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.admin-services__checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.admin-services__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: 49%;
}
.admin-services__checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  padding-right: 4rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 3rem;
}
.admin-services__checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.admin-services__checkmark {
  background: #FFFFFF;
  border: 1px solid #CCCFE3;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
}
.admin-services__checkbox:hover input ~ .admin-services__checkmark {
  border: 1px solid #94E0E0;
}
.admin-services__checkbox input:checked ~ .admin-services__checkmark {
  background: #94E0E0;
  border: 1px solid #94E0E0;
}
.admin-services__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.admin-services__checkbox input:checked ~ .admin-services__checkmark:after {
  display: block;
}
.admin-services__checkbox .admin-services__checkmark:after {
  content: "";
  background: url(../img/admin-icon-checkmark.svg) center / 1.6rem 1.3rem no-repeat;
  height: 100%;
  width: 100%;
}
.admin-services__element-form input[type=submit] {
  background-color: #fff;
  border: 1px solid #94E0E0;
  border-radius: 5px;
  color: #94E0E0;
  align-self: flex-end;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-top: .7rem;
  height: 5rem;
  width: 100%;
}
.admin-services__more {
  margin-top: 3rem;
  height: 6rem;
  width: 100%;
}
.admin-services__more button {
  border: 1px solid #83D1D1;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  height: 100%;
  width: 26.5rem;
}
.admin-services__element-add {
  border: 1px dashed #EAECF5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.admin-services__element-add svg {
  margin-bottom: 1.5rem;
  width: 3rem;
}
.admin-services__element-add h5 {
  color: #80879F;
}
.admin-services__element-menu {
  display: flex;
  position: absolute;
  top: 3.5rem;
  left: 2.5rem;
  height: 3.3rem;
}
.admin-services__element-menu button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
  width: 3rem;
}
.admin-services__element-menu button:last-child {
  margin-right: 2rem;
}
.admin-services__element-menu button img {
  height: 100%;
}
/* professionals page styles */
.admin-professionals {
  padding: 3rem 7rem 3rem 5rem;
}
.admin-professionals__title {
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.admin-professionals__filter {
  position: relative;
}
.admin-professionals__filter-dropdowns {
  position: relative;
  height: 5rem;
  width: 100%;
}
.admin-professionals__filter-dropdowns > a {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3.3rem;
  width: 3.3rem;
}
.admin-professionals__filter-dropdowns > a img {
  width: 100%;
}
.admin-professionals__filter-container > .admin-professionals__dropdown {
  margin-left: 1.5rem;
}
.admin-professionals__filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 222;
}
/* dropdown styles */
.admin-professionals__dropdown {
  background: url(../img/admin-icon-arrow-down.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #F4F7FC;
  border-radius: 10px;
  overflow: hidden;
  width: 17rem;
}
.admin-professionals__dropdown > h4 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0 2rem 0 2.5rem;
  height: 5rem;
}
.admin-professionals__dropdown-menu {
  display: none;
  flex-direction: column;
}
.admin-professionals__dropdown.open {
  background: url(../img/admin-icon-arrow-up.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #F4F7FC;
  display: block;
}
.admin-professionals__dropdown.open .admin-professionals__dropdown-menu {
  display: flex;
}
.admin-professionals__dropdown-menu li {
  border-top: 1px solid #EAECF5;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}
.admin-professionals__dropdown-menu li:hover {
  background-color: #d9d9d9;
}
.admin-professionals__filter-btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
}
.admin-professionals__filter-btns button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-left: 2rem;
  padding: 2rem 0;
}
.admin-professionals__filter-btns button img {
  margin-right: 1rem;
  height: 1.3rem;
  width: 1rem;
}
.admin-professionals__experts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.admin-professionals__experts-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
  width: 100%;
}
.admin-professionals__card,
.admin-professionals__element-add {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 2rem;
  padding: 3rem;
  width: calc(100% / 4 - 2rem);
}
.admin-professionals__card:hover {
  box-shadow: 0px 10px 30px rgba(215, 219, 238, 0.5);
}
.admin-professionals__card-who {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.admin-professionals__card-avatar {
  flex-shrink: 0;
  margin-left: 2rem;
  position: relative;
  height: 9rem;
  width: 9rem;
}
.admin-professionals__card-avatar img {
  height: 100%;
  width: 100%;
}
.admin-professionals__card-expert {
  background-color: #94E0E0;
  box-shadow: 0px 3px 6px rgba(148, 224, 224, 0.8);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 1.7rem;
  width: 1.7rem;
}
.admin-professionals__card-expert img {
  height: 100%;
  width: 100%;
}
.admin-professionals__card-data h2 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 1.2rem;
}
.admin-professionals__card-data h3 {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
.admin-professionals__card-data h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.admin-professionals__card-description {
  flex-grow: 1;
}
.admin-professionals__card-description p {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}
.admin-professionals__card-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.admin-professionals__card-social a {
  background: #F4F7FC;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 .75rem;
  height: 4rem;
  width: 4rem;
}
.admin-professionals__card-social a svg {
  height: 1.6rem;
}
.admin-professionals__card-social a svg path {
  fill: #000F3E;
}
.admin-professionals__card-social a:hover {
  background-color: #94E0E0;
}
.admin-professionals__card-social a:hover svg path {
  fill: #FFFFFF;
}
.admin-professionals__element-add {
  border: 1px dashed #EAECF5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.admin-professionals__element-add svg {
  margin-bottom: 1.5rem;
  width: 3rem;
}
.admin-professionals__element-add h5 {
  color: #80879F;
}
/* customers page style */
.admin-customers {
  padding: 3rem 7rem 3rem 5rem;
}
.admin-customers__title {
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.admin-customers__filter {
  position: relative;
}
.admin-customers__filter-dropdowns {
  position: relative;
  height: 5rem;
  width: 100%;
}
.admin-customers__filter-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3.3rem;
}
.admin-customers__filter-actions > a img,
.admin-customers__filter-actions > button svg {
  margin-right: 1rem;
  height: 100%;
}
.admin-customers__filter-container > .admin-customers__dropdown {
  margin-left: 1.5rem;
}
.admin-customers__filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 222;
}
/* dropdown styles */
.admin-customers__dropdown {
  background: url(../img/admin-icon-arrow-down.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #F4F7FC;
  border-radius: 10px;
  overflow: hidden;
  width: 17rem;
}
.admin-customers__dropdown > h4 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0 2rem 0 2.5rem;
  height: 5rem;
}
.admin-customers__dropdown-menu {
  display: none;
  flex-direction: column;
}
.admin-customers__dropdown.open {
  background: url(../img/admin-icon-arrow-up.svg) left 1rem top 1.9rem / 1.2rem 1.2rem no-repeat, #F4F7FC;
  display: block;
}
.admin-customers__dropdown.open .admin-customers__dropdown-menu {
  display: flex;
}
.admin-customers__dropdown-menu li {
  border-top: 1px solid #EAECF5;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}
.admin-customers__dropdown-menu li:hover {
  background-color: #d9d9d9;
}
.admin-customers__filter-btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
}
.admin-customers__filter-btns button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-left: 2rem;
  padding: 2rem 0;
}
.admin-customers__filter-btns button img {
  margin-right: 1rem;
  height: 1.3rem;
  width: 1rem;
}
.admin-customers__experts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.admin-customers__experts-title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
  width: 100%;
}
.admin-customers__card,
.admin-customers__element-add {
  border: 1px solid #EAECF5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 2rem;
  padding: 3rem;
  width: calc(100% / 4 - 2rem);
}
.admin-customers__card:hover {
  box-shadow: 0px 10px 30px rgba(215, 219, 238, 0.5);
}
.admin-customers__card-who {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.admin-customers__card-avatar {
  flex-shrink: 0;
  margin-left: 2rem;
  position: relative;
  height: 9rem;
  width: 9rem;
}
.admin-customers__card-avatar img {
  height: 100%;
  width: 100%;
}
.admin-customers__card-data h2 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 1.2rem;
}
.admin-customers__card-data h3 {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.2rem;
}
.admin-customers__card-data h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.admin-customers__card-description {
  flex-grow: 1;
}
.admin-customers__card-description p {
  color: #80879F;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 2rem;
}
.admin-customers__card-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.admin-customers__card-social a {
  background: #F4F7FC;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 .75rem;
  height: 4rem;
  width: 4rem;
}
.admin-customers__card-social a svg {
  height: 1.6rem;
}
.admin-customers__card-social a svg path {
  fill: #000F3E;
}
.admin-customers__card-social a:hover {
  background-color: #94E0E0;
}
.admin-customers__card-social a:hover svg path {
  fill: #FFFFFF;
}
.admin-customers__row {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.3rem .5rem;
  width: 100%;
}
.admin-customers__row:hover {
  background-color: rgba(0, 0, 0, .1);
}
.admin-customers__row:first-child {
  padding: 0.9rem .5rem;
}
.admin-customers__col {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: calc(80% / 5 - 1rem);
}
.admin-customers__col.d-ltr {
  direction: ltr;
  justify-content: flex-end;
}
.admin-customers__col:last-child {
  flex-shrink: 0;
  width: 20%;
}
.admin-customers__col-avatar {
  margin-left: 2rem;
  height: 5rem;
  width: 5rem;
}
.admin-customers__col-avatar img {
  height: 100%;
}
.admin-customers__col-data h2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin-bottom: 0.6rem;
}
.admin-customers__col-data h4 {
  color: #80879F;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
.admin-customers__col h5 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.admin-customers__col h6 {
  color: #80879F;
  font-weight: 700;
}
.admin-customers__col a {
  background-color: #f4f7fc;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
}
.admin-customers__col a svg {
  width: 100%;
}
.admin-customers__log-title {
  border-bottom: 1px solid #EAECF5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1.7rem 2rem;
}
.admin-customers__log-title h2 {
  font-weight: 700;
}
.admin-customers__log-title a {
  display: block;
  height: 3.3rem;
}
.admin-customers__log-title a img {
  height: 100%;
}
.admin-customers__log-row {
  border-bottom: 1px solid #EAECF5;
  direction: ltr;
  padding: 2.8rem 0 2.8rem 2rem;
  text-align: right;
}
.admin-customers__log-row h5 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.admin-customers__log-row h5 span {
  margin: 0 1rem;
}
/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}