/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   html {
    font-size: 6px;
  }

  /* container styles */
  .container {
    padding: 0 5px;
  }
  
  /* header styles */
  .header__navbar {
    padding-right: 115px;
  }

  .header__nav ul li:not(:last-child) {
    margin-left: 15px;
  }

  .header__nav ul li a {
    font-size: 15px;
  }

  .header__lang {
    margin-left: 5px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* global styles */
  .btn {
    font-size: 24px;
    height: 40px;
  }

  .btn-sm {
    max-width: 120px;
  }

  .btn-lg {
    max-width: 240px;
  }

  /* popup styles */
  button.popup__close {
    height: 30px;
    width: 30px;
  }

  /* popup gallery slider */
  .gallery-slider .slick-list {
    max-width: 510px;
  }

  .slick-prev,
  .slick-next {
    height: 35px;
    width: 35px;
  }

  /* popup sign up styles */
  .signUpPopup {    
    padding: 0 10px;
  }

  .signUpPopup__form {
    padding: 10px;
  }

  .signUpPopup__form h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .signUpPopup__form p {
    font-size: 14px;
  }

  .signUpPopup__form input[type=text] {
    font-size: 24px;
    height: 50px;
  }

  .signUpPopup__form .btn.btn-sm {
    height: 50px;
  }

  /* container styles */
  .container {
    padding: 0 5px;
  }

  /* header styles */
  .header__logo {
    left: 2px;
    height: 66px;
    width: 115px;
  }

  .header__logo img {
    max-height: 36.5px;
    max-width: 83.5px;
  }

  .header__nav {
    padding-top: 66px;
  }

  .header__nav ul li {   
    height: 50px;
  }

  .header__nav ul li a {
    font-size: 24px;
  }

  .header__nav ul li:hover,
  .header__nav ul li.active {
    box-shadow: 0 5px 7.5px rgba(29, 29, 27, 0.2);
  }

  .header__switches {
    padding: 0 10px 15px;
  }

  .header__soc a {
    height: 27px;
    width: 27px;
  }

  .header__lang a {
    font-size: 24px;
  }

  .header.open .header__toggler {
    top: 15px;
    right: 15px;
  }

  /* intro styles */
  .intro h1 {
    font-size: 48px;
  }

  /* impressions styles */
  .impressions__price span {
    font-size: 18px;
    line-height: 22px;
  }

  .impressions__element {
    margin-bottom: 30px;
  }

  .impressions__data p {
    font-size: 16px;
  }

  .impressions__data h3,
  .impressions__footer h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .impressions__footer h4 {
    margin-bottom: 10px;
  }

  /* about styles */
  .about {
    padding-bottom: 35px;
  }

  .about h1 {
    font-size: 36px;
  }

  .about p {
    font-size: 14px;
    line-height: 24px;
  }

  /* contact styles */
  .contact {
    padding: 30px 0 25px;
  }

  .contact h1 {
    margin-bottom: 30px;
  }

  .contact__group-element:not(:last-child) {
    margin-bottom: 20px;
  }

  .contact__data {
    margin-bottom: 45px;
  }

  .contact__circle {
    padding: 15px;
    height: 55px;
    width: 55px;
  }

  .contact__data h3 {
    font-size: 24px;
  }

  .contact__data h3 span {
    font-size: 14px;
  }

  .contact__form input[type=text],
  .contact__form textarea {
    font-size: 24px;
    height: 50px;
  }

  .contact__form textarea {
    height: 190px;
  }

  /* gallery styles */
  .gallery__element {
    margin-bottom: 20px;
  }

  .gallery__quantity {
    padding: 5px 10px;
  }

  .gallery__quantity img {
    margin-right: 5px;
    height: 14px;
    width: 17px;
  }

  .gallery__quantity span {
    font-size: 14px;
    line-height: 10px;
  }

  .gallery__data p,
  .gallery__data h3 {
    font-size: 18px;
    line-height: 28px;
  }

  /* impression styles */
  .impression__data h2 {
    font-size: 18px;
    line-height: 40px;
  }

  .impression__data p {
    font-size: 14px;
    line-height: 24px;
  }

  /* closed styles */
  .closed {
    padding: 30px 0 25px;
  }

  .closed p {
    font-size: 14px;
    line-height: 24px;
  }

  /* signUp styles */
  .signUp .container {
    padding: 5px 5px 25px;
  }

  .signUp h2 {
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: 40px;
  }

  .signUp h4 {
    font-size: 18px;
  }

  .signUp__form {    
    margin-bottom: 40px;
  }

  .signUp__form input {
    font-size: 24px;
  }

  .signUp__form input[type=text] {    
    margin: 0 0 17px;
    height: 50px;
  }

  .signUp__info {
    padding-right: 15px;
  }

  .signUp__element {
    margin-bottom: 15px;
  }

  .signUp__element h5 {
    font-size: 14px;
  }

  .signUp__element img {
    height: 24px;
  }

  /* footer styles */
  .footer .container {
    padding: 25px 0;
  }

  .footer__nav {
    margin-bottom: 60px;
  }

  .footer__soc a {
    height: 37px;
    width: 37px;
  }

  .footer__soc a:not(:last-child) {
    margin-left: 25px;
  }

  .footer__logo {
    margin-bottom: 25px;
    width: 95px;
  }

  .footer__builder span {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .footer__builder img {
    height: 20px;
    width: 130px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
   html {
    font-size: 5px;
  }
}