/* Fonts */
@font-face {
  font-family: 'Assistant-Bold';
  src: url('../fonts/Assistant-Bold.eot');
  src: url('../fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Assistant-Bold.woff') format('woff'),
  url('../fonts/Assistant-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Bold.woff') format('woff'),
  url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Regular.woff') format('woff'),
  url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}
a {
  text-decoration: none;
}

a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* RTL style */
.rtl {
  direction: rtl;
}

/* global styles */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: #ff1235;
  border: 1px solid #ff1235;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Rubik-Bold';
  font-size: 2.4rem;
  height: 5rem;
  width: 100%;  
}

.btn:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #ff1235;
}

.btn-sm {
  max-width: 16rem;
}

.btn-lg {
  max-width: 23rem;
}

.uppercase {
  text-transform: uppercase;
}

/* popup styles */
.popup {
  background-color: rgba(29, 29, 27, .9);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup.show {
  display: block;
}

.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

button.popup__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
  position: absolute;
  top: 2vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5rem;
  width: 5rem;
  z-index: 9999;
}

button.popup__close img {
  width: 100%;
}

/* popup gallery slider */
.gallery-slider {
  width: 100%;
}

.gallery-slider .slick-list {
  margin: 0 auto;
  max-width: 102rem;
}

.gallery-slider .slick-list .slick-track,
.gallery-slider .slick-list .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-slider .slick-list .slick-slide img {
  max-height: 80vh;
  max-width: 100%;
}

.slick-prev,
.slick-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
}

.slick-prev {
  left: 4rem;
}

.slick-next {
  right: 4rem;
}

/* popup sign up styles */
.signUpPopup {
  color: #ffffff;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  max-width: 80rem;
}

.signUpPopup__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 28rem;
}

.signUpPopup__img img {
  width: 100%;
}
.signUpPopup__form {
  background-color: #ff1235;
  padding-right: 3.4rem;
}

.signUpPopup__form h2 {
  font-family: 'Rubik-Bold';
  font-size: 3.6rem;
  line-height: 5.6rem;
  letter-spacing: 0.18rem;
  margin-bottom: 1rem;
}

.signUpPopup__form p {
  direction: ltr;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  text-align: right;
}

.signUpPopup__form input[type=text] {
  background-color: transparent;
  border: 0.1rem solid #ffffff;
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
  padding: 0 2.7rem;
  height: 5rem;
  width: 80%;
}

.signUpPopup__form input[type=text]::-webkit-input-placeholder {
  color: #cbcfd4;
}

.signUpPopup__form input[type=text]::-moz-placeholder {
  color: #cbcfd4;
}

.signUpPopup__form input[type=text]:-ms-input-placeholder {
  color: #cbcfd4;
}

.signUpPopup__form input[type=text]::-ms-input-placeholder {
  color: #cbcfd4;
}

.signUpPopup__form input[type=text]::placeholder {
  color: #cbcfd4;
}

.signUpPopup__form .btn.btn-sm {
  background-color: #1d1d1b;
}

.signUpPopup__form .btn.btn-sm:hover {
  background-color: #fff;
  border: 1px solid #fff;
}

/* container style */
.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 153rem;
}

/* header.styles */
.header {
  background-color: #ff1235;
  height: 8.4rem;
}

.header .container {
  position: relative;
}

.header__logo {
  background-color: #1d1d1b;
  -webkit-box-shadow: 0 1rem 3rem rgba(29, 29, 27, 0.2);
          box-shadow: 0 1rem 3rem rgba(29, 29, 27, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 13.2rem;
  width: 23rem;
}

.header__logo img {
  max-height: 7.3rem;
  max-width: 16.7rem;
}

.header__navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 26rem;
  height: 100%;
  width: 100%;
}

.header__nav {
  height: 100%;
}

.header__nav ul {
  height: 100%;
}

.header__nav ul li {  
  position: relative;
  height: 100%;
}

.header__nav ul li:hover:before,
.header__nav ul li.active:before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 0;
  height: .5rem;
  width: 100%;
}

.header__nav ul li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Assistant-Bold';
  font-size: 3.2rem;
  text-transform: uppercase;
  height: 100%;
}

.header__nav ul li:not(:last-child) {
  margin-left: 4.3rem;
}

.header__lang {
  margin-left: 4.9rem;
}

.header__lang a {
  color: #fff;
  font-family: 'Rubik-Bold';
  font-size: 2.4rem;
  text-transform: uppercase;
}

.header__lang a:not(:last-child) {
  margin-left: 2.5rem;
}

.header__lang a.active {
  color: #1d1d1b;
}

.header__soc a {
  height: 3.2rem;
  width: 3.2rem;
}

.header__soc a:not(:last-child) {
  margin-left: 1.9rem;
}

.header__soc a img {
  width: 100%;
}

.header__toggler {
  display: none;  
}

.header__toggler.open {
  background: url(../img/menu-open.svg) center / cover no-repeat;
  height: 3.2rem;
  width: 4.8rem;
}

.header__toggler.close {
  background: url(../img/menu-close.svg) center / cover no-repeat;
  height: 4rem;
  width: 4rem;
}

/* wrapper styles */
.wrapper.dark {
  background-color: #0e0e0e;
}

/* intro styles */
.intro {
  background: url(../img/intro.jpg) top center / cover no-repeat;
  height: 72rem;
  width: 100%;
}

.intro .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro h1 {
  color: #fff;
  font-family: 'Assistant-Bold';
  font-size: 14.4rem;
}

.intro h1 br {
  display: none;
}

/* impressions styles */
.impressions {
  padding: 8rem 0 0;
}

.impressions .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.impressions__element {
  margin-bottom: 12rem;
  width: calc(100% / 3 - 1.5rem);
}

.impressions__img {
  margin-bottom: 1.7rem;
  position: relative;
  height: auto;
  width: 100%;
  z-index: 0;
}

.impressions__img img {
  width: 100%;
}

.impressions__price {
  background-color: #1d1d1b;
  -webkit-box-shadow: 0 1rem 3rem rgba(29, 29, 27, 0.2);
          box-shadow: 0 1rem 3rem rgba(29, 29, 27, 0.2);
  padding: .9rem 1.2rem;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 9;
}

.impressions__price span {
  color: #ffffff;
  font-family: 'Rubik-Bold';
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.impressions__img:hover .impressions__exLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.impressions__exLink {
  background: rgba(255, 18, 53, .5);
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.impressions__exLink a {
  display: block;
}

.impressions__exLink img {
  height: 5.6rem;
  width: 5.6rem;
}

.impressions__data p {
  color: #5aab89;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.impressions__data h3 {
  color: #ffffff;
  font-family: 'Rubik-Bold';
  font-size: 2.6rem;
  line-height: 2.8rem;
  margin-bottom: .5rem;
}

.impressions__footer {
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.impressions__footer h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

/* about styles */
.about {
  padding: 4rem 0 13rem;
}

.about h1 {
  color: #f5f5f5;
  font-family: 'Rubik-Bold';
  font-size: 7.2rem;
  margin-bottom: 6rem;
  text-align: center;
}

.about p {
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 4rem;
  margin: 0 auto 4.5rem;
  text-align: center;
  width: 100%;
  max-width: 127rem;
}

.about img {
  margin: 0 auto;
  opacity: .5;
  width: 100%;
  max-width: 114rem;
}

/* contact styles */
.contact {
  padding: 4rem 0 13rem;
}

.contact h1 {
  color: #f5f5f5;
  font-family: 'Rubik-Bold';
  font-size: 7.2rem;
  text-align: center;
  margin-bottom: 8rem;
}

.contact h2 {
  color: #f5f5f5;
  font-family: 'Rubik-Bold';
  font-size: 4.8rem;
  letter-spacing: 0.24rem;
  line-height: 5.6rem;
  margin-bottom: 6.3rem;
}

.contact__wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__data,
.contact__form {
  width: 100%;
}

.contact__group {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__group:not(:last-child) {
  margin-bottom: 4rem;
}

.contact__group-element {
  color: #f5f5f5;
}

.contact__circle {
  background-color: #ff1235;
  border-radius: 50%;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 2.7rem;
  padding: 2rem;
  height: 7rem;
  width: 7rem;
}

.contact__circle img {
  width: 100%;
}

.contact__data h3 {
  font-size: 2.4rem;
  
}

.contact__data h3 span {
  display: block;
  font-family: 'Rubik-Bold';
  font-size: 1.4rem;
}

.contact__vl {
  border: 1px solid rgba(255, 255, 255, .2);
  margin: 11.9rem 14.5rem 0;
}

.contact__form input[type=text],
.contact__form textarea {
  background: transparent;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
  font-size: 2.4rem;
  padding: 0 2.4rem;
  height: 5rem;
}

.contact__form input[type=text]::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.contact__form input[type=text]::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, .5);
}

.contact__form input[type=text]:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.contact__form input[type=text]::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.contact__form input[type=text]::placeholder,
.contact__form textarea::placeholder {
  color: rgba(255, 255, 255, .5);
}

.contact__form input[type=text] {
  margin-bottom: 3rem;
}

.contact__form textarea {
  margin-bottom: 5rem;
  padding: 1.1rem 2.4rem;
  min-height: 19rem;
}

.contact__form .btn.btn-lg {
  margin: 0 auto 0 0;
}

/* gallery styles */
.gallery {
  padding: 4rem 0 0;
}

.gallery h1 {
  color: #ffffff;
  font-family: 'Rubik-Bold';
  font-size: 7.2rem;
  margin-bottom: 8rem;
  text-align: center;
}

.gallery__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__element {
  margin-bottom: 10rem;
  width: calc(100% / 3 - 1.5rem);
}

.gallery__img {
  margin-bottom: 1.7rem;
  position: relative;
  height: auto;
  width: 100%;
  z-index: 0;
}

.gallery__img img {
  width: 100%;
}

.gallery__quantity {
  background-color: rgba(29, 29, 27, .5);
  -webkit-box-shadow: 0 1rem 3rem rgba(29, 29, 27, 0.2);
          box-shadow: 0 1rem 3rem rgba(29, 29, 27, 0.2);
  padding: .5rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 9;
}

.gallery__quantity img {
  height: 2.4rem;
  width: 2.4rem;
}

.gallery__quantity span {
  color: #ffffff;
  display: block;
  font-family: 'Rubik-Bold';
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.gallery__img:hover .gallery__exLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__exLink {
  background: rgba(255, 18, 53, .5);
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.gallery__exLink a {
  background-color: rgba(29, 29, 27, .8);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8rem;
  width: 8rem;
}

.gallery__exLink img {
  height: 3rem;
  width: 3rem;
}

.gallery__data {
  text-align: center;
}

.gallery__data p {
  color: rgba(255, 255, 255, .5);
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.gallery__data h3 {
  color: #ffffff;
  font-family: 'Rubik-Bold';
  font-size: 2.6rem;
  line-height: 2.8rem;
}

.gallery .btn.btn-lg {
  margin: 0 auto 12rem;
}

/* impression styles */
.impression {
  padding: 5rem 0 7rem;
}

.impression h1 {
  color: #ffffff;
  font-family: 'Rubik-Bold';
  font-size: 4.8rem;
  line-height: 5.7rem;
  margin-bottom: 6.6rem;
  text-align: center;
}

.impression__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 11rem;
}

.impression__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 75rem;
}

.impression__img img {
  width: 100%;
}

.impression__data {
  margin-right: 3rem;
  width: 100%;
  max-width: calc(100% - 75rem);
}

.impression__data .gs,
.impression__data .hp {
  width: 100% !important;
}

.impression__data h2 {
  color: #ff1235;
  font-family: 'Rubik-Bold';
  font-size: 2.4rem;
  line-height: 4rem;
  margin-bottom: 4.5rem;
}

.impression__data h2 span {
  color: rgba(255, 255, 255, .8);
  font-family: 'Rubik-Regular';
}

.impression__data p {
  color: rgba(255, 255, 255, .8);
  font-size: 2.4rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.impression__purchase h2 {
  color: #ffffff;
  font-family: 'Rubik-Bold';
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: 0.24rem;
  margin-bottom: 5rem;
  text-align: center;
}

.impression__frame {
  background-color: #fff;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  height: 58.9rem;
  width: 100%;
  max-width: 100rem;
}

/* closed styles */
.closed {
  padding: 4rem 0 13rem;
}

.closed h1 {
  color: #1D1D1B;
  font-family: 'Rubik-Bold';
  font-size: 7.2rem;
  margin-bottom: 6rem;
  text-align: center;
}

.closed p {
  color: #1D1D1B;
  font-size: 2.4rem;
  line-height: 4rem;
  margin: 0 auto 4.5rem;
  text-align: center;
  width: 100%;
  max-width: 127rem;
}

.closed img {
  margin: 0 auto;
  width: 100%;
  max-width: 114rem;
}

/* signUp styles */
.signUp {
  background-color: #0e0e0e;
  color: #ffffff;
}

.signUp.grey {
  background-color: #F5F5F5;
  color: #1D1D1B;
}

.signUp.grey .signUp__element h5 {
  color: #1D1D1B;
}

.signUp.grey .signUp__form input[type=text] {
  border: 1px solid #1D1D1B;
  color: #1D1D1B;
}

.signUp.grey .signUp__form input[type=text]::-webkit-input-placeholder {
  color: #1D1D1B;
}

.signUp.grey .signUp__form input[type=text]::-moz-placeholder {
  color: #1D1D1B;
}

.signUp.grey .signUp__form input[type=text]:-ms-input-placeholder {
  color: #1D1D1B;
}

.signUp.grey .signUp__form input[type=text]::-ms-input-placeholder {
  color: #1D1D1B;
}

.signUp.grey .signUp__form input[type=text]::placeholder {
  color: #1D1D1B;
}

.signUp .container {
  padding: 1rem 12.5rem 5rem;
  text-align: center;
}

.signUp h2 {
  font-family: 'Rubik-Bold';
  font-size: 4.8rem;
  letter-spacing: 0.24rem;
  line-height: 5.6rem;
  margin-bottom: 3.3rem;
}

.signUp h4 {
  direction: ltr;
  font-size: 2.4rem;
  margin-bottom: 3.9rem;
}

.signUp__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 11rem;
  height: 5rem;
  width: 100%;
}

.signUp__form input {
  color: #ffffff;
  font-size: 2.4rem;
}

.signUp__form input[type=text] {
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-left: 3rem;
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  max-width: 56rem;
}

.signUp__form input[type=text]:focus {
  outline-color: #ff1235;
}

.signUp__form input[type=text]::-webkit-input-placeholder {
  color: #cbcfd4;
}

.signUp__form input[type=text]::-moz-placeholder {
  color: #cbcfd4;
}

.signUp__form input[type=text]:-ms-input-placeholder {
  color: #cbcfd4;
}

.signUp__form input[type=text]::-ms-input-placeholder {
  color: #cbcfd4;
}

.signUp__form input[type=text]::placeholder {
  color: #cbcfd4;
}

.signUp__info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
}

.signUp__element h5 {
  color: #cbcfd4;
  font-size: 1.8rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.signUp__element img {
  height: 3rem;
}

/* map styles */
.map iframe {
  border: 0;
  height: 34rem;
  width: 100%;
}

.map.grey iframe {
  -webkit-filter: grayscale(100%) brightness(.5);
          filter: grayscale(100%) brightness(.5);
}

/* footer styles */
.footer {
  background-color: #1d1d1b;
  height: 9.3rem;
}

.footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__builder span {
  color: #cbcfd4;
  font-size: 1.4rem;
  margin-left: 1.6rem;
  text-transform: uppercase;
}

.footer__builder img {
  height: 1.9rem;
  width: 12.8rem;
}

.footer__logo {
  width: 9.5rem;
}

.footer__logo img {
  width: 100%;
}

.footer__soc {
  margin-left: 5.5rem;
}

.footer__soc a {
  height: 4.2rem;
  width: 4.2rem;
}

.footer__soc a:not(:last-child) {
  margin-left: 2.4rem;
}

.footer__soc a img {
  height: 100%;
}



/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }

  /* container styles */
  .container {
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }

  /* container styles */
  .container {
    padding: 0 1rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }

  /* container styles */
  .container {
    padding: 0 1rem;
  }

  /* header styles */
  .header__navbar {
    padding-right: 23rem;
  }

  .header__nav ul li:not(:last-child) {
    margin-left: 3rem;
  }

  .header__nav ul li a {
    font-size: 3rem;
    text-align: center;
  }

  .header__lang {
    margin-left: 1rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }

  /* container styles */
  .container {
    padding: 0 1rem;
  }
  
  /* header styles */
  .header__navbar {
    padding-right: 23rem;
  }

  .header__nav ul li:not(:last-child) {
    margin-left: 3rem;
  }

  .header__nav ul li a {
    font-size: 3rem;
    text-align: center;
  }

  .header__lang {
    margin-left: 1rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  /* global styles */
  .btn {
    font-size: 4.8rem;
    height: 8rem;
  }

  .btn-sm {
    max-width: 24rem;
  }

  .btn-lg {
    max-width: 48rem;
  }

  /* popup styles */
  button.popup__close {
    height: 6rem;
    width: 6rem;
  }

  /* popup gallery slider */
  .gallery-slider {
    width: 100%;
  }

  .gallery-slider .slick-list {
    margin: 0 auto;
    max-width: 102rem;
  }

  .slick-prev,
  .slick-next {
    height: 7rem;
    width: 7rem;
  }

  .slick-prev {
    left: 0rem;
  }

  .slick-next {
    right: 0rem;
  }

  /* popup sign up styles */
  .signUpPopup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
  }

  .signUpPopup__img {
    height: auto;
    width: 100%;
  }

  .signUpPopup__form {
    padding: 2rem;
  }

  .signUpPopup__form h2 {
    font-size: 4.8rem;
    line-height: 6.4rem;
    text-align: center;
  }

  .signUpPopup__form p {
    font-size: 2.8rem;
    text-align: center;
  }

  .signUpPopup__form p br {
    display: none;
  }

  .signUpPopup__form input[type=text] {
    font-size: 4.8rem;
    height: 10rem;
    width: 100%;
  }

  .signUpPopup__form .btn.btn-sm {
    height: 10rem;
    max-width: 100%;
  }

  /* container styles */
  .container {
    padding: 0 1rem;
    max-width: 100%;
  }

  /* header styles */
  .header.open .container {
    margin: 0;
    padding: 0;
  }

  .header.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 100%;
  }

  .header__logo {
    left: 1rem;
    right: auto;
  }

  .header.open .header__logo {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header__navbar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  .header.open .header__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__nav {
    padding-top: 13.2rem;
    width: 100%;
  }

  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__nav ul li {   
    height: 10rem; 
    width: 100%;
  }

  .header__nav ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4.8rem;
  }

  .header__nav ul li:not(:last-child) {
    margin: 0;
  }

  .header__nav ul li:hover,
  .header__nav ul li.active {
    background-color: #1d1d1b;
    -webkit-box-shadow: 0 1rem 1.5rem rgba(29, 29, 27, 0.2);
            box-shadow: 0 1rem 1.5rem rgba(29, 29, 27, 0.2);
  }

  .header__nav ul li:hover:before,
  .header__nav ul li.active:before {
    content: none;
  }

  .header__switches {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem 3rem;
    width: 100%;
  }

  .header__soc a {
    height: 5.4rem;
    width: 5.4rem;
  }

  .header__lang a {
    font-size: 4.8rem;
  }

  .header__toggler {
    display: block;
  }

  .header.open .header__toggler {
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 99;
  }

  /* intro styles */
  .intro h1 {
    font-size: 9.6rem;
    text-align: center;
  }

  .intro h1 br {
    display: block;
  }

  /* impressions styles */
  .impressions .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .impressions__price span {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  .impressions__element {
    margin-bottom: 6rem;
    width: 100%;
  }

  .impressions__data p {
    font-size: 3.2rem;
  }

  .impressions__data h3,
  .impressions__footer h4 {
    font-size: 3.6rem;
    line-height: 5.6rem;
  }

  .impressions__footer h4 {
    margin-bottom: 2rem;
  }

  .impressions__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /* about styles */
  .about {
    padding-bottom: 7rem;
  }

  .about h1 {
    font-size: 7.2rem;
  }

  .about p {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }

  /* contact styles */
  .contact {
    padding: 6rem 0 5rem;
  }

  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact h1 {
    margin-bottom: 6rem;
  }

  .contact__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contact__group-element:not(:last-child) {
    margin-bottom: 4rem;
  }

  .contact__data {
    margin-bottom: 9rem;
  }

  .contact__circle {
    padding: 3rem;
    height: 11rem;
    width: 11rem;
  }

  .contact__data h3 {
    font-size: 4.8rem;
  }

  .contact__data h3 span {
    font-size: 2.8rem;
  }

  .contact__vl {
    display: none;
  }

  .contact__form input[type=text],
  .contact__form textarea {
    font-size: 4.8rem;
    height: 10rem;
  }

  .contact__form textarea {
    height: 38rem;
  }

  .contact__form .btn.btn-lg {
    max-width: 100%;
  }

  /* gallery styles */
  .gallery__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery__element {
    margin-bottom: 4rem;
    width: 100%;
  }

  .gallery__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem;
  }

  .gallery__quantity img {
    margin-right: 1rem;
    height: 2.8rem;
    width: 3.4rem;
  }

  .gallery__quantity span {
    font-size: 2.8rem;
    line-height: 2rem;
  }

  .gallery__data p,
  .gallery__data h3 {
    font-size: 3.6rem;
    line-height: 5.6rem;
  }

  /* impression styles */
  .impression__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .impression__data h2 {
    font-size: 3.6rem;
    line-height: 8rem;
  }

  .impression__img {
    max-width: 100%;
  }

  .impression__data {
    margin: 0;
    max-width: 100%;
  }

  .impression__data p {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }

  .impression__data .btn.btn-lg {
    margin: 0 auto;
  }

  /* closed styles */
  .closed {
    padding: 6rem 0 5rem;
  }

  .closed p {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }


  /* signUp styles */
  .signUp .container {
    padding: 1rem 1rem 5rem;
  }

  .signUp h2 {
    font-size: 6.4rem;
    letter-spacing: 0.32rem;
    line-height: 8rem;
  }

  .signUp h4 {
    font-size: 3.6rem;
  }

  .signUp__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
    height: auto;
  }

  .signUp__form input {
    font-size: 4.8rem;
  }

  .signUp__form input[type=text] {    
    margin: 0 0 3.4rem;
    height: 10rem;
    max-width: 100%;
  }

  .signUp__form input[type=submit] {
    max-width: 100%;
  }

  .signUp__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 3rem;
  }

  .signUp__element {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 3rem;
  }

  .signUp__element h5 {
    font-size: 2.8rem;
  }

  .signUp__element img {
    height: 4.8rem;
  }

  /* footer styles */
  .footer {
    height: auto;
  }

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5rem 0;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 12rem;
  }

  .footer__soc {
    margin: 0;
  }

  .footer__soc a {
    height: 7.4rem;
    width: 7.4rem;
  }

  .footer__soc a:not(:last-child) {
    margin-left: 5rem;
  }

  .footer__logo {
    margin-bottom: 5rem;
    width: 19rem;
  }

  .footer__builder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__builder span {
    font-size: 2.8rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .footer__builder img {
    height: 4rem;
    width: 26rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}