@import url('https://fonts.googleapis.com/css?family=Assistant:400,700&subset=hebrew');

html, body {
	direction: rtl;
	font-family: 'Assistant', sans-serif;
	font-size: 12px;
	/*line-height: 1;*/
}
p {
	margin: 0;
	padding: 0;
}
a:hover, a:focus {
	text-decoration: none;
}

/*--- Login page Style ---*/
.login {
	background: url(../img/main-bg.jpg) center no-repeat;
	background-size: 100% 100%;
	position: relative;
	height: 100vh;
	width: 100%;
}

.logo img {
	margin: 3.2rem 0 0 3.2rem;
	max-height: 5.5rem;
	max-width: 17.5rem;
}
.logo_mobile {
	display: none;
}
.logo_mobile img {
	max-height: 20.7rem;
	max-width: 50rem;
	width: 100%;
}

.login-field {
	-webkit-box-shadow: 1px 6px 25px 4px rgba(8, 8, 8, 0.28);
	box-shadow: 1px 6px 25px 4px rgba(8, 8, 8, 0.28);
	border-radius: .5rem;
	position: absolute;
	top: 35%;
	right: 10%;
	width: 32rem;
	z-index: 999;
}
.login-field__title {
	background-color: #000;
	border-radius: .5rem .5rem 0 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 9.6rem;
}
.login-field__title h2 {
	color: #fff;
	font-size: 2.4rem;
	line-height: 2.7rem;
}
.login-field__description {
	background-color: #fff;
	border-radius: 0 0 .5rem .5rem;
	opacity: .97;
	padding: 1.4rem 5rem; 
}
.login-field__form {
	width: 100%;
}
.login-field__input {
	margin-bottom: 1.2rem;
	position: relative;
}
.login-field__input input {
	border: none;
	border-bottom: .1rem solid rgba(160, 159, 159, .5);
	font-size: 1.4rem;
	padding: 1.2rem 0 1.2rem 2.7rem;
	width: 100%;
}
.login-field input::-webkit-input-placeholder {
	color: #4d4d4d;
}
.login-field input:-ms-input-placeholder {
	color: #4d4d4d;
}
.login-field input::-ms-input-placeholder {
	color: #4d4d4d;
}
.login-field input::placeholder {
	color: #4d4d4d;
}
.login-field__input img {
	position: absolute;
	top: 1.2rem;
	left: .3rem;
	height: 2.4rem;
	width: 2.4rem;
}

.login-field__error {
	color: #f00;
	font-size: 1.5rem;
	line-height: 1.6rem;
	text-align: center;
}

.login-field__button,
.login-field__button_mobile {
	text-align: center;
}
.login-field__button button,
.login-field__button_mobile button {
	background-color: #00aeef;
	border: none;
	border-radius: 1.8rem;
	color: #fff;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 1.8rem;
	line-height: 1;
	padding: 1.2rem;
	position: relative;
	width: 16.3rem;
}
.login-field__button button img,
.login-field__button_mobile button img {
	position: absolute;
	left: 1.2rem;
}
.login-field__button_mobile {
	display: none;
}

/*--- CPanel index page Style ---*/
/* navbar style */
.navbar {
	background-color: #000;
	padding: 0 1rem;
}
.navbar-brand {
	padding: 1rem;
}
.navbar-brand img {
	max-height: 5.5rem;
	max-width: 17.5rem;
}
.navbar-dark .navbar-toggler {
	border: none;
}
.navbar-toggler-icon {
	height: 3.1em;
	width: 4.4em
}
.nav-item {
	font-size: 2.5rem;
	text-align: right;
}

/* cpanel style */
.cpanel {
	color: #4d4d4d;
	padding: 0 2.4rem;
}
.cpanel__info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 4.6rem 0 3rem;
}
.cpanel__user {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.cpanel__user span {
	font-size: 1.6rem;
}
.cpanel__user img {
	margin-left: 1.1rem;
	height: 2.4rem;
	width: 2.4rem;
}
.cpanel__short {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 3.9rem 4.1rem 3.1rem 1.9rem
}
.cpanel__short-element {
	padding-right: 7rem;
	text-align: center;
}
.cpanel__short-element p {
	font-size: 1.3rem;
}
.cpanel__short-element span {
	font-size: 2.9rem;
	font-weight: 700;
}

.cpanel__description {
	direction: ltr;
	padding-bottom: 3rem;
}
.cpanel__description-top {
	background-color: #f6f8ff;
	border-bottom: .1rem solid #aeb1b5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.cpanel__description-middle {
	border-bottom: .1rem solid #aeb1b5;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.cpanel__description-middle .column:first-child img {
	height: 1.5rem;
	width: 1rem;
}
.cpanel__description-middle.home div:first-child span {
	display: none;
}
.cpanel__description-top div {
	padding: 2.1rem 0 1.9rem;
}
.cpanel__description-middle div {
	padding: 1.1rem 0 .9rem;
}
.cpanel__description-top div,
.cpanel__description-middle div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.cpanel__description-top div:first-child,
.cpanel__description-middle div:first-child {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: right;
	width: 1rem;
}
.cpanel__description-top .column,
.cpanel__description-middle .column {
	font-size: 1.4rem;
	line-height: 2.7rem;
	text-align: right;
}
.cpanel__description-top.home .column,
.cpanel__description-middle.home .column {
	width: calc(100% / 10 - 1rem);
}

.modal.home .modal-dialog {
	margin: 5% auto;
	max-width: 50%;
}
.modal.home .modal-content {
	border: .4rem solid #000;
	border-radius: 1.4rem;
	-webkit-box-shadow: 1px 1px 7px 1px rgba(44, 44, 44, 0.78);
	box-shadow: 1px 1px 7px 1px rgba(44, 44, 44, 0.78);
	padding: 13rem 7rem 5rem 10rem;
}
.modal.home .modal__line {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: .5rem 0;
}
.modal.home .modal__line span {
	font-size: 3rem;
	text-align: right;
}
.modal.home .modal__line:nth-child(1),
.modal.home .modal__line:nth-child(9),
.modal.home .modal__line:nth-child(10) {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.modal.home .modal__line:nth-child(2) span:nth-child(2),
.modal.home .modal__line:nth-child(3) span:nth-child(1),
.modal.home .modal__line:last-child span:last-child {
	color: #4d4d4d;
}
.modal.home .modal__line:last-child span {
	margin-top: 4rem;
}
.modal.home .modal__line span:last-child {
	color: #000000;
}
.modal.home .modal-body hr {
	background-color: #aeb1b5;
	border: none;
	margin: 1rem 0 1rem auto;
	height: .2rem;
	width: 80%;
}
.modal.home .close {
	padding: 1rem 3rem!important;
	position: absolute;
	top: 4.3rem;
	left: 1.7rem;
	z-index: 999;
}
.modal.home .close span {
	font-size: 8rem;
	font-weight: 400;
}

/* join style projects, personnel */
.desktop_show {
	display: block;
}
.desktop_hide {
	display: none;
}
.cpanel__projects-info,
.cpanel__personnel-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 1.8rem;
}
.cpanel__projects-number,
.cpanel__personnel-number {
	text-align: center;
}
.cpanel__projects-number p,
.cpanel__personnel-number p {
	font-size: 1.3rem;
}
.cpanel__projects-number span,
.cpanel__projects-title p,
.cpanel__personnel-number span,
.cpanel__personnel-title p {
	font-size: 2.9rem;
	font-weight: 700;
}
.cpanel__projects-title a,
.cpanel__personnel-title a {
	background-color: #08b1ef;
	border-radius: .5rem;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 2rem;
	padding: .5rem 2rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.cpanel__projects-title>p,
.cpanel__personnel-title>div {
	margin-bottom: 1rem;
}

/* projects style */
.cpanel__description-top.projects .column,
.cpanel__description-middle.projects .column {
	width: calc(100% / 4);
}
.cpanel__description-top.projects .column:nth-child(3),
.cpanel__description-middle.projects .column:nth-child(3),
.cpanel__description-top.projects .column:nth-child(4),
.cpanel__description-middle.projects .column:nth-child(4) {
	width: 15%;
}
.cpanel__description-middle.projects .column:first-child img {
	margin-right: 2rem;
}

/* personnel style */
.cpanel__personnel-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.cpanel__personnel-title>div {
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.cpanel__personnel-title img {
	margin-right: 2.4rem;
}
.cpanel__personnel-title img.rotate {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.cpanel__description-top.personnel.admin .column,
.cpanel__description-middle.personnel.admin .column {
	width: calc(100% / 6);
}
.cpanel__description-middle.personnel.admin .column:first-child img {
	margin-right: 2rem;
}

.cpanel__description-top.personnel.worker .column,
.cpanel__description-middle.personnel.worker .column {
	width: calc(100% / 5);
}
.cpanel__description-middle.personnel.worker .column:first-child img {
	margin-right: 2rem;
}
.cpanel__personnel-hr {
	border-bottom: .1rem solid #c4c4c4;
	margin-bottom: 2.2rem;
}
.cpanel__personnel-hr.show {
	display: block;
}
.cpanel__personnel-hr.hide {
	display: none;
}

/* style for edit modal window */
.modal.edit .modal-dialog {
	margin: 5% auto;
	max-width: 50%;
}
.modal.edit {
	direction: rtl;
}
.modal.edit .modal-content {
	padding: 3rem;
}
.modal.edit .modal-header {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: none;
}
.modal.edit .modal-header h5 {
	color: #000;
	font-size: 2.4rem;
	font-weight: 700;
}
.modal.edit .close span {
	font-size: 6rem;
}
.modal.edit .modal-header .close {
	margin: 0rem;
	padding: 1rem 2rem;
	position: relative;
	left: -2rem;
	top: -1rem;
}
.modal.edit .modal__line {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 2.5rem;
	width: 100%;
}
.modal.edit .modal__line label {
	font-size: 1.8rem;
	text-align: right;
	width: 35%;
}
.modal.edit .modal__line input,
.modal.edit .modal__line textarea {
	border: .1rem solid #b5b5b5;
	color: #101010;
	font-size: 1.8rem;
	padding: 1rem 1.5rem;
	text-align: right;
	width: 65%;
}
.modal.edit .modal__line textarea {
	min-height: 18rem;
}
.modal.edit .modal-footer {
	border-top: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.modal.edit .modal-footer a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 2.4rem;
}
.modal.edit .modal-footer a:last-child {
	color: #08b1ef;	
}
.modal.edit .modal-footer a:first-child {
	background-color: #08b1ef;
	color: #fff;
	height: 5rem;
	width: 19rem;
}

/* datepicker style */
.datepicker {
	font-size: 2rem!important;
	z-index: 9999;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
	html, body {
		font-size: 11px;
	}
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
	html, body {
		font-size: 10px;
	}

	/* modal style */
	.modal-dialog {
		max-width: 60%;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	html, body {
		font-size: 9px;
	}

	/* modal style */
	.modal-dialog {
		max-width: 70%;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	html, body {
		font-size: 8px;
	}

	/* modal style */
	.modal-dialog {
		max-width: 80%;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
	html, body {
		font-size: 7px;
	}

	/*--- Login page Style ---*/
	.login {
		background-size: cover;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.logo {
		display: none;
	}
	.logo_mobile {
		display: block;
		position: relative;
		top: 6rem;
		text-align: center;
	}

	.login-field {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 1.5rem;
		margin: 0 7.1rem;
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 999;
	}
	.login-field__title {
		display: none;
	}
	.login-field__description {
		-webkit-box-shadow: 0 5px 10px 1px rgba(5, 5, 5, 0.33);
		box-shadow: 0 5px 10px 1px rgba(5, 5, 5, 0.33);
		border-radius: 1.4rem;
		opacity: 1;
		padding: 15.8rem 12rem 6rem;
	}
	.login-field__input input {
		font-size: 4.8rem;
		padding: 6rem 0 6rem 2.7rem;
	}
	.login-field__input img {
		top: 6rem;
		height: 7.7rem;
		width: 7.7rem;
	}

	.login-field__error {
		font-size: 3.7rem;
		padding-top: 5.4rem;
	}

	.login-field__button {
		display: none;
	}
	.login-field__button_mobile {
		display: block;
		margin-top: 6rem;
	}
	.login-field__button_mobile button {
		border-radius: 5rem;
		font-size: 4.7rem;
		padding: 3.5rem;
		width: 47rem;
	}
	.login-field__button_mobile button img {
		left: 3.5rem;
	}

	/*--- CPanel index page Style ---*/
	/* navbar style */
	.navbar-brand img {
		max-height: 9rem;
		max-width: 30rem;
	}
	.navbar-toggler-icon {
		height: 4.4em;
		width: 6.3em
	}

	/* cpanel style */
	.cpanel {
		padding: 0;
	}
	.cpanel__info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 4.7rem 0 10.1rem;
	}
	.cpanel__user span {
		font-size: 2.9rem;
	}
	.cpanel__user img {
		margin-left: 1.9rem;
		height: 4.3rem;
		width: 4.3rem;
	}
	.cpanel__short {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding: 10rem 0 0 0;
		width: 100%;
	}
	.cpanel__short-element {
		padding-right: 0rem;
	}
	.cpanel__short-element p {
		font-size: 3.4rem;
	}
	.cpanel__short-element span {
		font-size: 7.7rem;
	}

	.hide {
		display: none!important;
	}
	.cpanel__description-top {
		background-color: #f6f8ff;
		border-bottom: .1rem solid #aeb1b5;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 1.5rem;
	}
	.cpanel__description-middle {
		border-bottom: .1rem solid #aeb1b5;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 1.5rem;
	}
	.cpanel__description-middle .column:first-child img {
		height: 3rem;
		width: 2rem;
	}
	.cpanel__description-top div,
	.cpanel__description-middle div {
		padding: 2.6rem .5rem 2.7rem;
	}
	.cpanel__description-top div:first-child,
	.cpanel__description-middle div:first-child {
		font-size: 3.4rem;
		width: 17%;
	}
	.cpanel__description-middle div:first-child span {
		padding-left: 1rem;
	}
	.cpanel__description-top.home .column,
	.cpanel__description-middle.home .column {
		width: calc(83% / 4);
	}
	.cpanel__description-top .column {
		font-size: 4.5rem;
	}
	.cpanel__description-middle .column {
		font-size: 4.1rem;
	}

	/* modal style */
	.modal-dialog {
		margin: 15% 4.3rem 0;
		max-width: 100%;
	}
	.modal__line span {
		font-size: 3.5rem;
	}

	/* join style projects, personnel */
	.desktop_show {
		display: none;
	}
	.desktop_hide {
		display: block;
	}
	.cpanel__projects-title a,
	.cpanel__personnel-title a {
		border-radius: 1rem;
		font-size: 4rem;
		padding: 1rem 4rem;
	}

	/* projects style */
	.cpanel__projects-info {
		padding: 0 2rem 3.1rem;
	}
	.cpanel__projects-number {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.cpanel__projects-number p {
		font-size: 3.5rem;
		margin-bottom: 0;
		margin-left: 2.3rem;
	}
	.cpanel__projects-number span,
	.cpanel__projects-title p {
		font-size: 4.5rem;
	}
	.cpanel__description-top.projects .column,
	.cpanel__description-middle.projects .column {
		width: calc(100% / 3);
	}
	.cpanel__description-middle.projects .column:first-child img {
		margin-right: 2rem;
	}

	/* personnel style */
	.cpanel__personnel-number {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.cpanel__personnel-number p {
		font-size: 3.5rem;
		margin-bottom: 0;
		margin-left: 2.3rem;
	}
	.cpanel__personnel-number span,
	.cpanel__personnel-title p,
	.modal.edit .modal-header h5 {
		font-size: 4.5rem;
	}
	.cpanel__personnel-info {
		padding: 0 2rem 3.1rem;
	}
	.cpanel__description-top.personnel.admin .column,
	.cpanel__description-middle.personnel.admin .column,
	.cpanel__description-top.personnel.worker .column,
	.cpanel__description-middle.personnel.worker .column {
		width: calc(100% / 4);
	}

	/* style for edit modal window */
	.modal.edit .modal-dialog {
		margin: 11.4rem auto .7rem;
		max-width: 100%;
	}
	.modal.edit .modal__line label {
		font-size: 3.5rem;
		width: 35%;
	}
	.modal.edit .modal__line input,
	.modal.edit .modal__line textarea {
		font-size: 3.5rem;
		width: 65%;
	}
	.modal.edit .modal-footer a {
		font-size: 3.4rem;
	}
	.modal.edit .modal-footer a:first-child {
		background-color: #08b1ef;
		color: #fff;
		height: 7rem;
		width: 21rem;
	}

	/* datepicker style */
	.datepicker {
		font-size: 3rem!important;
		width: 350px;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	html, body {
		font-size: 6px;
	}

	/* cpanel style */
	.cpanel__description-top,	
	.cpanel__description-middle {
		padding: 0 1rem;
	}
	/*.cpanel__description-middle .column {
		font-size: 3.6rem;
	}*/

	/* modal style */
	.modal-content {
		padding: 10rem 4rem 2rem 7rem;
	}

	/* datepicker style */
	.datepicker {
		font-size: 3.5rem!important;
		width: 300px;
	}
}

@media (max-width: 479.98px) {
	html, body {
		font-size: 4px;
	}

	/* cpanel style */
	.cpanel__description-top,
	.cpanel__description-middle {
		padding: 0 .5rem;
	}
	.cpanel__description-middle .column {
		font-size: 4rem;
	}

	/* modal style */
	.modal-content {
		padding: 9rem 3rem 1rem 6rem;
	}

	/* datepicker style */
	.datepicker {
		font-size: 5rem!important;
		width: 250px;
	}
}