/* fonts */
@font-face {
  font-family: 'Amithen';
  src: url('../fonts/Amithen.eot');
  src: url('../fonts/Amithen.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Amithen.woff') format('woff'),
  url('../fonts/Amithen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Assistant Regular';
  src: url('../fonts/Assistant-Regular.eot');
  src: url('../fonts/Assistant-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Assistant-Regular.woff') format('woff'),
  url('../fonts/Assistant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Assistant Bold';
  src: url('../fonts/Assistant-Bold.eot');
  src: url('../fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Assistant-Bold.woff') format('woff'),
  url('../fonts/Assistant-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  color: #4a4a4a;
  font-family: 'Assistant Bold';
  font-weight: 700;
}

/* container styles */
.container {
  margin: 0 auto;
  min-width: 32rem;
}

/* ticket styles */
.ticket {
  background-color: #ffffff;
  border: 0.1rem solid #e8e8e8;
  border-radius: 0.6rem;
  margin: 2.5rem 2.8rem;
  overflow: hidden;
  text-align: center;
}

.ticket__header {
  background-color: #fc4046;
  padding: 1.1rem 2.2rem;
}

.ticket__header h1 {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: -0.019rem;
}

.ticket__logo {
  margin: 2.4rem auto 0;
  height: 5.8rem;
  width: 14rem;
}

.ticket__logo img {
  width: 100%;
}

.ticket__belongs-to {
  margin: 2rem 0.9rem;
}

.ticket__belongs-to h2 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.04rem;  
  text-transform: uppercase;
}

.ticket__avatar {
  margin: 0 auto 1rem;
  height: 11.1rem;
  width: 11.1rem;
}

.ticket__avatar img {
  width: 100%;
}

.ticket__user-data {
  margin-bottom: 1.6rem;
}

.ticket__user-data h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: -0.02rem;
}

.ticket__hl {
  background-color: #ffcb3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3.2rem 1.4rem;
  padding: 0 .4rem;
  height: 0.8rem;
}

.ticket__hl div {
  border-bottom: .2rem dotted #2b292a;
  width: 100%;
}

.ticket__qr {
  margin: 0 auto .8rem;
  height: 12rem;
  width: 12rem;
}

.ticket__qr img {
  width: 100%;
}

.ticket__date {
  margin-bottom: 1rem;
}

.ticket__date h4 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: -0.017rem;
  margin-bottom: .6rem;
}

.ticket__info {
  font-family: 'Assistant Regular';
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: -0.017rem;
}

.ticket__see-ya {
  margin-bottom: 2rem;
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.ticket__see-ya span {
  display: block;
  font-family: 'Amithen';
  font-size: 4.3rem;
  line-height: 5.8rem;
  letter-spacing: 0.108rem;
  margin-right: 1.9rem;
  text-align: right;
}

.ticket__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1.2rem 2.2rem;
}

.ticket__buttons button {
  border: 1px solid #fc4046;
  border-radius: 1.7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  margin: 0 .6rem;
  padding: 0;
  text-transform: uppercase;
  height: 3.6rem;
  width: calc(50% - 1.2rem - 1px);
}

.btn--red {
  color: #fff;
  background-color: #fc4046;
}

.btn--white {
  color: #fc4046;
  background-color: #fff;
}


/* Landscape phones and smaller */
@media (min-width: 480px) {
  html {
    font-size: 11px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 801px) {
  html {
    font-size: 13px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}