/* Fonts */
@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo.eot');
  src: url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arimo.woff') format('woff'),
  url('../fonts/Arimo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arimo, Helvetica, sans-serif;
  font-weight: 400;
  direction: rtl;
}

/* wrapper style */
.wrapper {
  background: -o-linear-gradient(231.85deg, #7D4D9E 1.07%, #7981BB 43.67%, #77A2CC 77.97%, #74CDE4 94.1%);
  background: linear-gradient(218.15deg, #7D4D9E 1.07%, #7981BB 43.67%, #77A2CC 77.97%, #74CDE4 94.1%);
}

/* container styles */
.container {
  padding-bottom: 5rem;
}

/* header styles */
.header__logo {
  padding: 1.2rem;
  text-align: center;
}

.header__logo img {
  height: 2.2rem;
}

/* event styles */
.event {
  color: #fff;
  text-align: center;
}

.event__header {
  background: -webkit-gradient(linear, left top, right top, from(#00E8BC), to(#00FF68));
  background: -o-linear-gradient(left, #00E8BC 0%, #00FF68 100%);
  background: linear-gradient(90deg, #00E8BC 0%, #00FF68 100%);
  -webkit-box-shadow: 0px 4px 8px rgba(49, 8, 82, 0.25);
          box-shadow: 0px 4px 8px rgba(49, 8, 82, 0.25);
}

.event__header h1 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.1rem;
  padding: 1.3rem 0;
  text-align: center;
}

.event__number p {
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding-top: 1.3rem;
  font-weight: 700;
}

.event__number h2 {
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: 700;
  padding-top: 1rem;
}

.event__code {
  margin-top: 1rem;
}

.event__code h2 {
  font-size: 2.1rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-bottom: .6rem;
}

.event__code hr {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.2%, #00E8BC), color-stop(101.26%, #00FF68));
  background: -o-linear-gradient(top, #00E8BC -1.2%, #00FF68 101.26%);
  background: linear-gradient(180deg, #00E8BC -1.2%, #00FF68 101.26%);
  border: none;
  border-radius: 6px;
  margin: 2.5rem auto;
  height: 1rem;
  width: 14rem;
}

.event__code h3 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 700;
}

.event__qr {
  background: url(../img/qr-bg.png) center / 100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 26.2rem;
  width: 26.2rem;
}

.event__qr img {
  height: 20.6rem;
  width: 20.6rem;
}


/* Landscape phones and smaller */
@media (min-width: 375px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 600px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 801px) {
  html {
    font-size: 15px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}