/* popup styles */
.modal p {
  font-size: 40px;
}

@media (min-width: 1200px) and (max-width: 1439.98px){
  /* header styles */
  .header {
    padding: 0 100px;
    height: 70px;
  }

  /* intro styles */
  .intro {
    padding: 0 100px;
  }

  .intro__content h2 {
    line-height: 40px;
  }

  .intro__det1 {
    top: 290px;
    left: 210px;
  }

  .intro__det2 {
    top: 470px;
    left: 340px;
  }

  .intro__det3 {
    top: 360px;
    left: 470px;
  }

  /* promo styles */
  .promo {
    margin: 0 20px;
    padding: 90px 100px;
  }
  
  /* about styles */
  .about__top {
    padding: 80px 100px 70px;
  }

  .about__bottom {
    padding: 0 100px;
  }

  /* contacts style */
  .contacts {
    padding: 80px 100px 100px;
  }

  /* download styles */
  .download {
    padding: 0 100px;
  }

  /* footer styles */
  .footer {
    padding: 0 100px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* header styles */
  .header {
    padding: 0 100px;
    height: 70px;
  }

  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -700px no-repeat;
    background-size: 100%;
    padding: 130px 20px 0;
  }

  .intro__content h1 {
    font-size: 52px;
    line-height: 58px;
  }

  .intro__content h2 {
    font-size: 36px;
  }

  .intro__content h3 {
    font-size: 18px;
  }

  .intro__get a:first-child {
    margin-left: 18px;
  }

  .intro__seo {
    max-width: 335px;
  }

  .intro__det1 span {
    font-size: 14px;
    line-height: 17.27px;
  }

  .intro__det1 span img {
    margin-left: 14px;
  }

  .intro__det2 span,
  .intro__det3 span {
    font-size: 9px;
    line-height: 14.63px;
  }

  .intro__det2 span:not(:last-child),
  .intro__det3 span:not(:last-child) {
    margin-bottom: 8px;
  }

  .intro__det2 span img {
    margin-left: 8px;
  }

  .intro__det3 span img {
    margin-left: 16px;
  }

  .intro__bg-mobile img {
    top: 90px;
    max-width: 335px;
  }

  /* promo styles */
  .promo {
    margin: 0 20px;
    padding: 90px 100px;
  }
  
  /* about styles */
  .about__top {
    padding: 80px 100px 70px;
  }

  .about__bottom {
    padding: 0 100px;
  }

  /* contacts style */
  .contacts {
    padding: 80px 100px 100px;
  }

  /* download styles */
  .download {
    padding: 0 100px;
  }

  /* footer styles */
  .footer {
    padding: 0 100px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
  /* header styles */
  .header {
    padding: 0 20px;
    height: 70px;
  }

  .navbar {
    -webkit-box-shadow: 0 2px 25px -7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 25px -7px rgba(0, 0, 0, 0.3);
    margin: 0 20px;
    top: 70px;
  }

  .navbar a {
    font-size: 24px;
  }

  .navbar a:not(:last-child) {
    margin-bottom: 50px;
  }

  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -400px no-repeat;
    background-size: 100%;
    padding: 130px 20px 0;
  }

  .intro__content h1 {
    font-size: 52px;
    line-height: 58px;
  }

  .intro__content h2 {
    font-size: 36px;
  }

  .intro__content h3 {
    font-size: 18px;
  }

  .intro__get a:first-child {
    margin-left: 18px;
  }

  .intro__seo {
    max-width: 335px;
  }

  .intro__det1 span {
    font-size: 14px;
    line-height: 17.27px;
  }

  .intro__det1 span img {
    margin-left: 14px;
  }

  .intro__det2 span,
  .intro__det3 span {
    font-size: 9px;
    line-height: 14.63px;
  }

  .intro__det2 span:not(:last-child),
  .intro__det3 span:not(:last-child) {
    margin-bottom: 8px;
  }

  .intro__det2 span img {
    margin-left: 8px;
  }

  .intro__det3 span img {
    margin-left: 16px;
  }

  .intro__bg-mobile img {
    top: 90px;
    max-width: 335px;
  }

  /* more styles */
  .more__title {
    font-size: 38px;
    margin-bottom: 47px;
  }

  .more__item:not(:first-child) {
    margin-bottom: 60px;
  }

  .more__item h3 {
    font-size: 30px;
  }

  .more__item p {
    font-size: 18px;
  }

  /* promo styles */
  .promo {
    margin: 0 20px;
    padding: 90px 0;
  }

  .promo__section:nth-child(1) {
    margin-bottom: 45px;
  }

  .promo__section:nth-child(2) {
    margin-bottom: 45px;
  }

  .promo__subtitle {
    font-size: 30px;
  }

  .promo__section:nth-child(1) .promo__subtitle {
    margin-top: 35px;
  }

  .promo__section:nth-child(2) .promo__subtitle {
    margin-top: 35px;
  }

  .promo__section:nth-child(3) .promo__subtitle {
    margin-top: 35px;
  }

  .promo__subtitle img {
    margin-right: 7px;
    height: 28px;
  }

  .promo__paragraph {
    font-size: 18px;
  }

  /* about styles */
  .about {
    background: url(../img/about-bg-bottom.svg) bottom left -50px no-repeat,
    -webkit-gradient(linear,
      left top, left bottom,
      color-stop(28%, #33323e),
      color-stop(28%, #08ce9e));
    background: url(../img/about-bg-bottom.svg) bottom left -50px no-repeat,
    -webkit-linear-gradient(top,
      #33323e 28%,
      #08ce9e 28%);
    background: url(../img/about-bg-bottom.svg) bottom left -50px no-repeat,
    -o-linear-gradient(top,
      #33323e 28%,
      #08ce9e 28%);
    background: url(../img/about-bg-bottom.svg) bottom left -50px no-repeat,
    linear-gradient(to bottom,
      #33323e 28%,
      #08ce9e 28%);
    background-size: 100%, 100% 100%;
    padding-bottom: 120px;
  }

  .about__top {
    padding: 80px 20px 70px;
  }

  .about__top h2 {
    font-size: 35px;
  }

  .about__top p {
    font-size: 18px;
    line-height: 22px;
  }

  .about__section {
    padding: 0 20px;
  }

  .about__section:nth-child(2) {
    margin-bottom: 30px;
  }

  .about__section:nth-child(1) .about__image img {
    top: -80px;
    left: -70px;
  }

  .about__section:nth-child(2) .about__image img {
    top: -20px;
  }

  .about__description {
    padding: 40px 20px 60px;
  }

  .about__description h3 {
    font-size: 30px;
  }

  .about__description p {
    font-size: 18px;
  }

  .about__description p:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__description img {
    margin: 0 auto 23px;
  }

  /* contacts styles */
  .contacts {
    padding: 80px 20px 80px;
  }

  /* footer styles */
  .footer {
    padding: 50px 20px;
  }

  .footer__navbar a {
    margin-right: 30px;
  }

  .footer__navbar a:not(:last-child) {
    margin-bottom: 20px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
 /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -400px no-repeat;
    background-size: 100%;
    padding: 130px 20px 0;
  }

  /* contacts styles */
  .contacts {
    padding: 80px 20px 80px;
  }

  .contacts__group {
    margin-bottom: 33px;
  }

  .contacts__left .contacts__long .contacts__group textarea {
    margin-bottom: 33px;
    height: 130px;
  }

  .contacts__form input[type=submit] {
    margin-top: 27px;
  }

  /* download styles */
  .download {
    padding: 70px 20px;
  }

  .download h2 {
    margin-bottom: 55px;
  }

  .download a:first-of-type img {
    margin-bottom: 30px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -140px no-repeat;
    background-size: 100%;
    padding: 130px 20px 0;
  }

  /* about styles */
  .about__section:nth-child(1) .about__image img {
    top: -60px;
    left: -30px;
  }
}