@font-face {
  font-family: 'almoni-tzar-aaa-bold';
  src: url('../fonts/almoni-tzar-aaa-bold.eot');
  src: url('../fonts/almoni-tzar-aaa-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/almoni-tzar-aaa-bold.woff') format('woff'),
  url('../fonts/almoni-tzar-aaa-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'almoni-tzar-aaa-regular';
  src: url('../fonts/almoni-tzar-aaa-regular.eot');
  src: url('../fonts/almoni-tzar-aaa-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/almoni-tzar-aaa-regular.woff') format('woff'),
  url('../fonts/almoni-tzar-aaa-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansHebrewCondensed-Bold';
  src: url('../fonts/OpenSansHebrewCondensed-Bold.eot');
  src: url('../fonts/OpenSansHebrewCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansHebrewCondensed-Bold.woff') format('woff'),
  url('../fonts/OpenSansHebrewCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansHebrewCondensed-ExtraBold';
  src: url('../fonts/OpenSansHebrewCondensed-ExtraBold.eot');
  src: url('../fonts/OpenSansHebrewCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansHebrewCondensed-ExtraBold.woff') format('woff'),
  url('../fonts/OpenSansHebrewCondensed-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansHebrew-Regular';
  src: url('../fonts/OpenSansHebrew-Regular.eot');
  src: url('../fonts/OpenSansHebrew-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansHebrew-Regular.woff') format('woff'),
  url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

html {
  direction: rtl;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #33323e;  
  font-family: 'OpenSansHebrew-Regular';
  line-height: normal;
  font-weight: 400;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* popup styles */
.modal p {
  direction: ltr;
  font-family: 'OpenSansHebrewCondensed-ExtraBold';
  font-size: 4rem;
}

.modal a.close-modal {
  color: #000;
}

.blocker {
  z-index: 9999 !important;
}

/* header styles */
.header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.2rem 2.5rem -1.1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 2.5rem -1.1rem rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22.5rem;
  position: fixed;
  height: 7rem;
  width: 100%;
  z-index: 999;
}

.header__logo {
  height: 3.5rem;
}

.header__logo img {
  height: 3.5rem;
}

.header__toggler {
  cursor: pointer;
}

.header__toggler.open {
  background: url(../img/menu.svg) center no-repeat;
  background-size: 100%;
  display: none;
  height: 2.4rem;
  width: 3.4rem;
}

.header__toggler.close {
  background: url(../img/close.svg) center no-repeat;
  background-size: 100%;
  display: none;
  height: 2.4rem;
  width: 2.4rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__links {
  z-index: 1000;
}

.navbar a {
  color: #08ce9e;
  font-family: 'almoni-tzar-aaa-bold';
  font-size: 1.8rem;
  margin-right: 5rem;
}

.navbar a:hover {
  color: #f2afed;
}

/* main styles */
.main {
  width: 100%;
}

/* intro styles */
.intro {
  background: url(../img/intro-image.svg) left -3.5rem top no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22.5rem;
  position: relative;
  height: 65.7rem;
}

.intro__content {
  width: 50%;
}

.intro__content h1 {
  color: #f2afed;
  font-family: 'OpenSansHebrewCondensed-ExtraBold';
  font-size: 7rem;
  line-height: 7rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.intro__content h2 {
  font-family: 'OpenSansHebrewCondensed-Bold';
  font-size: 4.5rem;
  line-height: 2.8rem;
  margin-bottom: 2.1rem;
}

.intro__content h3 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 2.9rem;
}

.intro__content h3 br {
  display: none;
}

.intro__get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro__get a {
  display: inline-block;
}

.intro__get a:first-child {
  margin-left: 3.2rem;
}

.intro__get img {
  height: 5rem;
}

.intro__seo {
  position: relative;
  height: 100%;
  width: 50%;
}

.intro__det1,
.intro__det2,
.intro__det3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;  
}

.intro__det1 {
  top: 29rem;
  left: 8rem;
} 

.intro__det1 span {
  color: #08ce9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'almoni-tzar-aaa-regular';
  font-size: 2rem;
  line-height: 2.398rem;
}

.intro__det1 span:not(:last-child) {
  margin-bottom: 1rem;
}

.intro__det1 span img {
  margin-left: 1.6rem;
}

.intro__det2 {
  top: 47rem;
  left: 21rem;
}

.intro__det3 {
  top: 36rem;
  left: 34rem;
}

.intro__det2 span,
.intro__det3 span {
  color: #33323e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'almoni-tzar-aaa-regular';
  font-size: 1.3rem;
  line-height: 2.032rem;
}

.intro__det2 span:not(:last-child),
.intro__det3 span:not(:last-child) {
  margin-bottom: 2rem;
}

.intro__det2 span img {
  margin-left: 1rem;
}

.intro__det3 span img {
  margin-left: 1.6rem;
}

.intro__bg-mobile {
  display: none;
}

/* more styles */
.more {
  background-color: #33323e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.8rem 0;
}

.more__title {
  color: #ffffff;
  font-family: 'OpenSansHebrewCondensed-Bold';
  font-size: 4.5rem;
  margin-bottom: 5.5rem;
}

.more__title br {
  display: none;
}

.more__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.more__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more__item img {
  margin-bottom: 1.9rem;
  height: 5.8rem;
}

.more__item h3 {
  color: #ffffff;
  font-family: 'OpenSansHebrewCondensed-Bold';
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.more__item p {
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0 6.2rem;
  text-align: center;
}

/* promo styles */
.promo {
  background: url(../img/promo-bg-left.svg) left top 28.5rem no-repeat,
  url(../img/promo-bg-right.svg) right top 70rem no-repeat;
  margin: 0 auto;
  margin: 0 22.5rem;
  padding: 11.1rem 16rem 13.8rem;
}

.promo__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__section:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.promo__section:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.promo__section:nth-child(1) {
  margin-bottom: 10.9rem;
}

.promo__section:nth-child(2) {
  margin-bottom: 16.6rem;
}

.promo__section-left img {
  height: 25rem;
}

.promo__subtitle {
  color: #08ce9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'OpenSansHebrewCondensed-Bold';
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.promo__section:nth-child(1) .promo__subtitle {
  margin-top: 1.1rem;
}

.promo__section:nth-child(2) .promo__subtitle {
  margin-top: 5rem;
}

.promo__section:nth-child(3) .promo__subtitle {
  margin-top: 3rem;
}

.promo__subtitle img {
  margin-right: .7rem;
  height: 2.8rem;
}

.promo__paragraph {
  color: #000000;
  font-size: 1.6rem;
  line-height: 2.2rem;
  width: 29.2rem;
}

/* about styles */
.about {
  background: url(../img/about-bg-bottom.svg) bottom left 5.8rem no-repeat,
  -webkit-gradient(linear,
    left top, left bottom,
    color-stop(28%, #33323e),
    color-stop(28%, #08ce9e));
  background: url(../img/about-bg-bottom.svg) bottom left 5.8rem no-repeat,
  -webkit-linear-gradient(top,
    #33323e 28%,
    #08ce9e 28%);
  background: url(../img/about-bg-bottom.svg) bottom left 5.8rem no-repeat,
  -o-linear-gradient(top,
    #33323e 28%,
    #08ce9e 28%);
  background: url(../img/about-bg-bottom.svg) bottom left 5.8rem no-repeat,
  linear-gradient(to bottom,
    #33323e 28%,
    #08ce9e 28%);
  padding-bottom: 20rem;
}

.about__top {
  text-align: center;
  padding: 8rem 22.5rem 7rem;
}

.about__top h2 {
  color: #08ce9e;
  font-family: 'OpenSansHebrewCondensed-ExtraBold';
  font-size: 7rem;
  line-height: 7rem;
  margin-bottom: 4.2rem;
}

.about__top p {
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.about__bottom {
  padding: 0 22.5rem;
}

.about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-pack: justify;  
      -ms-flex-pack: justify;  
          justify-content: space-between;
}

.about__section:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__section:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__section:nth-child(1) {
  margin-bottom: 4rem;
}

.about__section:nth-child(2) {
  margin-bottom: 6.9rem;
}

.about__section:nth-child(1) .about__image img {
  height: 43rem;
}

.about__section:nth-child(2) .about__image img {
  height: 35rem;
}

.about__section:nth-child(1) .about__image img {
  margin-top: 5.9rem;
}

.about__description {
  background-color: #fff;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0.7rem 3.5rem -0.9rem #00523e;
          box-shadow: 0 0.7rem 3.5rem -0.9rem #00523e;
  padding: 4rem 5rem 6rem;
  height: 100%;
}

.about__section:nth-child(even) .about__description {
  width: 50rem;
  max-width: 50rem;
}

.about__section:nth-child(odd) .about__description {
  width: 48.5rem;
  max-width: 48.5rem;
}

.about__section:nth-child(2) .about__description {
 margin-top: 2.9rem;
}

.about__description h3 {
  color: #f2afed;
  font-family: 'OpenSansHebrewCondensed-ExtraBold';
  font-size: 2.4rem;
  margin-bottom: 2.3rem;
}

.about__description p {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}

.about__description p:not(:last-child) {
  margin-bottom: 3rem;
}

.about__section:nth-child(2) .about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__description img {
  margin-top: 5.6rem;
  margin-left: 2rem;
  height: 8rem;
  width: 8rem;
}

/* contacts styles */
.contacts {
  padding: 8rem 22.5rem 10rem;
}

.contacts__title {
  color: #08ce9e;
  font-family: 'OpenSansHebrewCondensed-ExtraBold';
  font-size: 7rem;
  line-height: 7rem;
  margin-bottom: 5rem;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contacts__left,
.contacts__right {
  width: calc((100% - 9.2rem) / 2);
}

.contacts__left .contacts__long,
.contacts__left .contacts__long .contacts__group,
.contacts__left .contacts__long .contacts__group textarea {
  height: 100%;
}

.contacts__short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.contacts__long:not(:last-child) {
  margin-bottom: 2rem;
}

.contacts__short .contacts__group {
  width: calc((100% - 4.8rem) / 2)
}

.contacts__long .contacts__group {
  width: 100%;
}

.contacts__long .contacts__group:first-child {
  margin-bottom: 2rem;
}

.contacts__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__group textarea,
.contacts__group input {
  background-color: #f9f9f9;
  border: 0.1rem solid #08ce9e;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
}

.contacts__group label {
  font-family: 'almoni-tzar-aaa-regular';
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.contacts__form input[type=submit] {
  background-color: #f2afed;
  border: 0.1rem solid #f2afed;
  border-radius: 2.5rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 5rem;
  padding: 1.5rem 8rem;
}

.contacts__form input[type=submit]:hover {
  background-color: #08ce9e;
  border: 0.1rem solid #08ce9e;
}

/* download styles */
.download {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22.5rem;
  height: 21.5rem;
}

.download h2 {
  color: #f2afed;
  font-family: 'almoni-tzar-aaa-bold';
  font-size: 7rem;
  line-height: 7rem;
  margin-left: 5rem;
}

.download a {
  display: inline-block;
}

.download a img {
  margin-left: 3.2rem;
  height: 5rem;
}

/* footer styles */
.footer {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.2rem 2.5rem -1.1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 2.5rem -1.1rem rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22.5rem;
  height: 14rem;
}

.footer__logo {
  height: 3.5rem;
}

.footer__logo img {
  height: 3.5rem;
}

.footer__navbar a {
  color: #08ce9e;
  font-family: 'almoni-tzar-aaa-bold';
  font-size: 1.8rem;
  margin-right: 5rem;
}

.footer__navbar a:hover {
  color: #f2afed;
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 10px;
  }

  /* header styles */
  .header {
    padding: 0 10rem;
    height: 7rem;
  }

  /* intro styles */
  .intro {
    padding: 0 10rem;
  }

  .intro__content {
    width: 35%;
  }

  .intro__content h2 {
    line-height: 4rem;
  }

  .intro__seo {
    width: 65%;
  }

  .intro__det1 {
    top: 29rem;
    left: 21rem;
  }

  .intro__det2 {
    top: 47rem;
    left: 34rem;
  }

  .intro__det3 {
    top: 36rem;
    left: 47rem;
  }

  /* promo styles */
  .promo {
    margin: 0 2rem;
    padding: 9rem 10rem;
  }
  
  /* about styles */
  .about__top {
    text-align: center;
    padding: 8rem 10rem 7rem;
  }

  .about__bottom {
    padding: 0 10rem;
  }

  /* contacts style */
  .contacts {
    padding: 8rem 10rem 10rem;
  }

  /* download styles */
  .download {
    padding: 0 10rem;
  }

  /* footer styles */
  .footer {
    padding: 0 10rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 10px;
  }

  /* header styles */
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 10rem;
    height: 7rem;
  }

  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -70rem no-repeat;
    background-size: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13rem 2rem 0;
    height: auto;
    z-index: 9;
  }

  .intro__content {
    width: 100%;
  }

  .intro__content h1 {
    font-size: 5.2rem;
    line-height: 5.8rem;
    text-align: center;
  }

  .intro__content h2 {
    font-size: 3.6rem;
    text-align: center;
  }

  .intro__content h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .intro__content h3 br {
    display: block;
  }

  .intro__get {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__get a:first-child {
    margin-left: 1.8rem;
  }

  .intro__seo {
    margin: 0 auto;
    max-width: 33.5rem;
    width: 100%;
  }

  .intro__det1,
  .intro__det2,
  .intro__det3 {
    z-index: 19;
  }

  .intro__det1 {
    top: auto;
    bottom: 0%;
    left: 35%;
  } 

  .intro__det1 span {
    font-size: 1.4rem;
    line-height: 1.727rem;
  }

  .intro__det1 span img {
    margin-left: 1.4rem;
  }

  .intro__det2 {
    top: auto;
    bottom: 26%;
    left: 69.5%;
  }

  .intro__det3 {
    top: auto;
    bottom: 43%;
    left: 70%;
  }

  .intro__det2 span,
  .intro__det3 span {
    font-size: .9rem;
    line-height: 1.463rem;
  }

  .intro__det2 span:not(:last-child),
  .intro__det3 span:not(:last-child) {
    margin-bottom: .8rem;
  }

  .intro__det2 span img {
    margin-left: .8rem;
  }

  .intro__det3 span img {
    margin-left: 1.6rem;
  }

  .intro__bg-mobile {
    display: block;
    text-align: center;
    width: 100%;
  }

  .intro__bg-mobile img {
    position: relative;
    top: 9rem;
    left: 0;
    right: 0;
    max-width: 33.5rem;
    width: 100%;
  }

  /* promo styles */
  .promo {
    margin: 0 2rem;
    padding: 9rem 10rem;
  }
  
  /* about styles */
  .about__top {
    text-align: center;
    padding: 8rem 10rem 7rem;
  }

  .about__bottom {
    padding: 0 10rem;
  }

  /* contacts style */
  .contacts {
    padding: 8rem 10rem 10rem;
  }

  /* download styles */
  .download {
    padding: 0 10rem;
  }

  /* footer styles */
  .footer {
    padding: 0 10rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
  html {
    font-size: 10px;
  }

  /* header styles */
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 2rem;
    height: 7rem;
  }

  .header__toggler.open,
  .header__toggler.close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar {
    background-color: #08ce9e;
    -webkit-box-shadow: 0 0.2rem 2.5rem -0.7rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.2rem 2.5rem -0.7rem rgba(0, 0, 0, 0.3);
    display: none;
    margin: 0 2rem;
    position: absolute;
    top: 7rem;
    height: 60vh;
    width: 100%;
    z-index: 990;
  }

  .navbar.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .navbar.open::before {
    background-color: rgba(0, 0, 0, .5);
    content: "";
    position: absolute;
    top: 60vh;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .navbar a {
    color: #fff;
    font-size: 2.4rem;
    margin-right: 0rem;
  }

  .navbar a:not(:last-child) {
    margin-bottom: 5rem;
  }

  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -40rem no-repeat;
    background-size: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13rem 2rem 0;
    height: auto;
    z-index: 9;
  }

  .intro__content {
    width: 100%;
  }

  .intro__content h1 {
    font-size: 5.2rem;
    line-height: 5.8rem;
    text-align: center;
  }

  .intro__content h2 {
    font-size: 3.6rem;
    text-align: center;
  }

  .intro__content h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .intro__content h3 br {
    display: block;
  }

  .intro__get {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__get a:first-child {
    margin-left: 1.8rem;
  }

  .intro__seo {
    margin: 0 auto;
    max-width: 33.5rem;
    width: 100%;
  }

  .intro__det1,
  .intro__det2,
  .intro__det3 {
    z-index: 19;
  }

  .intro__det1 {
    top: auto;
    bottom: 0%;
    left: 35%;
  } 

  .intro__det1 span {
    font-size: 1.4rem;
    line-height: 1.727rem;
  }

  .intro__det1 span img {
    margin-left: 1.4rem;
  }

  .intro__det2 {
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
    top: auto;
    bottom: 26%;
    left: 69.5%;
  }

  .intro__det3 {
    top: auto;
    bottom: 43%;
    left: 70%;
  }

  .intro__det2 span,
  .intro__det3 span {
    font-size: .9rem;
    line-height: 1.463rem;
  }

  .intro__det2 span:not(:last-child),
  .intro__det3 span:not(:last-child) {
    margin-bottom: .8rem;
  }

  .intro__det2 span img {
    margin-left: .8rem;
  }

  .intro__det3 span img {
    margin-left: 1.6rem;
  }

  .intro__bg-mobile {
    display: block;
    text-align: center;
    width: 100%;
  }

  .intro__bg-mobile img {
    position: relative;
    top: 9rem;
    left: 0;
    right: 0;
    max-width: 33.5rem;
    width: 100%;
  }

  /* more styles */
  .more__title {
    font-size: 3.8rem;
    margin-bottom: 4.7rem;
  }

  .more__title br {
    display: block;
  }

  .more__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .more__item:not(:first-child) {
    margin-bottom: 6rem;
  }

  .more__item h3 {
    font-size: 3rem;
  }

  .more__item p {
    font-size: 1.8rem;
  }

  /* promo styles */
  .promo {
    background: none;
    margin: 0 2rem;
    padding: 9rem 0;
  }

  .promo__section {
    text-align: center;
  }

  .promo__section:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__section:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__section:nth-child(1) {
    margin-bottom: 4.5rem;
  }

  .promo__section:nth-child(2) {
    margin-bottom: 4.5rem;
  }

  .promo__subtitle {
    font-size: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .promo__section:nth-child(1) .promo__subtitle {
    margin-top: 3.5rem;
  }

  .promo__section:nth-child(2) .promo__subtitle {
    margin-top: 3.5rem;
  }

  .promo__section:nth-child(3) .promo__subtitle {
    margin-top: 3.5rem;
  }

  .promo__subtitle img {
    margin-right: .7rem;
    height: 2.8rem;
  }

  .promo__paragraph {
    font-size: 1.8rem;
    width: 100%;
  }

  /* about styles */
  .about {
    background: url(../img/about-bg-bottom.svg) bottom left -5rem no-repeat,
    -webkit-gradient(linear,
      left top, left bottom,
      color-stop(28%, #33323e),
      color-stop(28%, #08ce9e));
    background: url(../img/about-bg-bottom.svg) bottom left -5rem no-repeat,
    -webkit-linear-gradient(top,
      #33323e 28%,
      #08ce9e 28%);
    background: url(../img/about-bg-bottom.svg) bottom left -5rem no-repeat,
    -o-linear-gradient(top,
      #33323e 28%,
      #08ce9e 28%);
    background: url(../img/about-bg-bottom.svg) bottom left -5rem no-repeat,
    linear-gradient(to bottom,
      #33323e 28%,
      #08ce9e 28%);
    background-size: 100%, 100% 100%;
    padding-bottom: 12rem;
  }

  .about__top {
    padding: 8rem 2rem 7rem;
  }

  .about__top h2 {
    font-size: 3.5rem;
  }

  .about__top p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .about__bottom {
    padding: 0;
  }

  .about__section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;    
  }

  .about__section:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__section:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__section:nth-child(1) {
    margin-bottom: 0rem;
  }

  .about__section:nth-child(2) {
    margin-bottom: 3rem;
  }

  .about__section:nth-child(1) .about__image img {
    position: relative;
    top: -8rem;
    left: -7rem;
    height: auto;
    width: 100%;
  }

  .about__section:nth-child(2) .about__image img {
    position: relative;
    top: -2rem;
    left: 0rem;
    height: auto;
    width: 70%;
  }

  .about__section:nth-child(1) .about__image img {
    margin-top: 0rem;
  }

  .about__description {
    padding: 4rem 2rem 6rem;
  }

  .about__section:nth-child(even) .about__description {
    max-width: 100%;
  }

  .about__section:nth-child(odd) .about__description {
    max-width: 100%;
  }

  .about__section:nth-child(2) .about__description {
    margin-top: 0rem;
  }

  .about__description h3 {
    font-size: 3rem;
  }

  .about__section:nth-child(2) .about__description h3 {
    margin-right: 0rem;
  }

  .about__description p {
    font-size: 1.8rem;
  }

  .about__description p:not(:last-child) {
    margin-bottom: 3rem;
  }

  .about__section:nth-child(2) .about__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__description img {
    margin: 0 auto 2.3rem;
  }

  /* contacts styles */
  .contacts {
    padding: 8rem 2rem 8rem;
  }

  /* footer styles */
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5rem 2rem;
    height: auto;
  }

  .footer__navbar a {
    margin-right: 3rem;
  }

  .footer__navbar a:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  html {
    font-size: 10px;
  }

  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -40rem no-repeat;
    background-size: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13rem 2rem 0;
    height: auto;
    z-index: 9;
  }

  /* contacts styles */
  .contacts {
    padding: 8rem 2rem 8rem;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__left,
  .contacts__right {
    width: 100%;
  }

  .contacts__short {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .contacts__short .contacts__group {
    width: 100%;
  }

  .contacts__long .contacts__group {
    width: 100%;
  }

  .contacts__group {
    margin-bottom: 3.3rem;
  }

  .contacts__left .contacts__long .contacts__group textarea {
    margin-bottom: 3.3rem;
    height: 13rem;
  }

  .contacts__form input[type=submit] {
    margin-top: 2.7rem;
  }

  /* download styles */
  .download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7rem 2rem;
    height: auto;
  }

  .download h2 {
    margin-left: 0rem;
    margin-bottom: 5.5rem;
  }

  .download a img {
    margin-left: 0rem;
  }

  .download a:first-of-type img {
    margin-bottom: 3rem;
  }

  /* footer styles */
  .footer__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 10px;
  }

  /* intro styles */
  .intro {
    background: url(../img/intro-bg-mobile.svg) left bottom -14rem no-repeat;
    background-size: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13rem 2rem 0;
    height: auto;
    z-index: 9;
  }

  /* about styles */
  .about__section:nth-child(1) .about__image img {
    top: -6rem;
    left: -3rem;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 8px;
  }

  /* intro styles */
  .intro__det1 {
    top: auto;
    bottom: -5%;
    left: 32%;
  } 

  .intro__det2 {
    left: 69.2%;
  }  
}