/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800&display=swap');
@font-face {
  font-family: 'FbAlaska';
  src: url('../fonts/FbAlaska-Regular.eot');
  src: url('../fonts/FbAlaska-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FbAlaska-Regular.woff') format('woff'),
  url('../fonts/FbAlaska-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 1;
}
a,
button,
input,
input[type=submit] {
  font-family: 'Heebo', sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* global styles */
h2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
}
a {
  font-size: 1.8rem;
  line-height: 3.4rem;
}
.ltr {
  direction: ltr;
}

/* signin styles */
.signin {
  background:
  url(../img/signin-bg.png) top center / 100% auto no-repeat,
  radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  padding-bottom: 5rem;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.signin__bg {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 1;
}
.signin__bg img {
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 78rem;
  z-index: 2;
}
.signin__logo {
  margin: 0 auto;
  padding-top: 8rem;
  position: relative;
  z-index: 8;
  width: 44rem;
}
.signin__logo img {
  width: 100%;
}
.signin-form {
  background-color: #120F34;
  box-shadow: 0px 3rem 6rem rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
  color: #fff;
  margin: 6.6rem auto 0;
  padding: 3.5rem 5rem 5.5rem;
  position: relative;
  text-align: center;
  width: 54rem;
  z-index: 9;
}
.signin-form h2 {
  font-weight: 800;
  margin-bottom: 3.5rem;
}
.signin-form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.signin-form__group label {
  color: #7b7f9e;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 1.4rem;
}
.signin-form__group input {
  background-color: #f3f3f3;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0px 7px 15px rgba(38, 38, 40, 0.3);
  color: #130F41;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 1.2rem 1.5rem;
  width: 100%;
}
.signin-form__group input::-webkit-input-placeholder {
  color: rgba(19, 15, 65, .5);
}
.signin-form__group input:-ms-input-placeholder {
  color: rgba(19, 15, 65, .5);
}
.signin-form__group input::-ms-input-placeholder {
  color: rgba(19, 15, 65, .5);
}
.signin-form__group input::placeholder {
  color: rgba(19, 15, 65, .5);
}
.signin-form button {
  background: radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  box-shadow: 0px 0px 1.5rem #FFBB0E;
  border: none;
  border-radius: 5rem;
  color: #130F41;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 2rem;
  padding: 1.5rem 0;
  width: 22rem;
}

/* header styles */
.header {
  background: radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 8rem;
  width: 100%;
}
.header__logout,
.header__menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}
.header__logout {
  background: url(../img/logout.svg) center / 4rem 4rem no-repeat ;
}
.header__menu {
  background: url(../img/menu-open.svg) center / 4rem 4rem no-repeat ;
  visibility: hidden;
}
.header__menu-close {
  display: none;
}
.header__nav a {
  color: #33323E;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin: 0 1.5rem;
  text-decoration: none;
}

/* main styles */
.main {
  background: #130F41;
  min-height: calc(100vh - 8rem);
}
.main__logo {
  margin: 0 auto;
  padding-top: 18rem;
  width: 32rem;
}
.main__logo img {
  width: 100%;
}
.main__slogan {
  margin-top: 4.5rem;
  text-align: center;
}
.main__slogan h2 {
  background: radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'FbAlaska';
  font-size: 7rem;
  font-weight: 800;
  line-height: 7.6rem;
  text-shadow: 0px 0px 4px #FFCD00;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {}
@media (min-width: 1440px) and (max-width: 1599px) {}
@media (min-width: 1200px) and (max-width: 1439px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header__nav a {
    margin: 0 .5rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /* signin styles */
  .signin {
    background:
    url(../img/signin-bg.png) top center / 250% auto no-repeat,
    radial-gradient(61.72% 456.42% at 33.92% 51.62%, #FFA216 0%, #FFBB0E 33.85%, #FFB628 100%);
  }
  .signin__bg img {
    width: 33rem;
    max-width: 100%;
  }
  .signin__logo {
    padding-top: 4.5rem;
    width: 25rem;
  }
  .signin-form {
    box-shadow: 0px 2rem 4rem rgba(0, 0, 0, 0.25);
    border-radius: .8rem;
    margin: 4rem auto 0;
    padding: 2.5rem 3rem;
    width: 35rem;
    max-width: 100%;
  }
  .signin-form h2 {
    margin-bottom: 2.5rem;
  }
  .signin-form__group {
    margin-bottom: 1rem;
  }
  .signin-form__group label {
    font-size: 1.8rem;
    margin-bottom: .7rem;
  }
  .signin-form__group input {
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 1.2rem 1.5rem;
    width: 100%;
  }
  .signin-form button {
    border-radius: 4rem;
    margin-top: 1rem;
    padding: 1.2rem 0;
    width: 18rem;
  }

  /* header styles */
  .header {
    padding: 0 1.8rem;
    height: 5rem;
  }
  .header__logout,
  .header__menu,
  .header__menu-close {
    height: 3.5rem;
    width: 3.5rem;
  }
  .header__logout {
    background: url(../img/logout.svg) center / 3.5rem 3.5rem no-repeat;
  }
  .header__menu {
    background: url(../img/menu-open.svg) center / 3.5rem 3.5rem no-repeat;
    visibility: visible;
  }
  .header__menu-close {
    background: url(../img/menu-close.svg) center / 3.5rem 3.5rem no-repeat;
    border: none;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9999;
  }
  .header__nav {
    display: none;
  }
  .ltr .header__nav {
    text-align: right;
  }
  .header__nav.open {
    background: #332D5D;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
  }
  .header__nav a {
    border-bottom: 1px solid rgba(217, 226, 236, .05);
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 .5rem 0 10rem;
    padding: 1.5rem 2rem 2rem;
  }

  /* main styles */
  .main {
    min-height: calc(100vh - 5rem);
  }
  .main__logo {
    padding-top: 14rem;
    width: 18rem;
  }
  .main__slogan {
    margin-top: 2.7rem;
  }
  .main__slogan h2 {
    font-size: 7rem;
    font-weight: 800;
    line-height: 7.6rem;
    margin: 0 3rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {}