/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
  /* footer styles */
  .footer {
    padding: 36px;
  }
  .footer__social {
    margin-bottom: 24px;
  }
  .footer__social a {
    height: 72px;
    width: 72px;
  }
  .footer__social a:not(:last-child) {
    margin-left: 18px;
  }
  .footer__info p {
    font-size: 25.2px;
    line-height: 32.4px;
    margin-bottom: 24px;
  }
  .footer__nav a {
    font-size: 32.4px;
    line-height: 32.4px;
    margin-bottom: 24px;
  }
  .footer__nav {
    margin-bottom: 30px;
  }
  .footer__logo p {
    font-size: 25.2px;
    line-height: 32.4px;
    margin-left: 18px;
  }
  .footer__logo img {
    height: 33px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  html {
    font-size: 5px;
  }
  /* global styles */
  .btn {
    border-radius: 45px;
    padding: 20px 45px;
  }
  .btn_blue {
    font-size: 30px;
    line-height: 30px;
  }
  .btn_violet {
    font-size: 40px;
    line-height: 40px;
  }
  /* container styles */
  .container {
    padding: 0 30px;
  }
  /* header styles */
  .header {
    padding: 17.5px 30px;
  }
  .header__logo {
    width: 395px;
  }
  .dropdown__btn {
    font-size: 17.5px;
    line-height: 17.5px;
  }
  .header__navbar>a {
    font-size: 17.5px;
    line-height: 17.5px;
  }
  .dropdown__content a {
    font-size: 20px;
    line-height: 20px;
    padding: 7.5px 0;
  }
  .header__toggler {
    height: 60px;
    width: 60px;
  }

  /* footer styles */
  .footer {
    padding: 30px;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .footer__social a {
    height: 60px;
    width: 60px;
  }
  .footer__social a:not(:last-child) {
    margin-left: 15px;
  }
  .footer__info p {
    font-size: 21px
    line-height: 27px;
    margin-bottom: 20px;
  }
  .footer__nav a {
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 20px;
  }
  .footer__nav {
    margin-bottom: 25px;
  }
  .footer__logo {
  }
  .footer__logo p {
    font-size: 21px
    line-height: 27px;
    margin-left: 15px;
  }
  .footer__logo img {
    height: 27.5px;
  }

  /* intro styles */
  .intro__title {
    font-size: 25px;
    line-height: 30px;
  }
  .intro__title span {
    font-size: 40px;
    line-height: 40px;
  }
  .intro__title-small h1 {
    font-size: 27px;
    line-height: 30.5px;
  }
  .intro__title-small h1 span {
    font-size: 33px;
  }
  .intro-slider .slick-dots li button {
    height: 15px;
    width: 15px;
  }
  .intro__element:first-child,
  .intro__element:last-child {
    top: 0;
  }

  /* sticky buttons styles */
  .sticky-contact {
    border-radius: 0 0 15px 15px;
    font-size: 27px;
    left: -70px;  
    height: 40px;
    width: 220px;
  }

  /* card styles */
  .card__content {
    padding: 15px;
  }
  .card__title {
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .card__date {
    margin-bottom: 7px;
  }
  .card__time {
    margin-left: 0;
  }
  .card__time,
  .card__place {
    font-size: 21px
    line-height: 26px;
  }
  .card__time img,
  .card__place img {
    margin-left: 15px;
    height: 21px
    width: 21px
  }
  .card__description {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .card__price {
    font-size: 45px;
    line-height: 45px;
  }
  .card__price span {
    font-size: 21px
  }

  /* news styles */
  .news__title {    
    font-size: 55px;
    line-height: 55px;    
  }

  /* conferences styles */
  .conferences {
    margin: 0 0 60px;
    padding: 0 30px;
  }
  .conferences__images img {
    border-radius: 15px;
  }
  .conferences__images img:first-child {
    margin: 0 20% 30rem 0;
  }
  .conferences__description {
    padding-top: 60px;
  }
  .conferences h2 {    
    font-size: 55px;
    line-height: 55px;
  }
  .conferences p {
    font-size: 21px
    line-height: 27px;
  }
  .conferences p:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .conferences p:last-of-type {
    margin-bottom: 7rem;
  }

  /* signup styles */
  .signup__bg {
    height: 100rem;
  }
  .signup__bgImage {    
    right: -25px;
  }
  .signup__button {
    bottom: 25px;
  }
  .signup__form h2 {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  .signup__form h2 img {
    margin-left: 20px;
    height: 37.5px;
    width: 45px;
  }
  .signup__form label {
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  .signup__form input[type=email] {
    border-radius: 15px;
    font-size: 27px;
    line-height: 27px;
    margin-bottom: 30px;
    padding: 20px 30px;
  }
  .signup__form input[type=submit] {
    background: url(../img/icon-arrow-right.png) right 25px center / auto 30% no-repeat,
    linear-gradient(251.1deg, #9E4777 -7.95%, #A74E8D 60.27%);
  }
  .signup__form input[type=submit]:hover {
    background: url(../img/icon-arrow-right.png) right 25px center / auto 30% no-repeat, #35BAEC;
  }

  /* events styles */
  .events__nav {
    margin-bottom: 30px;
    height: 60px;
  }
  .events__nav a {
    font-size: 27px;
    line-height: 27px;
  }
  .events__title {
    font-size: 55px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .events__slider {
    margin-bottom: 30px;
    padding-bottom: 25px;
  }
  .events__slider .slick-dots li button {
    margin: 0 7.5px;
    height: 15px;
    width: 15px;
  }

  /* event styles */
  .event__intro {
    margin-left: 0;
  }
  .event__intro,
  .event__info {
    margin-bottom: 15px;
  }
  .event__title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  .event__time,
  .event__place {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  .event__time img,
  .event__place img {
    margin-left: 15px;
    height: 30px;
    width: 30px;
  }
  .event__footer {
    margin-bottom: 30px;
  }
  .event__price {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 0rem;
  }
  .event__price span {
    font-size: 21px
  }
  .event__subtitle {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .event__subtitle img {
    margin-left: 15px;
    height: 37.5px;
    width: 37.5px;
  }
  .event__description p {
    font-size: 21px
    line-height: 27px;
  }

  /* iFrame styles */
  .iFrame {
    padding: 50px 0;
  }
  .iFrame__container {
    padding: 5px 10px;
  }

  /* academy styles */
  .academy__intro {
    width: 175px;
  }
  .academy__info {
    font-size: 27px;
    margin: 0 auto 23px;
  }
  .academy__info p {
    line-height: 36px;
    margin-bottom: 15px;
  }
  .academy__info h2 {
    line-height: 42px;
  }
  .academy__info h2 strong {
    font-size: 36px;
  }
  .academy__switchers button {
    font-size: 27px;
    line-height: 27px;
  }
  .academy__switchers button svg {
    margin-bottom: 9px;
    height: 60px;
    width: 60px;
  }
  .academy__tab-info {
    font-size: 21px
    line-height: 27px;
  }
  .academy__tab-title {
    font-size: 36px;
    line-height: 36px;
  }
  .academy__tab-element {
    margin-bottom: 15px;
    width: calc((100% - 15px) / 2);
  }
  .academy__tab-element h3 {
    font-size: 12px;
    line-height: 12px;
    right: 15px;
    bottom: 17.5px;
  }

  /* gallery styles */
  .gallery {
    padding: 30px 0 90px;
  }
  .gallery__row {
    margin-bottom: 9px;
  } 
  .gallery__element {
    margin-left: 0 !important;
  }
  .gallery__element img {
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .gallery__element h2,
  .gallery__element p {
    line-height: 27px;
  }
  .gallery__element h2 {
    font-size: 27px;
  }
  .gallery__element p {
    font-size: 21px
  }
  .gallery__all {
    margin-top: 50px;
  }
  .gallery__all button {
    padding: 15px 90px;
  }

  /* popup styles */
  .popup__close {
    height: 45px;
    width: 45px;
  }

  /* popup gallery slider */
  .gallery-slider .slick-prev,
  .gallery-slider .slick-next {    
    height: 36px;
    width: 36px;
  }
  .gallery-slider .slick-prev {
    left: 5px;
  }
  .gallery-slider .slick-next {
    right: 5px;
  }
  
  /* contact styles */
  .contact {
    padding: 27.5px 0 0;
  }
  .contact__title {
    font-size: 55px;
    line-height: 55px;
  }
  .contact__group label {
    font-size: 21px
    line-height: 21px
    margin-bottom: 9px;
  }
  .contact__group select,
  .contact__group input {
    font-size: 26px;
    line-height: 32px;
    padding: 15px 23px;
  }
  .contact__group input[type=submit] {
    font-size: 36px;
    padding: 15px 135px;
  }
  .contact__list {
    padding: 23.55px 0;
  }
  .contact__block h2 {
    font-size: 36px;
    line-height: 35.5px;
    margin-bottom: 25px;
  }
  .contact__data img {
    margin-left: 15px;
    height: 30px;
    width: 30px;
  }
  .contact__data p {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .contact__map h3 {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .contact__description {
    font-size: 24px;
    line-height: 27px;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
  /* global styles */
  .btn {
    border-radius: 45px;
    padding: 12px 27px;
  }
  .btn_blue {
    font-size: 18px;
    line-height: 18px;
  }
  .btn_violet {
    font-size: 24px;
    line-height: 24px;
  }

  /* header styles */
  .dropdown__btn,
  .header__navbar>a {
    font-size: 11px;
    line-height: 11px;
  }
  .dropdown__content a {
    font-size: 15px;
    line-height: 15px;
  }
  .header__toggler {
    height: 36px;
    width: 36px;
  }

  /* intro styles */
  .intro__title {
    font-size: 15px;
    line-height: 20px;
  }
  .intro__title span {
    font-size: 24px;
    line-height: 24px;
  }
  .intro__title-small h1 {
    font-size: 15px;
    line-height: 20px;
  }
  .intro__title-small h1 span {
    font-size: 20px;
  }

   /* sticky buttons styles */
  .sticky-contact {
    border-radius: 0 0 15px 15px;
    font-size: 15px;
    left: -50px;
    height: 25px;
    width: 150px;
  }
}