:root {
  --colorDark: #4D4C4F;
  --colorLightDark: #555153;
  --colorBlue: #35BAEC;
  --colorViolet: #9E4777;
  --colorLightViolet: #A74E8D;
  --colorWhite: #FFFFFF;
}
/* Fonts */
@font-face {
  font-family: 'Spoiler-Light';
  src: url('../fonts/Spoiler-Light.eot');
  src: url('../fonts/Spoiler-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Spoiler-Light.woff') format('woff'),
  url('../fonts/Spoiler-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoiler-Regular';
  src: url('../fonts/Spoiler-Regular.eot');
  src: url('../fonts/Spoiler-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Spoiler-Regular.woff') format('woff'),
  url('../fonts/Spoiler-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoiler-Bold';
  src: url('../fonts/Spoiler-Bold.eot');
  src: url('../fonts/Spoiler-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Spoiler-Bold.woff') format('woff'),
  url('../fonts/Spoiler-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spoiler-Black';
  src: url('../fonts/Spoiler-Black.eot');
  src: url('../fonts/Spoiler-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Spoiler-Black.woff') format('woff'),
  url('../fonts/Spoiler-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  color: var(--colorDark);
  font-family: 'Spoiler-Regular';
  font-weight: 400;
}
a, button {
  color: var(--colorDark);
  cursor: pointer;
  font-family: 'Spoiler-Regular';
  text-decoration: none;
}
a:focus, button:focus {
  outline: none;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* global styles */
.btn {
  border: 0;
  color: var(--colorWhite);
  display: inline-block;
  font-family: 'Spoiler-Bold';
  padding: 1.3rem 3rem;
}
.btn_blue {
  background: var(--colorBlue);
  border-radius: 3rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
}
.btn_blue:hover {
  background: -o-linear-gradient(198.9deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  background: linear-gradient(251.1deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
}
.btn_violet {
  background: -o-linear-gradient(198.9deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  background: linear-gradient(251.1deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.btn_violet:hover {
  background: var(--colorBlue);
}

/* rtl style*/
.rtl {
  direction: rtl;
}

/* container style */
.container {
  margin: 0 auto;
  width: 117rem;
  max-width: 117rem;
}

/* header styles */
.header {
  background-color: var(--colorWhite);
  border-bottom: 2px solid var(--colorViolet);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header__logo {
  padding: 2.4rem 4.5rem;
  width: 44rem;
}
.header__logo a {
  display: inline-block;
  width: 100%;
}
.header__logo img {
  width: 100%;
}
.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__navbar>a {
  color: var(--colorLightDark);
  font-family: 'Spoiler-Bold';
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 2px;
  padding: 2.5rem 2rem;
  height: 100%;
}
.header__navbar>a.active,
.header__navbar>a:hover,
.dropdown.active .dropdown__btn,
.dropdown:hover .dropdown__btn {
  background: var(--colorViolet);
  color: var(--colorWhite);
}
.header__toggler {
  background: url(../img/icon-menu.svg) center no-repeat,
  -o-linear-gradient(184.41deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  background: url(../img/icon-menu.svg) center no-repeat,
  linear-gradient(265.59deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 12rem;
  width: 12rem;
}
.header__toggler.open {
  background: url(../img/icon-close.svg) center / 85% 85% no-repeat,
  -o-linear-gradient(184.41deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  background: url(../img/icon-close.svg) center / 85% 85% no-repeat,
  linear-gradient(265.59deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
}

/* dropdown styles */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown:hover .dropdown__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dropdown__btn {
  background-color: transparent;
  border: 0;
  color: var(--colorLightDark);
  font-family: 'Spoiler-Bold';
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 2px;
  padding: 2.5rem 2rem;
  height: 100%;
}
.dropdown__content {
  background: var(--colorWhite);
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.25);
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.1rem 1.7rem 1.8rem;
  position: absolute;
  right: 0;
  top: 100%;
  width: 50rem;
  z-index: 999;
}
.dropdown__content a {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding: .6rem 0;
  text-align: right;
  width: 50%;
}
.dropdown__content a:nth-child(even) {
  padding-left: 2.5rem;
}
.dropdown__content a:hover {
  color: var(--colorLightViolet);
}

/* footer styles */
.footer {
  background: var(--colorDark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 12rem;
}
.footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}
.footer__social a img {
  display: block;
  height: 4rem;
  width: 4rem;
}
.footer__social a:not(:last-child) {
  margin-left: 1rem;
}
.footer__social img {
  width: 100%;
}
.footer__mid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__info p {
  font-family: 'Spoiler-Bold';
  margin-bottom: 1rem;
  text-align: center;
}
.footer__info p,
.footer__nav a {
  color: var(--colorWhite);
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav a:not(:last-child) {
  margin-left: 3rem;
}
.footer__nav a:hover {
  color: #ef4e8d;
}

/* signup styles */
.signup {
  position: relative;
}
.signup__bg {
  background: url(../img/signup-bg.png) bottom center / 100% 100% no-repeat;
  overflow: hidden;
  position: relative;
  text-align: left;
  height: 85rem;
}
.signup__bg.signup-grey {
  background: url(../img/signup-bg.png) bottom center / 100% 100% no-repeat, #F2F2F2;
}
.signup__bg.signup-blue {
  background: url(../img/signup-bg.png) bottom center / 100% 100% no-repeat, var(--colorBlue);
}
.signup__bgArrow {
  position: absolute;
  top: 10vw;
  right: 45vw;
  z-index: 1;
}
.signup__bgImage {
  position: absolute;
  top: 8vw;
  right: 8vw;
  z-index: 1;
}
.signup__button {
  position: absolute;
  top: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.signup__form {
  background: var(--colorWhite);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: .4rem;
  padding: 4rem 5rem 4rem 4rem;
  position: absolute;
  top: 17vw;
  left: 24vw;
  text-align: right;
  max-width: 42rem;
  z-index: 2;
}
.signup__form h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Spoiler-Bold';
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 3rem;
}
.signup__form h2 img {
  margin-left: 1.6rem;
  height: 4.2rem;
  width: 5.3rem;
}
.signup__form label {
  color: rgba(31, 32, 65, 0.75);
  display: inline-block;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
.signup__form input[type=email] {
  background: transparent;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  padding: 1.3rem 1.8rem;
  width: 100%;
}
.signup__form input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.signup__form input::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.signup__form input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.signup__form input::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.signup__form input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.signup__form input[type=submit] {
  background: url(../img/icon-arrow-right.png) right 2rem center / auto 50% no-repeat,
  -o-linear-gradient(198.9deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  background: url(../img/icon-arrow-right.png) right 2rem center / auto 50% no-repeat,
  linear-gradient(251.1deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  cursor: pointer;
  width: 100%;
}
.signup__form input[type=submit]:hover {
  background: url(../img/icon-arrow-right.png) right 2rem center / auto 50% no-repeat, var(--colorBlue);
}

/* intro styles */
.intro {
  position: relative;
}
.intro img {
  width: 100%;
}
.intro img:focus {
  outline: none;
}
.slick-slide:focus {
  outline: none;
}
.slick-initialized .slick-slide {
  position: relative;
}
.intro__title {
  color: var(--colorWhite);
  font-family: 'Spoiler-Bold';
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 8.1rem;
  position: absolute;
  top: 12vw;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 555;
}
.intro__title span {
  display: block;
  font-size: 9.6rem;
}
.intro__title-small {
  position: relative;
}
.intro__title-small img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.intro__title-small:after {
  content: "";
  background: var(--colorViolet);
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.intro__title-small h1 {
  color: var(--colorWhite);
  font-family: 'Spoiler-Bold';
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 8.1rem;
  text-align: center;
  padding: 7rem 0;
  position: relative;
  z-index: 9;
}
.intro__title-small h1 span {
  display: block;
  font-size: 9.6rem;
}
.intro-slider {
  z-index: 4;
}
.intro-slider .slick-dots {
  position: absolute;
  top: 25%;
  left: 2rem;
}
.intro-slider .slick-dots li button {
  background-color: transparent;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  color: transparent;
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  height: 1rem;
  width: 1rem;
}
.intro-slider .slick-dots li.slick-active button {
  background-color: var(--colorBlue);
}
.intro__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.intro__element {
  position: relative;
  max-width: 27rem;
}
.intro__element:first-child,
.intro__element:last-child {
  top: -4rem;
}

/* card styles */
.card {
  background: var(--colorWhite);
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: .4rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  width: calc(100% / 3);
}
.card:hover {
  -webkit-box-shadow: 0px 1rem 4rem rgba(158, 71, 119, 0.3);
          box-shadow: 0px 1rem 4rem rgba(158, 71, 119, 0.3);
}
.card__intro {
  width: 100%;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem;
}
.card__title {
  font-family: 'Spoiler-Bold';
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 1.4rem;
}
.card__date {
  margin-bottom: 1.4rem;
}
.card__date,
.card__time,
.card__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__time {
  margin-left: 2.8rem;
}
.card__time,
.card__place {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.card__time img,
.card__place img {
  margin-left: 1rem;
  height: 1.4rem;
  width: 1.4rem;
}
.card__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 1.9rem;
}
.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__price {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 3rem;
  line-height: 3rem;
}
.card__price span {
  font-size: 1.4rem;
}

/* news styles */
.news {
  margin: 3.8rem 0 11rem;
}
.news__title {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 5rem;
  text-align: center;
}
.news__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.news__grid .card {
  width: calc(100% / 3 - 2rem);
}
.news__button {
  text-align: center;
}

/* conferences styles */
.conferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 8rem;
  width: 97rem;
  max-width: 97rem;
}
.conferences__images {
  position: relative;
  width: calc(65% - 8rem);
}
.conferences__images img {
  border-radius: 1rem;
}
.conferences__images img:first-child {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 10rem 18rem 0;
}
.conferences__images img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}  
.conferences__description {
  padding-top: 4rem;
  width: 35%;
}
.conferences h2 {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3.8rem;
}
.conferences p {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.conferences p:not(:last-of-type) {
  margin-bottom: 2.4rem;
}
.conferences p:last-of-type {
  margin-bottom: 3.8rem;
}

/* promo styles */
.promo {
  -webkit-box-shadow: 0px 3rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin: 0 auto 4rem;
  overflow: hidden;
  position: relative;
  height: 41rem;
  width: 77rem;
  max-width: 77rem;
}
.promo__bg {
  background: url(../img/promo-bg.png) center / 100% 100% no-repeat,
  -o-linear-gradient(left, #34B9EB -21.05%, var(--colorLightViolet) 121.05%);
  background: url(../img/promo-bg.png) center / 100% 100% no-repeat,
  -webkit-gradient(linear, left top, right top, color-stop(-21.05%, #34B9EB), color-stop(121.05%, var(--colorLightViolet)));
  background: url(../img/promo-bg.png) center / 100% 100% no-repeat,
  linear-gradient(90deg, #34B9EB -21.05%, var(--colorLightViolet) 121.05%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.promo a svg {
  height: 7.8rem;
  width: 7.8rem;
}
.promo a:hover svg path {
  fill: var(--colorLightViolet);
}

/* sticky buttons styles */
.sticky-contact {
  border-radius: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  position: fixed;
  top: 50%;
  left: -6rem;  
  text-align: center;
  -webkit-transform: rotateZ(-90deg) translateY(-50%);
      -ms-transform: rotate(-90deg) translateY(-50%);
          transform: rotateZ(-90deg) translateY(-50%);
  height: 5rem;
  width: 22rem;
  z-index: 90;
}
.sticky-whatsapp {
  -webkit-animation: 2s pulse infinite;
          animation: 2s pulse infinite;
  position: fixed;
  top: 70%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 10rem;
  width: 10rem;
  z-index: 90;
}
.sticky-whatsapp img {
  height: 100%;
  width: 100%;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.9);
            transform: scale(.9);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.9);
            transform: scale(.9);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(.9);
            transform: scale(.9);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.9);
            transform: scale(.9);
  }
}

/* events styles */
.events {
  background: #F2F2F2;
  padding-bottom: 6.4rem;
}
.events__nav {
  background: var(--colorWhite);
  -webkit-box-shadow: 0px .4rem 1.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0px .4rem 1.5rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  height: 7rem;
}
.events__nav a {
  font-family: 'Spoiler-Bold';
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.events__nav a:hover {
  color: var(--colorViolet);
}
.events__nav a:not(:last-child) {
  margin-left: 5rem;
}
.events__title {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 6rem;
  line-height: 5rem;
}
.events__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.events__slider .slick-list {
  padding: 2.5rem 0;
  width: 100%;
}
.events__slider .card {
  margin: 0 1.5rem;
}
.events__slider .slick-arrow {
  background-color: var(--colorBlue);
  border-radius: 50%;
  cursor: pointer;
  padding: 1.7rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  z-index: 9;
}
.events__slider .slick-arrow:hover {
  background-color: var(--colorViolet);
}
.events__slider .slick-prev {
  right: -1.5rem;
}
.events__slider .slick-next {
  left: -1.5rem;
}

/* event styles */
.event {
  padding: 5.55rem 0 5.1rem;
}
.event .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.event__intro {
  border-radius: 1rem;
  margin-left: 3rem;
  overflow: hidden;
}
.event__intro img {
  width: 100%;
}
.event__intro,
.event__info {
  margin-bottom: 5rem;
  width: calc(50% - 1.5rem);
}
.event__title {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 1.6rem;
}
.event__time,
.event__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}
.event__time img,
.event__place img {
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}
.event__price {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1.4rem;
}
.event__price span {
  font-size: 1.4rem;
}
.event__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Spoiler-Bold';
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 2.9rem;
  width: 100%;
}
.event__subtitle img {
  margin-left: 1.4rem;
  height: 2.4rem;
  width: 2.44rem;
}
.event__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.event__description p,
.event__description ul li {
  font-size: 1.8rem;
  line-height: 2.4rem;
  width: 100%;
}
.event__description ul {
  list-style: disc;
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.event__description p strong {
  font-weight: 700;
}

/* iFrame styles */
.iFrame {
  background: var(--colorBlue);
  padding: 6.5rem 0;
}
.iFrame__container {
  background: var(--colorWhite);
  -webkit-box-shadow: 0px 3rem 4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3rem 4rem rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding: 2rem 4.5rem;
  max-width: 87rem;
}

/* academy styles */
.academy__intro {
  margin: 0 auto;
  width: 17rem;
}
.academy__intro img {
  width: 100%;
}
.academy__info {
  font-size: 2.6rem;
  margin: 0 auto 4.6rem;
  text-align: center;
  max-width: 80rem;
}
.academy__info p {
  line-height: 3rem;
  margin-bottom: 1rem;
}
.academy__info h2 {
  line-height: 4rem;
}
.academy__info h2 span {
  color: var(--colorLightViolet);
  font-family: 'Spoiler-Bold';
}
.academy__info h2 span>span {
  font-family: 'Open Sans';
  font-weight: 700;
}
.academy__info h2 strong {
  color: var(--colorLightViolet);
  font-family: 'Spoiler-Bold';
  font-size: 3.66rem;
}
.academy__switchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 97rem;
}
.academy__switchers button {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #E7EAEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Spoiler-Bold';
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding-bottom: 1.8rem;
  width: 100%;
}
.academy__switchers button.active {
  border-bottom: 4px solid var(--colorBlue);
}
.academy__switchers button svg {
  margin-bottom: 1.2rem;
  height: 6rem;
  width: 6rem;
}
.academy__switchers button path {
  fill: var(--colorDark);
}
.academy__switchers button:hover path,
.academy__switchers button.active path {
  fill: url(#paint0_linear);
}
.academy__tab {
  display: none;
  margin-bottom: 8rem;
}
.academy__tab.show {
  display: block;
}
.academy__tab-info {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 5.4rem auto 3.2rem;
  text-align: center;
  max-width: 49rem;
}
.academy__tab-title {
  color: var(--colorViolet);
  font-family: 'Spoiler-Bold';
  font-size: 4.5rem;
  line-height: 4.4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.academy__tab-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.academy__tab-element {
  border-radius: .4rem;
  display: block;
  margin-bottom: 2.5rem;
  overflow: hidden;
  position: relative;
  width: calc((100% - 9rem) / 4);
}
.academy__tab-element:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(bottom, #331023 0%, rgba(49, 21, 26, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#331023), to(rgba(49, 21, 26, 0)));
  background: linear-gradient(360deg, #331023 0%, rgba(49, 21, 26, 0) 100%);
}
.academy__tab-element:hover:before {
  background: -o-linear-gradient(left, #34B9EB -21.05%, var(--colorLightViolet) 121.05%);
  background: -webkit-gradient(linear, left top, right top, color-stop(-21.05%, #34B9EB), color-stop(121.05%, var(--colorLightViolet)));
  background: linear-gradient(90deg, #34B9EB -21.05%, var(--colorLightViolet) 121.05%);
  opacity: 0.8;
}
.academy__tab-element img {
  height: auto;
  width: 100%;
}
.academy__tab-element h3 {
  color: var(--colorWhite);
  font-family: 'Spoiler-Bold';
  font-size: 2.4rem;
  line-height: 2.4rem;
  position: absolute;
  right: 3rem;
  bottom: 3.5rem;
}

/* gallery styles */
.gallery {
  padding: 5.5rem 0 4.5rem;
}
.gallery__row,
.gallery__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.8rem;
}
.gallery__row .gallery__col .gallery__row {
  margin-bottom: 0rem;
  height: 50%;
}
.gallery__row .gallery__col .gallery__row .gallery__element {
  height: 100%;
  width: calc(50% - 1.5rem) !important;
}
.gallery__row .gallery__col .gallery__element {
  text-align: center;
  height: 50%;
}
.gallery__row .gallery__col .gallery__element img {
  height: 80%;
}
.gallery__col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}
.gallery .container>.gallery__row:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.gallery .container>.gallery__row:nth-of-type(even) .gallery__col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.gallery .container>.gallery__row:nth-of-type(even) .gallery__element:not(:first-child) {
  margin-left: 3rem;
  width: calc(35% - 3rem);
}
.gallery .container>.gallery__row:nth-of-type(even) .gallery__row .gallery__element:not(:first-child) {
  margin-left: 0rem;
}
.gallery .container>.gallery__row:nth-of-type(even) .gallery__row .gallery__element:not(:last-child) {
  margin-left: 3rem;
}
.gallery .container>.gallery__row:nth-of-type(odd) .gallery__element:not(:first-child) {
  margin-right: 3rem;
  width: calc(35% - 3rem);
}
.gallery__element img {
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1.3rem;
  max-width: 100%;
}
.gallery__element h2,
.gallery__element p {
  line-height: 2.4rem;
  text-align: center;
}
.gallery__element h2 {
  font-family: 'Spoiler-Bold';
  font-size: 2.4rem;
}
.gallery__element p {
  font-size: 1.8rem;
}
.gallery__all {
  margin-top: 4rem;
  text-align: center;
}
.gallery__all button {
  padding: 1.3rem 7.5rem;
}

/* popup styles */
.popup {
  background-color: rgba(29, 29, 27, .9);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.popup.show {
  display: block;
}
.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.popup__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
  position: absolute;
  top: 2vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 5rem;
  width: 5rem;
  z-index: 9999;
}
.popup__close img {
  width: 100%;
}

/* popup gallery slider */
.gallery-slider {
  width: 100%;
}
.gallery-slider>img {
  width: 100%;
}
.gallery-slider .slick-list {
  margin: 0 auto;
  position: relative;
  max-width: 120rem;
}
.gallery-slider .slick-list .slick-track,
.gallery-slider .slick-list .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery-slider .slick-list .slick-slide img {
  border-radius: 1rem;
  max-height: 80vh;
  max-width: 100%;
}
.gallery-slider .slick-prev,
.gallery-slider .slick-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
  z-index: 99999;
}
.gallery-slider .slick-prev {
  left: 4rem;
}
.gallery-slider .slick-next {
  right: 4rem;
}

/* contact styles */
.contact {
  padding: 5.5rem 0 0;
}
.contact__title {
  font-family: 'Spoiler-Bold';
  font-size: 6rem;
  line-height: 6rem;
  color: var(--colorViolet);
  margin-bottom: 3.9rem;
  text-align: center;
}
.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.5rem;
}
.contact__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1.4rem;
  width: calc((100% - 3rem) / 3);
}
.contact__group:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__group label {
  font-family: 'Spoiler-Bold';
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: .6rem;
}
.contact__group select,
.contact__group input {
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 1rem 2rem;
  width: 100%;
}
.contact__group input::-webkit-input-placeholder {
  color: rgba(77, 77, 79, .8);
}
.contact__group input::-moz-placeholder {
  color: rgba(77, 77, 79, .8);
}
.contact__group input:-ms-input-placeholder {
  color: rgba(77, 77, 79, .8);
}
.contact__group input::-ms-input-placeholder {
  color: rgba(77, 77, 79, .8);
}
.contact__group select,
.contact__group input::placeholder {
  color: rgba(77, 77, 79, .8);
}
.contact__group input[type=submit] {
  padding: 1.3rem 9rem;
  width: auto;
}
.contact__list {
  background-color: #f2f2f2;
  padding: 4.7rem 0;
}
.contact__list .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__block {
  background: var(--colorWhite);
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: .4rem;
  margin-bottom: 3rem;
  padding: 3rem 3rem 3.5rem 2rem;
  width: calc((100% - 3rem) / 2);
}
.contact__block h2 {
  font-family: 'Spoiler-Bold';
  font-size: 4.5rem;
  line-height: 4.4rem;
  margin-bottom: 2rem;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.contact__data img {
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}
.contact__data p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
.contact__map {
  background: url(../img/icon-map.jpg) center / 100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12rem;
  width: 12rem;
}
.contact__map h3 {
  display: none;
}
.contact__map svg {
  cursor: pointer;
  height: 3.4rem;
  width: 3.4rem;
}
.contact__map svg:hover {
  background: var(--colorViolet);
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: .8rem;
  height: 5rem;
  width: 5rem;
}
.contact__map svg:hover path {
  fill: var(--colorWhite);
}
.contact__map path {
  fill: var(--colorBlue);
}
.contact__description {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
/* popup window - map styles */
.contact-map {
  display: none;
  height: 80vh;
  width: 80vw;
}
.contact-map.show {
  display: block;
}
.contact-map iframe {
  height: 100%;
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
  /* signup styles */
  .signup__form {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .signup__bgArrow {
    display: none;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
  /* sticky buttons styles */
  .sticky-whatsapp {
    left: 0;
    height: 7rem;
    width: 7rem;
  }
  /* signup styles */
  .signup__form {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .signup__bgArrow {
    display: none;
  }
  /* footer styles */
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6rem;
  }
  .footer__mid {
    margin-top: 4rem;
  }
  .footer__social a img {
    height: 5rem;
    width: 5rem;
  }
  .footer__social a:not(:last-child) {
    margin-left: 3rem;
  }
  .footer__info p {
    font-size: 4.2rem;
    line-height: 5.4rem;
    margin-bottom: 4rem;
  }
  .footer__nav a {
    font-size: 5.4rem;
    line-height: 5.4rem;
    margin-bottom: 4rem;
  }
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  html {
    font-size: 5px;
  }
  /* global styles */
  .btn {
    border-radius: 9rem;
    padding: 4rem 9rem;
    white-space: nowrap;
  }
  .btn_blue {
    font-size: 6rem;
    line-height: 6rem;
  }
  .btn_violet {
    font-size: 8rem;
    line-height: 8rem;
  }
  /* container styles */
  .container {
    padding: 0 6rem;
    max-width: 100%;
  }
  /* header styles */
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.5rem 6rem;
  }
  .header__logo {
    padding-left: 0;
    width: 79rem;
  }
  .header__navbar {
    display: none;
  }
  .header__navbar.show {
    background-color: var(--colorWhite);
    border-top: 2px solid var(--colorViolet);
    border-bottom: 2px solid var(--colorViolet);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  .dropdown {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: static;
  }
  .dropdown__btn {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    width: 100%;
  }
  .dropdown__content {
    width: 100vw;
  }
  .header__navbar>a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .dropdown__content a {
    font-size: 4rem;
    line-height: 4rem;
    padding: 1.5rem 0;
  }
  .header__toggler {
    display: block;
  }

  /* footer styles */
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6rem;
  }
  .footer__mid {
    margin-top: 4rem;
  }
  .footer__social {
    width: auto;
  }
  .footer__social a img {
    height: 12rem;
    width: 12rem;
  }
  .footer__social a:not(:last-child) {
    margin-left: 3rem;
  }
  .footer__info p {
    font-size: 4.2rem;
    line-height: 5.4rem;
    margin-bottom: 4rem;
  }
  .footer__nav a {
    font-size: 5.4rem;
    line-height: 5.4rem;
    margin-bottom: 4rem;
  }
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  /* intro styles */
  .intro__title {
    top: 2vw;
    width: 50%;
  }
  .intro__title {
    font-size: 5rem;
    line-height: 6rem;
  }
  .intro__title span {
    font-size: 8rem;
    line-height: 8rem;
  }
  .intro__title-small img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .intro__title-small:after {
    content: "";
    background: var(--colorViolet);
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .intro__title-small h1 {
    font-size: 5.4rem;
    line-height: 6.1rem;
  }
  .intro__title-small h1 span {
    font-size: 6.6rem;
  }
  .intro-slider .slick-dots li button {
    height: 3rem;
    width: 3rem;
  }
  .intro__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro__element {
    text-align: center;
    max-width: 50%;
  }
  .intro__element img {
    max-width: 75%;
  }
  .intro__element:first-child,
  .intro__element:last-child {
    top: 0rem;
  }

  /* sticky buttons styles */
  .sticky-contact {
    border-radius: 0 0 3rem 3rem;
    font-size: 5.4rem;
    padding: 0;
    left: -14rem;  
    text-align: center;
    height: 8rem;
    width: 44rem;
  }
  .sticky-whatsapp {
    top: calc(50% + 30rem);
    left: 0;
  }

  /* card styles */
  .card {
    width: 100%;
  }
  .card__content {
    padding: 3rem;
  }
  .card__title {
    font-size: 5.4rem;
    line-height: 5.4rem;
    margin-bottom: 3rem;
  }
  .card__date {
    margin-bottom: 1.4rem;
  }
  .card__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card__time {
    margin-left: 0rem;
  }
  .card__time,
  .card__place {
    font-size: 4.2rem;
    line-height: 5.2rem;
  }
  .card__time img,
  .card__place img {
    margin-left: 3rem;
    height: 4.2rem;
    width: 4.2rem;
  }
  .card__description {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin-bottom: 3rem;
  }
  .card__price {
    font-size: 9rem;
    line-height: 9rem;
  }
  .card__price span {
    font-size: 4.2rem;
  }

  /* news styles */
  .news__title {    
    font-size: 11rem;
    line-height: 11rem;    
  }
  .news__grid .card {
    width: 100%;
  }

  /* conferences styles */
  .conferences {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 12rem;
    padding: 0 6rem;
    width: 100%;
    max-width: 100%;
  }
  .conferences__images {
    width: 100%;
  }
  .conferences__images img {
    border-radius: 3rem;
  }
  .conferences__images img:first-child {
    margin: 0 20% 30rem 0;
    width: 80%;
  }
  .conferences__images img:last-child {
    width: 65%;
  }
  .conferences__description {
    padding-top: 12rem;
    text-align: center;
    width: 100%;
  }
  .conferences h2 {    
    font-size: 11rem;
    line-height: 11rem;
  }
  .conferences p {
    font-size: 4.2rem;
    line-height: 5.4rem;
  }
  .conferences p:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .conferences p:last-of-type {
    margin-bottom: 7rem;
  }

  /* signup styles */
  .signup__bg {
    background: url(../img/signup-bg.png) bottom center / 200% 100% no-repeat;
    height: 100rem;
  }
  .signup__bg.signup-grey {
    background: url(../img/signup-bg.png) bottom center / 200% 100% no-repeat, #F2F2F2;
  }
  .signup__bg.signup-blue {
    background: url(../img/signup-bg.png) bottom center / 200% 100% no-repeat, var(--colorBlue);
  }
  .signup__bgArrow {
    display: none;
  }
  .signup__bgImage {    
    right: -5rem;
    width: 100%;
  }
  .signup__button {
    position: absolute;
    top: auto;
    bottom: 5rem;
    z-index: 2;
  }
  .signup__form {
    position: static;
    max-width: 100%;
  }
  .signup__form h2 {
    font-size: 11rem;
    line-height: 11rem;
    margin-bottom: 3rem;
  }
  .signup__form h2 img {
    margin-left: 4rem;
    height: 7.5rem;
    width: 9rem;
  }
  .signup__form label {
    font-size: 5.4rem;
    line-height: 5.4rem;
    margin-bottom: 6rem;
  }
  .signup__form input[type=email] {
    border-radius: 3rem;
    font-size: 5.4rem;
    line-height: 5.4rem;
    margin-bottom: 6rem;
    padding: 4rem 6rem;
  }
  .signup__form input[type=submit] {
    background: url(../img/icon-arrow-right.png) right 5rem center / auto 30% no-repeat,
    -o-linear-gradient(198.9deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
    background: url(../img/icon-arrow-right.png) right 5rem center / auto 30% no-repeat,
    linear-gradient(251.1deg, var(--colorViolet) -7.95%, var(--colorLightViolet) 60.27%);
  }
  .signup__form input[type=submit]:hover {
    background: url(../img/icon-arrow-right.png) right 5rem center / auto 30% no-repeat, var(--colorBlue);
  }

  /* events styles */
  .events__nav {
    margin-bottom: 6rem;
    height: 12rem;
  }
  .events__nav a {
    font-size: 5.4rem;
    line-height: 5.4rem;
  }
  .events__title {
    font-size: 11rem;
    line-height: 10rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .events__slider {
    margin-bottom: 6rem;
    padding-bottom: 5rem;
  }
  .events__slider .slick-list {
    -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 0;
  }
  .events__slider .card {
    margin: 0;
  }
  .events__slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .events__slider .slick-dots li button {
    background-color: transparent;
    border: 1px solid var(--colorBlue);
    border-radius: 50%;
    color: transparent;
    display: block;
    margin: 0 1.5rem;
    padding: 0;
    height: 3rem;
    width: 3rem;
  }
  .events__slider .slick-dots li.slick-active button {
    background-color: var(--colorBlue);
  }

  /* event styles */
  .event .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event__intro {
    margin-left: 0rem;
  }
  .event__intro img {
    width: 100%;
  }
  .event__intro,
  .event__info {
    margin-bottom: 3rem;
    width: 100%;
  }
  .event__title {
    font-size: 11rem;
    line-height: 11rem;
    margin-bottom: 3rem;
  }
  .event__time,
  .event__place {
    font-size: 5.4rem;
    line-height: 6.4rem;
    margin-bottom: 3rem;
  }
  .event__time img,
  .event__place img {
    margin-left: 3rem;
    height: 6rem;
    width: 6rem;
  }
  .event__footer {
    margin-bottom: 6rem;
  }
  .event__price {
    font-size: 9rem;
    line-height: 9rem;
    margin-bottom: 0rem;
  }
  .event__price span {
    font-size: 4.2rem;
  }
  .event__subtitle {
    font-size: 5.4rem;
    line-height: 6.4rem;
    margin-bottom: 6rem;
  }
  .event__subtitle img {
    margin-left: 3rem;
    height: 7.5rem;
    width: 7.5rem;
  }
  .event__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event__description p {
    font-size: 4.2rem;
    line-height: 5.4rem;
    width: 100%;
  }

  /* iFrame styles */
  .iFrame {
    padding: 10rem 0;
  }
  .iFrame__container {
    padding: 1rem 2rem;
    max-width: 90%;
  }

  /* academy styles */
  .academy__intro {
    margin: 0 auto;
    width: 35rem;
  }
  .academy__info {
    font-size: 5.4rem;
    margin: 0 auto 4.6rem;
    max-width: 100%;
  }
  .academy__info p {
    line-height: 7.2rem;
    margin-bottom: 3rem;
  }
  .academy__info h2 {
    line-height: 8.4rem;
  }
  .academy__info h2 strong {
    font-size: 7.2rem;
  }
  .academy__switchers {
    max-width: 100%;
  }
  .academy__switchers button {
    font-size: 5.4rem;
    line-height: 5.4rem;
  }
  .academy__switchers button svg {
    margin-bottom: 1.8rem;
    height: 12rem;
    width: 12rem;
  }
  .academy__tab-info {
    font-size: 4.2rem;
    line-height: 5.4rem;
    max-width: 100%;
  }
  .academy__tab-title {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }
  .academy__tab-element {
    margin-bottom: 3rem;
    width: calc((100% - 3rem) / 2);
  }
  .academy__tab-element:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -o-linear-gradient(bottom, #331023 0%, rgba(49, 21, 26, 0) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(#331023), to(rgba(49, 21, 26, 0)));
    background: linear-gradient(360deg, #331023 0%, rgba(49, 21, 26, 0) 100%);
  }
  .academy__tab-element:hover:before {
    background: -o-linear-gradient(left, #34B9EB -21.05%, var(--colorLightViolet) 121.05%);
    background: -webkit-gradient(linear, left top, right top, color-stop(-21.05%, #34B9EB), color-stop(121.05%, var(--colorLightViolet)));
    background: linear-gradient(90deg, #34B9EB -21.05%, var(--colorLightViolet) 121.05%);
    opacity: 0.8;
  }
  .academy__tab-element img {
    height: auto;
    width: 100%;
  }
  .academy__tab-element h3 {
    color: var(--colorWhite);
    font-family: 'Spoiler-Bold';
    font-size: 2.4rem;
    line-height: 2.4rem;
    position: absolute;
    right: 3rem;
    bottom: 3.5rem;
  }

  /* gallery styles */
  .gallery {
    padding: 6rem 0 18rem;
  }
  .gallery__row,
  .gallery__col {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .gallery__row {
    margin-bottom: 1.8rem;
  }
  .gallery__col {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }  
  .gallery__element {
    margin-left: 0rem !important;
  }
  .gallery__element img {
    border-radius: 3rem;
    margin-bottom: 3rem;
  }
  .gallery__element h2,
  .gallery__element p {
    line-height: 5.4rem;
  }
  .gallery__element h2 {
    font-size: 5.4rem;
  }
  .gallery__element p {
    font-size: 4.2rem;
  }
  .gallery__all {
    margin-top: 10rem;
  }
  .gallery__all button {
    padding: 3rem 18rem;
  }

  /* popup styles */
  .popup__close {
    height: 9rem;
    width: 9rem;
  }

  /* popup gallery slider */
  .gallery-slider .slick-prev,
  .gallery-slider .slick-next {    
    height: 7.2rem;
    width: 7.2rem;
  }
  .gallery-slider .slick-prev {
    left: 1rem;
  }
  .gallery-slider .slick-next {
    right: 1rem;
  }
  
  /* contact styles */
  .contact {
    padding: 5.5rem 0 0;
  }
  .contact__title {
    font-size: 11rem;
    line-height: 11rem;
  }
  .contact__group {
    width: 100%;
  }
  .contact__group label {
    font-size: 4.2rem;
    line-height: 4.2rem;
    margin-bottom: 1.8rem;
  }
  .contact__group select,
  .contact__group input {
    font-size: 5.2rem;
    line-height: 6.4rem;
    padding: 3rem 4.5rem;
  }
  .contact__group input[type=submit] {
    font-size: 7.2rem;
    padding: 3rem 27rem;
  }
  .contact__list {
    background-color: #f2f2f2;
    padding: 4.7rem 0;
  }
  .contact__block {
    width: 100%;
  }
  .contact__block h2 {
    font-size: 7.2rem;
    line-height: 7.1rem;
    margin-bottom: 5rem;
  }
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__row .contact__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__data img {
    margin-left: 3rem;
    height: 6rem;
    width: 6rem;
  }
  .contact__data p {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin-bottom: 2rem;
  }
  .contact__map {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: none;
    height: auto;
    width: 100%;
  }
  .contact__map h3 {
    color: var(--colorViolet);
    display: block;
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin-bottom: 3rem;
    text-decoration: underline;
  }
  .contact__map svg {
    display: none;
  }
  .contact__description {
    font-size: 4.8rem;
    line-height: 5.4rem;
  }
  /* popup window - map styles */
  .contact-map {
    display: none;
    height: 80vh;
    width: 80vw;
  }
  .contact-map.show {
    display: block;
  }
  .contact-map iframe {
    height: 100%;
    width: 100%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 3px;
  }
}