/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }

  /* container styles */
  .container {
    padding: 0 30px;
  }

  /* header styles */
  .header {
    height: 55px;
  }

  .header__menu.show {
    padding: 29px 38px;
    top: 55px;
  }

  .header__menu.show .header__nav {
    margin: 0 0 35px 0;
    padding-bottom: 43px;
  }

  .header__menu.show .header__nav ul li:not(:last-child) {
    margin-bottom: 35px;
  }

  .header__buttons button {
    margin: 0 10px;
    padding: 8px 0;
    width: 120px;
  }

  .header__logo {
    width: 148px;
  }

  .header__logo-presentation {
    width: 148px;
  }

  .header-dashboard {
    height: 55px;
  }

  .header__menu.dashboard.show {
    padding: 20px;
  }

  .header__menu.dashboard.show h2,
  .header__menu.dashboard.show a {
    font-size: 18px;
    line-height: 21px;
  }

  /* subscribe styles */
  .subscribe .container {
    margin-top: 40px;
  }

  .subscribe__form h1 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .subscribe__form-subscribe .submit.mobile {
    border-radius: 8px;
    padding: 17px 0;
    width: 250px;
  }

  .subscribe__form h3 {
    margin-bottom: 17px;
  }

  .subscribe__image {
    padding: 0 45px;
  }

  /* presentation styles */
  .presentation .container {
    margin-top: 24px;
  }

  .presentation__form h1 {
    font-size: 30px;
    margin-bottom: 18px;
  }

  .checkbox-custom {
    padding: 20px 0 20px 40px;
  }

  .checkbox-custom .check-data {
    font-size: 15px;
  }

  .checkbox-custom .checkmark {
    height: 30px;
    width: 30px;
  }

  .presentation__form input[type=submit] {
    margin-bottom: 12px;
    padding: 17px 0;
  }

  .presentation__image {
    padding: 0 45px;
  }

  /* access styles */
  .access .container {
    padding: 0 10px;
  }

  .access h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .access__form {
    padding: 30px 10px 10px;
    width: 340px;
  }

  .access__group input {
    padding: 12px 21px;
  }

  /* dashboard styles */
  .dashboard__title h2 {
    font-size: 36px;
    padding: 15px 0;
  }

  .dashboard__create {
    margin-top: 30px;
  }

  .dashboard__lecture {
    margin: 0 0 20px;
  }

  .dashboard__lecture h3 {
    font-size: 24px;
    line-height: 28px;
    padding: 10px 10px 20px;
  }

  .dashboard__lecture p {
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px 15px;
  }

  .dashboard__lecture-address {
    padding: 10px 15px;
  }

  .dashboard__lecture-address span {
    font-size: 18px;
    line-height: 21px;
  }

  /* lecture styles */
  .lecture .container {
    margin: 20px 10px 10px;
    padding: 20px 10px;
  }

  .lecture__group-address span {
    padding-top: 20px;
  }

  /* footer styles */
  .footer {
    padding: 20px 0;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 9px;
  }
}