/* Fonts */
@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Light.woff') format('woff'),
  url('../fonts/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Regular.woff') format('woff'),
  url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Medium.woff') format('woff'),
  url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubik-Bold.woff') format('woff'),
  url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
button:focus {
  outline: none;
}

/* rtl styles */
.rtl {
  direction: rtl;
}

/* container styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 98rem;
}

/* header styles */
.header {
  height: 12rem;
}

.header-dashboard {
  background: #393034;
  height: 8.5rem;
}

.header-dashboard .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.header .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.header__logo {
  width: 18rem;
}

.header__logo img {
  width: 100%;
}

.header__toggler {
  display: none;
}

.header__toggler.open {
  background: url(../img/menu-open.svg) center / contain no-repeat;
  cursor: pointer;
  height: 1.8rem;
  width: 3.2rem;
}

.header__toggler.close {
  background: url(../img/menu-close.svg) center / contain no-repeat;
  cursor: pointer;
  height: 2.8rem;
  width: 2.8rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav {
  margin-right: 4rem;
}

.header.rtl .header__nav {
  margin: 0 0 0 3rem;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.header__nav ul li:not(:last-child) {
  padding-right: 4rem;
}

.header.rtl .header__nav ul li:not(:first-child) {
  padding-right: 4rem;
}

.header__nav ul li a {
  color: #626262;
  font-size: 1.7rem;
  text-decoration: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.header__nav ul li a:hover {
  color: #6DABF4;
}

.header__buttons button {
  border-radius: .8rem;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1rem 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 10rem;
}

.header__buttons-signup {
  background-color: #E85F7F;
  border: 1px solid #E85F7F;
  color: #fff;
  margin-right: 1.4rem;
}

.header.rtl .header__buttons-signup {
  margin: 0 0 0 1.4rem;
}

.header__buttons-signup:hover {
  background-color: #6DABF4;
  border: 1px solid #6DABF4;
}

.header__buttons-login {
  background-color: transparent;  
  border: 1px solid #6DABF4;
  color: #6DABF4;
}

.header__buttons-login:hover {
  background-color: #6DABF4;
  color: #fff;
}

.header__logo-presentation {
  margin: 0 auto;
  width: 18rem;
}

.header__logo-presentation img {
  width: 100%;
}

.header__account h3 {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
}

.header__account span {
  border-radius: 50%;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-right: 2.1rem;
  height: 4rem;
  width: 4rem;
}

.header__account button {
  background: url(../img/triangel-down.svg) center / contain no-repeat;
  border: none;
  cursor: pointer;
  margin-left: 2.1rem;
  height: 1.5rem;
  width: 2rem;
}

.header__menu.dashboard {
  display: none;
}

.header__menu.dashboard.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu.dashboard {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem 2rem;
  position: absolute;
  top: 6rem;
  right: 0;
}

.header__userdata {
  width: 100%;
}

.header__userdata h2 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.header__userdata h2 span {
  display: block;
}

.header__menu.dashboard a {
  color: #4D5055;
  display: block;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-decoration: none;
}

.header__menu.dashboard a:hover {
  color: #6DABF4;
}

/* main styles */
.main {
  min-height: calc(100vh - 12rem - 10rem);
}

/* subscribe styles */
.subscribe .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 9rem;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 5rem;
  width: 57rem;
}

.main.rtl .subscribe__form {
  margin-right: 0;
  margin-left: 5rem;
}

.subscribe__form h1 {
  color: #333;
  font-family: 'Rubik-Medium';
  font-size: 3.6rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.subscribe__form h1 br {
  display: none;
}

.subscribe__form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 51rem;
}

.subscribe__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.subscribe__form-group.email {
  width: 100%;
}

.subscribe__form-group.email input {
  border: 1px solid #5E5E5D;
  border-right: none;
  border-radius: .8rem 0 0 .8rem;
  font-size: 1.8rem;
  padding: 2.1rem 0 2.1rem 5.2rem;
  width: 100%;
}

.subscribe__form-group.email label {
  position: absolute;
  top: 50%;
  left: .8rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
}

.subscribe__form-group.email img {
  height: 4rem;
  width: 4rem;
}

.subscribe__form-subscribe .submit {
  background: #6DABF4;
  border: 1px solid #6DABF4;
  border-radius: 0 .8rem .8rem 0;
  color: #fff;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: 'Rubik-Bold';
  font-size: 1.8rem;
  padding: 2.1rem 0;
  width: 17rem;
}

.subscribe__form-subscribe .submit:hover {
  background-color: #E85F7F;
  border: 1px solid #E85F7F;
}

/* start rtl */
.main.rtl .subscribe__form-group.email input {
  border-right: 1px solid #5E5E5D;
  border-left: none;
  border-radius: 0 .8rem .8rem 0;
  padding: 2.1rem 5.2rem 2.1rem 0;
}

.main.rtl .subscribe__form-group.email label {
  right: .8rem;
}

.main.rtl .subscribe__form-subscribe .submit {
  border-radius: .8rem 0 0 .8rem;
}
/* end rtl */

.subscribe__form-subscribe .submit.desktop {
  display: block;
}

.subscribe__form-subscribe .submit.mobile {
  display: none;
}

.subscribe__form h3 {
  color: #333;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-top: 2.4rem;
  text-align: center;
  width: 51rem;
}

.subscribe__image {
  max-width: 56rem;
}

.subscribe__image img {
  width: 100%;
}

/* presentation styles */
.presentation .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 7rem;
}

.presentation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 5rem;
  width: 57rem;
}

.main.rtl .presentation__form {
  margin-right: 0;
  margin-left: 5rem;
}

.presentation__form h1 {
  color: #333;
  font-family: 'Rubik-Medium';
  font-size: 3.6rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.presentation__form h1 br {
  display: none;
}

.presentation__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.presentation__form-group.email {
  position: relative;
}

.presentation__form-group.email input {
  border: 1px solid #5E5E5D;
  border-radius: .8rem;
  color: #333;
  font-size: 1.8rem;
  padding: 1.6rem 1.6rem 1.6rem 5.2rem;
  width: 100%;
}

.main.rtl .presentation__form-group.email input {
  padding: 1.6rem 5.2rem 1.6rem 1.6rem;
}

.presentation__form-group.email input::-webkit-input-placeholder {
  color: #707070;
  font-size: 1.8rem;
}

.presentation__form-group.email input::-moz-placeholder {
  color: #707070;
  font-size: 1.8rem;
}

.presentation__form-group.email input:-ms-input-placeholder {
  color: #707070;
  font-size: 1.8rem;
}

.presentation__form-group.email input::-ms-input-placeholder {
  color: #707070;
  font-size: 1.8rem;
}

.presentation__form-group.email input::placeholder {
  color: #707070;
  font-size: 1.8rem;
}

.presentation__form-group.email label {
  position: absolute;
  top: 50%;
  left: .8rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
}

.main.rtl .presentation__form-group.email label {
  right: .8rem;
}

.presentation__form-group.email label img {
  height: 4rem;
  width: 4rem;
}

.checkbox-custom {  
  cursor: pointer;
  display: block;
  padding: 2rem 0 2rem 5.2rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main.rtl .checkbox-custom {  
  padding: 2rem 5.2rem 2rem 0;
}

.checkbox-custom .check-data {
  color: #707070;
  font-size: 1.8rem;
  letter-spacing: -.25px;
}

.checkbox-custom .check-data a {
  color: #707070;
}

.checkbox-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom .checkmark {
  background-color: #fff;
  border: 1px solid #5E5E5D;
  border-radius: .8rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3.6rem;
  width: 3.6rem;  
}

.main.rtl .checkbox-custom .checkmark {
  right: 0;  
}

.checkbox-custom:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-custom input:checked ~ .checkmark {
  background-color: #6DABF4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-custom input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-custom .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  left: 1.2rem;
  top: .5rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1rem;
  height: 2rem;  
}

.presentation__form input[type=submit] {
  background: #6DABF4;
  border: none;
  border-radius: .8rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Rubik-Bold';
  font-size: 1.8rem;
  letter-spacing: -.25px;
  margin: 0 auto;
  padding: 2.1rem 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 24rem;
}

.presentation__form input[type=submit]:hover {
  background: #E85F7F;
}

.presentation__image {
  max-width: 56rem;
}

.presentation__image img {
  width: 100%;
}

/* access styles */
.access .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.access h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.access__form {
  border: 1px solid #DADADA;
  padding: 4rem 3rem 3.5rem;
  width: 55rem;
}

.access__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
}

.access__group label,
.access__group input {
  font-size: 1.8rem;
}

.access__group label {
  line-height: 2.5rem;
}

.access__group input {
  border: 1px solid #DADADA;
  line-height: 1.6rem;
  padding: 1.1rem 1.4rem;
}

.access__group input:focus {
  outline: 1px solid #00A2FF;
}

.access__group input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.access__group input::-moz-placeholder {
  color: #AAAAAA;
}

.access__group input:-ms-input-placeholder {
  color: #AAAAAA;
}

.access__group input::-ms-input-placeholder {
  color: #AAAAAA;
}

.access__group input::placeholder {
  color: #AAAAAA;
}

.access__group input.invalid {
  background: #FCE7E5;
  border: 1px solid #FF0000;
}

.access__form input[type=submit] {
  background: #6DABF4;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1.2rem 0;
  width: 12rem;
}

.access__form input[type=submit]:hover {
  background-color: #E85F7F;
}

.access__form h5 {
  font-size: 1.8rem;
  margin-top: 4rem;
}

.access__form h5 a {
  color: #00A2FF;
  text-decoration: none;
}

.access__form h5 a:hover {
  color: #E85F7F;
}

/* dashboard styles */
.dashboard .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard__title {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard__title h2 {
  font-size: 3.5rem;
  padding: 2rem 0;
}

.dashboard__subtitle {
  border-bottom: 1px solid #DADADA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.dashboard__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3.5rem 0;
}

.dashboard__user span {
  background: #C4C4C4;
  border-radius: 50%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-right: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
}

.dashboard__user h3 {
  font-size: 2.2rem;
  line-height: 2.4rem;
}

.dashboard__user h3 a {
  color: #00A2FF;
  display: block;
  text-decoration: none;
}

.dashboard__user h3 a:hover {
  color: #005aff;
}

.dashboard__create {
  background: #6DABF4;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Rubik-Light';
  font-size: 1.8rem;
  letter-spacing: -0.25px;
  padding: 1rem 0;
  text-decoration: none;
  height: auto;
  width: 20rem;
}

.dashboard__create:hover {
  background: #005aff;
}

.dashboard__lectures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem;
  padding-top: 2rem;
}

.dashboard__lecture {
  border: 1px solid #DADADA;
  border-top: 2rem solid #8989FC;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 1rem 2rem;
  width: calc(100% / 3 - 2rem);
}

.dashboard__lecture h3 {
  color: #00A2FF;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 2.3rem;
  line-height: 3rem;
  padding: 2rem 1rem;
}

.dashboard__lecture p {
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 0 1.5rem 1.5rem;
}

.dashboard__lecture hr {
  background-color: #DADADA;
  border: none;
  margin: 0;
  height: 1px;
  width: 100%;
}

.dashboard__lecture-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

.dashboard__lecture-address span {
  color: #2FB3FF;
  font-size: 2rem;
  line-height: 2.2rem;
}

.dashboard__lecture-address a {
  border: 1px solid #2FB3FF;
  border-radius: 1.5rem;
  color: #2FB3FF;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: .5rem 0;
  text-align: center;
  text-decoration: none;
  width: 11rem;
}

.dashboard__lecture-address a:hover {
  background-color: #2FB3FF;
  color: #fff;
}

/* lecture styles */
.lecture .container {
  border: 1px solid #666A73;
  border-radius: 1.5rem;
  margin-top: 5rem;
  padding: 5rem;
}

.lecture__form {  
  margin: 0 auto;
  width: 50%;
}

.lecture__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
}

.lecture__group.file input {
  border: none;
  display: none;
  opacity: 0;
}

.lecture__group.file label {
  background: #6DABF4;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Rubik-Light';
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 1.2rem 0;
  text-align: center;
  width: 14rem;
}

.lecture__group.file label:hover {
  background-color: #E85F7F;
}

.lecture__group-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lecture__group-address span {
  font-size: 1.8rem;
}

.lecture__group-address input {
  width: 100%;
}

.lecture__group label,
.lecture__group input {
  font-family: 'Rubik-Medium';
  font-size: 1.8rem;
}

.lecture__group label {
  line-height: 2.5rem;
}

.lecture__group input {
  border: 1px solid #DADADA;
  line-height: 1.6rem;
  padding: 1.1rem 1.4rem;
}

.lecture__group input:focus {
  outline: 1px solid #00A2FF;
}

.lecture__group input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.lecture__group input::-moz-placeholder {
  color: #AAAAAA;
}

.lecture__group input:-ms-input-placeholder {
  color: #AAAAAA;
}

.lecture__group input::-ms-input-placeholder {
  color: #AAAAAA;
}

.lecture__group input::placeholder {
  color: #AAAAAA;
}

.lecture__group input.invalid {
  background: #FCE7E5;
  border: 1px solid #FF0000;
}

.lecture__form input[type=submit] {
  background: #6DABF4;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1.2rem 0;
  width: 100%;
}

.lecture__form input[type=submit]:hover {
  background-color: #E85F7F;
}

.lecture-datepicker {
  color: #aaa;
  text-align: center;
}

/* build styles */
.build .container {
  border: 1px solid #666A73;
  border-radius: 1.5rem;
  margin-top: 5rem;
  padding: 5rem;
}

.build__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3.5rem 0;
}

.build__buttons a {
  background: #6DABF4;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}

.build__buttons a:not(:last-child) {
  margin-right: 2rem;
}

/* footer styles */
.footer {
  height: 10rem;
}

.footer .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.footer h4 {
  color: rgba(0, 0, 0, .5);
  font-family: 'Raleway-Regular';
  font-size: 1.8rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 9px;
  }

  /* container styles */
  .container {
    padding: 0 3rem;
  }

  /* header styles */
  .header__nav ul li:not(:last-child) {
    padding-right: 2.9rem;
  }

  .header.rtl .header__nav ul li:not(:first-child) {
    padding-right: 2.9rem;
  }

  .header__menu.dashboard {
    right: 3rem;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  /* container styles */
  .container {
    padding: 0 3rem;
  }

  /* header styles */
  .header__nav ul li:not(:last-child) {
    padding-right: 2.9rem;
  }

  .header.rtl .header__nav ul li:not(:first-child) {
    padding-right: 2.9rem;
  }

  .header__menu.dashboard {
    right: 3rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }

  /* container styles */
  .container {
    padding: 0 3rem;
  }

  /* header styles */
  .header__nav ul li:not(:last-child) {
    padding-right: 2.9rem;
  }

  .header.rtl .header__nav ul li:not(:first-child) {
    padding-right: 2.9rem;
  }

  .header__menu.dashboard {
    right: 3rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }

  /* container styles */
  .container {
    padding: 0 3rem;
  }

  /* header styles */
  .header {
    border-bottom: 1px solid #DDDDDD;
    height: 5.5rem;
  }

  .header__toggler {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__menu.show {
    background: #464954;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.9rem 3.8rem;
    position: absolute;
    top: 5.5rem;
    left: 0;
    right: 0;
    z-index: 9;
  }

  .header__menu.show .header__nav {
    border-bottom: 3px solid #FFFCFC;
    margin: 0 0 3.5rem 0;
    padding-bottom: 4.3rem;
    width: 100%;
  }

  .header__menu.show .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__menu.show .header__nav ul li:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  .header__menu.show .header__nav ul li a {
    color: #fff;
  }

  .header__buttons {
    text-align: center;
    width: 100%;
  }

  .header__buttons button {
    margin: 0 1rem;
    padding: .8rem 0;
    width: 12rem;
  }

  .header__logo {
    margin: 0 auto 0 0;
    width: 14.8rem;
  }

  .header.rtl .header__logo {
    margin: 0 0 0 auto;
  }

  .header__logo-presentation {
    margin: 0 auto;
    width: 14.8rem;
  }

  .header-dashboard {
    background-color: #fff;
    border-bottom: 1px solid #DDDDDD;
    height: 5.5rem;
  }

  .header__menu.dashboard.show {
    border-radius: 0;
    border: none;
    padding: 2rem;
  }

  .header__menu.dashboard.show h2,
  .header__menu.dashboard.show a {
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: center;
    width: 100%;
  }

  .header__account {
    display: none;
  }

  /* subscribe styles */
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4rem;
  }

  .subscribe__form {
    margin-right: 0;
    width: 100%;
  }

  .main.rtl .subscribe__form {
    margin-left: 0;
  }

  .subscribe__form h1 {
    font-size: 2.4rem;
    margin-bottom: 5rem;
    text-align: center;
  }

  .subscribe__form-subscribe {
    width: 100%;
  }

  .subscribe__form-group.email {
    display: none;
  }

  .subscribe__form-subscribe .submit.desktop {
    display: none;
  }

  .subscribe__form-subscribe .submit.mobile {
    display: block;
    border-radius: .8rem;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 1.7rem 0;
    width: 25rem;
  }

  .subscribe__form h3 {
    margin-bottom: 1.7rem;
    width: 100%;
  }

  .subscribe__form h3 span {
    display: none;
  }

  .subscribe__image {
    padding: 0 4.5rem;
  }

  /* presentation styles */
  .presentation .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2.4rem;
  }

  .presentation__form {
    margin-right: 0;
    width: 100%;
  }

  .main.rtl .presentation__form {
    margin-left: 0;
  }

  .presentation__form h1 {
    font-size: 3rem;
    margin-bottom: 1.8rem;
    text-align: center;
  }

  .presentation__form h1 br {
    display: block;
  }

  .checkbox-custom .check-data {
    font-size: 1.6rem;
  }

  .presentation__form input[type=submit] {
    margin-bottom: 1.2rem;
    padding: 1.7rem 0;
  }

  .presentation__image {
    padding: 0 4.5rem;
  }

  /* access styles */
  .access .container {
    padding: 0 1rem;
  }

  .access h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .access__form {
    padding: 3rem 1rem 1rem;
    width: 34rem;
  }

  .access__group input {
    padding: 1.2rem 2.1rem;
  }

  /* dashboard styles */
  .dashboard__title h2 {
    font-size: 3rem;
    padding: 1.5rem 0;
  }

  .dashboard__user {
    display: none;
  }

  .dashboard__user h3 a:hover {
    color: #005aff;
  }

  .dashboard__create {
    margin-top: 3rem;
    width: 100%;
  }

  .dashboard__lecture {
    margin: 0 0 2rem;
    width: 100%;
  }

  .dashboard__lecture h3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding: 1rem 1rem 2rem;
  }

  .dashboard__lecture p {
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 0 1rem 1.5rem;
  }

  .dashboard__lecture-address {
    padding: 1rem 1.5rem;
  }

  .dashboard__lecture-address span {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  /* lecture styles */
  .lecture .container {
    margin: 2rem 1rem 1rem;
    padding: 2rem 1rem;
  }

  .lecture__form {
    width: 100%;
  }

  .lecture__group-address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .lecture__group-address span {
    padding-top: 2rem;
  }

  /* footer styles */
  .footer {
    padding: 2rem 0;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 9px;
  }
}