@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: #E5E5E5;
  color: #141414;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.rtl {
  direction: rtl;
}

/* global styles */
h1 {
  font-size: 6.6rem;
  line-height: 7.8rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.6rem;
}
h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
a {
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration: none;
}
.btn {
  background-color: #f93;
  border: 2px solid #FF9933;
  border-radius: 9.5rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 0.8rem 3.2rem;
}


/* wrapper styles */
.wrapper {
  height: calc(100vh - 9.1rem - 7.1rem);
}
.wrapper.map {
  height: calc(100vh - 9.1rem - 15rem);
}

/* header styles */
.header {
  background: #FF9933;
  box-shadow: 0px 4px 16px rgba(29, 29, 29, 0.1);
  height: 9.1rem;
}
.header-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  max-width: 135rem;
}
.header-logo {
  display: -webkit-flex;
  display: flex;
  width: 15.8rem;
}
.header-logo img {
  width: 100%;
}
.header-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  margin-right: 9.9rem;
}
.header-nav a {
  font-weight: 500;
  margin-left: 7.1rem;
}
a.header-nav--business {
  margin-right: auto;
  margin-left: 3.5rem;
}
a.header-nav--app {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  margin-left: 0;
}
a.header-nav--app img {
  margin-right: 0.5rem;
  height: 2.2rem;
}
.header-profile {
  display: -webkit-flex;
  display: flex;
  margin-right: 4rem;
  height: 3.6rem;
  width: 3.6rem;
}
.header-profile img {
  width: 100%;
}

.header-menu,
.header-mobile {
  display: none;
}


/* home styles */
.home {
  background: url(../img/home-bg.jpg) center / cover no-repeat;
  color: #fff;
  height: 100%;
}
.home-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin: 0 auto;
  height: 100%;
  max-width: 135rem;
}
.home-intro {
  overflow-y: auto;
  padding-top: 22rem;
  height: 100%;
}
.home-logo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
}
.home-logo--icon {
  margin-bottom: 1.5rem;
  width: 10.8rem;
}
.home-logo--text {
  width: 17rem;
}
.home-intro h1 {
  font-weight: 700;
  margin-bottom: 1.8rem;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.35);
}
.home-intro h1 br {
  display: none;
}
.home-btns {
  text-align: center;
}
.home .btn {
  margin: 0 0.8rem;
}
.home .btn span {
  font-weight: 700;
}


/* map styles */
#map {
  height: 100%;
}
.map-finder {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: calc(100vh - 9.1rem - 15rem);
}
.inner-part1 {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  position: relative;
  height: 100%;
}
.inner-part2 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  padding: 0 5rem;
  height: 100%;
  width: 69rem;
}
.inner-part2 h3 {
  color: #141414;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.3rem;
  margin: 5.6rem 0 4.3rem;
}
.inner-part2 .group-image {
  background: url(../map/lines.png) top center / auto 100% no-repeat;
  -webkit-flex-grow: 1;
          flex-grow: 1;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.loading-section {
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}
.map-header,
.map-footer,
.map-toggler {
  display: none;
}


/* footer styles */
.footer {
  background-color: #fff;
  color: #4f4f4f;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 7.1rem;
  width: 100%;
}
.footer.map {
  height: 15rem;
}
.footer-policy {
  color: #4f4f4f;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-left: 3.2rem;
  text-decoration: underline;
}
.footer-logo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  margin-left: 3.2rem;
}
.footer-logo img {
  margin-left: 0.5rem;
  height: 1.5rem;
}
.footer-copyright {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
}
.footer-copyright img {
  margin-right: 0.3rem;
  height: 1.3rem;
}

.footer-mail {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;
}
.footer-mail a {
  border: 1px solid #141414;
  border-radius: 0.4rem;
  color: #141414;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  padding: 1rem 3.3rem;
}
.footer-mail a img {
  margin-left: 1rem;
  width: 1.8rem;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
  body.open {
    overflow: hidden;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 5.7rem;
  }


  /* wrapper styles */
  .wrapper,
  .wrapper.map {
    height: calc(100vh - 7rem - 6.8rem);
  }


  /* header styles */
  .header {
    padding: 0 2rem;
    height: 7rem;
  }
  .header-logo {
    width: 14rem;
  }
  .header-nav {
    display: none;
  }
  .header-profile {
    margin-right: auto;
    margin-left: 3rem;
  }

  .header-menu {
    background: url(../img/menu-open.svg) center / 100% 100% no-repeat;
    display: -webkit-flex;
    display: flex;
    height: 2rem;
    width: 3rem;
  }
  .header-menu.open {
    background: url(../img/menu-close.svg) center / 100% 100% no-repeat;
    position: relative;
    width: 2rem;
    z-index: 999;
  }
  .header-mobile {
    background-color: #fff;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
  }
  .header-mobile.open {
    display: -webkit-flex;
    display: flex;
  }
  .header-mobile__logo {
    background: #F4F4F4;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    height: 10rem;
  }
  .header-mobile__logo img {
    width: 18.6rem;
  }
  .header-mobile__container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    overflow-y: auto;
  }
  .header-mobile__nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    padding: 3rem 2.5rem;
  }
  .header-mobile__nav a {
    color: #535353;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    margin-bottom: 1rem;
    height: 4.8rem;
    width: 100%;
  }
  .header-mobile__nav a span:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    margin-left: 1.7rem;
    width: 3.8rem;
  }
  .header-mobile__nav a span:first-child img {
    padding-bottom: 1.3rem;
    height: 4.8rem;
  }
  .header-mobile__nav a span:last-child {
    border-bottom: 1px solid #E6E6E6;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    padding-bottom: 1.3rem;
    height: 100%;
    width: 100%;
  }
  .header-mobile__nav a:nth-child(4) span:last-child {
    border: none;
  }
  .header-mobile__nav .header-mobile__btn {
    border: 1px solid #FF9933;
    border-radius: 0.4rem;
    color: #FF9933;
    margin-top: 2rem;
    padding: 0.8rem 5.5rem;
    width: auto;
  }
  .header-mobile__footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    padding: 3rem 2.5rem;
  }
  .header-mobile__policy {
    color: #4F4F4F;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1.9rem;
    text-decoration: underline;
  }
  .header-mobile__footer .header-mobile__mail {
    border: 1px solid #141414;
    border-radius: 0.4rem;
    color: #141414;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    padding: 1rem 3.3rem;
  }
  .header-mobile__footer .header-mobile__mail img {
    margin-left: 1rem;
    width: 1.8rem;
  }



  /* home styles */
  .home-container {
    -webkit-justify-content: center;
            justify-content: center;
    max-width: 100%;
  }
  .home-intro {
    padding-top: 6rem;
    width: 100%;
  }
  .home-logo--icon {
    margin-bottom: 1rem;
    width: 7.3rem;
  }
  .home-logo--text {
    width: 11.3rem;
  }
  .home-intro h1 {
    margin-bottom: 1.7rem;
    text-align: center;
  }



  /* map styles */
  .map-finder {
    position: relative;
    height: calc(100vh - 7rem - 6.8rem);
  }
  .map-toggler {
    background: url(../img/icon-arrow.svg) center / 1rem 1.5rem no-repeat, #FF9933;
    border-radius: 0.4rem;
    display: none;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 50%;
    height: 4rem;
    width: 14.8rem;
    z-index: 5;
  }
  .map-toggler.open {
    display: -webkit-flex;
    display: flex;
  }
  .map-toggler--map {
    right: -5.4rem;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }
  .map-toggler--metro {
    left: -5.4rem;
    -webkit-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
  }
  .inner-part1 {
    margin: 10.5rem 0 12rem;
    overflow-y: auto;
    height: calc(100% - 10.5rem - 12rem);
  }
  .inner-part2 {
    background: #F8F8F8;
    padding: 10.5rem 2rem 12rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 100%;
    z-index: 1;
  }
  .inner-part2.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .inner-part2 h3 {
    display: none;
  }
  .inner-part2 .group-image {
    background: url(../map/lines-mobile2.png) bottom center / 35rem auto no-repeat;
    -webkit-flex-grow: 1;
            flex-grow: 1;
  }

  .map-header {
    background: #F8F8F8;
    border-radius: 0 0 .9rem .9rem;
    display: block;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 10.5rem;
    width: 100%;
    z-index: 2;
  }
  .map-header h3 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin: .8rem 0;
    text-align: center;
  }
  .map-header__btns {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
  }
  .map-header__btns a {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: .9rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin: 0 0.9rem;
    height: 4.3rem;
    width: 10rem;
  }
  .map-header__btns a:nth-child(1) {
    color: #009933;
  }
  .map-header__btns a:nth-child(2) {
    color: #0066CC;
  }
  .map-header__btns a:nth-child(3) {
    color: #FF0099;
  }
  .map-header__btns a img {
    margin-left: 0.5rem;
    height: 2rem;
  }

  .map-footer {
    background: #F8F8F8;
    border-radius: .9rem .9rem 0 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-justify-content: center;
            justify-content: center;
    padding: 0 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12rem;
    width: 100%;
    z-index: 2;
  }
  .map-footer.map {
    -webkit-align-items: center;
            align-items: center;
  }
  .map-footer img {
    height: 10.5rem;
  }


  /* footer styles */
  .footer,
  .footer.map {
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 0 2rem;
    height: 6.8rem;
  }
  .footer-logo {
    margin-left: 0;
  }
  .footer-mail {
    display: none;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 9px;
  }

  /* home styles */
  .home {
    background: url(../img/home-bg-mobile.jpg) bottom center / cover no-repeat;
  }
  .home-intro h1 br {
    display: block;
  }


  /* footer styles */
  .footer-policy {
    display: none;
  }
}