@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 10px;
}

body {
	color: #854b00;
	direction: rtl;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	line-height: 1;
}
/* global styles */
h2 {
	font-size: 4.4rem;
	font-weight: 700;
}
h3 {
	font-size: 3.4rem;
	font-weight: 700;
}
h4 {
	font-size: 2.8rem;
}

/* wrapper styles */
.wrapper {
	background: url(../img/bg.jpg) top center / 85% auto no-repeat;
	min-height: 100vh;
}
.wrapper.no-bg {
	background: none;
}

/* header styles */
.header {
	padding-top: 6.4rem;
	position: relative;
	height: 12rem;
}
.header__logo {
	position: absolute;
	top: 50%;
	left: 6rem;
	transform: translateY(-50%);
	height: 100%;
}
.header__logo img {
	height: 100%;
}
.header__nav-container {
	background-color: #854b00;
	position: relative;
	height: 5.6rem;
	z-index: 99;
}
.header__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	padding: 0 6rem;
	height: 5.6rem;
	max-width: 166rem;
}
.header__nav a {
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.8rem;
	letter-spacing: 0.5rem;
	margin: 0 1.5rem;
	text-decoration: none;
	height: 100%;
}
.header__nav a:hover,
.header__nav a.active {
	background-color: #e3b700;
	border-radius: 2px;
	margin: 0 0.75rem;
	padding: 0 0.75rem;
	height: calc(100% + 1.5rem);
}
.header__nav img {
	height: 1.7rem;
}

/* main styles */
.main {
	padding: 0 16rem;
	position: relative;
}
.main__loading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 12rem);
}
.main__loading img {
	width: 42rem;
}
.main-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 9rem 0;
	max-width: 166rem;
}
.main-container.city {
	align-items: flex-start;
}
.main__nav {
	width: 14rem;
}
.main__nav button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
}
.main__nav button svg {
	width: 100%;
}
.main__nav button:hover svg path {
	fill: #E3B700;
	fill-opacity: 1;
}
.main__content {
	text-align: center;
}
.main__form {
	width: 46rem;
}
.main__form.card {
	width: 74rem;
}
.main__form > h3 {
	letter-spacing: 0.2rem;
	margin-bottom: 3.5rem;
}
.main__form-el {
	background-color: #fff;
	border: 4px solid #854B00;
	border-radius: 2rem;
	cursor: pointer;
	padding: 2.2rem;
	width: 100%;
}
.main__form-el:hover,
.main__form-el.active {
	background-color: rgba(227, 183, 0, .5);
}
.main__form-el:not(:last-child) {
	margin-bottom: 1.5rem;
}
.main__city {
	display: flex;
	flex-direction: row;
	max-height: 40rem;
	width: 100%;
}
.main__city-container {
	background-color: #fff;
	border: 4px solid #854B00;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.main__city input,
.main__city-items > div {
	border: none;
	font-size: 2.8rem;
	padding: 2rem;
	width: 100%;
}
.main__city input {
	border-radius: 2rem;
}
.main__city input:focus {
	outline: none;
}
.main__city-items {
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
}
.main__city-items > div {
	cursor: pointer;
}
.main__city-items > div:hover {
	background-color: rgba(227, 183, 0, .55);
}
.main__header {
	background-color: #854b00;
	padding: 1.7rem 3rem 1.7rem 8rem;
	position: absolute;
	right: 0;
	top: 3rem;
	height: 5.6rem;
}
.main__header h4 {
	color: #fff;
	letter-spacing: 0.3rem;
}
.main__card {
	display: flex;
	flex-direction: row;
	padding-top: 11rem;
}
.main__card-right {
	flex-shrink: 0;
	position: relative;
	width: 32rem;
}
.main__card-right> h3  {
	position: absolute;
	top: -5rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}
.main__card-avatar {
	background-color: #dadada;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 32rem;
	width: 32rem;
}
.main__card-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding-right: 2rem;
	text-align: right;
}
.main__card-left input {
	background-color: rgba(187, 186, 186, .15);
	border: none;
	font-size: 2.8rem;
	padding: 1.5rem;
}
.main__card-left input::-webkit-input-placeholder {
	color: #854b00;
	font-family: 'Heebo', sans-serif;
}
.main__card-left input:-ms-input-placeholder {
	color: #854b00;
	font-family: 'Heebo', sans-serif;
}
.main__card-left input::-ms-input-placeholder {
	color: #854b00;
	font-family: 'Heebo', sans-serif;
}
.main__card-left input::placeholder {
	color: #854b00;
	font-family: 'Heebo', sans-serif;
}
.main__card-left button {
	background-color: #e3b700;
	border: none;
	border-radius: 1rem;
	color: #fff;
	font-weight: 700;
	font-size: 3.4rem;
	margin: 0 5rem;
	height: 5.6rem;
}
.main__card-finish {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 9rem;
	width: 100%;
}
.main__card-finish > h2 {
	color: #E3B700;
	letter-spacing: 0.5rem;
}
.main__card-finish img {
	margin: 5rem 0 4rem;
	width: 29rem;
}


/* Large desktops and laptops */
@media (min-width: 1440px) and (max-width: 1919.98px) {
	html {
		font-size: 10px;
	}
}
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 9px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 8px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 7px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 7px;
	}

	/* wrapper styles */
	.wrapper {
		background-position: top 32rem center;
	}

	/* header styles */
	.header {
		padding-top: 20rem;
		height: 25.6rem;
	}
	.header__logo {
		padding-bottom: 5.6rem;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 1;
	}
	.header__nav {
		padding: 0 2rem;
	}

	/* main styles */
	.main {
		padding: 0 3rem;
	}
	.main-container {
		padding: 15rem 0;
	}
	.main__content {
		flex-grow: 1;
	}
	.main__header {
		padding: 1rem 3rem 1rem 6rem;
		top: 10rem;
		height: auto;
	}
	.main__header > h4 {
		font-size: 2rem;
	}
	.main__nav {
		width: 10rem;
	}
	.main__nav button svg path {
		fill-opacity: 1;
	}
	.main__form.card {
		width: auto;
	}
	.main__card {
		flex-direction: column;
	}
	.main__card-right,
	.main__card-left {
		width: 100%;
	}
	.main__card-right {
		margin-bottom: 10rem;
	}
	.main__card-avatar {
		margin: 0 auto;
	}
	.main__card-left > h3 {
		font-size: 6rem;
		margin-bottom: 3rem;
		text-align: center;
	}
	.main__card-left input {
		margin-bottom: 2rem;
	}
	.main__card-left button {
		font-size: 4rem;
		height: 7rem;
	}
	.main__card-finish > h2 {
		letter-spacing: 0;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html {
		font-size: 6px;
	}
}
@media (max-width: 375px) {
	html {
		font-size: 5px;
	}
}