/* Fonts */
@font-face {
  font-family: 'DINOT-Light';
  src: url('../fonts/DINOT-Light.eot');
  src: url('../fonts/DINOT-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINOT-Light.woff') format('woff'),
  url('../fonts/DINOT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DINOT-Regular';
  src: url('../fonts/DINOT-Regular.eot');
  src: url('../fonts/DINOT-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINOT-Regular.woff') format('woff'),
  url('../fonts/DINOT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DINOT-Medium';
  src: url('../fonts/DINOT-Medium.eot');
  src: url('../fonts/DINOT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINOT-Medium.woff') format('woff'),
  url('../fonts/DINOT-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Italic.woff') format('woff'),
  url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
}
body {
  color: #333333;
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  line-height: normal;
}

/* page style */
.page {
  height: 100%;
  max-height: 8in;
  width: 14.23in;
  max-width: 14.23in;
}
/* next-page */
.next-page {
  page-break-before: always
}

/* global styles */
h1.fz__h1 {
  font-size: 75px;
  line-height: 85px;
}
h2.fz__h2 strong {
  font-size: 46px;
  line-height: 51px;
}
h2.fz__h2 {
  font-size: 30px;
  line-height: 35px;
}
h2.fz__h2 small {
  font-size: 28px;
  line-height: 33px;
}
h3.fz__h3 {
  font-size: 25px;
  line-height: 30px;
}
h4.fz__h4 {
  font-size: 20px;
  line-height: 25px;
}
h5.fz__h5 {
  font-size: 18px;
  line-height: 23px;
}
h5.fz__h5 small {
  font-size: 16px;
  line-height: 24px;
}
h6.fz__h6 {
  font-size: 15px;
  line-height: 20px;
}
p.fz__p {
  font-size: 13px;
  line-height: 18px;
}
p.fz__p strong {
  font-weight: 700;
}
p.fz__p small {
  color: #7c7c7c;
  display: contents;
  font-size: 12px;
  line-height: 17px;
}
a.fz__a {
  color: #3594ff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lovercase {
  text-transform: lowercase;
}
.color-black {
  color: #000000;
}
.color-white {
  color: #ffffff;
}
.color-grey {
  color: #7c7c7c;
}
.color-pink {
  color: #e45784;
}
.color-red {
  color: #f24e4e;
}
.color-yellow {
  color: #ff9126;
}
.color-green {
  color: #56b40a;
}
.color-orange {
  color: #ff9126;
}
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #f7f7f7;
}
.bg-pink {
  background-color: #e45785;
}

/* wrapper styles */
.wrapper {
  height: auto;
  width: 100%;
}

/* header styles */
.header {
  border-bottom: 2px solid #e45784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px 0 25px;
  height: 50px;
}
.header h5,
.header h6 {
  line-height: 20px;
}
.header h5 {
  font-family: 'DINOT-Medium';
  white-space: nowrap;
}
.header h6 {
  font-family: 'DINOT-Regular';
}

/* footer styles */
.footer {
  border-top: 2px solid #e0e4e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px 0 21px;
  height: 28px;
}
.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__group p {
  padding: 0 19px;
  white-space: nowrap;
}
.footer__group p:not(:last-child) {
  border-right: 1px solid #e0e4e8;
}

/* home styles */
.home {
  position: relative;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  background: url(../img/home-bg-img1.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.home__top-bg {
  background: url(../img/home-bg-img2.jpg);
  background-size: 100% 100%;
  height: calc(100% + 27px);
}  
.home__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 95px 0;
  position: relative;
  height: 400px;
}
.home__top h1 {
  font-family: 'DINOT-Light';
  position: relative;
  z-index: 9;
}
.home__top h1 span {
  font-family: 'DINOT-Medium';
}
.home__logo {
  margin-top: 15px;
  position: relative;
  height: 37px;
  width: 212px;
  z-index: 9;
}
.home__logo img {
  height: 100%;
  width: 100%;
}
.home__bot {
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 59%, rgba(255, 255, 255, 0.9) 100%);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.7)), color-stop(59%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 59%, rgba(255, 255, 255, 0.9) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 95px;
  position: relative;
  height: 368px;
  z-index: 1;
}
.home__bot::before {
  content: "";
  background: url(../img/home-bg-img3.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 27px;
  z-index: 2;
}
.home__img {
  padding: 80px 60px;
  position: relative;
  height: 368px;
  width: 368px;
}
.home__img img {
  width: 100%;
}
.home__data {
  font-family: 'DINOT-Regular';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 54px;
}
.home__data h2 {
  margin-bottom: 26px;
}
.home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 38px;
}
.home__row h5 {
  position: relative;
  white-space: nowrap;
}
.home__row h5:not(:last-child) {
  margin-right: 44px;
}
.home__row h5:not(:last-child)::before {
  content: "";
  background-color: #a7a9ac;
  position: absolute;
  top: 0;
  right: -21px;
  bottom: 0;
  width: 1px;
}
.home__row h5 small {
  display: block;
}
.home__info {
  width: 590px;
}

/* assessment styles */
.assessment {
  height: 100%;
  width: 100%;
}
.assessment__top {
  background: url(../img/assesment-bg.jpg);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 80px 0 90px;
  height: 250px;
}
.assessment__top h2 {
  font-size: 60px;
  line-height: 77px;
}
.assessment__top h4 {
  font-family: 'DINOT-Light';
}
.assessment__top h4 span {
  font-family: 'DINOT-Medium';
}
.assessment__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 50px 30px 55px;
  height: 518px;
}
.assessment__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0 40px 50px;
  width: 50%;
}
.assessment__col:not(:last-child) {
  border-right: 2px solid #e0e4e8;
}
.assessment__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.assessment__element img {
  margin-right: 30px;
  width: 45px;
}

/* summary styles */
.summary {
  height: 690px;
  width: 100%;
}
.summary__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 395px;
}
.summary__top img {
  margin-bottom: 25px;
  width: 195px;
}
.summary__top h2 {
  line-height: 33px;
  white-space: nowrap;
}
.summary__top h5 {
  line-height: 35px;
  text-align: center;
  max-width: 570px;
}
.summary__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 47px;
  height: 295px;
}
.summary__group {
  position: relative;
  padding: 3px 18px;
  width: 20%;
}
.summary__group::before {
  content: "";
  border-radius: 10px/10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 7px;
}
.summary__group.border-black::before {
  background-color: #000000;
}
.summary__group.border-red::before {
  background-color: #f24e4e;
}
.summary__group.border-yellow::before {
  background-color: #ff9126;
}
.summary__group.border-orange::before {
  background-color: #ff9126;
}
.summary__group.border-green::before {
  background-color: #56b40a;
}
.summary__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.summary__quantity h2 {
  margin-right: 15px;
}
.summary__name {
  margin-bottom: 19px;
}
.summary__detail a {
  white-space: nowrap;
}

/* details styles */
.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 70px;
  height: 200px;
}
.details__img {
  margin-right: 35px;
  text-align: center;
  width: 10%;
}
.details__info {
  width: 90%;
}
.details__info h3 {
  line-height: 35px;
  margin-bottom: 10px;
}
.details__info h6 {
  width: 100%;
  max-width: 100%;
}
.details-flags {
  height: 300px;
}

/* table styles */
.w-auto {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}
.w3,
.w10,
.w13,
.w15,
.w20,
.w30,
.w40,
.w70 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.w3 {
  width: 3%;
}
.w10 {
  width: 10%;
}
.w13 {
  width: 13%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w70 {
  width: 70%;
}
.table {
  padding: 25px 50px 35px;
  height: 490px;
}
.table-flags {
  height: 390px;
}
.table.table-full {
  height: 690px;
}
.table__container {
  border: 1px solid #e8e9eb;
  padding: 20px;
  height: 100%;
}
.table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.table__row {
  border-bottom: 1px solid #e0e4e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.table__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.table__col span {
  display: block;
}
.table__row-header {
  border-bottom: 2px solid #e0e4e8;
  text-transform: uppercase;
}
.table__row-header .table__element {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  white-space: nowrap;
}
.table__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*-webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px;
}
.table-flags .table__row-header .table__element:not(:nth-child(2)),
.table-flags .table__element:not(:nth-child(2)) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.table-flags .table__row-header .table__element:not(:nth-child(2)) .aligned-center,
.table-flags .table__element:not(:nth-child(2)) .aligned-center {
  text-align: center;
}
.table__element-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px;
}
.table__element-row span {
  display: block;
}
.table__element:first-child {
  padding-left: 5px;
}
.table__element.fz__p {
  line-height: 22px;
}
.table__status {
  margin-right: 15px;
  vertical-align: middle;
  height: 14px;
  width: 14px;
}
.table-flags .table__status {
  margin-right: 0;
}
.table .bl,
.table .bl-cve {
  position: relative;
  white-space: nowrap;
}
.table .bl::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 9px;
  width: 3px;
}
.table .bl-cve {
  color: #3594ff;
  margin-right: 10px;
}
.table .bl-cve::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0px;
  width: 2px;
}
.table .bl-black::before {
  background-color: #000000;
}
.table .bl-red::before {
  background-color: #f24e4e;
}
.table .bl-yellow::before {
  background-color: #ff9126;
}
.table .bl-orange::before {
  background-color: #ff9126;
}
.table .bl-green::before {
  background-color: #56b40a;
}
.table .pl-20 {
  padding-left: 20px;
}
.table .pl-5 {
  padding-left: 5px;
}
.table__flag {
  margin-right: 6px;
  vertical-align: middle;
  height: 12px;
  width: 16px;
}
.ip__domain__elm {
  padding-right: 10px;
  display: inline-block;
}
.malicious__domain {
  color: red;
  font-weight: bold;
}
.country__img {
  vertical-align: middle;
  height: 12px;
  width: 16px;
}
.bold__txt {
  font-weight: bold;    
}