/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Inter', sans-serif;
  /*font-family: 'Manrope', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: 400;
  line-height: 1;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* global styles */
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

/* wrapper styles */
.wrapper {
  background: url(../img/bg-img.jpg) center / cover no-repeat;
  min-height: 100vh;
  width: 100%;
}

/* header styles */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 13rem;
  position: relative;
  height: 8.2rem;
}
.header-logo {
  display: block;
  text-decoration: none;
  width: 10.5rem;
}
.header-logo img {
  width: 100%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav__login {
  display: none;
}
.header-nav__link,
.header-dropdown__user h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: .03rem;
}
.header-nav a {
  text-decoration: none;
}
.header-nav__link-mobile,
.header-nav__link-backoffice {
  display: none;
}
.header-dropdown__user,
.header-dropdown__lang {
  cursor: pointer;
  margin-left: 7.5rem;
}
.header-dropdown__user {
  position: relative;
  width: 22rem;
  max-width: 100%;
}
.header-dropdown__user h2 {
  background: url(../img/arrow-down.svg) right 1.5rem center / 1.1rem .7rem no-repeat;
  border: 1px solid #fff;
  border-radius: 0.8rem;
  padding: 1rem 3.6rem 1rem 1rem;
}
.header-dropdown__user-menu {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.8rem;
  display: none;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 1.4rem 1rem;
  position: absolute;
  top: calc(100% + 2.3rem);
  right: 0;
  width: 100%;
}
.header-dropdown__user.open .header-dropdown__user-menu {
  display: flex;
}
.header-dropdown__user-menu a {
  color: #00297c;
}
.header-dropdown__user-menu a:not(:last-child) {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 0.9em;
}
.header-dropdown__user-arrow {
  background-color: #fff;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  position: absolute;
  right: 1.2rem;
  bottom: 100%;
  height: 1.2rem;
  width: 1.7rem;
}
a.header-dropdown__user-logout {
  color: rgba(255, 0, 0, .7);
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
  padding-top: 0.7em;
}

.header-dropdown__lang {
  position: relative;
  width: 9rem;
}
.header-dropdown__lang-active,
.header-dropdown__lang-menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem 0.8rem;
}
.header-dropdown__lang img {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 2.1rem;
}
.header-dropdown__lang h2 {
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.header-dropdown__lang-active {
  background: url(../img/arrow-down.svg) right .6rem center / 1.1rem .7rem no-repeat, rgba(0, 41, 124, 0.3);
  border: 1px solid #00297C;
  border-radius: 0.8rem;
}
.header-dropdown__lang-menu {
  background: #EFF4FA;
  border: 1px solid #DCDCDC;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.header-dropdown__lang.open .header-dropdown__lang-menu {
  border-radius: 0 0 0.8rem 0.8rem;
  display: flex;
}
.header-dropdown__lang.open .header-dropdown__lang-active {
  border-radius: 0.8rem 0.8rem 0 0;
}
.header-dropdown__lang-menu a:not(:last-child) {
  border-bottom: 1px solid #DCDCDC;
}
.header-dropdown__lang-menu a h2 {
  color: #B5B5B5;
}

.header-menu {
  display: none;

}

/* home styles */
.home {
  color: #fff;
  padding: 10rem 13rem 2.5rem;
}
.home h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 7rem;
  margin-bottom: 2.3rem;
}
.home h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  margin-bottom: 9.6rem;
  opacity: 0.7;
}
.home a {
  border: 1px solid #00E7C7;
  border-radius: 0.8rem;
  color: #00E7C7;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
  padding: 2.1rem 15rem;
  text-decoration: none;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 10px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 10px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 10px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }

  /* wrapper styles */
  .wrapper {
    background: url(../img/bg-img-mobile.jpg) center / cover no-repeat;
  }

  /* header styles */
  .header {
    padding: 0 2.5rem;
  }
  .header-logo {
    position: relative;
    z-index: 99;
  }
  .header-nav {
    display: none;
    align-items: flex-start;
    padding: 10rem 2.2rem;
  }
  .header.open .header-nav {
    background: linear-gradient(229.49deg, #66FFFC -35.02%, #6666FC -9.83%, #4A49C5 11.34%, #333197 31.98%, #231F76 50.22%, #191562 65.38%, #15115B 75.57%);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 9;
  }
  .header-nav__login {
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    font-family: 'Manrope', sans-serif;
    padding-bottom: 2.1rem;
    width: 100%;
  }
  .header-nav__login > h2 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: 0.03rem;
    margin-bottom: 3.8rem;
  }
  .header-nav__login > a {
    border: 1px solid #FFFFFF;
    border-radius: .4rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.9rem;
    letter-spacing: 0.03rem;
    padding: 0.2rem 0.4rem;
  }
  .header-nav__link {
    border-bottom: 1px solid rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8);
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    padding: 2.8rem 0 3.4rem;
    width: 100%;
  }
  .header-nav__link-mobile {
    display: block;
  }
  .header-dropdown__user,
  .header-nav__link-backoffice {
    display: none;
  }

  .header-dropdown__lang {
    margin: 1.5rem 0 0 0;
  }
  .header-dropdown__lang-active,
  .header-dropdown__lang-menu a {
    padding: 0.9rem 0.7rem;
  }
  .header-dropdown__lang img {
    height: 2rem;
  }

  .header-menu {
    background: url(../img/menu-open.svg) center / 100% 100% no-repeat;
    display: flex;
    position: relative;
    height: 2.7rem;
    width: 3.7rem;
    z-index: 99;
  }
  .header-menu.open {
    background: url(../img/menu-close.svg) center / 100% 100% no-repeat;
    height: 3.2rem;
    width: 3.2rem;
  }

  /* home styles */
  .home {
    padding: 2.5rem;
  }
  .home h1 {
    font-size: 2.8rem;
    line-height: 4rem;
    margin-bottom: 2.3rem;
  }
  .home h2 {
    font-size: 2rem;
    line-height: 2.9rem;
    margin-bottom: 4.6rem;
  }
  .home a {
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding: 1rem 4.5rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}