/* Reset CSS */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 14px;
}

body {
	color: #2C2442;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1;
}

h1 {
	font-size: 6.2rem;
	font-weight: bold;
	line-height: 7.1rem;
}

h2 {
	font-size: 2.4rem;
	line-height: 2.8rem;
}

h3 {
	font-size: 3.6rem;
	line-height: 4.1rem;
}

p {
	font-size: 2.4rem;
	line-height: 2.8rem;
}

button, input {
	outline: none;
}

/* header style */
.header {
	background: -webkit-gradient(
		linear,
		left top, right bottom,
		from(rgba(0, 0, 0, .7)),
		to(rgba(0, 0, 0, .7))),
	url(../img/header-bg.png) center no-repeat;
	background: -webkit-linear-gradient(
		left top,
		rgba(0, 0, 0, .7),
		rgba(0, 0, 0, .7)),
	url(../img/header-bg.png) center no-repeat;
	background: -o-linear-gradient(
		left top,
		rgba(0, 0, 0, .7),
		rgba(0, 0, 0, .7)),
	url(../img/header-bg.png) center no-repeat;
	background: linear-gradient(
		to right bottom,
		rgba(0, 0, 0, .7),
		rgba(0, 0, 0, .7)),
	url(../img/header-bg.png) center no-repeat;
	background-size: 100% 100%;
	color: #fff;
	direction: rtl;
	text-align: center;
}

.header__title {
	padding: 9.6rem 12.5rem 4.9rem;
}

.header__description span {
	display: inline-block;
	font-size: 2.8rem;
	line-height: 3.2rem;
	font-weight: bold;
	padding:0 1rem 2rem;
}

.header__button {
	background-color: #8A62FF;
	border: 0;
	border-radius: .5rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-decoration: none;
	margin: 4.37rem 0 11.4rem;
	padding: 1.5rem 10rem;
}

.header__button:hover {
	-webkit-box-shadow: 0rem 0rem 1rem .1rem #fff;
	box-shadow: 0rem 0rem 1rem .1rem #fff;
}

/* Container style*/
.container {
	direction: rtl;
	position: relative;
	text-align: center;
}

/* Partners style */
.partners__one {
	margin: 0 auto;
	padding: 5.5rem 0 5rem;
	max-width: 20rem;
}

.partners__one img {
	width: 100%;
}

.partners__group {
	margin: 0 auto;
	padding-bottom: 5rem;
	max-width: 60rem;
}

.partners__group img {
	width: 100%;
}

/* Form style */
.form {
	margin-bottom: 10.7rem;
}

.form h2 {
	padding-bottom: 1.1rem;
}

.form form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 13.4rem
}

.form input {
	background-color: transparent;
	border: 1px solid #ABABAB;
	border-radius: .5rem;
	font-size: 2.4rem;
	text-align: center;
	margin: 0 auto;
	padding: 1rem 2rem;
	width: 50%;
}

.form input:not(:last-child) {
	margin-bottom: .9rem;
}

.form input:last-child {
	background: #4B397F;
	border: 1px solid #4B397F;
	color: #fff;
	cursor: pointer;
	font-size: 2.4rem;
}

.form input:last-child:hover {
	-webkit-box-shadow: 0rem 0rem 1rem .1rem #777;
	box-shadow: 0rem 0rem 1rem .1rem #777;
}

.form input::-webkit-input-placeholder {
	color: #C3C3C3;
}

.form input:-ms-input-placeholder {
	color: #C3C3C3;
}

.form input::-ms-input-placeholder {
	color: #C3C3C3;
}

.form input::placeholder {
	color: #C3C3C3;
}

/* Horizontal line style */
hr.line {
	background-color: #9A9A9A;
	margin: 0 auto;
	height: 1px;
	width: 80%;
}

/* Block style */
.block {
	margin: 0 auto;
	text-align: right;
	width: 80%;
}

.block__text-center {
	text-align: center;
}

.block__text-center strong {
	font-weight: bold;
}

.block__title {
	margin-bottom: 2rem;
}

.block__description {
	margin-bottom: 2rem;
}

.block__img {
	text-align: center;
	margin: 0 auto;
	width: 20%;
}

.block__img img {
	width: 100%;
}

/* Button more info style*/
.more-info {
	background: #4B397F;
	border: 0;
	border-radius: .5rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 2.4rem;
	margin: 10rem 0 6.9rem;
	padding: 1rem 9.6rem;
	text-decoration: none;
}

.more-info:hover {
	-webkit-box-shadow: 0rem 0rem 1rem .1rem #777;
	box-shadow: 0rem 0rem 1rem .1rem #777;
}

/* footer style */
.footer {
	border-top: 1px solid #9A9A9A;
	direction: rtl;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 2rem auto 0;
	padding: 2.3rem 0;
	width: 80%;
}

.footer__copyright {
	color: #808080;
	font-size: 1.8rem;
}

.footer__soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.footer__soc a {
	display: inline-block;
}

.footer__soc a img {
	height: 2.4rem;
	width: 2.4rem;
}

.footer__soc a:not(:last-child) {
	margin-left: 1rem;
}

/* Stickies style */
.stickies {
	position: absolute;
}

.stickies.flower {
	top: 12rem;
	right: 0;
	max-width: 5rem;
}

.stickies.cogwheel-big {
	top: 57rem;
	left: 0;
	max-width: 10rem;
}

.stickies.cogwheel-small {
	top: 83rem;
	right: 0;
	max-width: 7rem;
}

/* Large desktops and laptops */
@media (min-width: 1440px) and (max-width: 1919.98px) {
	html {
		font-size: 13px;
	}
}
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 12px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 11px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 10px;
	}

	/* header style */
	.header__title {
		padding: 9.6rem 5rem 4.9rem;
	}

	.header__description span {
		font-size: 2.3rem;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 9px;
	}

	/* header style */
	.header__title {
		font-size: 3.2rem;
		padding: 7rem 2.7rem 3.6rem;
	}

	.header__description span {
		font-size: 1.3rem;
		line-height: 1.5rem;
		padding-bottom: 1rem;
	}

	.header__button {
		border-radius: .7rem;
		font-size: 1.5rem;
		line-height: 1.7rem;
		margin: 3.7rem 0 1.2rem;
		padding: .7rem;
	}

	/* Partners style */
	.partners {
		margin: 0 auto;
		width: 80%;
	}

	/* Form style */
	.form {
		margin-bottom: 5.2rem;
	}

	.form h2 {
		padding-bottom: 2.3rem;
	}

	.form form {
		margin-bottom: 8.6rem;
	}

	.form input {
		width: 80%;
	}

	.form input:not(:last-child) {
		margin-bottom: 2.3rem;
	}

	/* Block style */
	.block__title {
		font-size: 2.6rem;
	}

	.block__description {
		font-size: 2rem;
	}

	/* Button more info style*/
	.more-info {
		font-size: 2.4rem;
		padding: 1rem;
	}

	/* Stickies style */
	.stickies {
		display: none;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html {
		font-size: 8px;
	}
}