/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* global styles */
.rtl {
  direction: rtl;
}
.hide {
  opacity: 0;
  visibility: hidden;
}

/* wrapper styles */
.wrapper {
  padding-bottom: 10rem;
  min-height: 100vh;
}

/* header styles */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 28rem;
  height: 15rem;
}
.header__logo {
  width: 8.5rem;
}
.header__logo img {
  width: 100%;
}
.header__who {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__who > img {
  margin-right: 1.6rem;
  height: 9rem;
  width: 9rem;
}
.header__who span {
  border: 2px solid #D65353;
  border-radius: 3px;
  color: #d65353;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  width: 6.5rem;
}
.header__who span img {
  margin-right: 0.5rem;
  height: 0.6rem;
  width: 0.6rem;
}

/* home styles */
.wrapper-home {
  background: url(../img/bg-1-desktop.jpg) center / cover no-repeat;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 28rem 0;
}
.home__logo {
  margin-bottom: 6.3rem;
  width: 31rem;
}
.home__logo img {
  width: 100%;
}
.home__title {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.9rem;
  margin-bottom: 12.8rem;
}
.home__title .home__title-line {
  font-weight: 300;
}
.home__title .home__title-time img {
  display: none;
}
.home__form h2 {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  line-height: 3.3rem;
  margin-bottom: 2.5rem;
}
.home__form h2 img {
  margin-right: 1rem;
  padding-top: 0.5rem;
  height: 2.5rem;
  width: 2rem;
}
.home__form-group {
  display: flex;
  flex-direction: row;
  height: 6rem;
  width: 40rem;
}
.home__form-group input {
  border: none;
  font-size: 2rem;
  height: 100%;
}
.home__form-group input:focus {
  outline: none;
}
.home__form-group input[type=text] {
  border-radius: 0 5rem 5rem 0;
  flex-grow: 1;
  padding: 0 2rem;
}
.home__form-group input[type=submit] {
  background-color: #f69824;
  border-radius: 5rem 0 0 5rem;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-weight: 700;
  width: 11.5rem;
}

/* play styles */
.wrapper-play {
  background: url(../img/bg-2-desktop.jpg) center / cover no-repeat;
}
.play__bg {
  background-color: rgba(0, 0, 0, .86);
  min-height: 62rem;
}
.play__player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 62rem;
}
.play__player iframe {
  height: 100%;
  width: 100%;
  max-width: 114.5rem;
}
.play-mobile__who {
  display: none;
}


/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 9px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 7px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }

  /* header styles */
  .header {
    justify-content: center;
    padding: 0 8rem;
    height: 20rem;
  }
  .header__logo {
    width: 11.6rem;
  }
  .header__who {
    display: none;
  }

  /* home styles */
  .wrapper-home {
    background: url(../img/bg-1-desktop.jpg) center / cover no-repeat;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 8rem 0;
  }
  .home__logo {
    margin-bottom: 4.4rem;
    width: 29.2rem;
  }


  .home__title {
    border-bottom: 2px solid #FFFFFF;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 7.2rem;
    padding-bottom: 7.2rem;
  }
  .home__title .home__title-line {
    display: none;
  }
  .home__title .home__title-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
  }
  .home__title .home__title-time img {
    margin-left: 1rem;
    display: block;
    width: 3.6rem;
  }
  .home__form h2 {
    font-size: 3.2rem;
    line-height: 4.4rem;
    margin-bottom: 3.4rem;
  }
  .home__form h2 img {
    height: 3.5rem;
    width: 3rem;
  }
  .home__form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 50rem;
  }
  .home__form-group input {
    border: none;
    font-size: 4rem;
    height: 8rem;
  }
  .home__form-group input[type=text] {
    border-radius: 5rem/5rem;
    flex-grow: 1;
    margin-bottom: 7.2rem;
    padding: 0 2rem;
  }
  .home__form-group input[type=submit] {
    border-radius: 5rem/5rem;
    flex-grow: 1;
    width: 33.2rem;
  }

  /* play styles */
  .wrapper-play {
    background: url(../img/bg-2-desktop.jpg) center / cover no-repeat;
  }
  .play__bg {
    background-color: transparent;
    margin-bottom: 10rem;
    min-height: 49rem;
  }
  .play__player {
    height: auto;
    min-height: 49rem;
  }
  .play__player iframe {
    min-height: 49rem;
    width: 100%;
    max-width: 100%;
  }
  .play-mobile__who {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .play-mobile__who > img {
    margin-bottom: 4rem;
    width: 18rem;
  }
  .play-mobile__who span {
    border: 2px solid #D65353;
    border-radius: 3px;
    color: #d65353;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.6rem;
    text-transform: uppercase;
    width: 13rem;
  }
  .play-mobile__who span img {
    margin-right: .6rem;
    height: 1.2rem;
    width: 1.2rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}