@font-face{
	font-family:'almoni-dl';
	font-weight:700; /*(bold)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-700.eot');
	src: url('../fonts/almoni-dl-aaa-700.eot#iefix') format('embedded-opentype'),
	url('../fonts/almoni-dl-aaa-700.woff') format('woff'),
	url('../fonts/almoni-dl-aaa-700.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-dl';
	font-weight:900; /*(black)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-900.eot');
	src: url('../fonts/almoni-dl-aaa-900.eot#iefix') format('embedded-opentype'),
	url('../fonts/almoni-dl-aaa-900.woff') format('woff'),
	url('../fonts/almoni-dl-aaa-900.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-dl';
	font-weight:300; /*(light)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-300.eot');
	src: url('../fonts/almoni-dl-aaa-300.eot#iefix') format('embedded-opentype'),
	url('../fonts/almoni-dl-aaa-300.woff') format('woff'),
	url('../fonts/almoni-dl-aaa-300.ttf') format('truetype');
}
@font-face{
	font-family:'almoni-dl';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('../fonts/almoni-dl-aaa-400.eot');
	src: url('../fonts/almoni-dl-aaa-400.eot#iefix') format('embedded-opentype'),
	url('../fonts/almoni-dl-aaa-400.woff') format('woff'),
	url('../fonts/almoni-dl-aaa-400.ttf') format('truetype');
}

body {
	background-image: url(../img/bg.jpg);
	background-color: #fff;
	color: #292b2c;
	font-family: almoni-dl;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 1.5;	
}

.bluegreen {
	background: -webkit-gradient(linear, left top, right top, from(#6ad7eb), to(#6afe75));
	background: -webkit-linear-gradient(left, #6ad7eb, #6afe75);
	background: -o-linear-gradient(left, #6ad7eb, #6afe75);
	background: linear-gradient(to right, #6ad7eb, #6afe75);
}

.purplegradient {
	background: -webkit-gradient(linear, left top, right top, from(#779ee8), to(#9031de));
	background: -webkit-linear-gradient(left, #779ee8, #9031de);
	background: -o-linear-gradient(left, #779ee8, #9031de);
	background: linear-gradient(to right, #779ee8, #9031de);
}

.text-purple {
	color: #662d91;
}

.text-blue {
	color: #29abe2;
}

.text-red {
	color: #ed1c24;
}

label {
	margin: 0;
	padding: 0;
}

input, select, textarea {
	background-color: #fff;
	border: 1px solid #6afe75;
	border-radius: 10rem / 10rem;
	color: #1a1a1a;
	direction: rtl;
	font-size: 1.8rem;
	line-height: 1.6rem;
	letter-spacing: .3rem;
	margin: 0 auto;
	padding: .5rem;
	text-align: center;
	width: 100%;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
	outline: none;
}
input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
}
input[type="date"] {
	padding: .5rem;
}
textarea {
	border-radius: 2rem / 2rem;
	text-align: right;
	height: 15rem;
	max-width: 40rem;
}
select {
	width: 100%;
}
button, input[type="submit"] {
	cursor: pointer;
}

/* datepicker styles */
#picker-container1,
#picker-container2,
#picker-container3,
#picker-container4 {
	position: relative;
}

.datepicker {
	left: 0 !important;
	right: auto!important;
}

.prev img,
.next img {
	height: 1rem;
	width: 1rem;
}

/* createEvent styles */
.createEvent > * {
	direction: rtl;
	margin: 0;
	padding: 0;
	text-align: center;
}

.createEvent h1 {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 4rem;
	text-indent: -4rem;
	padding: 5rem 0;
}

.createEvent__form-group {
	direction: ltr;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin:0 auto 2rem;
	max-width: 40rem;
}

.createEvent__form-group .info {
	direction: rtl;
	font-size: 1.4rem;
	line-height: 1.6rem;
	letter-spacing: 0.225rem;
	margin-top: 1rem;
}

.createEvent__form-group h2 {
	color: #1a1a1a;
	font-size: 1.9rem;
	font-weight: 700;
	letter-spacing: .3rem;
	margin-bottom: 1rem;
}

.createEvent__file {
	bottom: 0;
	border-radius: 10rem / 10rem;
	-webkit-box-shadow: -0.062rem 0.5rem 0.75rem 0.063rem rgba(19, 21, 21, 0.18);
	        box-shadow: -0.062rem 0.5rem 0.75rem 0.063rem rgba(19, 21, 21, 0.18);
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 1.8rem;
	margin: 0 auto 3rem;
	overflow: hidden;
	position: relative;
	height: 3.5rem;
	width: 22rem;
}

.createEvent__file input {
	cursor: pointer;
	display: block;
	font-size: inherit;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.createEvent__form-date {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
	width: 100%;
}

.createEvent__form-date--hours {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: calc(100% - 20rem - 3rem);
}

.createEvent__form-date--hours input {
	max-width: calc(50% - .75rem);
}

.createEvent__form-date--hours input:first-child {
	margin-right: 1.5rem;
}

.createEvent__form-date--year {
	margin-left: 3rem;
	max-width: 20rem;
}

.createEvent__form-date--year.delete {
	position: relative;
}

.createEvent__form-date--year.delete button {
	background-color: inherit;
	border: 0;
	color: #f00;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.688rem;
	letter-spacing: .186rem;
	margin-top: .5rem;
	position: absolute;
	bottom: -2rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 100%;
}

.createEvent__form-textarea {
	margin: 3rem 0 2.4rem;
}

.createEvent__form-select {
	margin: 0 auto;
	position: relative;
	width: 28rem;
}

.createEvent__form-select:after {
	position: absolute;
	content: "";
	top: calc(50% + 3px);
	left: 1.6rem;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #666 transparent transparent transparent;
}

.createEvent__form-select label {
	position: absolute;
	top: calc(50% + 0px);
	left: 1px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 3rem;
	height: calc(100% - 4px);
	background-color: #fff;
	border-top-left-radius: 10rem;
	border-bottom-left-radius: 10rem;
}

.createEvent__form-group.checkbox {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.6rem;
	letter-spacing: 0.3rem;
}

.createEvent__form-group.checkbox input {
	margin: 0 0 0 1rem;
	height: 1.5rem;
	width: 1.5rem;
}

.createEvent__form-group h3 {
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 0.6rem;
}

.createEvent__form-tickets {
	direction: rtl;
	max-width: 48rem;
}

.createEvent__hr {
	background-image: -webkit-gradient(linear, left bottom, left top, from(#9322dd), to(#6dceec));
	background-image: -webkit-linear-gradient(bottom, #9322dd 0%, #6dceec 100%);
	background-image: -o-linear-gradient(bottom, #9322dd 0%, #6dceec 100%);
	background-image: linear-gradient(to top, #9322dd 0%, #6dceec 100%);
	margin: .4rem auto 3.8rem;
	height: 1px;
	width: 17.5rem;
}

.createEvent__tickets {
	margin: 0 auto;
	max-width: 30rem;
}

.createEvent__tickets .createEvent__form-group {
	margin-bottom: 1.5rem;
}

.createEvent__tickets .createEvent__form-group {
	width: 100%;
}

.createEvent__tickets input[type="text"] {
	width: 100%;
}

.createEvent__form-group.controls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.createEvent__control {
	background-color: inherit;
	border: 0;
	padding: 0 .9rem;
	width: 4.3rem;
}

.createEvent__control img {
	width: 100%;
}

.createEvent__add {
	background-color: inherit;
	border: 1px solid #29abe2;
	border-radius: 10rem / 10rem;
	color: #29abe2;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.688rem;
	letter-spacing: 0.321rem;
	margin-bottom: 2rem;
	padding: 1rem 2rem;
}

.createEvent__save {
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.688rem;
	letter-spacing: 0.321rem;
	margin: 0rem 0 2.9rem;
	padding: 1rem 2rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

/* modal window styles*/
.modal-dialog {
	margin: 1.75rem auto;
	max-width: 40rem;
}

.modal-content {
	color: #1a1a1a;
	padding: 2.1rem 1.1rem 3.7rem;
}

.modal--form input {
	font-size: 1.9rem;
	padding: 1rem 1.5rem;
	width: 100%;
}

.modal--form input[type=number] {
	direction: ltr;
	width: auto;
	max-width: calc(49% - 1.9rem);
}

.modal--title {
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 1.688rem;
	letter-spacing: 0.321rem;
}

.modal--label {
	font-size: 1.75rem;
	line-height: 1.688rem;
	letter-spacing: 0.267rem;
	margin-top: 2.7rem;
}

.modal--group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: .6rem;
}

.modal--group span {
	font-size: 1.75rem;
	line-height: 1.688rem;
	margin: 0 1.9rem;
	width: 2%;
}

.modal--hr {
	background: -webkit-gradient(linear, left top, right top, from(#74cce4), to(#7d4d9e));
	background: -webkit-linear-gradient(left, #74cce4, #7d4d9e);
	background: -o-linear-gradient(left, #74cce4, #7d4d9e);
	background: linear-gradient(to right, #74cce4, #7d4d9e);
	margin: 3.1rem auto 1.2rem;
	height: 1px;
	width: 17.5rem;
}

.modal--check {
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 1.813rem;
	font-weight: 700;
	line-height: 1.688rem;
	letter-spacing: 0.273rem;
	margin: 2rem 0 1.5rem;
	padding-right: 4rem;
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	height: 3rem;
}

.modal--check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	border: 1px solid #6afe75;
	position: absolute;
	top: 0;
	right: 0;
	height: 3rem;
	width: 3rem;
	background-color: transparent;
	border-radius: 50%;
}

.modal--check:hover input ~ .checkmark,
.modal--check input:checked ~ .checkmark {
	background: -webkit-gradient(linear, left bottom, right top, from(#6ad7eb), to(#6afe75));
	background: -webkit-linear-gradient(bottom left, #6ad7eb, #6afe75);
	background: -o-linear-gradient(bottom left, #6ad7eb, #6afe75);
	background: linear-gradient(to top right, #6ad7eb, #6afe75);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.modal--check input:checked ~ .checkmark:after {
	display: block;
}

.modal--check .checkmark:after {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: white;
}

input.modal--save {
	color: #fff;
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 1.688rem;
	letter-spacing: 0.321rem;
	margin-top: 2rem;
	padding: 1.9rem 0;
	width: 90%;
}

/* management styles */
.management {
	margin: 2rem 4rem;
}

.management p,
.management span {
	direction: rtl;
	margin: 0;
}

.management__header.row,
.management__header .col-12 {
	margin: 0;
	padding: 0;
}

.management__setting-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.management__setting-container--img {
	height: 3rem;
	width: 3rem;
}

.management__setting-container--img img {
	height: 100%;
}

.management__setting a {
	color: #333333;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.3rem;
	letter-spacing: 0.245rem;
	text-align: right;
}

.management__chice {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.management__chice p {
	color: #333333;
	font-size: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 0.245rem;
	width: 50%;
}

.management__chice p:first-child {
	text-align: right;
}

.management__chice p:last-child {
	text-align: left;
}

.management__chice p.active {
	font-weight: 700;
}

.management__chice span {
	background-color: #333333;
	margin: 0 1.5rem;
	height: 2.5rem;
	width: .3rem;
}

.management__create {
	border: 0;
	border-radius: 10rem / 10rem;
	-webkit-box-shadow: -0.062rem 0.5rem 0.75rem 0.063rem rgba(19, 21, 21, 0.18);
	        box-shadow: -0.062rem 0.5rem 0.75rem 0.063rem rgba(19, 21, 21, 0.18);
	color: #fff;
	direction: rtl;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.688rem;
	letter-spacing: 0.245rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 2rem auto 3rem;
	padding: .5rem 1.5rem;
}

.management__create span {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.6rem;
	margin-left: .5rem;
}

.management__events {
	margin: 0 auto;
	max-width: 25rem;
}

.management__event {
	background-color: #f2f2f2;
	-webkit-box-shadow: -0.062rem 0.5rem 0.75rem 0.063rem rgba(19, 21, 21, 0.31);
	        box-shadow: -0.062rem 0.5rem 0.75rem 0.063rem rgba(19, 21, 21, 0.31);
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
	border-bottom-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	margin-bottom: 2rem;
	width: 100%;
}

.management__event--img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	width: 100%;
}

.management__event--img img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	height: 100%;
	width: 100%;
}

.management__event--data {
	text-align: center;
	padding: .5rem 1rem;
}

.management__event--data p {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.3rem;
	margin-bottom: 1rem;
}

.management__event--time {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 1rem;
}

.management__event--time p {
	margin-bottom: 0;
	width: 50%;
}

.management__event--time span {
	background-color: #000000;
	height: 2rem;
	width: 0.25rem;	
}

.management__event--link {
	color: #29abe2;
	font-size: 1.3rem;
	line-height: 1.5rem;
	letter-spacing: 0.25rem;
	word-break: break-all;
	word-wrap: break-word;
}

.management__event--edit {
	border: 0;
	border-radius: 10rem / 10rem;
	color: #fff;
	font-size: 1.4rem;
	line-height: 1.5rem;
	letter-spacing: 0.3rem;
	margin: 1.5rem 0 1rem;
	padding: .5rem 1rem;
}

.management__event--btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	margin-bottom: .5rem;
}

.management__event--btns button {
	background-color: transparent;
	border: 0;
	padding: 0;
	height: 3rem;
	width: 3rem;
}

.management__event--btns .show {
	display: inline-block;
}

.management__event--btns .hide {
	display: none;
}

.management__event--btns img {
	width: 100%;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	html {
		font-size: 14px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	html {
		font-size: 12px;
	}

	/* createEvent styles */
	.createEvent__form {
		margin: 0 3rem;
	}

	.createEvent__form-date {
		position: relative;
	}

	.createEvent__form-date,
	.createEvent__form-date--year,
	.createEvent__form-date--hours {
		width: 100%;
		max-width: 100%;
	}

	.createEvent__form-date--hours {
		margin: 2rem 0 3rem;
	}

	.createEvent__form-date--hours input {
		width: calc(50% - 3rem);
	}

	.createEvent__form-date--hours input:first-child {
		margin-right: 2.5rem;
	}

	.createEvent__form-date--hours input:last-child {
		margin-left: 2.5rem;
	}

	.createEvent__form-date--year {
		margin-left: 0;
	}

	.createEvent__form-date--year.delete {
		position: static;
	}

	.createEvent__form-date--year.delete>button {
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

	/* management styles */
	.management__setting-container {
		margin-top: 1rem;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	html {
		font-size: 11px;
	}

	/* datepicker styles */
	.datepicker table tr td, .datepicker table tr th {
		font-size: 1.5rem;
	}

	/* createEvent styles */
	.createEvent h1 {
		letter-spacing: 4rem;
		text-indent: -4rem;
	}

	.createEvent__form {
		margin: 0 3rem;
	}

	.createEvent__form-date {
		position: relative;
	}

	.createEvent__form-date,
	.createEvent__form-date--year,
	.createEvent__form-date--hours {
		width: 100%;
		max-width: 100%;
	}

	.createEvent__form-date--hours {
		margin: 2rem 0 3rem;
	}

	.createEvent__form-date--hours input {
		width: calc(50% - 3rem);
	}

	.createEvent__form-date--hours input:first-child {
		margin-right: 2.5rem;
	}

	.createEvent__form-date--hours input:last-child {
		margin-left: 2.5rem;
	}

	.createEvent__form-date--year {
		margin-left: 0;
	}

	.createEvent__form-date--year.delete {
		position: static;
	}

	.createEvent__form-date--year.delete>button {
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

	.createEvent__form-group.checkbox input {
		height: 2rem;
		width: 2rem;
	}

	.createEvent__control {
		width: 5.3rem;
	}

	/* management styles */
	.management__events {
		max-width: 30rem;
	}

	.management__setting-container {
		margin-top: 1rem;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	html {
		font-size: 10px;
	}

	/* datepicker styles */
	.datepicker table tr td, .datepicker table tr th {
		font-size: 2rem;
	}

	/* createEvent styles */
	.createEvent h1 {
		letter-spacing: 2.5rem;
		text-indent: -2.5rem;
	}

	.createEvent__form {
		margin: 0 1.5rem;
	}

	.createEvent__form-date {
		position: relative;
	}

	.createEvent__form-date,
	.createEvent__form-date--year,
	.createEvent__form-date--hours {
		width: 100%;
		max-width: 100%;
	}

	.createEvent__form-date--hours {
		margin: 2rem 0 3rem;
	}

	.createEvent__form-date--hours input {
		width: calc(50% - 3rem);
	}

	.createEvent__form-date--hours input:first-child {
		margin-right: 2.5rem;
	}

	.createEvent__form-date--hours input:last-child {
		margin-left: 2.5rem;
	}

	.createEvent__form-date--year {
		margin-left: 0;
	}

	.createEvent__form-date--year.delete {
		position: static;
	}

	.createEvent__form-date--year.delete>button {
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

	.createEvent__form-group.checkbox input {
		height: 2rem;
		width: 2rem;
	}

	.createEvent__control {
		width: 6.3rem;
	}

	/* management styles */
	.management {
		margin: 1rem 2rem;
	}

	.management__events {
		max-width: 35rem;
	}

	.management__setting-container {
		margin-top: 1rem;
	}

	.management__event--link {
		font-size: 1.3rem;
	}
}